<!-- START OF 1/2 COL LEFT IMAGE BLOCK-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f5f7f8" style="padding: 0; margin: 0;">
	<tr>
		<td class="space" valign="top" align="center">
			<table class="table-wrapper" bgcolor="#ffffff" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border-top: 3px #eaeaea solid;">
				<tr>
					<td style="padding: 0px;">
						<table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top">
									<!-- START OF COLUMN-->
									<table width="550" border="0" align="left
                                    " cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
										<tr>
											<td align="left" style="margin: 0; padding: 0; font-size:12px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 0px;width: 350px;">
												<!-- START OF IMAGE-->
												<span>
												<a href="https://cloudemployee.co.uk/developers/cv/josef-andrei/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="color:#4badc8;margin: 0; padding: 0; " target="_blank">
												<img editable="" label="image" class="img_scale" src="https://cloudemployee.co.uk/media/1111442/josefmailshot.jpg" alt="Hire Josef Now" border="0" style="display: block;margin: 0;padding: 50px 50px 10px;height:auto;width:200px;"/>
												</a>
												</span>
												<span style="display: block; padding: 0 50px 10px; font-weight: 600; font-family: 'Open Sans', sans-serif; color:#2f343a; line-height:28px; mso-line-height-rule: exactly;"><a href="https://cloudemployee.co.uk/developers/cv/josef-andrei/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="font-size: 20px;color:black;font-weight:bold;text-decoration: none;" target="_blank">
												Josef A.
												</a></span>
												<!-- END OF HEADING-->
												<!-- START OF TEXT-->
												<span style="font-size: 16px;display: block; padding: 0 50px; margin: 0; font-weight: normal; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 22px; margin-bottom: 5px;mso-line-height-rule: exactly;"> <b>Senior Python Developer</b></span>
                                                <span style="display: block; padding: 0 50px; margin: 0; font-weight: normal; font-size:16px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 30px;mso-line-height-rule: exactly;">
												<b>10 years of experience</b> <br>
												C# | VB.NET<br> ASP.NET | MS SQL <br> </span>
												<br>
												<span style="display: block; padding: 10px 50px; margin: 0; font-weight: normal; font-size:18px ; color:#02AAC6; font-family: 'Open Sans', sans-serif; line-height: 22px;mso-line-height-rule: exactly;">
												<b>FROM £21 per hour</b>
                                                
                                                </span>
												<!-- END OF TEXT-->
												<!-- START OF BUTTON TEXT-->
												<span style="display: grid; padding: 15px 50px; font-weight: normal; font-size:12px ; color:#4badc8; font-family: 'Open Sans', sans-serif; line-height: 40px;mso-line-height-rule: exactly;"><a style="text-decoration: none; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #feb125; color: #fff; padding: 10px 35px; border-radius: 5px;" href="https://cloudemployee.co.uk/developers/cv/josef-andrei/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" target="_blank"><b>View CV</b></a></span>
												<!-- END OF BUTTON TEXT-->
												<!-- END OF IMAGE-->
											</td>
											<td align="left" style="margin: 0; padding: 0; font-size:12px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 0px;width: 350px;"> 
												<!-- START OF IMAGE-->
												<span>
												<a href="https://cloudemployee.co.uk/developers/cv/angela-marah/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="color:#4badc8;margin: 0; padding: 0; " target="_blank">
												<img editable="" label="image" class="img_scale" src="https://gallery.mailchimp.com/0d9a7014dcdf92255338c6e43/images/9ad6b052-750d-49f8-ba00-81de7d1099f6.jpg" alt="Hire Angela Now" border="0" style="display: block;margin: 0;padding: 50px 50px 10px;height:auto;width:200px;"/>
												</a>
												</span>
												<span style="display: block; padding: 0 50px 10px; font-weight: 600; font-family: 'Open Sans', sans-serif; color:#2f343a; line-height:28px; mso-line-height-rule: exactly;"><a href="https://cloudemployee.co.uk/developers/cv/angela-marah/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="font-size: 20px;color:black;font-weight:bold;text-decoration: none;" target="_blank">
												Angela M.
												</a></span>
												<!-- END OF HEADING-->
												<!-- START OF TEXT-->
												<span style="font-size: 16px;display: block; padding: 0 50px; margin: 0; font-weight: normal; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 22px; margin-bottom: 5px;mso-line-height-rule: exactly;"> <b>Mid-level Java Developer</b></span>
                                                <span style="display: block; padding: 0 50px; margin: 0; font-weight: normal; font-size:16px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 30px;mso-line-height-rule: exactly;">
												<b>6 years of experience</b> <br>
												JAVA | SPRING<br> MYSQL | HIBERNATE <br> </span>
												<br>
												<span style="display: block; padding: 10px 50px; margin: 0; font-weight: normal; font-size:18px ; color:#02AAC6; font-family: 'Open Sans', sans-serif; line-height: 22px;mso-line-height-rule: exactly;">
												<b>FROM £17 per hour</b>
                                                
                                                </span>
												<!-- END OF TEXT-->
												<!-- START OF BUTTON TEXT-->
												<span style="display: grid; padding: 15px 50px; font-weight: normal; font-size:12px ; color:#4badc8; font-family: 'Open Sans', sans-serif; line-height: 40px;mso-line-height-rule: exactly;"><a style="text-decoration: none; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #feb125; color: #fff; padding: 10px 35px; border-radius: 5px;" href="https://cloudemployee.co.uk/developers/cv/angela-marah/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" target="_blank"><b>View CV</b></a></span>
												<!-- END OF BUTTON TEXT-->
												<!-- END OF IMAGE-->
												
											</td>
										</tr>
									</table>
									<!-- END OF COLUMN-->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END OF 1/2 COL LEFT IMAGE BLOCK-->
<!-- START OF 1/2 COL LEFT IMAGE BLOCK-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f5f7f8" style="padding: 0; margin: 0;">
	<tr>
		<td class="space" valign="top" align="center">
			<table class="table-wrapper" bgcolor="#ffffff" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td style="padding: 0px;">
						<table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top">
									<!-- START OF COLUMN-->
									<table width="550" border="0" align="left
                                    " cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
										<tr>
											<td align="left" style="margin: 0; padding: 0; font-size:12px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 0px;width: 350px;"> 
												<!-- START OF IMAGE-->
												<span>
												<a href="https://cloudemployee.co.uk/developers/cv/patrick-michael/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="color:#4badc8;margin: 0; padding: 0; " target="_blank">
												<img editable="" label="image" class="img_scale" src="https://cloudemployee.co.uk/media/1111445/patrickmailshot.jpg" alt="Hire Patrick Now" border="0" style="display: block;margin: 0;padding: 50px 50px 10px;height:auto;width:200px;"/>
												</a>
												</span>
												<span style="display: block; padding: 0 50px 10px; font-weight: 600; font-family: 'Open Sans', sans-serif; color:#2f343a; line-height:28px; mso-line-height-rule: exactly;"><a href="https://cloudemployee.co.uk/developers/cv/patrick-michael/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="font-size: 20px;color:black;font-weight:bold;text-decoration: none;" target="_blank">
												Patrick M.
												</a></span>
												<!-- END OF HEADING-->
												<!-- START OF TEXT-->
												<span style="font-size: 16px;display: block; padding: 0 50px; margin: 0; font-weight: normal; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 22px; margin-bottom: 5px;mso-line-height-rule: exactly;"> <b>Senior Python Developer</b></span>
                                                <span style="display: block; padding: 0 50px; margin: 0; font-weight: normal; font-size:16px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 30px;mso-line-height-rule: exactly;">
												<b>7 years of experience</b> <br>
												JAVA | ANGULARJS<br> BOOTSTRAP | JAVASCRIPT <br> </span>
												<br>
												<span style="display: block; padding: 10px 50px; margin: 0; font-weight: normal; font-size:18px ; color:#02AAC6; font-family: 'Open Sans', sans-serif; line-height: 22px;mso-line-height-rule: exactly;">
												<b>FROM £17 per hour</b>
                                                
                                                </span>
												<!-- END OF TEXT-->
												<!-- START OF BUTTON TEXT-->
												<span style="display: grid; padding: 15px 50px; font-weight: normal; font-size:12px ; color:#4badc8; font-family: 'Open Sans', sans-serif; line-height: 40px;mso-line-height-rule: exactly;"><a style="text-decoration: none; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #feb125; color: #fff; padding: 10px 35px; border-radius: 5px;" href="https://cloudemployee.co.uk/developers/cv/patrick-michael/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" target="_blank"><b>View CV</b></a></span>
												<!-- END OF BUTTON TEXT-->
												<!-- END OF IMAGE-->
												
											</td>
											<td align="left" style="margin: 0; padding: 0; font-size:12px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 0px;width: 350px;"> 
												<!-- START OF IMAGE-->
												<span>
												<a href="https://cloudemployee.co.uk/developers/cv/annie/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="color:#4badc8;margin: 0; padding: 0; " target="_blank">
												<img editable="" label="image" class="img_scale" src="https://gallery.mailchimp.com/0d9a7014dcdf92255338c6e43/images/aff2f011-c30b-4082-9a72-9a9c4fc1c94e.jpg" alt="Hire Annie Now" border="0" style="display: block;margin: 0;padding: 50px 50px 10px;height:auto;width:200px;"/>
												</a>
												</span>
												<span style="display: block; padding: 0 50px 10px; font-weight: 600; font-family: 'Open Sans', sans-serif; color:#2f343a; line-height:28px; mso-line-height-rule: exactly;"><a href="https://cloudemployee.co.uk/developers/cv/annie/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="font-size: 20px;color:black;font-weight:bold;text-decoration: none;" target="_blank">
												Annie D.
												</a></span>
												<!-- END OF HEADING-->
												<!-- START OF TEXT-->
												<span style="font-size: 16px;display: block; padding: 0 50px; margin: 0; font-weight: normal; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 22px; margin-bottom: 5px;mso-line-height-rule: exactly;"> <b>Senior QA Analyst</b></span>
                                                <span style="display: block; padding: 0 50px; margin: 0; font-weight: normal; font-size:16px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 30px;mso-line-height-rule: exactly;">
												<b>15 years of experience</b> <br>
												SQA TESTING | CLIENT SERVER TESTING | HP ALM <br> </span>
												<br>
												<span style="display: block; padding: 10px 50px; margin: 0; font-weight: normal; font-size:18px ; color:#02AAC6; font-family: 'Open Sans', sans-serif; line-height: 22px;mso-line-height-rule: exactly;">
												<b>FROM £22 per hour</b>
                                                
                                                </span>
												<!-- END OF TEXT-->
												<!-- START OF BUTTON TEXT-->
												<span style="display: grid; padding: 15px 50px; font-weight: normal; font-size:12px ; color:#4badc8; font-family: 'Open Sans', sans-serif; line-height: 40px;mso-line-height-rule: exactly;"><a style="text-decoration: none; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #feb125; color: #fff; padding: 10px 35px; border-radius: 5px;" href="https://cloudemployee.co.uk/developers/cv/annie/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" target="_blank"><b>View CV</b></a></span>
												<!-- END OF BUTTON TEXT-->
												<!-- END OF IMAGE-->
												
											</td>
										</tr>
									</table>
									<!-- END OF COLUMN-->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END OF 1/2 COL LEFT IMAGE BLOCK-->

<!-- START OF 1/2 COL LEFT IMAGE BLOCK-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f5f7f8" style="padding: 0; margin: 0;">
	<tr>
		<td class="space" valign="top" align="center">
			<table class="table-wrapper" bgcolor="#ffffff" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td style="padding: 0px;">
						<table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top">
									<!-- START OF COLUMN-->
									<table width="550" border="0" align="left
                                    " cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
										
										<tr>
											<td align="left" style="margin: 0; padding: 0; font-size:12px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 0px;width: 350px;"> 
												<!-- START OF IMAGE-->
												<span>
												<a href="https://cloudemployee.co.uk/developers/cv/neil-marvin/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="color:#4badc8;margin: 0; padding: 0; " target="_blank">
												<img editable="" label="image" class="img_scale" src="https://cloudemployee.co.uk/media/1111444/neimailshot.jpg" alt="Hire Neil Now" border="0" style="display: block;margin: 0;padding: 50px 50px 10px;height:auto;width:200px;"/>
												</a>
												</span>
												<span style="display: block; padding: 0 50px 10px; font-weight: 600; font-family: 'Open Sans', sans-serif; color:#2f343a; line-height:28px; mso-line-height-rule: exactly;"><a href="https://cloudemployee.co.uk/developers/cv/neil-marvin/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="font-size: 20px;color:black;font-weight:bold;text-decoration: none;" target="_blank">
												Neil M.
												</a></span>
												<!-- END OF HEADING-->
												<!-- START OF TEXT-->
												<span style="font-size: 16px;display: block; padding: 0 50px; margin: 0; font-weight: normal; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 22px; margin-bottom: 5px;mso-line-height-rule: exactly;"> <b>Mid-level PHP Developer</b></span>
                                                <span style="display: block; padding: 0 50px; margin: 0; font-weight: normal; font-size:16px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 30px;mso-line-height-rule: exactly;">
												<b>4 years of experience</b> <br>
												NATIVE PHP | LARAVEL<br> JAVA EE | CODEIGNITER <br> </span>
												<br>
												<span style="display: block; padding: 10px 50px; margin: 0; font-weight: normal; font-size:18px ; color:#02AAC6; font-family: 'Open Sans', sans-serif; line-height: 22px;mso-line-height-rule: exactly;">
												<b>FROM £16 per hour</b>
                                                
                                                </span>
												<!-- END OF TEXT-->
												<!-- START OF BUTTON TEXT-->
												<span style="display: grid; padding: 15px 50px; font-weight: normal; font-size:12px ; color:#4badc8; font-family: 'Open Sans', sans-serif; line-height: 40px;mso-line-height-rule: exactly;"><a style="text-decoration: none; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #feb125; color: #fff; padding: 10px 35px; border-radius: 5px;" href="https://cloudemployee.co.uk/developers/cv/neil-marvin/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" target="_blank"><b>View CV</b></a></span>
												<!-- END OF BUTTON TEXT-->
												<!-- END OF IMAGE-->
												
											</td>
											<td align="left" style="margin: 0; padding: 0; font-size:12px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 0px;width: 350px;">
												<!-- START OF IMAGE-->
												<span>
												<a href="https://cloudemployee.co.uk/developers/cv/aldrin-joseph/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="color:#4badc8;margin: 0; padding: 0; " target="_blank">
												<img editable="" label="image" class="img_scale" src="https://gallery.mailchimp.com/0d9a7014dcdf92255338c6e43/images/f4022c3c-6b3d-45be-99e2-4125489b5acd.jpg" alt="Hire Aldrin Now" border="0" style="display: block;margin: 0;padding: 50px 50px 10px;height:auto;width:200px;"/>
												</a>
												</span>
												<span style="display: block; padding: 0 50px 10px; font-weight: 600; font-family: 'Open Sans', sans-serif; color:#2f343a; line-height:28px; mso-line-height-rule: exactly;"><a href="https://cloudemployee.co.uk/developers/cv/aldrin-joseph/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" style="font-size: 20px;color:black;font-weight:bold;text-decoration: none;" target="_blank">
												Aldrin J.
												</a></span>
												<!-- END OF HEADING-->
												<!-- START OF TEXT-->
												<span style="font-size: 16px;display: block; padding: 0 50px; margin: 0; font-weight: normal; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 22px; margin-bottom: 5px;mso-line-height-rule: exactly;"> <b>Senior PHP Developer</b></span>
                                                <span style="display: block; padding: 0 50px; margin: 0; font-weight: normal; font-size:16px ; color:#282f30; font-family: 'Open Sans', sans-serif; line-height: 30px;mso-line-height-rule: exactly;">
												<b>8 years of experience</b> <br>
												PHP | MYSQL<br> HTML | JAVASCRIPT <br> </span>
												<br>
												<span style="display: block; padding: 10px 50px; margin: 0; font-weight: normal; font-size:18px ; color:#02AAC6; font-family: 'Open Sans', sans-serif; line-height: 22px;mso-line-height-rule: exactly;">
												<b>FROM £24 per hour</b>
                                                
                                                </span>
												<!-- END OF TEXT-->
												<!-- START OF BUTTON TEXT-->
												<span style="display: grid; padding: 15px 50px; font-weight: normal; font-size:12px ; color:#4badc8; font-family: 'Open Sans', sans-serif; line-height: 40px;mso-line-height-rule: exactly;"><a style="text-decoration: none; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 16px; background-color: #feb125; color: #fff; padding: 10px 35px; border-radius: 5px;" href="https://cloudemployee.co.uk/developers/cv/aldrin-joseph/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" target="_blank"><b>View CV</b></a></span>
												<!-- END OF BUTTON TEXT-->
												<!-- END OF IMAGE-->
											</td>
										</tr>
										
                                        
									</table>
<!-- START OF 1/2 COL LEFT IMAGE BLOCK--><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f5f7f8" style="padding: 0; margin: 0;">
	<tr>
		<td class="space" valign="top" align="center">
			<table class="table-wrapper" bgcolor="#ffffff" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td style="padding: 0px;">
						<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top">
									<!-- START OF COLUMN-->
                                                <br>
                                                
												<!-- END OF TEXT-->
												<!-- START OF BUTTON TEXT-->
												<span style="text-align: center; display: block; padding-top: 15px; margin: 0; font-weight: normal; font-size:12px ; color:#4badc8; font-family: 'Open Sans', sans-serif; line-height: 40px;mso-line-height-rule: exactly;"><a style="text-decoration: none; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 18px; background-color: #feb125; color: #fff; padding: 10px 35px; border-radius: 5px;" href="https://cloudemployee.co.uk/available-developers-for-hire/?utm_source=newsletter&utm_medium=email&utm_campaign=floatersnovember" target="_blank"><b>See More Available Developers</b></a></span><br><br>
												<!-- END OF BUTTON TEXT-->
											</td>
										</tr>
									</table>
									<!-- END OF COLUMN-->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END OF 1/2 COL LEFT IMAGE BLOCK-->                                   
									<!-- END OF COLUMN-->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
