<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="padding: 0; margin: 0;" bgcolor="#f5f7f8">
<tbody>
<tr>
<td class="space" align="center" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="600" class="table-wrapper" align="center" bgcolor="#179bc1">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="140" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" bgcolor="#179bc1">
<tbody>
<tr>
<td class="center" align="center" style="padding: 0px; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: #4a4a4a; font-size: 18px; line-height: 100%;"><span> <a style="color: #4badc8;" href="http://cloudemployee.co.uk/?utm_source=newsletter&amp;utm_medium=email&amp;utm_content=whatitoutsourcingtrendsshouldyouexpectthis2019" target="_blank"> <img style="margin: 20px 0px 0px 30px;" src="https://gallery.mailchimp.com/0d9a7014dcdf92255338c6e43/images/ab291da8-bdea-4928-9d5e-2b83247a1614.png" border="0" alt="Cloud Employee logo" width="130" height="40" /> </a> </span></td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="1" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td width="100%" height="20" style="line-height: 0;"> </td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="400" align="right" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td class="center" height="85" align="right" valign="middle" style="margin: 0; padding-right: 30px; padding-left: 25px; font-size: 14px; color: #ffffff; font-family: 'Open Sans', sans-serif; line-height: 18px; mso-line-height-rule: exactly;"><span> <a style="color: #ffffff; font-weight: normal; font-style: normal; text-decoration: none;" href="http://cloudemployee.co.uk/contact-us?utm_source=newsletter&amp;utm_medium=email&amp;utm_content=whatitoutsourcingtrendsshouldyouexpectthis2019" target="_blank">Contact Us</a>     <a style="color: #ffffff; font-weight: normal; font-style: normal; text-decoration: none;" href="http://cloudemployee.co.uk/contact-us?utm_source=newsletter&amp;utm_medium=email&amp;utm_content=whatitoutsourcingtrendsshouldyouexpectthis2019" target="_blank">Pricing Guide</a></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="padding: 0; margin: 0;" bgcolor="#f5f7f8">
<tbody>
<tr>
<td class="space" width="100%">
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tbody>
<tr>
<td align="center" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="600" class="table-wrapper" align="center" bgcolor="#ffffff">
<tbody>
<tr>
<td align="center" valign="middle" style="padding: 30px 35px 0;">
<h2 style="font-size: 70px; margin-top: 20px; margin-bottom: 0; color: #179bc1; font-weight: bold; font-family: GothamBold, sans-serif; padding-bottom: 5px; padding-top: 0px; text-align: center;">Welcome!</h2>
<p style="font-size: 27px; color: #179bc1; font-weight: normal; font-family: GothamLight, sans-serif; text-align: center; padding-bottom: 10px; margin-top: 0;">We'll keep in touch. </p>
<hr style="margin: 1em 6em; border: .5px solid #d3d3d3;" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="600" class="table-wrapper" align="center" bgcolor="#ffffff">
<tbody>
<tr>
<td align="center" valign="middle" style="padding: 0 35px 30px;">
<p style="font-size: 30px; color: #000; font-weight: normal; font-family: OpenSanLight, sans-serif; text-align: left; padding-bottom: 0; margin-bottom: 20px;">Hi [NAME],</p>
<p style="font-size: 20px; color: #000; font-weight: normal; font-family: OpenSanLight, sans-serif; text-align: left; padding-bottom: 0; margin-bottom: 20px;">Thanks for signing up! From now on, expect to receive weekly newsletters of our latest IT outsourcing and tech blogs and promotions.</p>
<p style="font-size: 20px; color: #000; font-weight: normal; font-family: OpenSanLight, sans-serif; text-align: left; padding-bottom: 0; margin-top: 30px; margin-bottom: 0;">Cheers,</p>
<p style="font-size: 20px; color: #000; font-weight: normal; font-family: OpenSanSemiBold, sans-serif; text-align: left; padding-bottom: 0; margin-top: 0;"><strong>Cloud Employee</strong></p>
<h3 style="font-size: 18px; margin-top: 3em; margin-bottom: 0; color: #179bc1; font-weight: bold; font-family: OpenSanSemiBold, sans-serif; padding-bottom: 5px; padding-top: 0px; letter-spacing: 3px; text-transform: uppercase; text-align: center;">Who we are</h3>
<p style="font-size: 17px; color: #000; font-weight: normal; font-family: OpenSanLight, sans-serif; text-align: left; padding-bottom: 0; margin: 10px 20px 40px;" align="left">Cloud Employee is set up to disrupt and go beyond any other provider in the IT outsourcing industry. We act as a long term strategic partner for our clients as we help them grow their business.</p>
<a style="background: #fdb93b; text-decoration: none; color: #fff; padding: 10px 20px; font-size: 14px; border-radius: 5px;" href="http://cloudemployee.co.uk/how-it-works/">How We Work</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="padding: 0; margin: 0;" bgcolor="#f5f7f8">
<tbody>
<tr>
<td class="space" align="center" valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="600" class="table-wrapper" align="center" bgcolor="#f5f7f8">
<tbody>
<tr>
<td style="padding: 0;">
<table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
<tbody>
<tr>
<td valign="top">
<table border="0" cellspacing="0" cellpadding="0" width="250" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td class="email-desc" align="left" valign="middle" style="padding: 30px; margin: 0; font-weight: normal; font-size: 15px; color: #000000; font-family: 'Open Sans', sans-serif; line-height: 20px; mso-line-height-rule: exactly;"><span style="color: #000000; font-weight: 600; font-size: 18px; text-transform: uppercase; line-height: 40px;"> Contact Us </span> <br /> <span style="line-height: 40px;"> <a style="color: #179bc1; font-weight: bold; text-decoration: none;" href="mailto:enquiries@cloudemployee.co.uk">enquiries@cloudemployee.co.uk </a> </span> <br /><span> UK: +44 203 697 4620 <br />UK: +44 203 129 6217 <br />AU: <span>+61 285 996110</span> <br />PH: +63 2 750 4026 <br /> </span></td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="250" align="right" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
<tbody>
<tr>
<td class="email-desc" align="left" valign="middle" style="padding: 30px; margin: 0; font-weight: normal; font-size: 15px; color: #000000; font-family: 'Open Sans', sans-serif; line-height: 26px; mso-line-height-rule: exactly;"><span style="color: #000000; font-weight: 600; font-size: 18px; text-transform: uppercase; line-height: 40px;"> Connect with Us </span> <br /> <a href="https://www.facebook.com/cloudemployee/"><img style="width: 30px; height: 30px; display: inline-block; float: left; margin: 20px 0 20px 0;" src="https://gallery.mailchimp.com/0d9a7014dcdf92255338c6e43/images/c068d6a8-f2a9-4148-83b4-980aef744ea3.png" alt="Facebook" /></a> <a href="https://ph.linkedin.com/company/cloud-employee"><img style="width: 30px; height: 30px; display: inline-block; float: left; margin: 20px 0 20px 10px;" src="https://gallery.mailchimp.com/0d9a7014dcdf92255338c6e43/images/0bfc17dc-0e18-4d1b-8234-cd2394e8835a.png" alt="LinkedIn" /></a> <a href="https://twitter.com/cloudemployee"><img style="width: 30px; height: 30px; display: inline-block; float: left; margin: 20px 0 20px 10px;" src="https://gallery.mailchimp.com/0d9a7014dcdf92255338c6e43/images/61513fee-4de4-4114-9e2a-5f75194a1211.png" alt="Twitter" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>