html
	body
		font-size: $font-normal
		&.meettheteam
			.modal-backdrop
				display: none!important

			.modal
				background-color: rgba(0,0,0,0.5)
				padding: 100px 0 0 0!important
				z-index: 9999999999


				z-index: 99999999
				.modal-content
					width: 1000px
					border-radius: 0
					border: none
					max-width: 100%
					background-color: #ffffff

					@media (max-width: 1000px)
						width: 100%


					.modal-body
						padding: 0
						display: flex


						.thumbnail
							width: 25%
							border: none
							padding: 0
							margin: 0
							background: $blue
							color: #fff
							border-radius: 0

							.name
								font-size: $font-normal
								padding: 20px 15px 0 15px
								text-align: left
							.position
								padding: 0 15px 15px 15px
								text-align: left
								width: 100%
								float: left
								font-size: $font-normal

							.years-xp
								font-size: 11.2px
								font-family: 'Raleway', sans-serifItalic
								width: 100%
								text-align: left
								padding: 5px 15px 15px 15px
								float: left
								font-size: $font-normal

						.details
							padding: 0 20px
							width: 75%
							overflow-y: auto
							max-height: 400px
							margin: 40px 0
							@extend .blue-scroll-bar
							font-size: $font-normal

							ul,ol
								padding-left: 40px

							ul,ol,li
								text-align: left
								font-family: 'Raleway', sans-serif
								font-size: $font-default

							@media (max-width: 767px)
								padding: 40px

							span
								color: #0c0c0c

							span
								&:not(.close)
									width: 100%
									float: left

								text-align: left

								&.short-info
									color: $blue
									font-family: 'Raleway', sans-serif
									font-size: $font-large

								&.long-info
									font-family: 'Raleway', sans-serif
									font-size: $font-default
									color: #0c0c0c


			hr
				margin: 0
				border: none
				width: 100%
				float: left

			.full-width
				&.ce-staffs
					.ce-item
						padding: 1px
						margin: 0

						.staff-thumb
							background-repeat: no-repeat
							background-size: cover
							background-position: top center

							.staff-info
								opacity: 0
								position: absolute
								top: 0
								left: 0
								width: 100%
								height: 100%
								background-color: rgba(0, 188, 247, 0.8)
								@include transition(opacity 0.2s ease-in-out)

								>p
									padding: 0 15px
									margin: 2px 0
									font-style: normal

								&:hover
									opacity: 1

									>.name
										opacity: 1
										margin-left: 0
									>.position
										opacity: 1
										margin-top: 20px
								>.name
									width: 100%
									margin-bottom: 0px
									font-weight: bold
									opacity: 0
									margin-left: 30px
									font-size: $font-title
									@include transition(all 0.3s ease-in-out)

								>.position
									@include transition(all 0.3s ease-in-out)
									opacity: 0
									margin-top: 40px
									padding: 0 15px




		.name
			text-align: left
			font-family: 'Raleway', sans-serif
			font-size: 19.12px

		.position
			font-size: 11.2px
			font-family: 'Raleway', sans-serif
			width: 100%
			text-align: left
		h2
			&.ce-blue
				color: #00bcf6
			&.ce-white
				color: #fff

		.ce-blue
			color: #00bcf6
		.ce-white
			color: #fff !important
		.ce-white-strong
			color: #fff
			font-weight: bold
			letter-spacing: 1px
			font-size: 21px
		.ce-orange
			color: #fc7d44 !important
		.text-white
			color: #fff

		.vertical-alignment-helper 
			display: table
			height: 100%
			width: 100%
			pointer-events: none
		.vertical-align-center 
			display: table-cell
			vertical-align: middle
			pointer-events: none
		.modal-content 
			width: inherit
			height: inherit
			margin: 0 auto
			pointer-events: all
			border-radius: 0


		&.modal-open
			padding-right: 0!important
		.video-js 
			width: 100%
			height: 500px

			.vjs-big-play-button
				background: url(../img/play-video.png) center center no-repeat
				height: 100%
				width: 100%
				background-color: rgba(0,0,0,0.8)
				position: absolute
				top: 0
				left: 0
				border-radius: 0

				&:focus
					outline: none

				&:hover
					background-color: rgba(0,0,0,0.8)

				&:before
					content: ""

			&.vjs-paused
				.vjs-big-play-button
					display: block

		.full-width

			&.about-us-tabs
				margin-top: 100px

			&.ceo-nick-hargreaves
				.white-section
					.container
						border-bottom: 5px solid $blue

				.about-ceo
					padding-bottom: 60px
					padding-top: 60px
				.photo
					img
						max-width: 100%
				p
					text-align: left

					&.name
						font-family: 'Raleway', sans-serif
						font-size: 3rem
						line-height: 1

						.position
							font-size: $font-default
							font-family: 'Raleway', sans-serif

					&.short-info
						font-family: 'Raleway', sans-serif
						font-size: $font-large
						color: $blue

					&.description
						font-size: $font-default
						font-family: 'Raleway', sans-serif
						line-height: 2

			&.ce-staffs
				z-index: 999
				img
					width: 100%

				>.white-section
					&:first-child
						padding-bottom: 60px
						padding-top: 60px

						h2
							margin: 0 auto 15px auto

				.ce-item
					margin-bottom: 15px
					margin-top: 15px

					@media (max-width: 550px)
						width: 100%

					.staff-info
						height: 95px

						&.staff-info-2
							height: 125px

					.staff-thumb
						width: 100%
						height: 250px
						background-size: cover
						background-position: top center

						@media (min-width: 768px) and (max-width: 991px)
							height: 300px
						@media (max-width: 767px)
							height: 350px
						@media (max-width: 550px)
							height: 500px
						@media (max-width: 300px)
							height: 300px

					hr
						margin: 0
						border: none
						width: 100%

					&:not(.no-info)
						cursor: pointer
					>a,>div


						&:not(.modal)
							color: #fff
							text-align: left
							padding-bottom: 30px
							z-index: 0

							.name
								font-size: $font-normal
								padding: 20px 15px 0 15px
							.position
								display: block
								font-size: $font-normal
								padding: 15px 15px 0 15px
								
							.years-xp
								font-size: $font-normal
								font-family: 'Raleway', sans-serifItalic
								width: 100%
								text-align: left
								padding: 5px 15px 15px 15px
								float: left
								font-style: italic

				.blue-section
					padding-bottom: 60px
					padding-top: 60px
					.ce-item
						>a,>div
							&:not(.modal)
								background: #fff
								color: #0c0c0c

					.text-white
						margin: 40px auto

						p
							font-family: 'Raleway', sans-serif
							font-size: $font-normal

			.col-20-percent
				width: 20% 
				padding: 15px

			.container
				&.custom-1472
					width: 1472px
					max-width: 100%
					margin-left: auto
					margin-right: auto


			.row
				&.custom-960
					width: 960px
					max-width: 100%
					margin-left: auto
					margin-right: auto

					@media (max-width: 767px)
						width: 750px

			&.about-us-video
				background-color: #fff

				.container
					position: relative
					padding: 0

				img
					width: 100%

				.overlay
					cursor: pointer
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					background: url(../img/play-video.png) center center no-repeat
					background-color: rgba(47, 60, 70, 0.8)

			&.our-offices
				z-index: 3

				.container
					padding: 0

				.clearfix
					display: none
					@media (min-width: 992px)
						display: block

				.office-item
					position: relative
					margin: 0
					padding: 0
					height: 400px
					background: $blue
					overflow: hidden

					@media (max-width: 991px)
						overflow: visible

					>.close
						display: none
						color: #ffffff
						opacity: 0.9
						font-size: 40px
						top: 0
						right: 15px
						position: absolute

					>.overlay
						position: absolute
						width: 100%
						height: 100%
						cursor: pointer
						left: 0
						top: 0
						z-index: 3
						@include transition(background-color 0.3s ease-in-out)

						&:hover,&.active,&:focus
							background-color: rgba(0, 188, 247, 0.9)
						
						&.active,&:focus
							@media (max-width: 992px)
								.office-details
									display: block

						>span
							color: white
							font-family: 'Raleway', sans-serif
							position: absolute
							top: calc(50% - 2rem)
							font-size: 4rem
							width: 100%
							left: 0


					.primary-image
						height: 100%
						position: absolute
						width: 100%
						left: 0
						top: 0
						overflow: hidden

						>img
							min-width: 100%
							min-height: 100%


					@media (min-width: 992px)
						&:hover
							.office-details
								top: 0
					.office-details
						top: 100%
						width: 100%
						background: #fff
						position: absolute
						z-index: 3
						height: 100%
						overflow: auto
						padding-bottom: 40px
						@include transition(top 0.2s ease-in-out)

						@media (max-width: 991px)
							display: none
							z-index: 4

						@extend .blue-scroll-bar

						@media (max-width: 991px)
							position: fixed
							height: calc(100% - 85px)
							width: 100%
							left: 0!important
							top: 85px!important
						>.close
							color: #000
							font-size: 5rem
							position: absolute
							top: 10px
							right: 10px
							z-index: 4
							@media (min-width: 992px)
								display: none


						>.row
							>.details
								@media (min-width: 768px)
									padding: 40px 0 0 20px
								>p
									color: #0c0c0c
									font-size: $font-normal
									font-family: 'Raleway', sans-serif
									text-align: left
									&.office
										font-size: $font-title
										font-family: 'Raleway', sans-serif

									a
										color: #0c0c0c
								img
									max-width: 100%

						>.office-images
							padding: 0
							margin: 40px 0
							>.image-item
								margin: 0
								padding: 0
								>img
									margin: 0
									max-width: 100%

						>.management
							>div
								margin: 10px 0
							img
								max-width: 100%

							.photo
								height: 250px
								background-position: top center
								background-size: cover

							.name
								margin: 20px 0
								color: #00bcf7
								text-align: left
								font-family: 'Raleway', sans-serif
								font-size: $font-normal

								.position
									color: #0c0c0c
									float: left
									width: 100%
									font-family: 'Raleway', sans-serif
									font-size: $font-normal


					&.active
						.office-details
							@media (max-width: 991px)
								top: 0
								display: block

						>.overlay
							background-color: rgba(0, 188, 247, 0.9)

						>.close
							display: block

					&:nth-child(odd)
						.office-details
							left: 0
							box-shadow: 5px 0px 15px rgba(0,0,0,0.2)
					&:nth-child(even)
						.office-details
							right: 0
							box-shadow: 0px 0px 15px rgba(0,0,0,0.2)



		h1
			color: #fff
			font-family: 'Raleway', sans-serif
			font-size: $font-title

		.horizontal-tabs
			margin-top: 4rem
			margin-bottom: 4rem
			.tab-item
				float: left
				a
					font-size: 16px
					padding: 20px 0
					border-bottom: 3px solid rgba(0,0,0,0)
					font-family: 'Raleway', sans-serif

					&:hover,&.active,&:focus
						color: #fff
						text-decoration: none
						border-bottom: 3px solid #fff


		.founders
			.white-section
				padding-top: 44px

				.container
					border-bottom: 3px solid $blue

			.story-thumbnail
				text-align: left
				padding: 20px
				img
					margin: 0
					max-width: 100%
				.name
					margin: 20px 0
					color: #00bcf7
					text-align: left
					font-family: 'Raleway', sans-serif
					font-size: 12.8px

					.position
						color: #0c0c0c
						float: left
						width: 100%
						font-family: 'Raleway', sans-serif
						font-size: 11.2px

			.story-details
				p
					text-align: left
					color: $blue
					font-family: 'Raleway', sans-serif
					font-size: 2rem
					padding: 5% 10%

					&:before,&:after    
						font-size: 19rem
						position: absolute
						opacity: 0.1
						z-index: -1

					&:before
						content: "\201c"
						left: 0
						top: -80px

					&:after
						content: "\201d"
						bottom: -12rem
						right: 0
		.some-text
			padding: 44px 0
			p
				text-align: left
				font-family: 'Raleway', sans-serif
				font-size: 12.8px
				line-height: 2.5
				margin: 20px 0
