html
	body
		&.unsubscibed
			.full-width
				&.page-head
					h1
						line-height: 1.2
						small
							font-size: 1.7rem


				.u-links
					@media (min-width: 768px)
						display: flex

					.item
						@media (max-width: 767px)
							padding: 15px 15px


						img
							height: 100px
							margin: 0 auto
							max-width: 100%

						a
							margin: 10px 0
							padding: 10px 10px

				.social
					margin: 40px 0
					.social-icons
						a
							img
								max-width: 40px

			#sales-deck-modal
				a
					margin: 0
					width: 100%

.contact-panel
	padding: 25px
	border-radius: 8px