@font-face
	font-family: GothamBlack
	src: url(../Gotham/OpenType/Gotham-Black.otf)

.gotham-black
	font-family: GothamBlack
	font-family: 'Raleway', sans-serif

@font-face
	font-family: GothamBlackItalic
	src: url(../Gotham/OpenType/Gotham-BlackItalic.otf)

.gotham-black-italic
	font-family: GothamBlackItalic
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamBold
	src: url(../Gotham/OpenType/Gotham-Bold.otf)

.gotham-bold
	font-family: GothamBold
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamBoldItalic
	src: url(../Gotham/OpenType/Gotham-BoldItalic.otf)

.gotham-bold-italic
	font-family: GothamBoldItalic
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamBook
	src: url(../Gotham/OpenType/Gotham-Book.otf)

.gotham-book
	font-family: GothamBook
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamBookItalic
	src: url(../Gotham/OpenType/Gotham-BookItalic.otf)

.gotham-book-italic
	font-family: GothamBookItalic
	font-family: 'Raleway', sans-serif

@font-face
	font-family: GothamLight
	src: url(../Gotham/OpenType/Gotham-Light.otf)

.gotham-light
	font-family: GothamLight
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamLightItalic
	src: url(../Gotham/OpenType/Gotham-LightItalic.otf)

.gotham-light-italic
	font-family: GothamLightItalic
	font-family: 'Raleway', sans-serif

@font-face
	font-family: GothamMedium
	src: url(../Gotham/OpenType/Gotham-Medium.otf)

.gotham-medium
	font-family: GothamMedium
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamMediumItalic
	src: url(../Gotham/OpenType/Gotham-MediumItalic.otf)

.gotham-medium-italic
	font-family: GothamMediumItalic
	font-family: 'Raleway', sans-serif

@font-face
	font-family: GothamThin
	src: url(../Gotham/OpenType/Gotham-Thin.otf)

.gotham-thin
	font-family: GothamThin
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamThinItalic
	src: url(../Gotham/OpenType/Gotham-ThinItalic.otf)

.gotham-thin-italic
	font-family: GothamThinItalic
	font-family: 'Raleway', sans-serif

@font-face
	font-family: GothamUltra
	src: url(../Gotham/OpenType/Gotham-Ultra.otf)

.gotham-ultra
	font-family: GothamUltra
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamUltraItalic
	src: url(../Gotham/OpenType/Gotham-UltraItalic.otf)

.gotham-ultra-italic
	font-family: GothamUltraItalic
	font-family: 'Raleway', sans-serif

@font-face
	font-family: GothamXLight
	src: url(../Gotham/OpenType/Gotham-XLight.otf)

.gotham-x-light
	font-family: GothamXLight
	font-family: 'Raleway', sans-serif
	
@font-face
	font-family: GothamXLightItalic
	src: url(../Gotham/OpenType/Gotham-XLightItalic.otf)

.gotham-x-light-italic
	font-family: GothamXLightItalic
	font-family: 'Raleway', sans-serif
