$faqblue: #04b1ed
html
	body
		&.faqs
			.full-width
				text-align: left

				&.page-head
					.v--align
						width: 100%
						text-align: center

				.faq-navigation
					ul
						li
							a
								padding: 5px 10px
								border-left: 5px solid rgba(255,255,255,0)
								color: #0c0c0c
								font-size: 12.8
								font-family: 'Raleway', sans-serif

								&:focus
									background-color: rgba(255,255,255,0)

							&.active
								a
									color: #0090bb
									border-left: 5px solid #0090bb


					@media (max-width: 991px)
						display: none

				.faq-accordion
					>.ac-item
						margin-bottom: 40px
						
						h2
							font-family: 'Raleway', sans-serif
							font-size: $font-larger
							color: #0c0c0c
							margin: 0 0 20px 0
							padding: 0

					.doaccordion
						.accordion-head
							color: #fff
							background-color: #0090bb
							border: none
							border-radius: 0
							font-size: $font-normal
							padding: 10px
							font-family: 'Raleway', sans-serif
							margin: 1px
							cursor: pointer

							&:focus
								outline: none

							>i
								float: right
								@include transition(all 0.2s ease-in-out)


							&.ui-state-active
								>i
									@include transform(rotate(-180deg))
						.accordion-content
							padding: 40px
							font-family: 'Raleway', sans-serif
							font-size: $font-normal
							line-height: 2