html
	body
		&.press
			.full-width
				&.featured-news
					@media (min-width: 992px)
						.featured-container
							display: flex

					.featured-container
						cursor: pointer
						&:hover
							text-decoration: none
					.featured-image,.featured-details
						padding: 0
						margin: 0
					.featured-image
						img
							width: 100%
							margin: 0

					.featured-details
						text-align: left

						.date-posted
							background-color: $blue
							color: #fff
							text-align: center
							padding: 3px
							position: absolute
							top: 0
							left: 0
							font-size: 20px

							
							span
								float: left
								font-size: 10px
								width: 100%


						.details
							font-size: 32px
							padding: 60px 40px 20px
							background: url(../img/rectangle-blue.png) no-repeat 40px bottom
							color: #0c0c0c
							.press-tags
								padding: 15px 40px
								position: absolute
								top: 0
								font-size: 12px
								margin-left: 20px
								color: $blue
								background-color: none

							.press-logo
								margin-top: 20px
								img
									margin: 0

					.news-filter
						.col-md-6
							padding: 40px 0
						form
							display: flex
							.form-group
								padding-right: 20px
								width: 50%
								margin-bottom: 0


								@media (max-width: 991px)
									padding: 0 10px

								select
									border: none
									box-shadow: none
									color: #0c0c0c
									background-color: #f5f5f5
									border-radius: 0
									height: 50px
