html
	body
		&.careers
			.full-width
				&.careers-container
					p 
						font-size: 12px

					.doaccordion
						h3
							border-bottom: 3px solid $blue
							padding: 15px 0
							margin:  0 15px
							cursor: pointer
							font-size: $font-larger

							&:focus
								outline: none

							>i
								float: right
								@include transition(all 0.2s ease-in-out)


							&.ui-state-active
								>i
									@include transform(rotate(-180deg))


						p
							padding: 0 15px
							font-size: 12px
							margin: 0


					.careers-form
						margin-top: 60px
						h2
							font-size: 19.2px

						h4
							margin: 0
							padding: 0 0 60px 0

						form
							@media (min-width: 992px)
								.input-fields
									display: flex

							input,textarea,label
								font-size: 12px

							input,textarea
								border: none
								border-radius: 0
								color: #0c0c0c
								background-color: #f7f7f7
								box-shadow: none
								padding-bottom: 20px
								padding-top: 20px

							textarea
								min-height: 200px
								height: 100%

							.file-upload
								label
									white-space: nowrap
									padding: 10px 10px 10px 0

								input
									&[type=text]
										margin: 0 5px
								button
									background-color: #00bcf7
									border: none
									margin: 0 5px
									font-size: 12px
									border-radius: 3px
									color: #fff

									&:hover
										background-color: #44d2ff
										color: #fff


							button
								&[type=submit]
									background-color: #00bcf7
									border: none
									margin: 15px
									font-size: 12px
									border-radius: 3px
									color: white
									float: right
									padding: 15px 20px
									
									&:hover
										background-color: #44d2ff
										color: #fff
				&.masonry
					.box
						width: auto
						max-width: 200px
						
						img
							width: 100%
							height: auto