html
	body
		.full-width

			.t-container
				.t-item
					padding: 10px

					>div
						&.t-text
							position: relative
							height: 250px
							width: 100%
							border: 1px solid $blue
							overflow: hidden
							cursor: pointer


							>p
								position: absolute
								width: 100%
								left: 0
								margin-bottom: 0
								max-height: 80%
								overflow-y: auto
								padding: 15px
								top: 0

							.download-case-study
								position: absolute
								right: 15px
								top: 15px
								font-size: 1rem
								color: #00bcf7
								font-family: 'Raleway', sans-serif

								&:hover
									text-decoration: none

							img
								max-height: 35%

							.feedback-container
								display: -webkit-inline-flex
								display: -ms-inline-flexbox
								display: inline-flex
								height: 80%
								padding: 30px 15px 10px
								
								.feedback
									max-height: 100%
									overflow-y: auto
									@extend .blue-scroll-bar	
									font-size: $font-normal
									margin: auto auto

							.testimonial-by
								height: 20%
								text-align: center
								font-size: 12px
								bottom: 0
								position: absolute
								width: 100%
								left: 0

								.name,.company
									font-size: 12px
									text-align: center
									padding: 0
									margin: 0
								.name
									color: $blue

							>.overlay
								z-index: 2
								overflow: hidden
								height: 100%
								width: 100%
								top: 0
								left: 0
								position: absolute
								background-color: #009ed1
								background-repeat: no-repeat
								@include transition(top 0.2s ease-in-out)
								background-position: center center


							&:hover
								>.overlay
									top: -250px


							.oberblue
								z-index: 2
								overflow: hidden
								height: 100%
								width: 100%
								top: 0
								left: 0
								position: absolute
								background-color: #009ed1
								background-repeat: no-repeat
								@include transition(top 0.2s ease-in-out)
								background-position: center center
								

					&.--c-logo
						>div
							&.t-text
								&:hover
									>.overlay
										top: 0

		&.testimonials

			.modal 

				&.modal-video
					padding: 0
					.modal-dialog
						padding: 0
						.modal-content
							border-radius: 0
							.modal-body
								padding: 0
								line-height: 0

			.full-width
				>div
					padding-bottom: 60px

				.intro
					margin-bottom: 5rem
					margin-top: 5rem

				&.video-testimonials
					z-index: 999
					.t-container
						.t-item

							iframe
								width: 100%!important
							>div
								&.t-text
									color: #fff
									border: 1px solid #fff


									>.overlay
										background-color: rgba(255,255,255, 1)
										@include transition(top 0.2s ease-in-out)

									&:hover
										>.overlay
											top: 0

