html
	body
		.full-width
		
			.ce-unsure
				&.subscribe

					.form
						padding-bottom: 40px
						padding-top: 40px
						
						p
							padding: 0
							margin: 0
							margin-bottom: 10px

						input
							&.form-control,
								display: inline-block
								width: 350px
								max-width: 75%
								height: 40px
								border-radius: 0
								box-shadow: none

								background: transparent
								color: #fff
								border: none
								border-bottom: 2px solid #fff
								margin-right: 10px
								@include placeholderColor(#ffffff)

								&:focus
									outline: none
									border: none
									border-bottom: 2px solid #fff

						button
							margin: 0
							padding: 8px 10px
							height: 40px
							border-radius: 0
							box-shadow: none
							display: inline-block
							margin-top: -3px
							background: transparent
							border: 2px solid #fff


							@media (max-width: 485px)
								margin-top: 10px

							&:focus
								background: transparent
								outline: none
								border: none

			&.news-list
				&.related-list
					.news-item
						.news-thumbnail
							height: 200px

							@media (max-width: 767px)
								height: 300px
						.news-item-details	
							min-height: 200px
				.white-section
					padding-bottom: 60px

				hr
					width: 100%
					float: left
					border: 0
					margin: 0
				.news-item
					cursor: pointer
					text-decoration: none
					margin-bottom: 15px
					margin-top: 15px
					padding-bottom: 40px
					background: url(../img/rectangle-blue.png) no-repeat 15px bottom

					.news-thumbnail
						position: relative
						width: 100%
						overflow: hidden
						height: 200px
						background-size: cover
						background-position: top center

						@media (min-width: 992px)
							height: 175


					.news-item-details
						min-height: 250px

						@media (max-width: 991px) and (min-width: 768px)
							min-height: 200px

					.press-logo
						position: absolute
						bottom: 10px
						img
							max-width: 100%
							max-height: 35px
							float: left
							margin-top: 20px
							margin-bottom: 20px

					.date-posted
						background-color: $blue
						color: #fff
						text-align: center
						padding: 3px
						position: absolute
						bottom: 0
						left: 0
						font-size: 20px
						z-index: 3
						
						span
							float: left
							font-size: 10px
							width: 100%

					h2,p
						margin: 0
						text-align: left
						line-height: 2
					h2
						font-size: $font-larger
						margin-bottom: 20px
						margin-top: 20px
						line-height: 1.5

					p
						padding: 0
						font-size: 12px

			&.news-header
				.featured-image
					position: relative
					padding: 0
					margin-bottom: 40px
					margin-top: 40px

					img
						margin: 0
						width: 100%
				.date-posted
					background-color: $blue
					color: #fff
					text-align: center
					padding: 3px
					position: absolute
					top: 0
					right: 0
					font-size: 20px

					
					span
						float: left
						font-size: 10px
						width: 100%

		&.news
			&.news-detailed
				.full-width
					&.page-head
						background-position: center
						background-size: cover

						.overlay
							background: rgba(0,0,0,0.4)

						.cloud-top	
							z-index: 1
					h1
						font-weight: bold
						line-height: 1.2
						cursor: default
						font-size: 44px


			&.big-thumbnails

				.full-width

					&.page-head
						background-image: url(../img/bg.jpg)

					.ce-section
						padding: 0

					.footer-images-container
						.ce-section
							width: 100%

					&.featured-news
						.featured-container
							padding: 60px 0 0 0
							max-width: 100%

					&.news-list

						.white-section
							padding-bottom: 0

							.row
								padding: 0


								.news-item
									padding: 0
									margin: 0
									border: 1px solid #fff
									.overlay-title
										background-color: rgba(0,0,0,0.4)
										position: absolute
										top: 0
										left: 0
										width: 100%
										height: 100%
										z-index: 2
										color: #fff
										display: -webkit-inline-flex
										display: -ms-inline-flexbox
										display: inline-flex
										@include transition(background-color 0.1s ease-in-out)


										&:hover
											background-color: rgba(0,0,0,0)
										span
											margin: auto
											font-size: $font-title
											text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
											font-weight: bold

											small
												width: 100%
												float: left
												font-size: $font-normal
												font-weight: normal

									.news-thumbnail
										height: 450px
										overflow: hidden
										background-size: cover
										background-position: center center

										@include transition(background-image 0.2s ease-in-out)


									&:before
										content: " "
										position: absolute
										height: 100%
										width: 100%
										top: 0
										left: 0
										background-color: rgba(0,0,0,0.5)
										@include transition(background-color 2s ease-in-out)

									&:hover
										&:before
											background-color: rgba(0,0,0,0)



									img
										width: 100%
										height: auto

			.learn-more-button
				margin: 0 auto
			header
				.header
					nav
						.navbar-brand
							.ce-logo
								max-width: 250px

			.full-width

				.featured-container
					cursor: pointer
					max-width: 100%
					float: left

				.post-info
					float: left
					padding: 20px 0
				&.featured-news
					@media (min-width: 992px)
						.featured-container
							display: flex

					.featured-container
						cursor: pointer
						padding-top: 80px
						&:hover
							text-decoration: none

					.featured-image,.featured-details
						padding: 0
						margin: 0
					.featured-image
						img
							width: 100%
							margin: 0

					.featured-details
						text-align: left

						.date-posted
							background-color: $blue
							color: #fff
							text-align: center
							padding: 3px
							position: absolute
							top: 0
							left: 0
							font-size: 20px
							z-index: 3
							
							span
								float: left
								font-size: 10px
								width: 100%


						.details
							font-size: $font-title
							padding: 60px 40px
							color: #0c0c0c
							background: url(../img/rectangle-blue.png) no-repeat 40px bottom

					.news-filter
						max-width: 100%
						float: left
						.col-md-6
							padding: 40px 0
						form
							display: flex
							.form-group
								padding-right: 20px
								width: 50%
								margin-bottom: 0


								@media (max-width: 991px)
									padding: 0 10px

								select
									border: none
									box-shadow: none
									color: #0c0c0c
									background-color: #f5f5f5
									border-radius: 0
									height: 50px
									font-size: $font-default

				
				&.article
					.article-content
						padding: 60px 15px
						@media (max-width: 991px)
							padding: 60px 15px

						h2,h3,h4,h5,h6
							text-align: left
							font-size: $font-large
							margin: 20px 0

						p
							text-align: left
							line-height: 2
							margin: 0

						.addthis_inline_share_toolbox
							float: left
							margin: 20px 0