html
	body
		&.howitworks
			.full-width
				.how-steps-container
					line-height: 2

					h2
						margin: 0 0 40px 0


					.how-steps
						li,
						p
							color: #FFF
							padding: 10px 0
							line-height: 1.5
							font-size: 16px
					hr
						width: 100%
						margin: 0
						border: 0
						float: left