@import url(https://fonts.googleapis.com/css?family=Raleway)

@import 'swiper'
@import 'jva.fonts'
@import 'jva.font-size'
@import 'jva.mixin'
@import 'jva.colors'	


@import 'responsive-utilities'

html
	width: 100%
	body
		font-family: 'Raleway', sans-serif
		//background: url(../img/bg.jpg) top right no-repeat
		background-color: $blue
		background-size: 100% 100vh
		width: 100%
		overflow-x: hidden

		@media (max-width: 767px)
			background-size: auto 100vh
			background-position: top center

		&.no-scroll
			overflow: hidden

		&.contactus
			.v--align,.full-width.page-head,.full-width.fade-on-load
				min-height: 950px
		.loading-overlay
			display: none
			z-index: 9999
			position: fixed
			height: 100vh
			width: 100%
			pointer-events: none
			background: url(../img/header-logo.png) center center no-repeat
			background-color: $blue
			@include transition(all 0.3s ease-in-out)


			.spinner
				text-align: center
				float: right
				margin: 10px 10px

				>div
					width: 15px
					height: 15px
					background-color: #fff
					border-radius: 100%
					display: inline-block
					@include animation(sk-bouncedelay 1.4s infinite ease-in-out both)

				.bounce1
					-webkit-animation-delay: -0.32s
					animation-delay: -0.32s

				.bounce2 
					-webkit-animation-delay: -0.16s
					animation-delay: -0.16sxo
				










		&.loading
			overflow: hidden
			.loading-overlay
				display: block


		&.homepage

			.full-width

				&.homepage-buttons
					.cloud-top
						position: absolute
						bottom: 0
				.fade-in
					padding-bottom: 0


				&:not(.no-bg-color)
					background-color: #0090bb

		.modal-backdrop
			display: none!important

		.modal
			background-color: rgba(0,0,0,0.8)
			z-index: 99999999

			.modal-dialog
				margin: 100px auto!important

				.modal-body
					float: left
					background-color: #ffffff
					width: 100%

					iframe
						width: 100%!important
						height: 450px

				span
					&.close

						position: absolute
						right: -12px
						font-size: 20px
						top: -10px
						color: #fff
						opacity: 1
						background: #000
						padding: 1px 8px 3px
						border-radius: 15px
						border: 2px solid #fff

						@media (max-width: 1000px)
							right: 0


		span
			&.short-info
				color: $blue
				font-family: 'Raleway', sans-serif
				font-size: $font-large

			&.long-info
				font-family: 'Raleway', sans-serif
				font-size: $font-default
				color: #0c0c0c









		.hidden
			display: none

		.flex
			display: flex

		.desktop-flex
			@media (min-width: 992px)
				display: flex

		.container
			max-width: 100%

		.custom-1472
			width: 1472px
		.custom-100
			width: 100%

		.dropdown-menu
			>li
				>a
					font-family: 'Raleway', sans-serif
					padding-bottom: 10px
					padding-top: 10px


		@extend .blue-scroll-bar

		&.no-scroll
			overflow: hidden
		.row
			margin-left: 0
			margin-right: 0
			padding-left: 15px
			padding-right: 15px


		#videomodal
			.modal-body
				padding: 0

		&.scrolled
			@media (max-width: 991px)
				.container
					nav
						ul
							background-color: #fff


		@media (max-width: 991px)
			.container
				nav
					ul
						border-radius: 3px

						.nav-contact-us
							ul
								background-color: #fff

					.navbar-header
						float: none
						margin: 0 15px

					.navbar-toggle
						display: block
						margin: 25px 0!important

					.navbar-collapse
						border-top: 1px solid transparent
						box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)
						overflow: visible

						&.collapse
							display: none!important

							&.in
								display: block!important
					
					.navbar-nav
						float: none!important
						margin: 7.5px -15px

						>li
							float: none
					
							>a
								padding-top: 10px
								padding-bottom: 10px
					
					.navbar-text
						float: none
						margin: 15px 0

					.collapsing
						overflow: hidden!important


		.white-section
			a,button
				&.btn
					&.get-started,&.btn-more
						color: $blue
		a,button
			&.btn
				color: white
				font-family: 'Raleway', sans-serif
				font-size: $font-default
				padding: 15px 20px
				position: relative
				margin: 10px 23px


				box-shadow: 0px 0px 12px rgba(255,255,255,0.3)

				&.get-started,&.btn-more
					margin-left: auto
					margin-right: auto
					background-color: transparent
					color: #fff
					box-shadow: none!important
					padding: 0

					&:hover
						background-color: transparent

						i
							opacity: 0.5
					i
						opacity: 0.5
						float: left
						width: 100%
						font-size: 25px

					&:focus
						outline: none

				&.get-started
					color: $blue
					/*text-shadow: 0px 0px 12px rgba(0, 0, 0, 1)*/
					margin-top: 0
					margin-bottom: 0

					i
						opacity: 0.5

					&:hover
						color: $blue
				&.btn-more
					margin: 25px auto


		.free-trial
			background-color: #f62
			font-size: $font-normal
			font-family: 'Raleway', sans-serif
			border-radius: 5px
			color: #fff
			padding: 15px 40px
			margin-left: 35px

			&:hover
				background-color: #f62
  

			@media (max-width: 679px)
				margin-left: 0

		.full-width
			width: 100%
			position: relative
			z-index: 0
			text-align: center

			&:not(.fade-on-load)
				.v--align
					width: 100%
					height: 100vh
					max-height: none
					min-height: auto

					//@media (min-width: 992px )
					//	height: 100vh

					//@media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) 
					//	height: auto


			&.fade-on-load
				height: 100vh
				min-height: 450px



				//@media (min-width: 768px)
				//	height: 100vh

				//@media (min-width: 992px )
				//	height: 100vh

				//@media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) 
				//	height: auto

			.no-bg-color
				background-color: transparent!important

			&:not(.no-bg-color)
				//background-image: url(../img/bg.jpg)
				//background-repeat: no-repeat
				//background-position: center bottom
				background-color: #0090bb
				-webkit-background-size: cover
				-moz-background-size: cover
				-ms-background-size: cover
				-o-background-size: cover
				background-size: cover

				&.page-head
					//background-image: url(../img/bg-head.jpg)
					width: 100%
					//height: 100vh
					min-height: 320px
					color: white
					background: linear-gradient(#0090bb 65%, #fff 100%)
					height: 100vh

					//@media (min-width: 992px )
					//	height: 100vh

					//@media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) 
					//	height: auto

					>div
						max-width: 100%
						margin: auto auto

						//@media (min-width: 992px )
						//	margin: auto auto

						//@media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) 
						//	margin: 100px auto	


					&.valign-container
						width: 100%


					&.homepage-buttons
						z-index: 2




			&.island-video    
				background-color: #fff
				position: absolute
				top: 0
				height: 100vh
				min-height: 450px					


				.overlay
					position: absolute
					height: 100%
					width: 100%
					background: #00bcf7
					top: 0
					left: 0

				@media (max-width: 767px)
					display: none

				.vjs-control-bar
					display: none!important

				.video-js
					height: 100%
					.vjs-tech
						@media (min-aspect-ratio: 16/9)
							width: 100%
							height: auto

						@media (max-aspect-ratio: 16/9)
							width: auto
							height: 100%


			h2
				font-size: $font-title
				font-family: 'Raleway', sans-serif
				margin: 40px 0

				&.ce-blue
					color: #0090bb
				&.ce-white
					color: #fff

			.article-content
				p,ul,li,span
					text-align: left
					line-height: 2
					font-family: 'Raleway', sans-serif

				>p
					padding: 10px 0
				>ul
					padding: 10px 100px


			.home-title
				position: absolute
				width: 100%
				top: 100px

				@media(min-width: 375px)
					top: 160px

				@media(min-width: 1200px)
					top: 105px

				@media only screen and (min-width: 300px) and (max-width: 812px) and (orientation: landscape)
					top: 95px

			.home-buttons-container
				position: absolute
				bottom: 40px
				width: 100%

				@media(min-width: 375px)
					bottom: 110px

				@media (min-width: 768px)
					bottom: 25px

				@media only screen and (min-width: 300px) and (max-width: 812px) and (orientation: landscape)
					bottom: 35px
				
				.get-started

					@media(min-width: 300px)
						color: #0090bb

					@media(min-width: 375px)
						color: #fff

					@media (min-width: 768px)
						color: #0090bb

					@media only screen and (min-width: 300px) and (max-width: 812px) and (orientation: landscape)
						color: #0090bb

				.full-home-buttons
					z-index: 1

			.home-btn
				margin-top: 0    
				float: left
				width: 100%
			.fade-in
				opacity: 0
				margin-left: -50px
				@include transition(all 0.3s ease-in-out)


			&.screen-active
				.fade-in
					margin-left: 0
					opacity: 1

			&.full-beyond-simple,
			&.full-beyond-value
				z-index: 1


			&.full-beyond-offshoring,&.full-beyond-benefits
				.btn
					&.btn-more
						color: $blue

			&.full-beyond-offshoring
				h2
					margin: 40px 0

			&.how-steps-container
				.how-steps
					margin-top: 60px

					ol
						li
							padding-bottom: 10px
							padding-top: 10px
							line-height: 2

			&.what-you-get
				.row
					padding-bottom: 60px
					padding-top: 60px

					.col-md-3
						padding-bottom: 40px
						padding-top: 40px


		.v--align
			display: -webkit-inline-flex
			display: -ms-inline-flexbox
			display: inline-flex
			min-height: 450px
			height: 100vh

			>div
				max-width: 100%
				margin: auto auto

		.valign-container
			display: -webkit-inline-flex
			display: -ms-inline-flexbox
			display: inline-flex
			min-height: 450px
			height: 100vh

			.hidden-md-down
				@media	(max-width: 991px)
					display: none




			>.valign
				margin: auto auto

		.page-head
			min-height: 450px
			height: 100vh
			margin-top: 0

			.container
				.row
					img
						max-height: 100%
						max-width: 100%

					&.pricing-s-col
						h1
							margin-top: 5rem

			h1
				margin: 0
				font-size: $font-title
				//text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
				line-height: 1.2
				text-shadow: 0px 5px 5px rgba(0, 1, 1, 0.28) !important
				//margin-bottom: 28px !important
				font-family: "GothamBold" , sans-serif

				small
					font-size: $font-larger

			&:not(.--dbl-cols)
				h1
					//font-weight: bold !important
					font-size: 6rem !important

					small
						font-size: $font-larger

			.cloud-top
				position: absolute
				bottom: 0
				left: 0

			.learn-more-button
				border: none
				background-color: transparent
				color: #fff
				text-transform: uppercase
				font-size: $font-normal
				margin: 1rem
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)

				i
					width: 100%

				&:focus
					outline: none

			/*&:not(.no-bg-color)
				background-color: $blue*/



		.cloud-top,.cloud-bottom
			z-index: -1
			background: url(../img/ce-cloud.png) repeat-x
			background-position: center -150px
			height: 200px


			&.cloud-150
				background-position: center 0
				height: 150px
				
			&.cloud-300
				background-position: center -351px
				height: 299px



			&:not(.cloud-auto)
				width: 100%
				/*background: url(../img/ce-cloud.png) center bottom repeat-x*/
				img
					height: 100%
					width: auto

				&.cloud-150
					height: 150px
					/*background: url(../img/ce-cloud-bottom.png) center bottom repeat-x*/


			&.animate-bg
				animation: animatedBackground 50s linear infinite
		.cloud-bottom
			@include transform(rotate(180deg))
			padding: 0
			margin: -1px 0

		.white-section
			background: #fff
			margin-bottom: -1px
			margin-top: -1px
		.blue-section
			background: $blue

		.absolute
			position: absolute

		@media (min-width: 1200px)
			.container
				&.custom-960
					width: 960px
					width: 900px
					max-width: 100%

		.custom-960
			position: relative
			z-index: 2
			width: 960px
			max-width: 100%
			margin-left: auto
			margin-right: auto
			padding: 0

		.contact-form
			.form-title
				font-family: 'Raleway', sans-serif
				font-size: $font-text
				color: #00bcf7
				margin-bottom: 18px


			button
				&[type=submit]
					background-color: #00bcf7
					width: 100%
					border: none
					margin: 0
					margin-top: 5px

					&:hover
						background-color: #44d2ff


			@include placeholderColor(#0c0c0c)

			>.form-group
				margin-bottom: 7px
			
			input,textarea
				border: none
				box-shadow: none
				background-color: #f7f7f7
				border-radius: 5px
				font-family: 'Raleway', sans-serif
				font-size: $font-default
				padding: 15px
				height: 40px

				&[name=message]
					height: 80px
					resize: none


		.flipping-image
			.faced 
				width: 100%
				height: 100%
				backface-visibility: hidden

				&.front
					@include animation(Rotate 4s linear 2s infinite)


				&.back
					display: block
					transform: rotateY(180deg)
					position: absolute
					top: 0

					@include animation(BackRotate 4s linear 2s infinite)


		header 
			position: fixed
			z-index: 99999999

			.header
				&.custom-960
					z-index: 99999999
				padding: 25px 0

				nav
					.navbar-header
						button
							background-color: #fff

							span
								background-color: #00bcf7

					.navbar-brand
						@include transition(background-position 0.2s ease-in-out)
						color: rgba(0,0,0,0)
						text-indent: -1000px
						margin: 10px 0
						padding: 0

						@media (max-width: 992px)
							margin-left: 0 !important
						@media (min-width: 768px)
							margin: 10px 0

						.ce-logo
							@include transition(opacity 1 ease-in-out)
							max-width: 170px

							&.ce-logo-white
								opacity: 1
							&.ce-logo-blue
								opacity: 0

				.ce-logo
					@include transition(display 1s ease)
					&.ce-logo-blue
						display: none

				.nav 
					padding-top: 22px
					@include transition(all 0.2s ease)
					padding-bottom: 15px

					@media screen and (max-width: 991px)
						padding-top: 0
						padding-left: 15px
						padding-right: 15px

					>li 
						>a
							color: #fff
							padding: 5px 10px
							font-size: $font-normal
							font-family: 'Raleway', sans-serif

							@media screen and (max-width: 991px)
								padding-bottom: 8px
								padding-top: 8px

							&:hover,&:focus,&:active,&.open
								background-color: rgba(0,0,0,0)


							span
								margin-left: 10px
								@include transition(all 0.2s ease)

								height: 20px
								width: 15px
								background: url(../img/down-arrow.png) center center no-repeat
								float: right

						&.open
							background-color: rgba(0,0,0,0)

							>a
								color: #fff

								&:hover,&:focus,&:active,&.open
									background-color: rgba(0,0,0,0)

								span
									@include transform(rotate(-180deg))

						&:not(.nav-contact-us)
							>a
								background-color: rgba(0,0,0,0)!important

						&.nav-contact-us
							border-radius: 15px 15px 0 0

							>a
								border: 2px solid #fff
								border-radius: 30px
								padding: 8px 20px
								margin-top: -5px


								@media (max-width: 991px)
									border-radius: 15px
									padding: 8px 20px
									margin-top: 0

								&:hover
									background-color: #fff
									color: $blue

							>ul    
								border: none
								border-radius: 5px 0 5px 5px
								z-index: -1
								min-width: 345px


								@media (max-width: 991px)
									border-radius: 0 0 5px 5px

								>li
									padding: 18px 30px
									width: 100%
									max-width: 100%


							@media (max-width: 991px)
								>ul
									width: 100%
									border-radius: 0 0 5px 5px


							&.open
								background: #fff


								@media (max-width: 991px)
									position: fixed
									display: block
									height: 100vh
									top: 85px
									width: 100%
									left: 0

									ul
										padding: 20px
										position: initial
										box-shadow: none

								>a,>a:hover
									background-color:  #00bcf7
									color: #fff
									border-color: #fff


								@media (min-width: 992px)
									&:before
										border-right: 5px solid white
										border-bottom: 5px solid white
										content: " "
										position: absolute
										height: 15px
										width: 15px
										border-radius: 0 0 30px 0
										bottom: -5px
										left: -10px




				.ce-navbar
					margin-top: 35px

				.navbar-toggle 
					padding: 10px
					margin: 25px 15px 25px 0

					span
						background-color: #fff

		.banner
			margin: 0 0 0 0
			text-align: center

			h1	
				color: #fff
				//font-family: 'Raleway', sans-serif
				//font-size: $font-title
				text-align: center
				margin: 0
				//text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)

				font-size: 45.5px
				line-height: 1.2
				text-shadow: 0px 5px 5px rgba(0, 1, 1, 0.28) !important
				margin-bottom: 28px
				font-family: "GothamBold" , sans-serif

				@media(max-width: 480px)
					font-size: 28px
					margin-bottom: 16px

			.banner-content
				@media(max-width: 480px)
					font-size: 13px

		.home-buttons
			margin: 2rem auto
		.island    
			margin-left: auto
			margin-right: auto
			position: absolute
			/*top: 130px*/
			top: 25rem
			width: 100%
			z-index: -1
			overflow: hidden

			.island-container
				height: 100vh
				video
					position: fixed
					top: 0


				>img
					max-width: 100%


				.cloud
					position: absolute
					@media screen and (max-width: 767px)
						display: none

				.x1
					@include animation(moveclouds 60s linear infinite)
					top: 100px
					@media (max-width: 991px)
						top: 0
				.x2
					@include animation(moveclouds 45s linear infinite)
					top: 100px
					@media (max-width: 991px)
						top: 0
				.x3
					@include animation(moveclouds 55s linear infinite)
					top: 100px
					@media (max-width: 991px)
						top: 0
				.x4
					@include animation(moveclouds 48s linear infinite)
					top: 100px
					@media (max-width: 991px)
						top: 0
		.cloud-bg
			z-index: 0
			height: auto
			/* margin-top: -400px */
			width: 100%

			@include transition(margin-top 0.5s ease-in-out)

			img,.white-section
				width: 100%

			.white-section
				background: #fff

		.home-btn
			a
				color: #fff
				position: relative
				margin: 10px 
				
				&.play-video
					background-color: #00bcf6

					&:hover
						background-color: #44d2ff
						color: #fff

				&.free-trial
					background-color: #f62

					&:hover
						background-color: #f62
						color: #fff


		&:not(.scrolled)
			header 
				.row
					nav
						padding-top: 10px
						@include transition(all 0.2s ease)

			.back-office-banner-mobile
				top: 83px
				@media(max-width:991px)
					top: 97px
		&.scrolled
			.back-office-banner-mobile
				top: 73px
				@media(max-width:991px)
					top: 87px
			.full-beyond-offshoring

				.white-section
					height: auto
					min-height: 100vh
					padding: 20px 15px 60px 15px

					>div
						margin: 30px auto auto auto



			/* sticky nav start */
			header 
				z-index: 999990
				.row
					.ce-logo-white
						display: none
					.ce-logo-blue
						display: block

					nav
						background-color: #fff
						@include transition(all 0.2s ease)
						@include boxshadow(0px 0px 50px 0px rgba(0,0,0,0.2))
						
						.navbar-header
							button
								background-color: #00bcf7

								span
									background-color: #fff

							a
								&.navbar-brand

									.ce-logo
										&.ce-logo-white
											opacity: 0
										&.ce-logo-blue
											opacity: 1

						ul
							>li
								>a
									@include transition(all 0.2s ease)
									color: #0090bb

									span
										background-image: url(../img/down-arrow-blue.png)

								&.open
									>a
										color: #0090bb

								&.nav-contact-us
									>a
										border-color: #0090bb

									&.open
										background: #fff

										>a,>a:hover
											background-color:  #0090bb
											color: #fff
											border-color: #fff


								ul
									margin: 0
			/* sticky nav end */







		.ce-section
			text-align: center

			p
				font-family: 'Raleway', sans-serif
				color: #0c0c0c
				font-size: $font-normal
				line-height: 2.2
				margin: 20px 0
				padding: 0 100px

			img
				max-width: 100%
				height: auto !important


		.beyond-offshoring
			padding: 0
			@media screen and (max-width: 767px)
				p
					padding-left: 20px
					padding-right: 20px

		.full-beyond-offshoring
			.cloud-top
				position: initial
			.fade-in
				width: 100%

		.beyond-simple-container

			.ce-section
				&.beyond-simple
						
					.how-it-works-row
						padding: 40px 0!important

					.row,
					.how-it-works-row
						padding: 0

						hr
							float: left
							width: 100%
							border: none

							/*@media (max-width: 991px)*/
							@media (max-width: 767px)
								display: none

						> div
							font-family: 'Raleway', sans-serif
							font-size: $font-text
							margin-left: auto
							margin-right: auto
							float: none
							padding: 0

							>span
								background-color: #fff
								color: #00bcf6
								height: 40px
								width: 40px
								padding-top: 8px
								border-radius: 32px
								position: absolute
								margin-left: -22.5px


							/*&.item-1,&.item-3*/

							&:not(:last-child)
								&:after
									content: " "
									width: 125px
									height: 2px
									background: url(../img/dashed.png)
									position: absolute
									top: 22.5px
									left: calc(100% - 62.5px)
							
							/*@media (min-width: 992px)*/
							@media (min-width: 768px)
								&.hide-desktop-dash
									&:after
										background: none!important
										content: ''


							/*@media (max-width: 991px)*
							@media (max-width: 767px)
								/*&.item-2*/
								&:not(:last-child)
									&.item-odd
										&:after
											content: " "
											width: 125px
											height: 2px
											background: url(../img/dashed.png)
											position: absolute
											top: 22.5px
											left: calc(100% - 62.5px)
									&.item-even
										&:after
											content: ''
											background: none

							>p
								font-size: $font-normal
								color: #fff
								position: relative
								text-align: center
								width: 100%
								padding: 35px 20px 0 20px
								line-height: 1.5

								@media screen and (max-width: 767px)
									padding-left: 0
									padding-right: 0

						>.btn-how-it-works
							background-color: #fff
							color: #00bcf6

							&:hover
								background-color: #67dbff
								color: #fff

		.hotair-balloon
			position: absolute
			right: 0
			top: calc(50% - 153px)
		.beyond-benefits-container
			z-index: 0

			>.ce-section


				&.beyond-benefits

					>.row
						>.col-1
							padding: 0 15px 30px 15px

							@media screen and (max-width: 767px)
								padding: 0 15px 50px 15px

							>span

								img
									margin: 0
							>p
								color: #fff
								font-size: $font-normal
								font-family: 'Raleway', sans-serif
								padding: 0
								margin: 10px 5px 0 5px
								font-size: 14px
								line-height: 1.4

						.btn-trial-for-free
							background-color: #fff
							color: #00bcf6
							&:hover
								background-color: #67dbff
								color: #fff


						.clearfix
							display: none

						hr
							width: 100%
							border: #fff
							margin: 0
						@media (min-width: 992px)
							.clearfix
								display: block

		.beyond-value-container
			z-index: 1

			>.ce-section
				&.beyond-value
					padding-bottom: 45px
					>.ce-certified
						img
							margin: 0 0 40px 0
						@media(max-width: 480px)
							display: none
					.row
						display: flex

						@media screen and (max-width: 800px)
							margin-left: 0
							margin-right: 0


						@media (max-width: 767px)
							display: initial

							.ce-cost-comparison
								width: 100%
								padding-top: 10px
								padding-bottom: 10px

								.comparison-container
									width: 100%

								&.comparison-2
									.comparison-container
										&:before
											top: -42.5px
											left: calc(50% - 42.5px)

					.ce-cost-comparison
						color: #fff
						font-family: 'Raleway', sans-serif
						padding: 5px
						width: 50%


						.comparison-container
							border: 5px solid #0090bb
							border-radius: 15px
							padding: 25px
							background-color: #0090bb
							height: 100%

							span
								&.label
									font-size: $font-normal
									text-transform: uppercase

							p
								color: #fff
								line-height: 1.2
								margin: 0
								padding: 0
								margin-top: 15px

								&.ce-developer    
									font-size: $font-larger
									font-family: 'Raleway', sans-serif
								&.ce-cost
									font-size: $font-larger

									.line-through
										text-decoration: line-through

						&.comparison-2

							.comparison-container
								background-color: #fff

								&:before
									color: #00bcf7
									content: "VS"
									border: 10px solid #0090bb
									background-color: #fff
									position: absolute
									border-radius: 50px
									height: 85px
									width: 85px
									padding: 25px 0
									font-size: $font-normal
									left: -42.5px
									top: calc(50% - 42.5px)

								span
									&.label
										color: #0c0c0c
								p
									&.ce-developer
										color: #00bcf7
										color: #0c0c0c
									&.ce-cost
										color: #0c0c0c
										span
											color: #31d3d9
					>p
						font-size: $font-larger
						font-family: 'Raleway', sans-serif
						color: #0090bb

						padding: 0

						>strong
							font-family: 'Raleway', sans-serif




					>.btn-pricing
						background-color: #00bcf7
						color: #fff

						&:hover
							color: #fff
							background-color: #67dbff
		.beyond-expectations-container
			background-color: #fff
			background-size: 100% auto

			@media (min-width: 1492px)
				padding-top: 10px
			@media (min-width: 1532px)
				padding-top: 30px
			@media (min-width: 1592px)
				padding-top: 60px

			.beyond-expectations
				background-color: #0090bb
				width: 1472px
				max-width: 100%
				padding: 0
				padding-top: 40px
				padding-bottom: 70px



				/*background-image: url(../img/bg.jpg)*/
				position: relative
				background-repeat: no-repeat
				background-position: center bottom
				-webkit-background-size: cover
				-moz-background-size: cover
				-ms-background-size: cover
				-o-background-size: cover
				background-size: cover

				@include boxshadow(0px 0px 50px 0px rgba(0,0,0,0.1))

				overflow: hidden

				.container
					.row
						padding: 0

						> .colflex
							> .coldivflex
								padding: 0


				h2
					padding: 55px 0 0
					margin: 0


				p
					color: #fff
					padding-bottom: 50px
					margin: 20px 0 0
					font-size: 18px
					line-height: 1.4
					padding: 0 30px 30px

					@media (min-width: 768px )
						padding: 0 100p

				.btn-orange
					margin: 30px 0 0

				.slider
					padding: 0
					margin-bottom: 85px

					a
						&.btn
							margin: 0
							border: none
							text-transform: capitalize
					.swiper-wrapper
						list-style: none
						padding: 0

					.slick-slide
						padding-bottom: 90px

						&:focus
							border: none
							outline: none

					.slick-arrow
						height: 71px
						width: 71px
						float: left
						position: absolute
						top: 50%
						background-color: transparent
						border: none
						color: rgba(0,0,0,0)
						z-index: 2
						cursor: pointer

						&.slick-prev
							left: 0
							background-image: url(../img/left-arrow.png)

							&:hover
								background-image: url(../img/left-arrow-hover.png)

						&.slick-next
							right: 0
							background-image: url(../img/right-arrow.png)

							&:hover
								background-image: url(../img/right-arrow-hover.png)


						&:focus
							border: none
							outline: none

					.testimonial
						font-family: 'Raleway', sans-serif
						font-size: $font-normal
						line-height: 2
						color: #fff




					.testimonial-by
						text-align: center
						color: #fff

						img
							background-color: transparent
							max-height: 150px
							margin: 0 auto

						p
							&.name
								text-align: center
								color: #fff
								margin: 0
								font-family: 'Raleway', sans-serif
								font-size: $font-larger

						span
							font-family: 'Raleway', sans-serif
							font-size: $font-normal
							width: 100%
							float: left
							padding: 5px 0 30px

		.footer-images-container
			background-color: #fff
			.ce-section    
				padding: 0
				margin: 0 auto
				width: 1472px
				max-width: 100%

				.footer-images
					float: left
					width: 100%
					background-color: #0090bb

					>.col-xs-4
						padding: 0

						@media (max-width: 550px)
							width: 100%

						.swiper-wrapper
							float: left
							width: 100%
							pointer-events: none

							.swiper-item
								pointer-events: none

							img
								margin: 0
								width: 100%

				.ce-unsure
					background-color: #1b3740
					float: left
					width: 100%

					p
						color: #fff
						font-family: 'Raleway', sans-serif
						font-size: $font-larger

						@media screen and (max-width: 767px)
							padding: 0

		footer
			background-color: #fff
			&.footer
				font-size: $font-default
				font-family: 'Raleway', sans-serif
				color: #0c0c0c
				text-align: left

				.ce-footer-title
					font-family: 'Raleway', sans-serif
					color: #0090bb
					text-align: left
					margin: 10px 0


				.footer-container-1
					background-color: #fff
					padding: 40px 0

					@media (max-width: 991px)
						.ce-footer-item
							margin: 20px 0

					.ce-footer-nav

						@media (min-width: 992px)
							width: 24%
						

						ul
							padding: 0
							list-style: none
							text-align: left

							li
								padding: 5px 0

								a
									color: #0c0c0c
									font-family: 'Raleway', sans-serif
									font-size: $font-default

						.social-icons
							text-align: left
							margin: 45px 0

							i
								margin-right: 20px
								font-size: $font-title
								color: #00bcf7

					.ce-footer-contact-us
						@media (min-width: 992px)
							width: 33.33333333%
							margin-right: 9.33333334%


					.ce-footer-call-us
						text-align: left
						@media (min-width: 992px)
							width: 33.33333333%
						
						.ce-footer-title
							margin: 0
						p
							margin: 0
							padding: 0

						
						.start-live-chat
							background-color: #0090bb
							border-radius: 5px
							text-align: center
							padding: 20px 40px 40px 40px
							margin-top: 20px

							p
								color: #fff    
								font-size: $font-normal
								padding: 10px 0
								font-family: 'Raleway', sans-serif

							.btn-live-chat
								background-color: #fff
								color: #0c0c0c
								width: 100%
								margin: 0

						.ce-member-of
							img
								margin: 38px 30px 38px 0

				.footer-container-dh
					background-color: #f8f8f8
					padding: 40px 0
					width: 1472px
					max-width: 100%
					margin: 0 auto
					> div
						>div
							@media (max-width: 991px)
								margin: 20px 0
							p
								white-space: nowrap
								margin: 0
								padding: 0
								text-overflow: ellipsis
								overflow: hidden
								line-height: 2.2
								a
									font-family: "Raleway", sans-serif
									color: #0c0c0c
									font-size: 15px
		
				.footer-container-2
					background-color: #f8f8f8
					padding: 40px 0

					width: 1472px
					max-width: 100%
					margin: 0 auto
					.ce-offices
						>div
							p
								white-space: nowrap
								margin: 0
								padding: 0
								text-overflow: ellipsis
								overflow: hidden
					.clearfix
						&.visible-tablet
							display: none

							@media (max-width: 991px) and (min-width: 768px)
								display: block

					.ce-footer-title 
						text-align: left
						padding: 0 15px
						margin: 0
						font-family: 'Raleway', sans-serif
						font-size: $font-default

					.ce-footer-title-black
						color: #0c0c0c 
						font-family: 'Raleway', sans-serif

					.ce-office
						text-align: left
						font-size: $font-default
						color: #0c0c0c
						font-family: 'Raleway', sans-serif
						line-height: 2

						a
							color: #0c0c0c

					@media (max-width: 991px)
						.ce-office
							margin: 20px 0
				
				.footer-container-3
					background-color: #fff
					text-align: left
					margin: 0 auto

					.float-left
						float: left
					.float-right
						float: right

					.ce-section
						padding-bottom: 50px
						padding-top: 50px
					img
						margin: 0

					a
						font-size: $font-default
						font-family: 'Raleway', sans-serif
						color: #0c0c0c

						&:first-child
							margin-right: 35px



@import 'jva.about'
@import 'jva.faqs'
@import 'jva.pricing'
@import 'jva.pricing.comparison'
@import 'jva.contactus'
@import 'jva.news'
@import 'jva.careers' 
@import 'jva.howitworks'
@import 'jva.press'
@import 'jva.404'
@import 'jva.testimonials'
@import 'jva.unsubscribed'
@import 'jva.tech-exp'


.page-head-banner-text
	font-size: 18px !important

.intro
	h1
		margin-bottom: 23px

.pricing-note
	font-size: 15.8px !important

.back-office-banner
	position: fixed
	right: 0
	z-index: 999999
	@media(max-width:1199px)
		display: none

.banner-padding
	background-color: #fc7d44

.back-office-banner-mobile
	z-index: 3
	position: absolute
	left: 0
	display: none
	padding: 10px 0 10px
	width: 100%
	text-align: center
	height: auto
	color: #fff
	background-color: #fc7d44
	text-decoration: none

	span
		display: block

	&:hover,
	&:focus,
	&:active
		text-decoration: none
		color: #fff

	@media(max-width: 1199px)
		display: block
	

.homepage-buttons,
header .container
	//pointer-events: none

.container button,
.container a,
.container .slick-arrow,
.ce-item,
.accordion-head,
.t-item,
.home-buttons-container,
.dropdown-menu,
.form-control
	pointer-events: all

.page-head
	position: inherit !important

.cloud-top
	z-index: 1 !important

.beyond-container
	background-color: #0090bb
	.row
		padding: 0!important
		.full-beyond-simple,
		.full-beyond-benefits
			.ce-section
				>.ce-white
					margin: 70px 0 50px
		.full-beyond-simple
			padding: 0
			.ce-white
				margin-bottom: 40px
		.full-beyond-benefits
			text-align: center
			.btn-more
				display: inline-block
			.v-section
				position: relative
				&:before
					content: ''
					display: block
					top: 0
					left: -15px
					height: 100%
					position: absolute
					border-left: 1px solid #fff
				@media (max-width: 767px)
					border: none
					.col-1
						padding: 15px!important
		.text-center
			&:nth-child(1)
				padding: 50px 0 30px
			&:nth-child(2)
				padding: 0
			.btn-how-it-works,
			.free-trial
				min-width: 180px
			.btn-how-it-works
				color: #00bcf7
				background-color: #fff
.is-table-row
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	@media(max-width: 992px)
		display: block
.is-table-row [class*="col-"]
	display: flex
	flex-direction: column
	@media(max-width: 992px)
		display: block

.dev-promotional

	.banner-title
		font-size: 32px !important
		@media(max-width: 480px)
			font-size: 30px !important
	.banner-content
		font-size: 17.5px !important
		margin-bottom: 25px
		margin-top: 25px
		@media(max-width: 480px)
			font-size: 15px !important
			margin-bottom: 10px
			margin-top: 10px
	.learn-more-button
		@media(min-width: 992px)
			display: none
	.dev-promotional-form-desktop
		padding-top: 30px
		@media(max-width: 992px)
			display: none
	.dev-promotional-form-tabmob
		@media(min-width: 992px)
			display: none
	.dev-promotional-form
		width: 85%
		margin: 0 auto
		@media(max-width: 992px)
			width: 100%
		span
			color: #404040
			background-color: transparent
			display: block
			padding: 6px 2px
			font-size: 14px
			font-weight: bold
			border: 1px solid #f62
			border-radius: 3px
		.dev-promotional-body
			background-color: #eeeeee
			padding: 30px 5px 15px 5px
			border-radius: 5px
			.form-group
				//height: 100%
				position: relative
				text-align: right
				input[type="text"]
					border-style: none
					height: 40px
				textarea
					border-style: none
					height: 90px
				p
					color: #000000

				label
					position: absolute
					left: 0
					top: 0
					display: block
					text-align: left
					color: #404040 !important
					font-size: 12px
					margin-right: 140px

			.btn-blue
				background-color: #00bcf7
				width: 100%
				border: none
				font-size: 17px !important

				&:hover
					background-color: #44d2ff !important



.dev-promotional-body
	.hire-dev-form-desktop-textcntnt
		margin-bottom: 30px

		@media (min-width: 768px )
			margin-top: 70px
			margin-bottom: 0

		@media (min-width: 992px )
			display: flex
			align-items: center
			position: absolute
			top: -50px
			bottom: 0
			right: 10px
			left: 10px
			margin-top: 0

		.coldivflex
			margin-left: auto
			margin-right: auto

		h2
			margin-top: 0
			margin-bottom: 10px
			color: #1e1e1e !important
			border-bottom: 1px solid #f62
			padding-bottom: 10px

		hr
			border-color: #00bcf6

		p
			color: #1e1e1e !important