@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6lqt9t');
  src:  url('../fonts/icomoon.eot?6lqt9t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6lqt9t') format('truetype'),
    url('../fonts/icomoon.woff?6lqt9t') format('woff'),
    url('../fonts/icomoon.svg?6lqt9t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-ce-"], [class*=" icon-ce-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ce-hire:before {
  content: "\e900";
  color: #2dc3f2;
}
.icon-ce-interview:before {
  content: "\e901";
  color: #2dc3f2;
}
.icon-ce-tellus:before {
  content: "\e902";
  color: #2dc3f2;
}
.icon-ce-work:before {
  content: "\e903";
  color: #2dc3f2;
}

.icon-70
{
	font-size: 70px;	
}