@font-face {
  font-family: GothamBlack;
  src: url(../Gotham/OpenType/Gotham-Black.otf); }

/* line 5, ../sass/_jva.fonts.sass */
.gotham-black {
  font-family: GothamBlack; }

@font-face {
  font-family: GothamBlackItalic;
  src: url(../Gotham/OpenType/Gotham-BlackItalic.otf); }

/* line 12, ../sass/_jva.fonts.sass */
.gotham-black-italic {
  font-family: GothamBlackItalic; }

@font-face {
  font-family: GothamBold;
  src: url(../Gotham/OpenType/Gotham-Bold.otf); }

/* line 19, ../sass/_jva.fonts.sass */
.gotham-bold {
  font-family: GothamBold; }

@font-face {
  font-family: GothamBoldItalic;
  src: url(../Gotham/OpenType/Gotham-BoldItalic.otf); }

/* line 26, ../sass/_jva.fonts.sass */
.gotham-bold-italic {
  font-family: GothamBoldItalic; }

@font-face {
  font-family: GothamBook;
  src: url(../Gotham/OpenType/Gotham-Book.otf); }

/* line 33, ../sass/_jva.fonts.sass */
.gotham-book {
  font-family: GothamBook; }

@font-face {
  font-family: GothamBookItalic;
  src: url(../Gotham/OpenType/Gotham-BookItalic.otf); }

/* line 40, ../sass/_jva.fonts.sass */
.gotham-book-italic {
  font-family: GothamBookItalic; }

@font-face {
  font-family: GothamLight;
  src: url(../Gotham/OpenType/Gotham-Light.otf); }

/* line 47, ../sass/_jva.fonts.sass */
.gotham-light {
  font-family: GothamLight; }

@font-face {
  font-family: GothamLightItalic;
  src: url(../Gotham/OpenType/Gotham-LightItalic.otf); }

/* line 54, ../sass/_jva.fonts.sass */
.gotham-light-italic {
  font-family: GothamLightItalic; }

@font-face {
  font-family: GothamMedium;
  src: url(../Gotham/OpenType/Gotham-Medium.otf); }

/* line 61, ../sass/_jva.fonts.sass */
.gotham-medium {
  font-family: GothamMedium; }

@font-face {
  font-family: GothamMediumItalic;
  src: url(../Gotham/OpenType/Gotham-MediumItalic.otf); }

/* line 68, ../sass/_jva.fonts.sass */
.gotham-medium-italic {
  font-family: GothamMediumItalic; }

@font-face {
  font-family: GothamThin;
  src: url(../Gotham/OpenType/Gotham-Thin.otf); }

/* line 75, ../sass/_jva.fonts.sass */
.gotham-thin {
  font-family: GothamThin; }

@font-face {
  font-family: GothamThinItalic;
  src: url(../Gotham/OpenType/Gotham-ThinItalic.otf); }

/* line 82, ../sass/_jva.fonts.sass */
.gotham-thin-italic {
  font-family: GothamThinItalic; }

@font-face {
  font-family: GothamUltra;
  src: url(../Gotham/OpenType/Gotham-Ultra.otf); }

/* line 89, ../sass/_jva.fonts.sass */
.gotham-ultra {
  font-family: GothamUltra; }

@font-face {
  font-family: GothamUltraItalic;
  src: url(../Gotham/OpenType/Gotham-UltraItalic.otf); }

/* line 96, ../sass/_jva.fonts.sass */
.gotham-ultra-italic {
  font-family: GothamUltraItalic; }

@font-face {
  font-family: GothamXLight;
  src: url(../Gotham/OpenType/Gotham-XLight.otf); }

/* line 103, ../sass/_jva.fonts.sass */
.gotham-x-light {
  font-family: GothamXLight; }

@font-face {
  font-family: GothamXLightItalic;
  src: url(../Gotham/OpenType/Gotham-XLightItalic.otf); }

/* line 110, ../sass/_jva.fonts.sass */
.gotham-x-light-italic {
  font-family: GothamXLightItalic; }

/* line 4, ../sass/jva.404.sass */
html body.page-404 {
  background-color: #00bcf7; }
  /* line 8, ../sass/jva.404.sass */
  html body.page-404 .cloud-top img, html body.page-404 .cloud-bottom img {
    width: 100%; }
  /* line 11, ../sass/jva.404.sass */
  html body.page-404 .cloud-top {
    margin-bottom: -2px; }
  /* line 14, ../sass/jva.404.sass */
  html body.page-404 .white-section {
    background-color: white;
    text-align: center; }
  /* line 18, ../sass/jva.404.sass */
  html body.page-404 .ce-blue {
    color: #00bcf7; }
  /* line 21, ../sass/jva.404.sass */
  html body.page-404 h1 {
    font-size: 20rem; }
  /* line 24, ../sass/jva.404.sass */
  html body.page-404 .home-link {
    width: 100%;
    padding: 25px;
    margin: 40px 0 60px; }
    /* line 29, ../sass/jva.404.sass */
    html body.page-404 .home-link a {
      border: 3px solid #00bcf7;
      color: #00bcf7;
      padding: 20px 40px;
      border-radius: 30px; }
      /* line 35, ../sass/jva.404.sass */
      html body.page-404 .home-link a:hover {
        text-decoration: none;
        background-color: #00bcf7;
        color: white; }
