﻿@font-face {
    font-family: Raleway;
    src: url(../../fonts/Raleway-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../../fonts/Raleway-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../../fonts/Raleway-ExtraBold.ttf) format("truetype");
}


@media (min-width: 992px) {
    .main-container {
        width: 80% !important;
    }
}

@media (max-width: 380px) {
    .banner h1 {
        font-size: 29px !important;
    }
}
@media (min-width: 1200px) {
    .width-970 {
        width: 970px !important;
    }
}

@media (max-width: 543px) and (min-width:381px) {
    .banner h1 {
        font-size: 35px !important;
    }
}

@media (max-width: 543px) {
    .video {
        width: auto !important;
    }

    main section.header-section {
        min-height: 625px !important; 
    }

    .banner-desc {
        width: 100% !important;
    }

        .banner-desc p {
            font-size: 18px !important;
        }

    .banner-ctrl a {
        font-size: 18px;
    }

    .work-desc {
        width: 135px !important;
    }

    .h2, h2 {
        font-size: 22px !important;
    }
}

@media (max-width: 992px) {
    .pricing {
        width: 100% !important;
    }

    .price-left {
        text-align: center !important;
        margin-bottom: 0 !important;
    }

    .price {
        text-align: center !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .price-right {
        text-align: center !important;
        margin-bottom: 0 !important;
    }
}

.logo {
    text-align: center;
}

body {
    background-color: white;
    font-family: "Raleway";
}

.centered-container {
    margin: 0 auto;
}


h1, h2, h3, h4 {
    font-family: Raleway-ExtraBold;
    text-align: center;
    margin-bottom: 50px;
}

.blue {
    color: #01b4ea !important;
}

.green {
    color: #22cd86;
}

.pic {
    width: 150px;
    border-radius: 76px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.position {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.description {
    display: inline-block;
    width: 100%;
    text-align: center;
    min-height: 45px;
}

.colitem {
    margin-bottom: 20px;
}

.inclu-icon {
    width: 110px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.inclusive {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.number {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #00b4ea;
    border-radius: 32px;
    height: 57px;
    width: 57px;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: -77px;
    font-family: Raleway-SemiBold;
}

.work-item {
    padding-top: 83px;
    margin-bottom: 40px;
}

.work-desc {
    width: 200px;
    margin: 0 auto;
}

.video {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	/*padding-top:30px;*/
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.banner-img {
    height:95px;
}

.pricing {
    width: 650px;
    margin: 0 auto;
}

.widget-pricing {
    margin: 0 auto;
    margin-bottom: 40px;
}

    .widget-pricing .price-left {
        font-size: 26px;
    }

    .widget-pricing .price {
        font-size: 62px;
        margin-top: -2px;
    }

    .widget-pricing .price-right {
        font-size: 19px;
    }

.price-left {
    text-align: right;
    text-transform: uppercase;
}

.price {
    font-size: 88px;
    margin-top: -15px;
}

.price-right {
    text-align: left;
}

.signup {
    text-transform: uppercase;
    margin-bottom: 30px;
    /*letter-spacing: 3px;*/
}

.form-container {
    background-color: #e1e1e1;
    font-family: Raleway-ExtraBold;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    color: #616161;
    border-radius: 8px;
}

    .form-container input[type=text], .form-container input[type=email] {
        border: none;
        border-radius: 0;
        color: #616161;
        background-color: #f7f7f7;
        box-shadow: none;
        height:44px;
    }

.disclaimer {
    width: 65%;
    margin: 0 auto;
    margin-top: 46px;
    color: #6b6b6b;
    font-style: italic;
    text-align: center;
}

.btn-success {
    background-color: #22cd86;
    border-color: #22cd86;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

    .btn-success:hover, .btn-success:active {
        background-color: #44df9f;
        border-color: #44df9f;
    }

.button-group {
    text-align: right;
}

.signup-personel {
    text-align: center;
}

    .signup-personel h2 {
        margin-bottom: 0;
    }

    .signup-personel span {
        font-size: 20px;
    }

    .signup-personel .phone {
        width: 28px;
        position: absolute;
        margin-left: -112px;
        margin-top: 14px;
    }

.ce-logo {
    width: 195px;
}

main section.header-section {
    width: 100%;
    height: 100vh;
    min-height: 625px;
    color: white;
    background: linear-gradient(#00b4ea 35%, #fff 100%);
}

main .header-container {
    display: flex;
    height: 100%;
}

main .header-body {
    margin: auto auto;
    z-index: 1;
}

.banner {
    padding: 0px 55px 0px 55px;
    text-align: center;
}

    .banner h1 {
        text-transform: uppercase;
        font-family: Raleway-ExtraBold;
        font-size: 45px;
        text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;
        margin-top: 75px;
    }



.banner-desc {
    margin: 0 auto;
    width: 440px;
}

    .banner-desc p {
        font-size: 19px;
    }

    p.big {
     font-size:32px;   
    }

.banner-ctrl a {
    font-size: 17px;
    color: #fff;
}

.banner-ctrl i {
   width: 100%;
}

.cloud-top {
    background: url(../img/ce-cloud.png) repeat-x;
    background-position: center -150px;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

section.content-section {
    background-color: white;
    margin-bottom: 30px;
}

input:-moz-placeholder {
    color: #616161;
}
input::-moz-placeholder {
    color: #616161;
}

_::-webkit-full-page-media, _:future, :root .cloud-top-safari {
  z-index:-111 !important;
}

/**NAV*/

@media (max-width: 991px) {
    html body.scrolled .container nav ul {
        background-color: #fff;
    }
}

@media (max-width: 991px) {
    html body .container nav ul {
        background-color: #00bcf7;
        border-radius: 3px;
    }

        html body .container nav ul .nav-contact-us ul {
            background-color: #fff;
        }

    html body .container nav .navbar-header {
        float: none;
        margin: 0 15px;
    }

    html body .container nav .navbar-toggle {
        display: block;
        margin: 25px 0 !important;
    }

    html body .container nav .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        overflow: visible;
    }

        html body .container nav .navbar-collapse.collapse {
            display: none !important;
        }

            html body .container nav .navbar-collapse.collapse.in {
                display: block !important;
            }

    html body .container nav .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        html body .container nav .navbar-nav > li {
            float: none;
        }

            html body .container nav .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    html body .container nav .navbar-text {
        float: none;
        margin: 15px 0;
    }

    html body .container nav .collapsing {
        overflow: hidden !important;
    }
}

html body header .header nav .navbar-header button {
    background-color: #fff;
}

    html body header .header nav .navbar-header button span {
        background-color: #00bcf7;
    }

html body header .header nav .navbar-brand {
    -moz-transition: background-position 0.2s ease-in-out;
    -o-transition: background-position 0.2s ease-in-out;
    -webkit-transition: background-position 0.2s ease-in-out;
    transition: background-position 0.2s ease-in-out;
    color: transparent;
    text-indent: -1000px;
    margin: 10px 0;
    padding: 0;
}

@media (min-width: 768px) {
    html body header .header nav .navbar-brand {
        margin: 10px 0;
    }
}

html body header .header nav .navbar-brand .ce-logo {
    -moz-transition: opacity 1 ease-in-out;
    -o-transition: opacity 1 ease-in-out;
    -webkit-transition: opacity 1 ease-in-out;
    transition: opacity 1 ease-in-out;
    max-width: 170px;
}

    html body header .header nav .navbar-brand .ce-logo.ce-logo-white {
        opacity: 1;
    }

    html body header .header nav .navbar-brand .ce-logo.ce-logo-blue {
        opacity: 0;
    }

html body header .header .ce-logo {
    -moz-transition: display 1s ease;
    -o-transition: display 1s ease;
    -webkit-transition: display 1s ease;
    transition: display 1s ease;
}

    html body header .header .ce-logo.ce-logo-blue {
        display: none;
    }

html body header .header .nav {
    padding-top: 22px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding-bottom: 15px;
}

@media screen and (max-width: 991px) {
    html body header .header .nav {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

html body header .header .nav > li > a {
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 991px) {
    html body header .header .nav > li > a {
        padding-bottom: 8px;
        padding-top: 8px;
    }
}

html body header .header .nav > li > a:hover, html body header .header .nav > li > a:focus, html body header .header .nav > li > a:active, html body header .header .nav > li > a.open {
    background-color: transparent;
}

html body header .header .nav > li > a span {
    margin-left: 10px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: 20px;
    width: 15px;
    background: url(../img/down-arrow.png) center center no-repeat;
    float: right;
}

html body header .header .nav > li.open {
    background-color: transparent;
}

    html body header .header .nav > li.open > a {
        color: #fff;
    }

        html body header .header .nav > li.open > a:hover, html body header .header .nav > li.open > a:focus, html body header .header .nav > li.open > a:active, html body header .header .nav > li.open > a.open {
            background-color: transparent;
        }

        html body header .header .nav > li.open > a span {
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }

html body header .header .nav > li:not(.nav-contact-us) > a {
    background-color: transparent !important;
}

html body header .header .nav > li.nav-contact-us {
    border-radius: 15px 15px 0 0;
}

    html body header .header .nav > li.nav-contact-us > a {
        border: 2px solid #fff;
        border-radius: 30px;
        padding: 8px 20px;
        margin-top: -5px;
    }

@media (max-width: 991px) {
    html body header .header .nav > li.nav-contact-us > a {
        border-radius: 15px;
        padding: 8px 20px;
        margin-top: 0;
    }
}

html body header .header .nav > li.nav-contact-us > a:hover {
    background-color: #fff;
    color: #00bcf7;
}

html body header .header .nav > li.nav-contact-us > ul {
    border: none;
    border-radius: 5px 0 5px 5px;
    z-index: -1;
    min-width: 345px;
}

@media (max-width: 991px) {
    html body header .header .nav > li.nav-contact-us > ul {
        border-radius: 0 0 5px 5px;
    }
}

html body header .header .nav > li.nav-contact-us > ul > li {
    padding: 18px 30px;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 991px) {
    html body header .header .nav > li.nav-contact-us > ul {
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
}

html body header .header .nav > li.nav-contact-us.open {
    background: #fff;
}

@media (max-width: 991px) {
    html body header .header .nav > li.nav-contact-us.open {
        position: fixed;
        display: block;
        height: 100vh;
        top: 85px;
        width: 100%;
        left: 0;
    }

        html body header .header .nav > li.nav-contact-us.open ul {
            padding: 20px;
            position: initial;
            box-shadow: none;
        }
}

html body header .header .nav > li.nav-contact-us.open > a, html body header .header .nav > li.nav-contact-us.open > a:hover {
    background-color: #00bcf7;
    color: #fff;
    border-color: #fff;
}

@media (min-width: 992px) {
    html body header .header .nav > li.nav-contact-us.open:before {
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        content: " ";
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 0 0 30px 0;
        bottom: -5px;
        left: -10px;
    }
}

html body header .header .ce-navbar {
    margin-top: 35px;
}

html body header .header .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

    html body header .header .navbar-toggle span {
        background-color: #fff;
    }

html body .custom-960 {
    position: relative;
    z-index: 2;
    width: 960px;
    width: 900px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

html body .contact-form .form-title {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #00bcf7;
    margin-bottom: 18px;
}

html body .contact-form button[type=submit] {
    background-color: #00bcf7;
    width: 100%;
    border: none;
    margin: 0;
    margin-top: 5px;
}

    html body .contact-form button[type=submit]:hover {
        background-color: #44d2ff;
    }

html body .contact-form::-webkit-input-placeholder {
    color: #0c0c0c;
}

html body .contact-form::-moz-placeholder {
    color: #0c0c0c;
}

html body .contact-form:-moz-placeholder {
    color: #0c0c0c;
}

html body .contact-form:-ms-input-placeholder {
    color: #0c0c0c;
}

html body .contact-form:placeholder {
    color: #0c0c0c;
}

html body .contact-form > .form-group {
    margin-bottom: 7px;
}

html body .contact-form input, html body .contact-form textarea {
    border: none;
    box-shadow: none;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding: 15px;
    height: 40px;
}

    html body .contact-form input[name=message], html body .contact-form textarea[name=message] {
        height: 80px;
        resize: none;
    }


@media (max-width: 991px) {
    html body.scrolled .container nav ul {
        background-color: #fff;
    }
}

html body:not(.scrolled) header .row nav {
    padding-top: 10px;
}

html body.scrolled {
    /* sticky nav start */
    /* sticky nav end */
}

    html body.scrolled .full-beyond-offshoring .white-section {
        height: auto;
        min-height: 100vh;
        padding: 20px 15px 60px 15px;
    }

        html body.scrolled .full-beyond-offshoring .white-section > div {
            margin: 30px auto auto auto;
        }

    html body.scrolled header {
        z-index: 999999;
    }

        html body.scrolled header .row .ce-logo-white {
            display: none;
        }

        html body.scrolled header .row .ce-logo-blue {
            display: block;
        }

        html body.scrolled header .row nav {
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
            -o-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
        }

            html body.scrolled header .row nav .navbar-header button {
                background-color: #00bcf7;
            }

                html body.scrolled header .row nav .navbar-header button span {
                    background-color: #fff;
                }

            html body.scrolled header .row nav .navbar-header a.navbar-brand .ce-logo.ce-logo-white {
                opacity: 0;
            }

            html body.scrolled header .row nav .navbar-header a.navbar-brand .ce-logo.ce-logo-blue {
                opacity: 1;
            }

            html body.scrolled header .row nav ul > li > a {
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                color: #00bcf7;
            }

                html body.scrolled header .row nav ul > li > a span {
                    background-image: url(../img/down-arrow-blue.png);
                }

            html body.scrolled header .row nav ul > li.open > a {
                color: #00bcf7;
            }

            html body.scrolled header .row nav ul > li.nav-contact-us > a {
                border-color: #00bcf7;
            }

            html body.scrolled header .row nav ul > li.nav-contact-us.open {
                background: #fff;
            }

                html body.scrolled header .row nav ul > li.nav-contact-us.open > a, html body.scrolled header .row nav ul > li.nav-contact-us.open > a:hover {
                    background-color: #00bcf7;
                    color: #fff;
                    border-color: #fff;
                }

            html body.scrolled header .row nav ul > li ul {
                margin: 0;
            }

             html body .footer-images-container {
      background-color: #fff; }
      html body .footer-images-container .ce-section {
        padding: 0;
        margin: 0 auto;
        width: 1472px;
        max-width: 100%; }
        html body .footer-images-container .ce-section .footer-images {
          float: left;
          width: 100%;
          background-color: #48CFF9; }
          html body .footer-images-container .ce-section .footer-images > .col-xs-4 {
            padding: 0; }
            @media (max-width: 550px) {
              html body .footer-images-container .ce-section .footer-images > .col-xs-4 {
                width: 100%; } }
            html body .footer-images-container .ce-section .footer-images > .col-xs-4 .swiper-wrapper {
              float: left;
              width: 100%;
              pointer-events: none; }
              html body .footer-images-container .ce-section .footer-images > .col-xs-4 .swiper-wrapper .swiper-item {
                pointer-events: none; }
              html body .footer-images-container .ce-section .footer-images > .col-xs-4 .swiper-wrapper img {
                margin: 0;
                width: 100%; }
        html body .footer-images-container .ce-section .ce-unsure {
          background-color: #1b3740;
          float: left;
          width: 100%; }
          html body .footer-images-container .ce-section .ce-unsure p {
            color: #fff;
            font-family: "Raleway", sans-serif;
            font-size: 16px; }
            @media screen and (max-width: 767px) {
              html body .footer-images-container .ce-section .ce-unsure p {
                padding: 0; } }
    html body footer {
      background-color: #fff; }
      html body footer.footer {
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        color: #0c0c0c;
        text-align: left; }
        html body footer.footer .ce-footer-title {
          font-family: "Raleway", sans-serif;
          color: #20c4f7;
          text-align: left;
          margin: 10px 0; }
        html body footer.footer .footer-container-1 {
          background-color: #fff;
          padding: 40px 0; }
          @media (max-width: 991px) {
            html body footer.footer .footer-container-1 .ce-footer-item {
              margin: 20px 0; } }
          @media (min-width: 992px) {
            html body footer.footer .footer-container-1 .ce-footer-nav {
              width: 24%; } }
          html body footer.footer .footer-container-1 .ce-footer-nav ul {
            padding: 0;
            list-style: none;
            text-align: left; }
            html body footer.footer .footer-container-1 .ce-footer-nav ul li {
              padding: 5px 0; }
              html body footer.footer .footer-container-1 .ce-footer-nav ul li a {
                color: #0c0c0c;
                font-family: "Raleway", sans-serif;
                font-size: 15px; }
          html body footer.footer .footer-container-1 .ce-footer-nav .social-icons {
            text-align: left;
            margin: 45px 0; }
            html body footer.footer .footer-container-1 .ce-footer-nav .social-icons i {
              margin-right: 20px;
              font-size: 32px;
              color: #00bcf7; }
          @media (min-width: 992px) {
            html body footer.footer .footer-container-1 .ce-footer-contact-us {
              width: 33.33333%;
              margin-right: 9.33333%; } }
          html body footer.footer .footer-container-1 .ce-footer-call-us {
            text-align: left; }
            @media (min-width: 992px) {
              html body footer.footer .footer-container-1 .ce-footer-call-us {
                width: 33.33333%; } }
            html body footer.footer .footer-container-1 .ce-footer-call-us .ce-footer-title {
              margin: 0; }
            html body footer.footer .footer-container-1 .ce-footer-call-us p {
              margin: 0;
              padding: 0; }
            html body footer.footer .footer-container-1 .ce-footer-call-us .start-live-chat {
              background-color: #00bcf7;
              border-radius: 5px;
              text-align: center;
              padding: 20px 40px 40px 40px;
              margin-top: 20px; }
              html body footer.footer .footer-container-1 .ce-footer-call-us .start-live-chat p {
                color: #fff;
                font-size: 15px;
                padding: 10px 0;
                font-family: "Raleway", sans-serif; }
              html body footer.footer .footer-container-1 .ce-footer-call-us .start-live-chat .btn-live-chat {
                background-color: #fff;
                color: #0c0c0c;
                width: 100%;
                margin: 0; }
            html body footer.footer .footer-container-1 .ce-footer-call-us .ce-member-of img {
              margin: 38px 30px 38px 0; }
        html body footer.footer .footer-container-2 {
          background-color: #f8f8f8;
          padding: 40px 0;
          width: 1472px;
          max-width: 100%;
          margin: 0 auto; }
          html body footer.footer .footer-container-2 .clearfix.visible-tablet {
            display: none; }
            @media (max-width: 991px) and (min-width: 768px) {
              html body footer.footer .footer-container-2 .clearfix.visible-tablet {
                display: block; } }
          html body footer.footer .footer-container-2 .ce-footer-title {
            text-align: left;
            padding: 0 15px;
            margin: 0;
            font-family: "Raleway", sans-serif;
            font-size: 15px; }
          html body footer.footer .footer-container-2 .ce-footer-title-black {
            color: #0c0c0c;
            font-family: "Raleway", sans-serif; }
          html body footer.footer .footer-container-2 .ce-office {
            text-align: left;
            font-size: 15px;
            color: #0c0c0c;
            font-family: "Raleway", sans-serif;
            line-height: 2; }
            html body footer.footer .footer-container-2 .ce-office a {
              color: #0c0c0c; }
          @media (max-width: 991px) {
            html body footer.footer .footer-container-2 .ce-office {
              margin: 20px 0; } }
        html body footer.footer .footer-container-3 {
          background-color: #fff;
          text-align: left;
          margin: 0 auto; }
          html body footer.footer .footer-container-3 .float-left {
            float: left; }
          html body footer.footer .footer-container-3 .float-right {
            float: right; }
          html body footer.footer .footer-container-3 .ce-section {
            padding-bottom: 50px;
            padding-top: 50px; }
          html body footer.footer .footer-container-3 img {
            margin: 0; }
          html body footer.footer .footer-container-3 a {
            font-size: 15px;
            font-family: "Raleway", sans-serif;
            color: #0c0c0c; }
            html body footer.footer .footer-container-3 a:first-child {
              margin-right: 35px; }

html body a.btn, html body button.btn {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding: 15px 20px;
    position: relative;
    margin: 10px 23px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
}

html body .dropdown-menu > li > a {
    font-family: "Raleway", sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[name=message], .form-group textarea[name=message] {
    height: 80px;
    resize: none;
}

.form-group textarea {
    border: none;
    box-shadow: none;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: Raleway-ExtraBold;
    font-size: 15px;
    padding: 15px;
    height: 40px;
}
