$imp: !important;
html {
	body {
		font-family: 'Open Sans', sans-serif;
		&.our-expertise {
			.ce-resources-main-v2 {
				margin: 0 10em 0;
				@media (max-width: 991px) {
					margin: 0;
				}
			}
			.ce-our-expertise-container {
				background-color: #fff $imp;
				padding: 2em 2em 3em;
				.ce-our-expertise-wrapper {
					h3 {
						text-align: center;
						margin-top: -.5em;
						margin-bottom: 20px;
						&.ce-our-expertise-title {
							margin-bottom: 5px;
						}
					}
					p {
						text-align: left;
						font-family: 'OpenSanLight', sans-serif;
						margin-bottom: 20px;
						font-size: 16px;
						color: #000;
						&.ce-our-expertise-subtitle {
							text-align: center;
							margin-bottom: 20px;
						}
						&.ce-our-expertise-span {
							text-align: center;
							margin-bottom: 50px;
							font-style: italic;
						}
					}
					.ce-our-expertise-tech-box {
						border: 1px solid #ddd;
						border-radius: 5px;
						padding: 2em;
						margin-top: 2em;
						@media(max-width: 650px) {
							padding: 2em .5em;
							> div {
								padding: 0 .5em;
							}
						}
						/* REMOTE DEVELOPER */
						.ce-remote-dev-tech-box-wrapper {
							text-align: left;
							@media(max-width: 480px) {
								margin: 0 5px;
							}
							.ce-remote-dev-tech-box-wrapper-letter {
								margin: 10px 0;
							}
							ul {
								-webkit-column-count: 4;
			                  	-moz-column-count: 4;
			                  	column-count: 4;
			                  	-webkit-column-gap: 5em;
			                  	-moz-column-gap: 5em;
			                  	column-gap: 5em;
			                  	list-style: none;
			                  	padding-left: 1em;
			                  	margin-top: 20px;
			                  	@media(max-width: 1024px) {
			                  	  -webkit-column-gap: 4em;
			                  	  -moz-column-gap: 4em;
			                  	  column-gap: 4em;
			                  	}
				                @media(max-width: 650px) {
				                  -webkit-column-count: 2;
				                  -moz-column-count: 2;
				                  column-count: 2;
				                  padding-left: 0;
				                  -webkit-column-gap: 2em;
			                  	  -moz-column-gap: 2em;
			                  	  column-gap: 2em;
			                  	  margin-top: 10px;
				                }
				                @media(max-width: 480px) {
				                  -webkit-column-count: 2;
				                  -moz-column-count: 2;
				                  column-count: 2;
				                  padding-left: 0;
				                  -webkit-column-gap: 2em;
			                  	  -moz-column-gap: 2em;
			                  	  column-gap: 2em;
			                  	  margin-top: 10px;
				                }
			                  	li {
			                      border: 0px;
			                      font-size: 15px;
			                      -webkit-column-break-inside: avoid;
			                      -moz-column-break-inside: avoid;
			                      column-break-inside: avoid;
			                      list-style: none;
			                      margin: 0;
			                      padding-bottom: 10px;
			                      @media(max-width: 991px) {
			                      	padding: 10px 0 0;
			                      }
			                      strong {
				                  	font-size: 18px;
				                  	color: #179bc1;
				                  	font-family: "OpenSanSemiBold", sans-serif;
				                  	padding-bottom: 25px;
					              }
			                      a {
			                      	color: #424141;
			                      	
			                        @media(max-width: 480px) {
			                        	font-size: 14px;
			                        }
			                        &:hover {
			                          color: #179bc1;
			                          text-decoration: none;
			                          font-weight: bold;
			                        }
			                      }
			                    }  
							}
						}
						/* END */
						/* DEDICATED DEVELOPER */
						.ce-dedicated-dev-tech-box-wrapper {
							text-align: left;
							@media(max-width: 480px) {
								margin: 0 5px;
							}
							hr {
								border: .5px solid #efeeee $imp;
							}
							.ce-dedicated-dev-tech-box-wrapper-letter {
								margin: 10px 0;
								strong {
				                  	font-size: 18px;
				                  	color: #179bc1;
				                  	font-family: "OpenSanSemiBold", sans-serif;
				                  	padding-bottom: 25px;
					            }
							}
							ul {
								-webkit-column-count: 4;
			                  	-moz-column-count: 4;
			                  	column-count: 4;
			                  	-webkit-column-gap: 5em;
			                  	-moz-column-gap: 5em;
			                  	column-gap: 5em;
			                  	list-style: none;
			                  	padding-left: 1em;
			                  	margin-top: 20px;
			                  	@media(max-width: 1024px) {
			                  	  -webkit-column-gap: 4em;
			                  	  -moz-column-gap: 4em;
			                  	  column-gap: 4em;
			                  	}
				                @media(max-width: 650px) {
				                  -webkit-column-count: 2;
				                  -moz-column-count: 2;
				                  column-count: 2;
				                  padding-left: 0;
				                  -webkit-column-gap: 2em;
			                  	  -moz-column-gap: 2em;
			                  	  column-gap: 2em;
			                  	  margin-top: 10px;
				                }
				                @media(max-width: 480px) {
				                  -webkit-column-count: 2;
				                  -moz-column-count: 2;
				                  column-count: 2;
				                  padding-left: 0;
				                  -webkit-column-gap: 2em;
			                  	  -moz-column-gap: 2em;
			                  	  column-gap: 2em;
			                  	  margin-top: 10px;
				                }
			                  	li {
			                      border: 0px;
			                      font-size: 15px;
			                      -webkit-column-break-inside: avoid;
			                      -moz-column-break-inside: avoid;
			                      column-break-inside: avoid;
			                      list-style: none;
			                      margin: 0;
			                      padding-bottom: 10px;
			                      @media(max-width: 991px) {
			                      	padding: 10px 0 0;
			                      }
			                      a {
			                      	color: #424141;
			                      	
			                        @media(max-width: 480px) {
			                        	font-size: 14px;
			                        }
			                        &:hover {
			                          color: #179bc1;
			                          text-decoration: none;
			                          font-weight: bold;
			                        }
			                      }
			                    }  
							}

						}
						/* END */
						/* OUR EXPERTISE B */
						.ce-our-expertise-tech-box-wrapper {
							text-align: left;
							ul {
								-webkit-column-count: 3;
			                  	-moz-column-count: 3;
			                  	column-count: 3;
			                  	-webkit-column-gap: 9em;
			                  	-moz-column-gap: 9em;
			                  	column-gap: 9em;
			                  	list-style: none;
			                  	padding-left: 1em;
			                  	margin-top: 20px;
			                  	@media(max-width: 1024px) {
			                  	  -webkit-column-gap: 6em;
			                  	  -moz-column-gap: 6em;
			                  	  column-gap: 6em;
			                  	}
				                @media(max-width: 650px) {
				                  -webkit-column-count: 2;
				                  -moz-column-count: 2;
				                  column-count: 2;
				                  padding-left: 0;
				                  -webkit-column-gap: 2em;
			                  	  -moz-column-gap: 2em;
			                  	  column-gap: 2em;
			                  	  margin-top: 10px;
				                }
				                
				                li {
			                      border: 0px;
			                      font-size: 15px;
			                      padding-bottom: 15px;
			                      -webkit-column-break-inside: avoid;
			                      -moz-column-break-inside: avoid;
			                      column-break-inside: avoid;
			                      list-style: none;
			                      margin: 0;
			                      @media(max-width: 991px) {
			                      	padding: 10px 0;
			                      }
			                      a {
			                      	color: #424141;
			                        @media(max-width: 480px) {
			                        	font-size: 14px;
			                        }
			                        &:hover {
			                          color: #179bc1;
			                          text-decoration: none;
			                          font-weight: bold;
			                        }
			                      }
			                    }
							}
						}
						/* END */
						/* UK OUTSOURCING B */
						.ce-uk-outsourcing-tech-box-wrapper {
							text-align: left;
							ul {
								-webkit-column-count: 4;
			                  	-moz-column-count: 4;
			                  	column-count: 4;
			                  	-webkit-column-gap: 5em;
			                  	-moz-column-gap: 5em;
			                  	column-gap: 5em;
			                  	list-style: none;
			                  	padding-left: 1em;
			                  	margin-top: 20px;
			                  	@media(max-width: 1024px) {
			                  	  -webkit-column-gap: 6em;
			                  	  -moz-column-gap: 6em;
			                  	  column-gap: 6em;
			                  	}
			                  	@media(max-width: 991px) {
				                  -webkit-column-count: 3;
				                  -moz-column-count: 3;
				                  column-count: 3;
				                  padding-left: 0;
				                  -webkit-column-gap: 5em;
			                  	  -moz-column-gap: 5em;
			                  	  column-gap: 5em;
			                  	  margin-top: 10px;
				                }
				                @media(max-width: 650px) {
				                  -webkit-column-count: 2;
				                  -moz-column-count: 2;
				                  column-count: 2;
				                  padding-left: 0;
				                  -webkit-column-gap: 2em;
			                  	  -moz-column-gap: 2em;
			                  	  column-gap: 2em;
			                  	  margin-top: 10px;
				                }
				                
				                li {
			                      border: 0px;
			                      font-size: 15px;
			                      padding-bottom: 15px;
			                      -webkit-column-break-inside: avoid;
			                      -moz-column-break-inside: avoid;
			                      column-break-inside: avoid;
			                      list-style: none;
			                      margin: 0;
			                      @media(max-width: 991px) {
			                      	padding: 10px 0;
			                      }
			                      a {
			                      	color: #424141;
			                        @media(max-width: 480px) {
			                        	font-size: 14px;
			                        }
			                        &:hover {
			                          color: #179bc1;
			                          text-decoration: none;
			                          font-weight: bold;
			                        }
			                      }
			                    }
							}
						}
						/* END */
						h2 {
							text-transform: uppercase;
							color: #179bc1;
							font-family: 'OpenSanSemiBold', sans-serif;
							font-size: 25px;
							margin: 1em 0 1.5em;
							letter-spacing: 2px;
							@media(max-width: 360px) {
								font-size: 20px;
							}
						}
						.ce-our-expertise-line-sky-blue {
							border: 3px solid #179bc1 $imp;
						    width: 70px;
						    margin: auto $imp;
						    position: relative;
						    top: -1em;
						    margin-bottom: 30px $imp;
						}
						.ce-our-expertise-tech-box-list {
							margin: auto;
							text-align: left;
							.ce-our-expertise-tech-box-list-batch{
								> div {
									@media(max-width: 991px) {
										padding: 0;
									}
									h2 {
										margin-bottom: 2.5em;
    									height: 20px;
										@media(max-width: 991px) {
											margin: 1.5em 0;
											height: auto;
										}
									}
								}
								.ce-our-expertise-h2 {
									font-size: 14px;
									&.margin-t {
										margin-top: 40px;
										@media(max-width: 991px) {
											margin-top: 1.5em;
										}
									}
								}

								p {
									margin-bottom: 10px;
									color: #000;
									font-size: 15px;
									&:hover {
										color: #179bc1;
										text-decoration: none;
										font-weight: bold;
									}
								}

								a {
									color: #4d4d4d;
									&:hover {
										color: #179bc1;
										text-decoration: none;
									}
								}
							}
							
						}
						.ce-our-expertise-tech-box-img {
							margin: auto;
							.height-108m {
								@media(max-width: 480px) {
									height: 108px;
								}
							}
							@media(max-width: 480px) {
								padding: 0;
							}
							img {
								max-width: 70%;
								&:hover {
									transform: scale(1.1);
					                transition-timing-function: ease-out;
					                transition-duration: .5s;

								}
							}
							p {
								text-align: center;
								font-size: 13px;
								margin-bottom: 30px;
								color: #8c8c8c;
							}
						}
					}
				}
			}

		}
	}
}