@import "jva.fonts";

html {
  body {
    &.page-404 {
      background-color: #179bc1;

      .full-width {
        &.ce-404-container {
          padding: 2em;
          font-family: "Open Sans", sans-serif;

          @media(max-width: 991px) {
            padding: 0;
          }
          .container {
            .ce-404-wrapper {
              max-height: 90vh;
            }
          }
        }
      }

      .cloud-top, .cloud-bottom {
        img {
          width: 100%;
        }
      }

      .cloud-top {
        margin-bottom: -2px;
      } 

      .white-section {
        background-color: #fff;
        text-align: center;
      }

      .ce-blue {
        color: #00bcf7;
      }

      h1 {
        font-size: 130px;
        font-family: "GothamBold", sans-serif;
        @media(max-width: 991px) {
          font-size: 90px;
        }
      }

      h3 {
        font-size: 25px;
        font-family: "OpenSanLight", sans-serif;
        @media(max-width: 991px) {
          font-size: 20px;
        }
      }

      .ce-404-p-bold {
        font-size: 15px;
        font-family: "OpenSanSemiBold", sans-serif;
        margin-top: 30px;
      }

      .ce-404-home-link {
        .ce-404-p {
          font-size: 15px;
          font-family: "OpenSanLight", sans-serif;
          margin-top: 30px;
        }
      }
      .ce-404-bottom-menu {
        list-style-type: none;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        @media(max-width: 480px) {
          margin: 0 10%;
        }
        li {
          white-space: pre;
          float: left;
          &:before {
            content: '|';
            padding: 0 1rem;
          }
          &:first-child {
            &:before {
              content: '';
              display: none;
            }
          }
          > a {
            display: inline-block;
            color: #fff;
            padding: 5px;
            font-size: 12px;
            font-family: "OpenSanSemiBold", sans-serif;
          }
        }
      }
      .home-link {
        width: 100%;
        padding: 25px;
        margin: 40px 0 60px;

        a {
          border: 3px solid #fff;
          color: #fff;
          padding: 20px 40px;
          border-radius: 30px;

          &:hover {
            text-decoration: none;
            background-color: #00bcf7;
            color: #fff;
          }
        }
      }
    }
  }
}
