html {
	body {
		&.thank-you-page {
			overflow: hidden;
			.full-width {
				&.ce-thank-you-width-v2 {
					.resources-title-v2 {
						top: 45px !important;
						.ce-resources-v2 {
		    				.ce-resources-main-v2 {
		    					.ce-resources-title-v2 {
		    						h1 {
		    							font-size: 80px;
		    							@media(max-width: 991px) {
		    								font-size: 50px;
		    							}
		    							@media(max-width: 480px) {
		    								font-size: 45px;
		    							}
		    						}
		    					}
		    					.ce-resources-strong-v2 {
		    						font-size: 20px !important;
		    					}
		    				}
		    			}
					}
					@media(max-width: 991px) {
			    		min-height: 45vh;
			    		.resources-title-v2 {
			    			&.resources-pricing-title-v2 {
			    				@media(max-width: 480px) {
				    				top: 45px;
				    			}
			    			}
			    			@media(max-width: 480px) {
			    				top: 70px;
			    			}
			    			.ce-resources-v2 {
				    			height: 15em;
				    		}
			    		}
			    	}
				}
				&.ce-thank-you {
					max-height: 27.3em;
					height: 100%;
					@media(max-width: 991px) {
						max-height: 100%;
					}
				}
			}
		}
		&.cloudpage, &.tWRPTechnology, &.subscribe-form, &.pricing-comparison {
			.full-width {
				&.ce-dedicated-width-v2 {
					@media(max-width: 480px) {
				      	height: 45em !important;
				    }
				}
				&.ce-resources-width-v2, &.ce-dedicated-width-v2 {
					padding: 5em 0;
		    		background: linear-gradient(to bottom right, #02aac6, #96d4e2) !important;
		    		background-size: cover !important;
				    position: relative;
				    height: 100% !important;
				    align-items: center;
				    display: flex;
				    justify-content: center;
				    .resources-title-v2 {
				    	position: relative;
				    	top: 65px;
				        padding: 0;
				        .ce-resources-uk-outsourcing-v2 {
				          	margin: 5vw 0 0;
				          	@media(min-width: 400px) and (max-width: 991px) and (min-height:800px) {
				            	margin: 3vw 0 0;
				          	}
				          	@media(min-width: 400px) and (max-width: 991px) and (max-height:799px) {
				            	margin: 5vw 0 0;
				          	}
				          	.ce-resources-main-v2 {
						        margin: 0 10em 0;
						        @media (max-width: 991px) {
						            margin: 0;
						        }
						        .ce-tech-page-p {
						            &:first-child {
						              margin: 0 auto;
						            }
						        }
					         	h1 {
						          	color: #fff;
								    text-align: center;
								    margin: 10px 0 20px;
								    font-size: 38px;
								    line-height: 1.2;
								    font-family: "GothamBold", sans-serif;
								    @media(max-width: 991px) {
								    	margin: 0;
								    }
						          	@media(max-height: 700px) {
						              	font-size: 5vh;
						            }
						            @media(max-width: 480px) {
						              	font-size: 6vw;
						          	}
						        }
						        p {
						          	font-size: 16px;
						          	@media(max-width: 480px) {
						            	font-size: 3.8vw;
						            }
						            @media(min-width:992px) and (max-height: 700px) {
						            	font-size: 16px;
						            }
						            
						            &:first-child {
						              margin-top: 3vh;
						              margin-bottom: 2em;
						            }
						            
						        }
						        img {
						            width: 75px;
						            margin-bottom: 10px;
						        }
					        }
				        }
				        .ce-resources-pop-image {		
				        	margin: 0 auto;		
				        	.ce-resources-pop-image-wrapper {		
					          	margin: auto 10px;		
								border-left: 2px solid #6fbdd7;		
								@media(max-width: 991px) {		
									border-top: 2px solid #6fbdd7;		
									border-left: 0;		
									margin: auto 2em;		
								}		
								@media(max-width: 399px) {		
									margin: auto 1em;		
								}		
					          	.ce-resources-pop-image-img {		
					          		width: 200px;		
									height: 200px;		
					          		border-radius: 100%;		
									background-color: #daf7ff;		
									margin: 0 auto;		
				    				position: relative;		
				    				overflow: hidden;		
					          		@media(max-width: 991px) {		
					          			width: 90px;		
										height: 90px;		
										border-radius: 100%;		
										background-color: #daf7ff;		
										top: 25px;		
					    				float: left;		
					    				margin-right: 20px;		
					          		}		
					          		@media(max-width: 767px) {		
					          			width: 90px;		
					          			height: 90px;		
					          			top: 20px;		
					          		}		
					          		@media(max-width: 437px) {		
					          			top: 25px;		
					          		}		
					          		@media(max-width: 340px) {		
					          			float: none;		
					          			margin: 0 auto;		
					          		}		
					          		img {		
							          	width: 22em;		
							          	left: -3.6em;		
							          	top: 5px;		
							          	position: relative;		
							          	@media(min-width: 992px) and (max-width: 1055px) {		
							          		width: 22em;		
							          		left: -3.5em;		
							          	}		
							          	@media(max-width: 991px) {			          				
							          		width: 130px;		
							          		top: 0;		
							          		left: -17px;  		
							          	}		
							          	@media(max-width: 767px) {		
							          		width: 130px;		
							          		left: -18px;						      		
							          	}		
							        }		
					          	}		
					          	.ce-resources-pop-image-desc {		
						          	color: #fff;		
						          	text-align: left;		
						          	margin: 0 20px;		
						          	@media(max-width: 991px) {		
						          		margin: 0;		
						          	}		
						          	h2 {		
						          		font-family: "GothamBold", sans-serif;		
						          		font-size: 45px;		
						          		margin: 40px 0 10px;		
						          		display: none;		
						          		@media(max-width: 991px) {		
						          			font-size: 35px;		
						          			margin: 50px 0 10px;		
						          			display: block;		
						          		}		
						          		@media(max-width: 767px) {		
						          			font-size: 30px;		
						          			display: -webkit-box;		
						          			margin: 45px 0;		
						          		}		
						          		@media(max-width: 399px) {		
						          			font-size: 26px;		
						          			margin: 55px 0 0;		
						          			text-align: center;		
    										display: block;		
						          		}		
						          	}		
						          	.desc-show-desktop {		
						          		display: block;		
						          		@media(max-width: 991px) {		
						          			display: none;		
						          		}		
						          	}		
						          	.desc-show-mobile {		
						          		display: none;		
						          		@media(max-width: 991px) {		
						          			display: block;		
						          		}		
						          	}		
						          	p {		
						          		font-size: 18px;		
						          		font-family: "OpenSanLight", sans-serif;		
						          		margin: 1em;		
						          		@media(max-width: 991px) {		
						          			font-size: 15px;		
						          			margin: 55px 0 20px;		
						          		}		
						          		@media(max-width: 340px) {		
						          			margin: 20px 0;		
						          		}		
						          	}		
						          	.ce-resources-pop-image-desc-dir {		
						          		display:block;		
						          		margin: 2em 1em;		
						          		list-style-type: none;		
						          		padding-left: 0;		
						          		li {		
						          			font-size: 20px;		
						          			@media(max-width: 991px) {		
							          			font-size: 16px;		
							          		}		
							          		i {		
							          			font-size: 25px;		
							          			margin-right: 10px;		
							          			vertical-align: middle;		
							          			&#hide {		
							          				visibility: hidden;		
							          			}		
							          		}		
						          		}		
						          		@media(max-width: 991px) {		
						          			margin: 2em 0 3em;		
						          		}		
						          		@media(max-width: 767px) {		
						          			margin: 2em 0;		
						          		}		
						          		@media(max-width: 480px) {		
						          			max-width: 100%;		
						          		}		
						          				
						          	}		
						          	.ce-resources-pop-image-desc-btn {		
						          		margin: 2em auto;		
						          		display: block;		
						          		text-align: center;		
						          		@media(min-width: 992px) and (max-width: 1055px) {		
							          		top: 10em;		
							          	}		
							          	@media(max-width: 991px) {		
							          		top: 5.5em;		
							          	}		
							          	@media(max-width: 767px) {		
							          		position: relative;		
							          		top: 0;		
							          		right: 0;		
							          		a {		
							          			max-width: 100%;		
							          		}		
							          	}		
						          	}		
						        }		
					          		
				        	}		
				        }
				        .ce-resources-v2 {
				        	margin: 0;
				        	height: 25em;
				        	@media(max-width: 767px) {
				        		height: 100%;
				        	}
				        	&.ce-resources-location-b-v2 {		
				        		margin: 4em 0 0;		
				        		@media(max-width: 991px) {		
				        			height: 100%;		
				        			margin: 0;		
				        		}		
				        	}		
				        	.ce-resources-strong-v2-b {		
				        		text-align: left;		
				        		color: #fff;		
				        		font-family: "OpenSanLight", sans-serif;		
				        		margin: 1em 0;		
				        		p {		
				        			margin-bottom: 2em;		
				        		}		
				        	}		
				        	.ce-resources-title-v2-b {		
				        		display: inline-flex;		
				        		position: relative;		
				        		@media(max-width: 991px) {		
				        			display: block;		
				        		}		
				        		img {		
				        			max-width: 95px;		
								    margin-bottom: 10px;		
								    width: 100%;		
								    height: 100%;		
								    margin-right: 15px;		
				        		}		
				        		h1 {		
				        			color: #fff;		
								    text-align: left;		
								    font-size: 32px;		
								    line-height: 1.2;		
								    margin-bottom: 20px;		
								    margin-top: 0;		
								    font-family: "GothamBold", sans-serif;		
								    @media(max-width: 991px) {		
								    	text-align: center;		
								    }		
								    @media(max-width: 480px) {		
								    	font-size: 28px;		
								    }		
				        		}		
				        	}
				          	.ce-resources-main-v2, .ce-dedicated-main-v2 {
						        margin: 0 8em 0;
						        @media (max-width: 991px) {
						            margin: 0;
						        }
						        .ce-pricing-title-v2 {
						        	display: inline-flex;
						        	display: -webkit-box;
						        	margin-top: 4em;
						        	@media(max-width: 991px) {
						        		display: block;
						        		margin-top: 0;
						        	}
						        	img {
						        		width: 100%;
						        		max-width: 8em;
						        		height: 100%;
						        		position: relative;
						        		left: -5.5em;
						        		@media(max-width: 991px) {
						        			left: 0;
						        		}
						        		@media(max-width: 480px) {
						        			max-width: 4em;
						        		}
						        	}
						        	.ce-resources-pricing-h1 {
						        		position: relative;
						        		left: -.5em;
						        		@media(max-width: 991px) {
						        			left: 0;
						        		}
						        	}
						        }
						        .ce-tech-page-p {
						            &:first-child {
						              margin: 0 auto;
						            }
						        }
						        h1 {
						          	color: #fff;
								    text-align: center;
								    margin: 10px 0 20px;
								    font-size: 45px;
								    line-height: 1.2;
								    font-family: "GothamBold", sans-serif;
								    @media(max-width: 991px) {
								    	margin: 0;
								    }
						            @media(max-width: 480px) {
						              	font-size: 30px;
						          	}
						          	&.ce-resources-pricing-h1 {
							        	font-size: 80px;
							        	@media(max-width: 767px) {
							        		font-size: 50px;
							        	}
							        	@media(max-width: 480px) {
							        		font-size: 40px;
							        	}
							        }
						        }
						        p {
						          	font-size: 16px;
						          	font-family: "OpenSanLight", sans-serif;
						          	@media(max-width: 480px) {
						            	font-size: 15px;
						            }
						            @media(min-width:992px) and (max-height: 700px) {
						            	font-size: 16px;
						            }
						            
						            &:first-child {
						              margin-top: 3vh;
						              margin-bottom: 2em;
						            }
						            
						        }
						        img {
						            width: 75px;
						            margin-bottom: 10px;
						        }
						        .ce-resources-strong-v2 {
						        	margin: 20px 0 10px;
						          	font-size: 16px;
						          	@media(max-width: 767px) {
						            	font-size: 14px;
						          	}
						        }
						        .ce-dedicated-strong-v2 {
							        margin: 20px 0 10px;
							        font-size: 15px;
							        color: #fff;
							        @media(max-width: 767px) {
							            font-size: 13px;
							        }
							        p {
							            &:last-child {
							              margin-bottom: 0;
							            }
							        }
						        }
						        
					        }
					        .text-center-dedicated {
					          	font-family: "OpenSanLight", sans-serif;
					          	margin-top: 0;
					          	p {
						            color: #fff;
						            position: relative;
						            top: 3em;
						            font-style: italic;
						            font-size: 13px;
						            opacity: .9;
						            @media(max-width: 480px) {
						              top: 10px;
						            }
					          	}
					          	.home-buttons {
					            	margin: 2.5rem auto;
						            @media(min-width: 341px) and (max-width: 480px) {
						              margin: 1rem 1em;
						              padding: 0;
						            }

						            @media(max-width: 340px) {
						              margin: 0 1em 1rem;
						              padding: 0;
						            }
						            a {
						              max-width: 550px !important;
						              min-width: 250px;
						              width: 100% !important;
						              text-transform: uppercase;
						              padding: 15px 5em;
						              white-space: normal;
						              display: inline;
						              @media(max-width: 537px) {
						                padding: 15px;
						              }
						              @media(max-width: 480px) {
						              	padding: 15px 1rem;
						              	font-size: 13px;
						              }
						              i {
						                position: relative;
						                left: 3em;
						                @media(max-width: 499px) {
						                  display: none;
						                }
						              }
						              @media(max-width: 480px) {
						                display: block;
						                
						              }
						              @media(max-width: 340px) {
						                max-width: auto !important;
						                min-width: auto;
						              }
					            	}
					          	}
					        }
					        .text-center {
						        font-family: "OpenSanLight", sans-serif;
						        margin-top: 0;
						        p {
						            color: #fff;
						            position: relative;
						            top: 3em;
						            font-style: italic;
						            font-size: 13px;
						            opacity: .9;
						            @media(max-width: 480px) {
						              top: 10px;
						            }
						        }
						        .home-buttons {
						            margin: 2.5rem auto;
						            @media(min-width: 341px) and (max-width: 480px) {
						              margin: 1rem 1.5em;
						              padding: 0;
						            }

						            @media(max-width: 340px) {
						              margin: 0 1.5em 1rem;
						              padding: 0;
						            }

						            a {
						              max-width: 550px !important;
						              min-width: 250px;
						              width: 100% !important;
						              text-transform: uppercase;
						              padding: 15px 5em;
						              white-space: normal;
						              display: inline;
						              @media(max-width: 537px) {
						                font-size: 2.2vw;
						              }
						              @media(max-width: 480px) {
						              	padding: 15px;
						              	font-size: 13px;
						              }
						              i {
						                position: relative;
						                left: 3em;
						                @media(max-width: 499px) {
						                  display: none;
						                }
						              }
						              @media(max-width: 480px) {
						                display: block;
						                font-size: 13px;
						              }
						              @media(max-width: 340px) {
						                max-width: auto !important;
						                min-width: auto;
						              }
						            }
						        }
					        }
				        }
				    }
				}
			}
		}
	}
}