.modal {
	&#subscriptionmodal {
		@media(max-width: 991px) {
			padding-top: 3em;
			padding-right: 0 !important;
		}
		.modal-dialog {
			margin: 0 auto !important;
			.modal-content {
				z-index: 9999;
				min-height: 5em;
				border-radius: 10px;
				overflow: hidden;
				form {
					.modal-header {
						border-radius: 0;
						background: #179bc1 !important;
						.form-title {
							color: #fff;
							font-family: "GothamBook", sans-serif;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	&.subscribe-modal {
		@media(max-width: 991px) {
			padding-top: 3em;
			padding-right: 0 !important;
		}
		.modal-dialog {
			margin: 0 auto !important;
			height: 46em;
			@media(max-width: 991px) {
			height: auto;
			}
			.modal-content {
				border-radius: 10px;
				z-index: 9999;
				min-height: 30em;
    			max-height: 36.5em;
				overflow: hidden;
				@media(max-width: 991px) {
					max-height: 100%;
				}
				form {
					.row {
						padding: 0;
						> div {
							padding: 0;
							.modal-header {
								border-radius: 10px 0 0 10px !important;
							    padding: 3em;
							    min-height: 37rem !important;
    							max-height: 54.9rem;
							    height: 100%;
							    width: 50%;
							    top: -.1em;
							    border-bottom: 0;
							    background-image: url(..//img/resources/Popup-Paperplane.png) !important;
							    background-position: center center !important;
							    background-size: cover !important;
							    text-align: left;
							    position: fixed;

								@media(max-width: 991px) {
									position: relative;
									min-height: 20em !important;
									max-height: 100% !important;
									height: 100%;
									width: 100%;
									border-radius: 0 !important;
									line-height: 0;
									background-position: top center !important;
								}
								@media(max-width: 480px) {
									min-height: 15em !important;
								}
								.btn-close-mobile {
									top: 15px;
								    right: -30px;
								    position: relative;
								    background-color: #fff;
								    opacity: 1;
								    width: 25px;
								    height: 25px;
								    color: #179bc1;
								    border-radius: 100%;
								    display: none;
								    font-size: 21px;
								    &:hover {
								    	opacity: .8;
								    }
								    @media(max-width: 991px) {
								    	display: block;
								    	top: -30px;
								    }
								}
								.subscribemodal-text{
									margin: 50.5% 0;
									h1, h2 {
										font-size: 70px;
										color: #fff;
										font-family: "GothamMedium", sans-serif;
										letter-spacing: 0;
										position: relative;
										margin: 0 auto;
										@media(max-width: 991px) {
											position: absolute;
											top: 1.5em;
											color: #fff;
										}
										@media(max-width: 480px) {
											font-size: 45px;
										}
										@media(max-width: 340px) {
											font-size: 40px;
										}
									}
									span {
										text-transform: uppercase;
										font-family: "GothamBook", sans-serif;
										font-size: 25px;
										letter-spacing: 0;
										position: relative;
	 									vertical-align: middle;
	 									line-height: normal;

										@media(max-width: 991px) {
											position: absolute;
											top: 7em;
											color: #fff;
										}
										@media(max-width: 480px) {
											top: 6em;
											font-size: 20px;
										}
										@media(max-width: 340px) {
											font-size: 18px;
										}
									}
								}
								
								img {
									width: 100%;
									bottom: 0;
									right: 0;
									@media(max-width: 991px) {
										max-width: 12em;
									}
									@media(max-width: 480px) {
										max-width: 30vw;
									}
								}
							}
							.modal-body {
								color: #000;
								padding: 3em !important;
								border-radius: 0;
								@media(max-width: 991px) {
									border-radius: 0 0 10px 10px;
									min-height: 30em;
									padding: 30px !important;
								}
								.form-notif {
									top: 10px;
								    border: 2px solid #f62;
								    position: relative;
								    margin: 0;
								    width: 40%;
								    float: left;
								    padding: 10px;
								    display: block;
								}
								.btn-close {
									top: -25px;
								    right: -20px;
								    position: relative;
								    background-color: #179bc1;
								    opacity: 1;
								    width: 25px;
								    height: 25px;
								    color: #fff;
								    border-radius: 100%;
								    display: block;
								    &:hover {
								    	opacity: .8;
								    }
								    @media(max-width: 991px) {
								    	display: none;
								    }
								}
								
								p {
									margin-top: 20px;
									font-family: "OpenSanLight", sans-serif;
									position: relative;
									top: -5px;
								}
								.row {
									margin-top: 15px;
									.form-group {
										margin-top: 15px;
										&.contact-form-control {
											&.padding-10-r {
												padding-right: 10px;
												@media(max-width: 991px) {
													padding-right: 0;
												}
											}
											margin-top: 0;
											select {
												height: 40px;
											}
										}
									}
								}
								
								label {
									font-family: "OpenSanLight", sans-serif;
								}
								input[type="text"], input[type="email"] {
									border: 1px solid #dcd9d9;
									background-color: #fff;
								}
								.ce-private-policy {
									font-size: 12px;
									top: 0;
									color: #959595;
									margin-top: 5px;
									@media(max-width: 480px) {
										font-size: 11px;
									}
								}
								.checkbox-wrapper {
									margin: 35px 0 25px;
									input[type="checkbox"] {
										height: 100%;
										margin-top: 0;
										margin-left: -25px;
										-ms-transform: scale(1); 
										-moz-transform: scale(1); 
										-webkit-transform: scale(1); 
										-o-transform: scale(1);
										transform: scale(1);
										padding: 10px;
									}
								}
								.subscribemodal-notif {
									border: 3px solid #f62;
									position: relative;
									text-align: center;
									padding: 5px;
									display: block;
									@media(max-width: 991px) {
										position: relative;
									}
								}
								button {
									float: right;
									max-width: 200px;
									box-shadow: none !important;
									@media(max-width: 991px) {
										float: none;
										max-width: 100%;
									}
									span {
										position: relative;
										top: 0;
										font-family: "OpenSanSemiBold", sans-serif;
										text-transform: none;
										font-size: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&#subscribemodal, &#ebookmodal {
		@media(max-width: 991px) {
			padding-top: 3em;
			padding-right: 0 !important;
		}
		.modal-dialog {
			margin: 0 auto !important;
			height: 46em;
			@media(max-width: 991px) {
			height: auto;
			}
			.modal-content {
				border-radius: 10px;
				z-index: 9999;
				min-height: 28em;
				overflow: hidden;
				form {
					.row {
						padding: 0;
						> div {
							padding: 0;
							.modal-ebook-header {
								border-radius: 10px 0 0 10px !important;
							    padding: 3em;
							    min-height: 69rem;
							    height: 100%;
							    width: 50%;
							    top: -.1em;
							    border-bottom: 0;
							    background-image: url(..//img/resources/Ebook-How-To-Stay-Away-From-Hiring-Disasters.png);
							    background-position: center center !important;
							    background-size: cover !important;
							    text-align: left;
							    position: fixed;

								@media(max-width: 991px) {
									position: relative;
									min-height: 20em;
									height: 100%;
									width: 100%;
									border-radius: 0 !important;
									line-height: 0;
									background-image: url("..//img/resources/Ebook-How-To-Stay-Away-From-Hiring-Disasters-mobile.png");
								}
								@media(max-width: 480px) {
									min-height: 15em;
								}
								.btn-close-mobile {
									top: 15px;
								    right: -30px;
								    position: relative;
								    background-color: #fff;
								    opacity: 1;
								    width: 25px;
								    height: 25px;
								    color: #179bc1;
								    border-radius: 100%;
								    display: none;
								    font-size: 21px;
								    &:hover {
								    	opacity: .8;
								    }
								    @media(max-width: 991px) {
								    	display: block;
								    	top: -30px;
								    }
								}
							}
							.modal-header {
								border-radius: 10px 0 0 10px !important;
							    padding: 3em;
							    min-height: 69rem;
							    height: 100%;
							    width: 50%;
							    top: -.1em;
							    border-bottom: 0;
							    background-image: url(..//img/resources/EbookNewPopUp-04.png);
							    background-position: center center !important;
							    background-size: cover !important;
							    text-align: left;
							    position: fixed;

								@media(max-width: 991px) {
									position: relative;
									min-height: 20em;
									height: 100%;
									width: 100%;
									border-radius: 0 !important;
									line-height: 0;
									background-image: url("..//img/resources/EbookPopUp-05.png");
								}
								@media(max-width: 480px) {
									min-height: 15em;
								}
								.btn-close-mobile {
									top: 15px;
								    right: -30px;
								    position: relative;
								    background-color: #fff;
								    opacity: 1;
								    width: 25px;
								    height: 25px;
								    color: #179bc1;
								    border-radius: 100%;
								    display: none;
								    font-size: 21px;
								    &:hover {
								    	opacity: .8;
								    }
								    @media(max-width: 991px) {
								    	display: block;
								    	top: -30px;
								    }
								}
								.subscribemodal-text{
									margin: 50.5% 0;
									h1, h2 {
										font-size: 70px;
										color: #fff;
										font-family: "GothamMedium", sans-serif;
										letter-spacing: 0;
										position: relative;
										margin: 0 auto;
										@media(max-width: 991px) {
											position: absolute;
											top: 1.5em;
											color: #fff;
										}
										@media(max-width: 480px) {
											font-size: 45px;
										}
										@media(max-width: 340px) {
											font-size: 40px;
										}
									}
									span {
										text-transform: uppercase;
										font-family: "GothamBook", sans-serif;
										font-size: 25px;
										letter-spacing: 0;
										position: relative;
	 									vertical-align: middle;
	 									line-height: normal;

										@media(max-width: 991px) {
											position: absolute;
											top: 7em;
											color: #fff;
										}
										@media(max-width: 480px) {
											top: 6em;
											font-size: 20px;
										}
										@media(max-width: 340px) {
											font-size: 18px;
										}
									}
								}
								
								img {
									width: 100%;
									bottom: 0;
									right: 0;
									@media(max-width: 991px) {
										max-width: 12em;
									}
									@media(max-width: 480px) {
										max-width: 30vw;
									}
								}
							}
							.modal-body {
								color: #000;
								padding: 3em !important;
								border-radius: 0;
								@media(max-width: 991px) {
									border-radius: 0 0 10px 10px;
									min-height: 30em;
									padding: 30px !important;
								}
								.form-notif {
									top: 10px;
								    border: 2px solid #f62;
								    position: relative;
								    margin: 0;
								    width: 40%;
								    float: left;
								    padding: 10px;
								    display: block;
								}
								.btn-close {
									top: -25px;
								    right: -20px;
								    position: relative;
								    background-color: #179bc1;
								    opacity: 1;
								    width: 25px;
								    height: 25px;
								    color: #fff;
								    border-radius: 100%;
								    display: block;
								    &:hover {
								    	opacity: .8;
								    }
								    @media(max-width: 991px) {
								    	display: none;
								    }
								}
								
								p {
									margin-top: 20px;
									font-family: "OpenSanLight", sans-serif;
									position: relative;
									top: -5px;
								}
								.row {
									margin-top: 15px;
									.form-group {
										margin-top: 15px;
										&.contact-form-control {
											&.padding-10-r {
												padding-right: 10px;
												@media(max-width: 991px) {
													padding-right: 0;
												}
											}
											margin-top: 0;
											select {
												height: 40px;
											}
										}
									}
								}
								
								label {
									font-family: "OpenSanLight", sans-serif;
								}
								input[type="text"], input[type="email"] {
									border: 1px solid #dcd9d9;
									background-color: #fff;
								}
								.ce-private-policy {
									font-size: 12px;
									top: 0;
									color: #959595;
									margin-top: 5px;
									@media(max-width: 480px) {
										font-size: 11px;
									}
								}
								.checkbox-wrapper {
									margin: 35px 0 25px;
									input[type="checkbox"] {
										height: 100%;
										margin-top: 0;
										margin-left: -25px;
										-ms-transform: scale(1); 
										-moz-transform: scale(1); 
										-webkit-transform: scale(1); 
										-o-transform: scale(1);
										transform: scale(1);
										padding: 10px;
									}
								}
								.subscribemodal-notif {
									border: 3px solid #f62;
									position: relative;
									text-align: center;
									padding: 5px;
									display: block;
									@media(max-width: 991px) {
										position: relative;
									}
								}
								button {
									float: right;
									max-width: 200px;
									box-shadow: none !important;
									@media(max-width: 991px) {
										float: none;
										max-width: 100%;
									}
									span {
										position: relative;
										top: 0;
										font-family: "OpenSanSemiBold", sans-serif;
										text-transform: none;
										font-size: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
html {
	body {
		&.subscribe-form {
			.full-width {

				&.ce-resources-width-v2 {
					min-height: 30vh;
					height: 33.5em !important;
					@media(max-width: 991px) {
						min-height: 34em;
						height: 30.5em !important;
					}
					@media(min-height: 1300px) {
						min-height: 45vh;
					}
					.resources-title-v2 {
						@media(max-width: 991px) {
							top: 70px;
						}
						@media(max-width: 480px) {
							top: 80px;
						}
						.ce-resources-v2 {
							padding: 0;
							@media(max-width: 991px) {
								padding: 0 15px;
							}
							.ce-resources-main-v2 {
								margin: 0;

								h1 {
									font-size: 65px;
									text-align: left;
									position: relative;
								    top: 30px;
								    @media(min-width: 992px) and (max-width: 1024px) {
								    	left: 0;
								    }
									@media(max-width: 991px) {
										font-size: 45px;
										top: 20px;
										left: 0;
										margin: auto 1.5em;
										text-align: center;
									}
									@media(max-width: 767px) {
										top: -4em;
										margin: 5px;
									}
									@media(max-width: 480px) {
										font-size: 38px;
										top: -4.5em;
									}
									@media(max-width: 380px) {
										font-size: 34px;
										top: -5em;
									}
								}
							}
						}
					}
				}
				&.ce-welcome-email {
					background-color: #f8f8f8 !important;
					.ce-welcome-email-wrapper {
						.ce-welcome-email-content {
							background: #fff;
							min-height: 30em;
							padding: 3em;
							position: relative;
							top: -14em;
							box-shadow: 3px 4px 8px rgba(68,68,68,0.2);
							@media(min-width: 767px) and (max-width: 991px) {
								margin: 0 5.5em;
								top: -15em;
							}
							@media(max-width: 767px) {
								margin: 0 1.5em;
								top: -18em;
							}
							h1 {
								color: #179bc1;
								font-family: "GothamBold", sans-serif;
								font-size: 80px;
								@media(max-width: 480px) {
									font-size: 13vw;
								}
							}
							p {
								color: #179bc1;
								font-family: "GothamLight", sans-serif;
								font-size: 25px;
							}
							hr {
								margin: 4em 2em !important;
							}
						}
					}
				}
				&.ce-subscribe {
					height: 100%;
					&#subscribe {
						background-color: #f8f8f8 !important;	
						.ce-subscribe-wrapper {
							margin: 0 auto !important;
							&.ce-ebook-wrapper {
								@media(min-width: 992px) and (max-height: 1000px) {
									max-height: 42em;
								}
								@media(min-width: 768px) and (max-width: 991px) {
									max-height: 75em;
								}
								@media(max-width: 480px) {
									max-height: 80em;
								}
								@media(min-height: 1300px) {
									height: 750px;
									max-height: 100%;
								}
							}
							@media(min-width: 992px) and (max-height: 1000px) {
								max-height: 29em;
							}
							@media(min-width: 768px) and (max-width: 991px) {
								max-height: 65em;
							}
							@media(max-width: 480px) {
								max-height: 50em;
							}
							@media(min-height: 1300px) {
								height: 750px;
								max-height: 100%;
							}
							.ce-subscribe-content {
								background: #fff;
								min-height: 30em;
								position: relative;
    							top: -14em;
    							box-shadow: 3px 4px 8px rgba(68,68,68,0.2);
    							@media(min-width: 767px) and (max-width: 991px) {
    								margin: 0 5.5em;
    								top: -15em;
    							}
    							@media(max-width: 767px) {
    								margin: 0 1.5em;
    								top: -18em;
    							}
								form {
									.row {
										padding: 0;
										> div {
											padding: 0;
											overflow: hidden;
											.ce-subscribe-header {
												padding: 3em;
												min-height: 35em;
												border-bottom: 0;
												position: relative;
												&.ce-ebook-header {
													min-height: 53em;
													@media(max-width: 991px) {
														min-height: 20em;
													}
													@media(max-width: 480px) {
														min-height: 15em;
													}
													@media(max-width: 360px) {
														min-height: 12em;
													}
												}
												@media(max-width: 1199px) {
													min-height: 35.5em;
												}
												@media(max-width: 991px) {
													padding: 2em 2em 0;
													min-height: 20em;
													border-radius: 10px 10px 0 0;
												}
												@media(max-width: 480px) {
													min-height: 15em;
												}
												
												.ebook-img {
													max-width: 72em;
												    height: 54em;
												    right: -15.5em;
												    top: -1em;
												    @media(min-width: 992px) and (max-width: 1199px) {
												    	top: -.5em;
												    }
													@media(max-width: 991px) {
														height: auto;
														right: 0;
													}
													@media(max-width: 480px) {
														right: 0;
													}
												}
												img {
													max-width: 60em;
													height: 41em;
													position: absolute;
													right: -11em;
													bottom: 0;
													@media(max-width: 1199px) {
														right: -15em;
													}
													@media(max-width: 991px) {
														width: 100%;
														right: 0;
														height: auto;
													}
													@media(min-width: 768px) and (max-width: 991px) {
														top: -5em;
													}
													
												}
												iframe {
													height: 470px;
													@media(max-width: 991px) {
														height: 70vw;
														margin-top: 0;
													}
												}
											}
											.ce-subscribe-body {
												background-color: #fff;
												min-height: 35em;
												width: 100%;
												padding: 3em;
												float: left;
												text-align: left;
												&.ce-ebook-body {
													h3 {
														font-size: 18px;
														font-weight: bold;
														margin-top: 0;
														margin-bottom: 30px;
													}
													.contact-form-control {
														&.padding-10-r {
															padding-right: 10px;
															@media(max-width: 991px) {
																padding-right: 0;
															}
														}
														margin-top: 0;
														select {
															height: 40px;
														}
													}
												}
												&.ce-subscribe-body-v2 {
													padding: 2.5em 3em;
													@media(max-width: 991px) {
														padding: 3em 2em;
														min-height: 100%;
													}
												}
												@media(max-width: 991px) {
													border-radius: 0 0 10px 10px;
													min-height: 30em;
													padding: 2em;
												}
												h1 {
													font-size: 70px;
													color: #000;
													font-family: "GothamMedium", sans-serif;
													letter-spacing: 0;
													top: -8px;
													position: relative;
													@media(max-width: 991px) {
														position: absolute;
														top: -3.5em;
														color: #fff;
													}
													@media(max-width: 480px) {
														top: -4em;
														font-size: 45px;
													}
													@media(max-width: 340px) {
														top: -5em;
														font-size: 35px;
													}
												}
												span {
													text-transform: uppercase;
													font-family: "GothamBook", sans-serif;
													font-size: 25px;
													letter-spacing: 0;
													top: -18px;
													position: relative;
													@media(max-width: 991px) {
														position: absolute;
														top: -6em;
														color: #fff;
													}
													@media(max-width: 480px) {
														top: -5.5em;
														font-size: 20px;
													}
													@media(max-width: 340px) {
														top: -7em;
														font-size: 16px;
													}
												}
												p {
													margin-top: 10px;
													margin-bottom: 20px;
													font-family: "OpenSanLight", sans-serif;
													position: relative;
													top: -15px;
													color: #000;
													@media(max-width: 991px) {
														margin-top: 0;
														padding-top: 20px;
														top: 0;
													}
													@media(max-width: 480px) {
														padding-top: 0;
													}
												}
												ul {
													position: relative;
													top: -20px;
													@media(max-width: 991px) {
														top: 0;
													}
												}
												.form-group {
													margin-top: 15px;
												}
												label {
													font-family: "OpenSanLight", sans-serif;
												}
												input[type="text"], input[type="email"] {
													border: 1px solid #dcd9d9;
													background-color: #fff;
												}
												.checkbox-wrapper {
													margin: 25px 0;
													padding-left: 0;
													.checkbox {
														margin-bottom: 20px;
													}
													input[type="checkbox"] {
														height: 100%;
														margin-top: 0;
														margin-left: -25px;
														-ms-transform: scale(1); 
														-moz-transform: scale(1); 
														-webkit-transform: scale(1); 
														-o-transform: scale(1);
														transform: scale(1);
														padding: 10px;
													}
												}
												.ce-private-policy {
													font-size: 12px;
													top: 0;
													color: #959595;
													@media(max-width: 480px) {
														font-size: 11px;
													}
												}
												.ce-tech-page-contact-alert {
													top: 10px;
													border: 2px solid #f62;
													position: relative;
													margin: 0;
													width: 40%;
													float: left;
													padding: 10px;
													@media(max-width: 767px) {
														text-align: center;
														top: 0;
														width: 100%;
													}
													.contact-form-notif {
														text-transform: none;
														font-size: 13px;
														font-family: "OpenSanLight", sans-serif;
	    												color: #000;
	    												top: 0;
	    												position: relative;
	    												@media(max-width: 991px) {
	    													top: 0;
	    												}
													}
												}
												button {
													float: right;
													max-width: 200px;
													@media(max-width: 767px) {
														float: none;
														max-width: 100%;
													}
													span {
														position: relative;
														top: 0;
														font-family: "OpenSanSemiBold", sans-serif;
														text-transform: none;
														font-size: 15px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}