$imp: !important;
html {
	body {
		&.ads-landing {
			.full-width {
				&.ce-resources-width-v2 {
					@media (max-width: 991px) and (min-width: 558px) {
						height: 46em $imp;
					}
					@media (max-width: 557px) and (min-width: 481px) {
						height: 49em $imp;
					}
					@media (max-width: 480px) {
						height: 45em $imp;
					}
				}
				.resources-title-v2 {
					@media(max-width: 480px) {
						top: 45px;
					}
					.ce-resources-v2 {
						margin: 3em 0;

						button {
							width: 100%;
							margin-bottom: 30px;
						}

						.banner-listednumber {
							color: #fff;
							margin-top: 20px;
						}
					}
				}

				.ce-resources-main-v2 {
					h1 {
						@media(max-width: 480px) {
							padding-bottom: 10px;
						}
					}
				}
				
				&.ce-ads-landing-contact {
					padding: 2em;
					background-color: #fff;
					max-height: 28em;
					@media(max-width: 991px) {
						padding: 2em 1em;
					}
					@media(min-width: 768px) and (max-width: 991px) {
						max-height: 31em;
					}
					@media(min-width: 524px) and (max-width: 767px) {
						max-height: 48rem;
					}
					@media(min-width: 414px) and (max-width: 523px) {
						max-height: 37em;
					}
					@media(min-width: 368px) and (max-width: 413px) {
						max-height: 40em;
					}
					@media(max-width: 367px) {
						max-height: 43em;
					}
					.ce-ads-landing-contact-form {
						position: relative;
						z-index: 9;
						margin-top: -10em;
						.ce-ads-landing-contact-form-wrapper {
							.ce-ads-landing-contact-box {
								border-radius: 5px;
							    background-color: #e1e1e1;
							    padding: 24px 24px 30px 26px;
							    margin-bottom: 20px;
							    .page-content-title {
							    	color: #179bc1 $imp;
							    	text-transform: uppercase;
							    	margin: 20px 0;
							    	@media(max-width: 480px) {
							    		font-size: 20px $imp;
							    	}
							    }
							    .page-content-subtitle {
							    	margin: 20px 0 40px;
							    }

							    .enquire-text {
							    	margin-left: 0 !important;
							    	text-align: left;
							    	padding: 0;
							    	@media(max-width: 767px) {
							    		margin-left: 0 $imp;
							    	}
							    	p{
							    		color: #000;
							    		font-size: 13px;
							    		font-style: italic;
							    		margin: 0 0 20px;

							    	}	
							    }

							    .enquire-button {
							    	float: right;
							    	button {
							    		padding: 15px 70px;
							    	}
							    	@media(max-width: 767px) {
							    		float: none;
							    		width: 100%;
							    	}
							    }
							}
						}
					}
				}
				&.ce-ads-landing-beyond-simple-benefits {
					padding: 2em;
					background-color: #fff;
					.ce-beyond-simple {
						color: #179bc1;
						margin-left: 4.333333%;
						@media(max-width: 991px) {
							margin-left: 0;
						}
						h2 {
							font-family: 'OpenSanSemiBold', sans-serif;
							@media(max-width: 991px) {
								margin: 0 0 40px;
							}
							@media(max-width: 480px) {
    							font-size: 25px;
    						}
						}
						.ce-beyond-simple-list {
							color: #179bc1;
    						display: inline-block;
    						@media(max-width: 480px) {
    							padding-left: 35px;
    						}
							li {
								position: relative;
							    min-height: 40px;
							    max-width: 250px;
							    text-align: center;
							    margin: 0 auto;
							    margin-bottom: 20px;
								list-style: none;
  								display: flex;
  								@media(max-width: 360px) {
  									&:nth-child(1) {
  										p {
  											top: -.5em;
  										}
  									}
  								}
  								@media(max-width: 359px) {
  									&:nth-child(3) {
  										p {
  											top: -.5em;
  										}
  									}
  								}
  								&:nth-child(2) {
  									p {
  										top: -.5em;
  									}
  								}
  								div {
									display: flex;
    								align-items: center;
  								}
  								span {
  									position: relative;
								    left: -35px;
								    top: -8px;
								    border: solid;
								    width: 40px;
								    height: 40px;
								    border-radius: 100%;
								    padding: 5px;
								    text-align: center;
								    border-color: #179bc1;
								    display: inline-table;
  								}
								p {
    								margin-bottom: 0;
    								text-align: left;
    								position: relative;
    								top: 0em;
    								left: -.5em;
								}
							}
						}
					}

					#imageline2 {
					    border-left: 1px solid #179bc1;
					    height: 350px;
					    width: 1px;
    					margin-left: 3em;
					    @media (max-width: 991px) {
					      display: none;
					    }
					}

					.ce-beyond-benefits {
						color: #179bc1;
						h2 {
							font-family: 'OpenSanSemiBold', sans-serif;
							@media(max-width: 480px) {
    							font-size: 25px;
    						}
						}
						.ce-beyond-benefits-list {
							display: inline-block; 
							text-align: left;
							@media(max-width: 480px) {
    							padding-left: 35px;
    						}
							li {
								position: relative;
							    min-height: 40px;
							    max-width: 250px;
							    text-align: center;
							    margin: 0 auto;
							    margin-bottom: 10px;
								list-style: none;
  								display: flex;
  								@media(max-width: 359px) {
  									&:nth-child(1), &:nth-child(3) {
  										p {
  											top: -.5em;
  										}
  									}
  								}
  								&:nth-child(2), &:nth-child(4) {
  									p {
  										top: -.5em;
  									}
  								}
  								div {
									display: flex;
    								margin-bottom: 15px;
  								}
  								span {
  									position: relative;
								    left: -30px;
								    top: -2px;
								    border: solid;
								    width: 30px;
								    height: 30px;
								    border-radius: 5px;
								    padding: 2px;
								    text-align: center;
								    border-color: #179bc1;
								    display: inline-table;
  								}
								p {
    								margin-bottom: 0;
    								text-align: left;
    								position: relative;
								}
							}
						}
					}

					.text-center {
						a {
							margin-top: 2em $imp;
							margin-bottom: 2em $imp;
						}
					}
				}
				&.ce-ads-landing-beyond-value {
					background-color: #179bc1;
					.beyond-value-container {
						> .ce-section {
							&.beyond-value {
								padding-bottom: 80px $imp;
							}
						}
						h2 {
							margin-top: 30px;
    						font-family: "OpenSanSemiBold", sans-serif;
    						@media(max-width: 480px) {
    							font-size: 25px;
    						}
						}
						.ce-value {
							p {
								color: #fff;
								margin: 20px 20px 10px;
								@media(max-width: 991px) {
									margin-bottom: 20px;
								}
							}
							.ce-cost-comparison {
								font-family: "Open Sans", sans-serif;
							    padding: 5px;
							    width: 50%;
							    @media (max-width: 767px) {
							    	width: 100% $imp;
							    	padding: 10px 20px $imp;
							    }
							}
							.comparison-1 {
								color: #179bc1;
							    font-family: "Open Sans", sans-serif;
							    padding: 5px;
							    width: 50%;
								.comparison-container {
									border: 5px solid #fff;
								    border-radius: 15px;
								    padding: 25px;
								    background-color: #fff;
								    height: 100%;
								    @media (max-width: 767px) {
								    	width: 100%;
								    }
								    
								    p {
								    	color: #179bc1;
								    	font-size: 16px;
    									font-family: "OpenSanLight", sans-serif;
									    line-height: 1.2;
									    margin: 0;
									    padding: 0;
									    margin-top: 15px;
								    }
								    .label {
									    display: inline;
									    padding: .2em .6em .3em;
									    font-size: 15px;
									    font-weight: 700;
									    line-height: 1;
									    color: #179bc1;
									    text-align: center;
									    white-space: nowrap;
									    vertical-align: baseline;
									    border-radius: .25em;
									}
								}
							}

							.comparison-2 {
								color: #fff;
							    font-family: "Open Sans", sans-serif;
							    padding: 5px;
							    width: 50%;
								.comparison-container {
									border: 5px solid #fff;
								    border-radius: 15px;
								    padding: 25px;
								    background-color: #179bc1;
								    height: 100%;
								    &:before {
								    	color: #fff;
									    content: "VS";
									    border: 10px solid #fff;
									    background-color: #179bc1;
									    position: absolute;
									    border-radius: 50px;
									    height: 85px;
									    width: 85px;
									    padding: 25px 0;
									    font-size: 15px;
									    left: -42.5px;
									    top: calc(50% - 42.5px);
									    @media (max-width: 767px) {
									    	top: -42.5px;
    										left: calc(50% - 42.5px);
									    }
								    }
								    
								    p {
								    	color: #fff;
								    	font-size: 16px;
    									font-family: "OpenSanLight", sans-serif;
									    line-height: 1.2;
									    margin: 0;
									    padding: 0;
									    margin-top: 15px;
								    }
								    .label {
									    display: inline;
									    padding: .2em .6em .3em;
									    font-size: 15px;
									    font-weight: 700;
									    line-height: 1;
									    color: #fff;
									    text-align: center;
									    white-space: nowrap;
									    vertical-align: baseline;
									    border-radius: .25em;
									}
								}
							}
							
						}
					}
					
				}
				&.full-beyond-expectations {
					.beyond-expectations-container {
						.beyond-expectations {
							background-color: #fff;
						    width: 100%;
						    max-width: 100%;
						    padding: 0;
						    padding-top: 40px;
						    padding-bottom: 7em;
						    position: relative;
						    background-repeat: no-repeat;
						    background-position: center bottom;
						    -webkit-background-size: cover;
						    -moz-background-size: cover;
						    -ms-background-size: cover;
						    -o-background-size: cover;
						    background-size: cover;
						    overflow: hidden;
						    h2 {
						    	color: #179bc1 $imp;
						    	font-family: "OpenSanSemiBold", sans-serif;
						    	@media(max-width: 480px) {
	    							font-size: 25px;
	    						}
						    }
						    #ce-quotes {
						    	border-left: 0px;
							    color: #179bc1 $imp;
							    top: 80px;
							    position: relative;
							    font-family: "OpenSanLight", sans-serif;
							    &:before {
							    	content: "\201c";
								    font-size: 15rem;
								    position: absolute;
								    opacity: 0.1;
								    top: -45px;
								    left: -5px;
								    color: #179bc1;
								    @media (max-width: 991px) {
								    	font-size: 5rem;
									    top: 10px;
									    left: 35px;
								    }
							    }
							    &:after {
							    	content: "\201d";
								    bottom: -7rem;
								    right: 5px;
								    font-size: 15rem;
								    position: absolute;
								    opacity: 0.1;
								    color: #179bc1;
								    @media (max-width: 991px) {
									    font-size: 5rem;
									    bottom: 3.5rem;
									    right: 35px;
								    }
							    }
							    @media (max-width: 991px) {
							    	font-size: 12px;
    								top: 20px;
							    }
						    }

						    p {
						    	color: #179bc1;
							    padding-bottom: 50px;
							    margin: 20px 0 0;
							    font-size: 18px;
							    line-height: 1.4;
							    padding: 0 30px 30px;
							    @media (max-width: 767px) {
							    	font-size: 14px;
							    	padding: 0 0 30px;
							    }
						    }
						}
					}
				}
				&.ce-resources-pricing-slider-part {
					background: linear-gradient(rgba(165,214,228,0.7), rgba(237,244,245,0.9)) !important;
					h2 {
						@media(max-width: 480px) {
							font-size: 25px;
						}
					}
					.ce-resources-pricing-button {
						@media(max-width: 991px) {
							margin-bottom: 15%;
						}
					}
				}
				&.ce-ads-landing-hire-dev-contact {
					padding: 3em;
					@media(max-width: 991px) {
						padding: 3em 1em;
					}
					.ce-resources-contact-header {
						h2 {
							color: #fff;
							margin-top: 0;
    						font-family: "OpenSanSemiBold", sans-serif;
    						@media(max-width: 480px) {
    							font-size: 25px;
    						}
						}
						p {
							color: #fff;
							text-align: left;
							margin-top: 10px;
							line-height: 1;
							&:first-child {
								margin-bottom: 20px;
							}
							a {
								color: #fff;
							}
						}
						@media(max-width: 991px) {
							button {
								margin-bottom: 25px $imp;
							}
						}
						.orange-border {
							margin-top: 1em;
							span {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}