@font-face {
  font-family: GothamBlack;
  src: url(../Gotham/OpenType/Gotham-Black.otf);
}

.gotham-black {
  font-family: GothamBlack;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamBlackItalic;
  src: url(../Gotham/OpenType/Gotham-BlackItalic.otf);
}

.gotham-black-italic {
  font-family: GothamBlackItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamBold;
  src: url(../Gotham/OpenType/Gotham-Bold.otf);
}

.gotham-bold {
  font-family: GothamBold;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamBoldItalic;
  src: url(../Gotham/OpenType/Gotham-BoldItalic.otf);
}

.gotham-bold-italic {
  font-family: GothamBoldItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamBook;
  src: url(../Gotham/OpenType/Gotham-Book.otf);
}

.gotham-book {
  font-family: GothamBook;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamBookItalic;
  src: url(../Gotham/OpenType/Gotham-BookItalic.otf);
}

.gotham-book-italic {
  font-family: GothamBookItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamLight;
  src: url(../Gotham/OpenType/Gotham-Light.otf);
}

.gotham-light {
  font-family: GothamLight;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamLightItalic;
  src: url(../Gotham/OpenType/Gotham-LightItalic.otf);
}

.gotham-light-italic {
  font-family: GothamLightItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamMedium;
  src: url(../Gotham/OpenType/Gotham-Medium.otf);
}

.gotham-medium {
  font-family: GothamMedium;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamMediumItalic;
  src: url(../Gotham/OpenType/Gotham-MediumItalic.otf);
}

.gotham-medium-italic {
  font-family: GothamMediumItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamThin;
  src: url(../Gotham/OpenType/Gotham-Thin.otf);
}

.gotham-thin {
  font-family: GothamThin;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamThinItalic;
  src: url(../Gotham/OpenType/Gotham-ThinItalic.otf);
}

.gotham-thin-italic {
  font-family: GothamThinItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamUltra;
  src: url(../Gotham/OpenType/Gotham-Ultra.otf);
}

.gotham-ultra {
  font-family: GothamUltra;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamUltraItalic;
  src: url(../Gotham/OpenType/Gotham-UltraItalic.otf);
}

.gotham-ultra-italic {
  font-family: GothamUltraItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamXLight;
  src: url(../Gotham/OpenType/Gotham-XLight.otf);
}

.gotham-x-light {
  font-family: GothamXLight;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: GothamXLightItalic;
  src: url(../Gotham/OpenType/Gotham-XLightItalic.otf);
}

.gotham-x-light-italic {
  font-family: GothamXLightItalic;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: OpenSanLight;
  src: url(../OpenSans/open-sans.light.ttf);
}

.open-san-light {
  font-family: OpenSanLight;
}

@font-face {
  font-family: OpenSanSemiBold;
  src: url(../OpenSans/open-sans.semibold.ttf);
}

.open-san-semi-bold {
  font-family: OpenSanSemiBold;
}

@font-face {
  font-family: Open Sans;
  src: url(../OpenSans/OpenSans-Regular.ttf);
}

.open-san {
  font-family: Open Sans;
}

@font-face {
  font-family: OpenSanBold;
  src: url(../OpenSans/open-sans.bold.ttf);
}

.open-san-bold {
  font-family: OpenSanBold;
}

@font-face {
  font-family: 'floaters-article';
  src:  url('../fonts/floaters-article.eot?6ioyuc');
  src:  url('../fonts/floaters-article.eot?6ioyuc#iefix') format('embedded-opentype'),
    url('../fonts/floaters-article.ttf?6ioyuc') format('truetype'),
    url('../fonts/floaters-article.woff?6ioyuc') format('woff'),
    url('../fonts/floaters-article.svg?6ioyuc#floaters-article') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'floaters-article' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Hiring:before {
  content: "\e903";
  color: #02AAC6;
}
.icon-Timezone:before {
  content: "\e900";
  color: #02AAC6;
}
.icon-Devs:before {
  content: "\e901";
  color: #02AAC6;
}
.icon-Save:before {
  content: "\e902";
  color: #02AAC6;
}