
html {
	body {
		&.tWRPContentBase2 {
			.full-width {
				
		        .resources-title-v2 {
		          top: 15px;
		          @media (max-width: 991px) and (min-width: 481px) {
		            top: 65px;
		          }
		          @media (max-width: 480px) {
		            top: 90px;
		          }
		          &.tech-page-title-v2 {
		            top: -1em;
		            @media (max-width: 991px) {
		              top: 45px;
		            }
		          }
		        }
		        .ce-resources-main-v2 {
		          margin: 0 10em 0;
		          @media (max-width: 991px) {
		            margin: 0;
		          }
		          .ce-tech-page-p {
		            &:first-child {
		              margin: 0 auto;
		            }
		          }
		          p {
		            &:first-child {
		              margin-top: 2.5em;
		              margin-bottom: 2em;
		            }
		            
		          }
		          img {
		            width: 75px;
		            margin-bottom: 10px;
		          }

		        }
		        .ce-resources-strong-v2 {
		          font-size: 15px;
		          @media(max-width: 767px) {
		            font-size: 13px;
		          }
		        }
		        .text-center {
		          font-family: "OpenSanLight", sans-serif;
		          margin-top: 0;
		          p {
		            color: #fff;
		            position: relative;
		            top: 1em;
		            font-style: italic;
		            font-size: 13px;
		            opacity: .9;
		            @media(max-width: 480px) {
		              top: 10px;
		            }
		          }
		          .home-buttons {
		            margin: 2.5rem auto;
		            @media(min-width: 341px) and (max-width: 480px) {
		              margin: 1rem auto;
		            }

		            @media(max-width: 340px) {
		              margin: 0 auto 1rem;
		            }
		            a {
		              max-width: 550px !important;
		              min-width: 250px;
		              //width: 100% !important;
		              text-transform: uppercase;
		              padding: 15px 5em;
		              white-space: normal;
		              display: inline;
		              @media(max-width: 537px) {
		                padding: 15px;
		              }
		              i {
		                position: relative;
		                left: 3em;
		                @media(max-width: 499px) {
		                  display: none;
		                }
		              }
		              @media(max-width: 480px) {
		                display: block;
		                font-size: 14px;
		              }
		              @media(max-width: 340px) {
		                max-width: auto !important;
		                min-width: auto;
		              }
		            }
		          }
		        }
		        .top-margin {
				  position: relative;
			      margin-top: 70px;
			      display: inline-block;
		        }
			}
		}
		&.tWRPTechnology, &.our-developer, &.faqs {
		  	#randomdir {		
		        background-color: rgba(0, 0, 0, 0.5);		
		        padding: 100px 0 0 0 !important;		
		        z-index: 9999999999;		
		        z-index: 99999999;		
		        .modal-content {		
		          width: 1000px;		
		          border-radius: 0;		
		          border: none;		
		          max-width: 100%;		
		          background-color: #ffffff;		
		          padding: 0 20px;		
		          margin: 15px auto;		
		          .close {		
              		position: absolute;		
              		top: 10px;		
              		z-index: 99;		
              		right: 30px;		
              		font-size: 30px;		
              		@media (max-width: 767px) {		
              			right: 35px;		
              			top: -5px;		
              		}		
              	  }		
		          @media (max-width: 1000px) {		
		            width: 100%;		
		          }		
		          .modal-body {		
		            padding: 0 !important;		
		            border-radius: 5px;		
		            width: 100%;		
		            @media (max-width: 767px) {		
		             		
		              top: -1em;		
		            }		
		            @media (min-width: 768px){		
		              display: flex;		
		              display: -webkit-box;		
					  display: -moz-box;		
					  display: -ms-flexbox;		
					  display: -webkit-flex;		
		            }		
		            .close {		
		              z-index: 1;		
		            }		
		            .thumbnail {		
		              width: 100%;		
		              border: none;		
		              padding: 0;		
		              margin: 0;		
		              background: #02aac6;		
		              color: #fff;		
		              overflow: hidden;		
		              border-radius: 5px 0 0 5px;		
		              @media (max-width: 767px) {		
		              	border-radius: 5px 5px 0 0;		
		              }		
		              .modal-img {		
		              	position: relative;		
		              	img {		
			              	background-color: #daf7ff;		
			              	max-width: 420px;		
			              	left: -80px;		
	    					position: absolute;		
			            }		
			            @media (min-width: 768px) and (max-width: 991px) {		
			              	img {		
			              	  max-width: 435px;			
			              	  left: -10rem;		
			              	}		
			            }		
			            @media (min-width: 361px) and (max-width: 767px) {		
			                height: 200px;		
			                max-width: 185px;		
						    width: 100%;		
						    background-color: #daf7ff;		
						    overflow: hidden;		
			                img {		
			                  max-width: 300px;		
			                  float: left;		
			                  left: -45px;		
			                }		
			            }		
			            @media (max-width: 360px) {		
		                	height: 150px;		
		                	max-width: 140px;		
						    width: 100%;		
						    background-color: #daf7ff;		
						    overflow: hidden;		
		                	img {		
			                  max-width: 250px;		
			                  float: left;		
			                  left: -45px;		
		                	}		
			            } 		
		              }		
		              .modal-identity {		
		              	background-color: #02aac6;		
					    height: 100%;		
					    position: relative;		
					    top: 20em;		
					    @media(max-width: 767px) {		
					    	top: 0;		
					    }		
		              	.name {		
			                font-size: 35px !important;		
			                font-weight: bold;		
			                padding: 20px 15px 0 15px;		
			                text-align: left;		
			                display: block;		
			                position: absolute;		
			                top: 0;		
			                @media (max-width: 767px) {		
			                  top: -5em;		
			                  padding: 0;		
			                  margin: 0 20px;		
			                  left: 5.5em;		
			                }		
			                @media (max-width: 360px) {		
			                  font-size: 28px !important;		
			                  left: 5em;		
			                  top: -4.5em;		
			                }		
			            }		
			            .position {		
			                font-size: 17px;		
			                padding: 0 15px 35px 15px;		
			                text-align: left;		
			                display: block;		
			                position: absolute;		
			                top: 4em;		
			                @media (max-width: 767px) {		
			                  top: -7.5em;		
			                  padding: 0;		
			                  margin: 0 20px;		
			                  width: auto;		
			                  left: 11.3em;		
			                }		
			                @media (max-width: 360px) {		
			                  font-size: 15px;		
			                  left: 9.3em;		
			                  top: -6em;		
			                }		
			            }		
		              }		
		              @media ( min-width: 768px) {		
		                width: 25%;		
		              }		
		              		
		              .years-xp {		
		                font-size: 11.2px;		
		                font-family: "Raleway", sans-serifItalic;		
		                width: 100%;		
		                text-align: left;		
		                padding: 5px 15px 15px 15px;		
		                float: left;		
		                font-size: $font-normal;		
		              }		
		            }		
		            .details {		
		              padding: 0 20px;		
		              width: 100%;		
		              overflow-y: auto;		
		              min-height: 100%;		
		              margin: 40px 0;		
		              text-align: left;		
		              .form-title {		
		              	color: #02aac6;		
		              	font-weight: bold;		
		              }		
		              button {		
		              	float: right;		
		              	max-width: 250px;		
		              	@media(max-width: 480px) {		
		              		max-width: 100%;		
		              	}		
		              }		
		              @media (min-width: 768px ) {		
		                width: 75%;		
		              }		
		              @extend .blue-scroll-bar;		
		              font-size: $font-normal;		
		              ul, ol {		
		                padding-left: 0 40px;		
		              }		
		              ul, ol, li {		
		                text-align: left;		
		                font-family: "Open Sans", sans-serif;		
		                font-size: $font-default;		
		              }		
		              @media (max-width: 767px) {		
		                padding: 0 25px;		
		                margin: 25px 0;		
		              }		
		              span {		
		                color: #0c0c0c;		
		              }		
		              span {		
		              	&.randomname {		
		              	  float: none !important;		
		              	  color: #02aac6;		
		              	}		
		                &:not(.close) {		
		                  width: 100%;		
		                  float: left;		
		                }		
		                text-align: left;		
		                &.short-info {		
		                  color: #02aac6;		
		                  font-family: "Open Sans", sans-serif;		
		                  font-size: $font-large;		
		                }		
		                &.long-info {		
		                  font-family: "Open Sans", sans-serif;		
		                  font-size: $font-default;		
		                  color: #0c0c0c;		
		                }		
		              }		
		            }		
		          }		
		        }		
		    }
	      .full-width {
	      	&.article2, &.article {
	      		.article-content-v2 {
	      			padding: 0 15px 5em;
	      			.article-wrapper {
	      				.article-wrapper-margin {
	      					margin: 40px 0;
	      					h2 {
	      						margin: 0 0 40px;
	      					}
	      				}
	      				.article-wrapper-margin-top {
	      					margin: 0;
	      					p {
	      						margin: .5em 0;
	      					}
	      				}
	      				.ce-tech-page-remote-h2 {
	      					margin-bottom: 40px;
	      				}
	      				h2 {
	      					font-size: 26px;
						    font-family: 'OpenSanSemiBold', sans-serif;
						    text-align: center;
						    color: #02aac6;
						    line-height: 1.3;
	      				}
	      				p {
      					    font-size: 17px;
						    font-family: 'OpenSanLight', sans-serif;
						    color: #000;
						    padding: 0;
						    text-align: left;
						    margin: 0;
						    @media(max-width: 480px) {
						    	font-size: 15px;
						    }
						    strong {
						    	line-height: 2.5;
						    	@media(max-width: 480px) {
						    		line-height: 1;
						    	}
						    }
	      				}
	      				h3 {
	      					margin: 50px 0 30px;
	      				}
	      				.ce-devs-contact-form-h3 {
	      					margin: 0 0 30px;
	      				}
	      				.ce-remote-tech-ul {
	      					li {
	      						margin-bottom: 2.5em;
	      						display: flex;
	      						i {
      								position: relative;
									margin-right: 10px;
									height: 100%;
									color: #ff9725;
									font-size: 30px;
	      						}
	      						span {
	      							font-size: 16px;
	      							min-height: 50px;
	      						}
	      					}
	      				}
	      				ul {
	      					li {
	      						margin-bottom: .5em;
	      					}
	      				}
	      			}
	      		}
	      	}
	        &.ce-resources-contact-header {
	          z-index: 99;
	          padding: 4em;
	          @media(max-width: 991px) {
	            padding: 2em 1em;
	          }
	          h1 {
	            font-family: GothamBold,sans-serif;
	            font-size: 35px;
	            @media(max-width: 480px) {
	            	font-size: 30px;
	            }	 
 	          }
	          p {
	            color: #fff;
	            margin-bottom: 2em;
	          }
	          .contact-form-notif {
	            color: #fff;
	            position: relative;
	            @media(max-width: 767px) {
	              font-size: 13px;
	            }
	          }
	          button {		
	          	max-width: 250px;
	          	float: right;
	          	@media(max-width: 767px) {
	          		max-width: 100%;
	          	}		
	          }
	        }
	        .top-margin {
			  position: relative;
		      margin-top: 70px;
		      display: inline-block;
	        }
	        .ce-devs-quick-links {
	        	.ce-devs-quick-links-wrapper {
	        		margin-bottom: 20px;
	        		h2 {
	        			color: #000 !important;
	        			text-align: left !important;
	        			margin: 0 0 10px;
	        			font-size: 30px !important;
	        			@media(max-width: 480px) {
	        				font-size: 26px !important;
	        				margin: 0 0 15px;
	        			}
	        		}
	        		ul {
	        			display: inline-block;
	        			list-style-type: none;
	        			padding-left: 0;
	        			line-height: 1.8;
	        			li {
	        				display: inline;
	        				font-size: 16px;
	        				@media(max-width: 480px) {
	        					font-size: 14px;
	        				}
	        				a {
	        					font-family: "OpenSanBold", sans-serif;
	        					padding-right: 5px;
	        					color: #02aac6;
	        				}
	        				&:after {
	        					content: "|";
	        				}
	        				&:last-child {
	        					&:after {
        							content: none;
        						}
        					}
	        			}
	        		}
	        	}
	        }
	        .ce-devs-list {
				margin-bottom: 30px;
				border: .5px solid #dae5e8;
				border-radius: 5px;
				.ce-devs-list-blur {
					position: relative;
					top: 8.5em;
					right: 1.5em;
					margin: 0 20px;
					@media(max-width: 991px) {
						right: 0;
						top: 13.5em;
					}
					@media(max-width: 480px) {
						top: 15.5em;
					}
					@media(max-width: 340px) {
						top: 19.5em;
					}
					.ce-devs-list-blur-btn {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						text-align: center;
						z-index: 3;
						width: 100%;
						max-width: 28em;
						@media(max-width: 991px) {
							max-width: 97%;
						}
					}
				}		
	          .ce-devs-list-wrapper {
					padding: 3em 2em;
					img {
						float: left;
						margin-right: 20px;
						width: 100%;
						max-width: 70px;
						max-height: 70px;
						position: relative;
						top: -5px;
						&.img-remote-dedicated {
							max-width: 65px;
							max-height: 65px;
							@media(max-width: 480px) {
								max-width: 100px;
								max-height: 100px;
							}
						}
						@media(max-width: 480px) {
							float: none;
							margin: auto;
							max-width: 100px;
							max-height: 100px;
							margin-right: 0;
						}
					}
					@media(max-width: 991px) {
						padding: 2em;
					}
					&.blur-content {
						filter: blur(3px);
						-webkit-filter: blur(3px);
						opacity: .3;
						background: linear-gradient(rgba(255,255,255,0), rgba(23,155,193,.2));
						pointer-events: none;
						cursor: default;
						-webkit-user-select: none; /* Chrome/Safari */        
						-moz-user-select: none; /* Firefox */
						-ms-user-select: none; /* IE10+ */
						
						/* Rules below not implemented in browsers yet */
						-o-user-select: none;
						user-select: none;
					}
	            &.ce-dedicated-remote-list-wrapper {
	              min-height: 25em;
	              @media(max-width: 480px) {
		            text-align: center;
		          }
	            }
	            @media(max-width: 991px) {
	              margin: 2em auto;
	            }
	            @media(max-width: 480px) {
	              text-align: center;
	            }
	            h2 {
	              font-family: 'OpenSanSemiBold', sans-serif;
	              margin: 0 auto 5px;
	              color: #0c5b71;
	              font-size: 25px;
	            }
	            .ce-devs-list-info-section {
	              margin-bottom: 1em;
	              @media(max-width: 480px) {
	              	text-align: center;
	              }
	              .ce-devs-list-info {
	                display: inline-block;
	                margin-right: 2px;
	                color: #2d2d2d;
	                font-size: 11.5px;
	                line-height: 18px;
	              }
	            }
	            .ce-devs-list-btn {
	              float: right;
	              position: relative;
	              top: -1em;
	              margin: 10px 0 0;
	              text-transform: uppercase;
	              font-size: 13px;
	              @media(max-width: 991px) {
	                display: none;
	                margin: 10px 0;
	              }
	              &.ce-devs-list-btn-remote {
	              	top: 1em;
	              	@media(max-width: 991px) {
	              		display: block;
	              		float: none;
	              		margin: auto !important;
	              		top: 2em;
	              		max-width: 100%;
	              	}
	              }
	            }
	            .ce-devs-list-btn-mobile {
	              position: relative;
	              margin: 20px 0 !important;
	              text-transform: uppercase;
	              font-size: 13px;
	              max-width: 100%;
	              display: none;
	              @media(max-width: 991px) {
	                display: block;
	                top: 15px;
	              }
	            }
	            .ce-devs-list-h2 {
	            	text-align: left $imp;
	            	@media(max-width: 480px) {
	            		margin: 15px 0;
	            		text-align: center $imp;
	            	}
	            }
	            .ce-devs-list-hr {
	              border: .5px solid #dae5e8 !important;
	              position: relative;
	              top: 11px;
	            }

	            .ce-devs-list-desc {
	              margin: 35px 0 15px $imp;
	              padding: 0;
	              font-size: 13.5px $imp;
	              font-family: "OpenSanLight", sans-serif;
	              min-width: 6em;
	            }

	            .ce-devs-ul-list {
	              width: 100%;
	              margin-top: 25px;
	              @media(max-width: 991px) {
	                width: 100%;
	              }
	              a {
	                line-height: 25px;
	                text-decoration: none;
	                @media(max-width: 991px) {
	                  line-height: 28px;
	                }
	              }
	              span {
	                background-color: #ebf7fb;
	                color: #02aac6;
	                border: 1px solid #dae5e8;
	              }
	            }
	            .ce-devs-ul-list-remote {
	              margin-top: 25px;
	              @media(max-width: 991px) {
	                width: 100%;
	              }
	              a {
	                line-height: 25px;
	                text-decoration: none;
	                @media(max-width: 991px) {
	                  line-height: 28px;
	                }
	              }
	              span {
	                background-color: #ebf7fb;
	                color: #02aac6;
	                border: 1px solid #dae5e8;
	              }
	            }
	          }
	        }
	        .ce-devs-pop-image {
	          margin: 28px auto 0;
	          .ce-devs-pop-image-wrapper {
	          	background: linear-gradient(to right, #77d4ee, #02aac6);
	          	border-radius: 5px;
	          	margin: auto 10px;
	          	.ce-devs-pop-image-img {
	          		width: 250px;
					height: 250px;
	          		border-radius: 100%;
					background-color: #daf7ff;
					float: left;
					margin: 30px;
    				margin-right: 20px;
    				position: relative;
    				overflow: hidden;
	          		@media(max-width: 991px) {
	          			width: 90px;
						height: 90px;
						border-radius: 100%;
						background-color: #daf7ff;
						float: left;
						top: 25px;
	    				left: 0;
	    				margin: 0;
	    				margin-right: 20px;
	          		}
	          		@media(max-width: 767px) {
	          			width: 90px;
	          			height: 90px;
	          			top: 20px;
	          		}
	          		@media(max-width: 437px) {
	          			top: 35px;
	          		}
	          		@media(max-width: 340px) {
	          			display: inline-block;
	          			float: none;
	          			left: 0;
	          			margin-right: 0;
	          			top: 20px;
	          		}
	          		img {
			          	width: 25em;
			          	left: -3.5em;
			          	top: 10px;
			          	position: absolute;
			          	@media(min-width: 992px) and (max-width: 1055px) {
			          		width: 26.6em;
			          		left: -4em;
			          	}
			          	@media(max-width: 991px) {			          		
			          		width: 130px;
			          		top: 0;
			          		left: -17px;  
			          	}
			          	@media(max-width: 767px) {
			          		width: 130px;
			          		left: -18px;						      
			          	}
			        }
	          	}
		        
		        .ce-devs-pop-image-desc {
		          	color: #fff;
		          	text-align: left;
		          	margin: 0 20px;
		          	@media(max-width: 991px) {
		          		margin: 0;
		          	}
		          	h2 {
		          		font-family: "GothamBold", sans-serif;
		          		font-size: 45px;
		          		margin: 40px 0 10px;
		          		@media(max-width: 991px) {
		          			font-size: 35px;
		          			margin: 50px 0 10px;
		          		}
		          		@media(max-width: 767px) {
		          			font-size: 30px;
		          			display: -webkit-box;
		          			margin: 45px 0 30px;
		          		}
		          		@media(min-width: 340px) and (max-width: 399px) {
		          			font-size: 26px;
		          			margin: 65px 0 30px;

		          		}
		          	}
		          	p {
		          		font-size: 18px;
		          		font-family: "OpenSanLight", sans-serif;
		          		@media(max-width: 991px) {
		          			font-size: 15px;
		          			margin: 40px 0 20px;
		          		}
		          	}
		          	.ce-devs-pop-image-desc-dir {
		          		display:block;
		          		margin: 3em 0;
		          		max-width: 50%;
		          		list-style-type: none;
		          		padding-left: 0;
		          		li {
		          			font-size: 20px;
		          			@media(max-width: 991px) {
			          			font-size: 15px;
			          		}
			          		i {
			          			font-size: 25px;
			          			margin-right: 10px;
			          			&#hide {
			          				visibility: hidden;
			          			}
			          		}
		          		}
		          		@media(max-width: 991px) {
		          			margin: 2em 0 3em;
		          		}
		          		@media(max-width: 767px) {
		          			margin: 2em 0 -1.5em;
		          		}
		          		@media(max-width: 480px) {
		          			max-width: 100%;
		          		}
		          	}
		          	.ce-devs-pop-image-desc-btn {
		          		position: absolute;
		          		margin: 2.5em 0;
		          		display: flex;
		          		top: 9.8em;
		          		right: 20px;
		          		@media(min-width: 992px) and (max-width: 1055px) {
			          		top: 10em;
			          	}
			          	@media(max-width: 991px) {
			          		top: 5.5em;
			          	}
			          	@media(max-width: 767px) {
			          		position: relative;
			          		top: 0;
			          		right: 0;
			          		a {
			          			max-width: 100%;
			          		}
			          	}
		          	}
		        }
	          }
	        }
	        .ce-devs-list-view-more {
	          margin-bottom: 4em;
	          &.margin-tb10 {		
	          	margin: 20px auto 0;		
	          }
	          .ce-devs-list-view-more-wrapper {
	            border: .5px solid #dae5e8;
	            border-radius: 5px;
	            padding: 5em 2em;
	            background-image: url(../img/cv/collage-photo.jpg);
	            background-size: cover;
	            &.margin-rl10 {		
	            	margin: auto 10px;		
	            }
	            @media(max-width: 991px) {
	              margin: 2em auto;
	            }
	            .ce-devs-list-view-more-btn {
	              max-width: 28em;
	              text-transform: uppercase;
	              display: block;
	              margin: auto;
	              @media(max-width: 991px) {
	                max-width: 100%;
	              }
	              @media(max-width: 767px) {
	                display: none;
	              }
	            }
	            .ce-devs-list-view-more-btn-mobile {
	              max-width: 100%;
	              text-transform: uppercase;
	              display: none;
	              margin: auto;
	              font-size: 14px;
	              @media(max-width: 767px) {
	                display: block;
	              }
	              @media(max-width: 480px) {
	                font-size: 12px;
	              }
	            }
	          }
	        }
	        &.ce-devs-list-recommended {
	          padding: 2em;
	          background-color: #f8f8f8 !important;
	          .ce-devs-list-recommended-wrapper {
	            text-align: left;
	            h5 {
	              font-size: 17px;
	            }
	            .ce-devs-list-recommended-quotes {
	              margin-top: 30px;
	              > div {
	                padding: 0;
	                > div {
	                  padding: 0;
	                  padding-right: 30px;
	                  @media(max-width: 991px) {
	                    padding-right: 0;
	                  }
	                }
	              }
	              p {
	                margin-top: 10px;
	                font-style: italic;
	                font-size: 13px;
	              }
	              i {
	                color: #02aac6;
	              }
	              blockquote {
	                border-left: 0px;
	                padding: 0;
	                font-size: 12px;
	                text-align: right;
	                opacity: .6;
	              }
	            }
	          }
	        }
	        &.ce-hiw-slider-part {
	          .ce-hiw-slider-part-h2 {
	            margin-top: 2em;
	          }
	        }
	        &.ce-tech-page-remote-horizontal-video {
	          padding: 1.5em;
	          @media(max-width: 991px) {
	          	padding: 1.5em;
	          }
	          background-color: #02aac6;
	          h5 {
	            text-align: left;
	            text-transform: uppercase;
	            color: #fff;
	            letter-spacing: 2px;
	            margin: 10px 3.2em;
	            @media(max-width: 991px) {
	              text-align: center;
	              margin: 10px auto;
	            }
	            @media(min-width: 768px) and (max-width: 991px) {
	              font-size: 16px;
	            }
	          }
	          ul {
	            list-style: none;
	            padding-left: 0;
	            margin-top: 30px;
	            
	            li {
	              display: inline-block;
	              max-width: 18em;
	              width: 100%;
	              @media(max-width: 991px) {
	                max-width: 100%;
	              }
	              iframe {
	                max-height: 145px;
	                @media(min-width: 768px) and (max-width: 991px) {
	                  max-height: 100%;
	                }
	                @media(min-width: 481px) and (max-width: 767px) {
	                  max-height: 300px;
	                }
	                @media(max-width: 480px) {
	                  max-height: 225px;
	                }
	                @media(max-width: 360px) {
	                  max-height: 200px;
	                }
	              }
	              a {
	                color: #fff;
	                p {
	                  margin-top: 10px;
	                  font-size: 13px;
	                  @media(max-width: 480px) {
	                    margin-top: 0;
	                  }
	                  @media(max-width: 400px) {
	                    margin-top: -10px;
	                  }
	                  @media(min-width: 768px) and (max-width: 991px) {
	                    font-size: 15px;
	                  }
	                }
	              }
	            }
	          }
	        }
	      }
	    }
	}
}