$faqblue: #04b1ed;

html {
  body {
    &.faqs {
      .full-width {
       
        &.page-head {
          .v--align {
            width: 100%;
            text-align: center;
          }
        }
        &.ce-faq-container {
          padding: 2em 2em 3em;
          background-color: #fff;
          .faq-navigation {
            ul {
              @media (min-width: 992px) {
                border-right: 1px solid #e1e1e1;
                margin-right: 5px;
              }
              li {
                a {
                  text-align: left;
                  padding: 5px 15px;
                  border-left: 5px solid rgba(255, 255, 255, 0);
                  color: #0c0c0c;
                  font-family: "Open Sans", sans-serif;

                  &:focus {
                    background-color: rgba(255, 255, 255, 0);
                  }
                }

                &.active {
                  a {
                    color: #0090bb;
                    border-left: 5px solid #0090bb;
                  }
                }
              }
            }

            @media (max-width: 991px) {
              display: none;
            }
          }
        }
        

        .faq-accordion {
          @media(max-width: 991px) {
            padding: 0;
          }
          > .ac-item {
            margin-bottom: 40px;
            &:not(.active) {
              display: none;
              @media(max-width: 991px) {
                display: block;
              }
            }

            h2 {
              font-family: "OpenSanSemiBold", sans-serif;
              font-size: $font-larger;
              color: #0c0c0c;
              margin: 0 0 20px 0;
              padding: 0;
              text-align: left;
            }
          }

          .doaccordion {
            .accordion-head {
              color: #fff;
              background-color: #0090bb;
              border: none;
              border-radius: 0;
              font-size: $font-normal;
              padding: 10px;
              font-family: "Open Sans", sans-serif;
              margin: 1px;
              cursor: pointer;
              text-align: left;

              &:focus {
                outline: none;
              }

              > i {
                float: right;

                @include transition(all 0.2s ease-in-out);
              }

              &.ui-state-active {
                > i {
                  @include transform(rotate(-180deg));
                }
              }
            }

            .ce-accordion-head {
              color: #5d5b5b;
              background-color: #fff;
              border: 1px solid #e1e1e1;
              border-radius: 0;
              font-size: $font-normal;
              padding: 10px;
              font-family: "Open Sans", sans-serif;
              margin: 1px;
              cursor: pointer;
              text-align: left;

              &:focus {
                outline: none;
              }

              > i {
                float: right;

                @include transition(all 0.2s ease-in-out);
              }

              &.ui-state-active {
                > i {
                  @include transform(rotate(-180deg));
                }
              }
            }

            .accordion-content {
              padding: 40px;
              font-family: "Open Sans", sans-serif;
              font-size: $font-normal;
              line-height: 1.6;
              @media(max-width: 991px) {
                padding: 40px 0;
              }
              ul {
                text-align: left;
              }
              p {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
