html {
  body {
    &.pricing {
      .full-width {
        .pricing-intro {
          p {
            padding-bottom: 3rem;
            line-height: 2;
            font-size: 12.8px;
          }
        }

        .price-comparison-container {
          .price-country {
            width: 100%;
            float: left;
            text-align: center;
            padding: 3px 0;
          }
        }

        .pricing-table {
          border: 5px solid $blue;
          border-radius: 10px;
          margin: 40px 0;
          max-width: 100%;
          overflow-x: auto;

          @extend .blue-scroll-bar;

          table {
            margin: 0;

            tr {
              th, td {
                text-align: left;
                font-family: "Raleway", sans-serif;
                padding: 15px;
              }

              th {
                font-size: 12px;
                color: #0c0c0c;
                text-transform: uppercase;
              }

              td {
                color: #00bcf7;
                font-size: 14.4px;
              }
            }
          }
        }

        &.compare-prices {
          .row {
            padding: 40px 0 60px;
          }

          .price-flag {
            padding: 15px 0;
            cursor: pointer;

            img {
              max-width: 100%;
            }
          }

          .price-country {
            font-size: $font-normal;
            font-family: "Raleway", sans-serif;
            width: 100%;
            float: left;
            text-align: center;
            color: #0c0c0c;
            margin: 15px 0;
          }
        }
      }
    }
  }
}
