/*$font-default: 1.2rem */
$font-default: 15px;

/*$font-button: 1rem */
$font-button: 15px;

/*$font-normal: 13px */
$font-normal: 15px;

/*$font-larger: 1.5rem */
$font-larger: 16px;

/*$font-large: 2rem */
$font-large: 16px;

/*$font-text: 20px */
$font-text: 15px;

/*$font-title: 42px */
$font-title: 32px;
