$imp: !important;
html {
  body {
    .display-none-h1 {
      display: none;
    }
    .slick-dots {
      display: block !important;
      margin: 1em 0;
    }
    .form-notif {
      border: 3px solid #f62;
      position: relative;
      text-align: center;
      padding: 5px;
      display: block;
      width: 100%;
      @media(max-width: 991px) {
        position: relative;
      }
    }
    .home-notif {
      width: 80%;
      @media(min-width: 1400px) {
        width: 40em;
      }
      @media(max-width: 991px) {
        width: 100%;
      }
    }
    iframe {
      width: 100%;
    }
    hr {
      margin: 0 $imp;
      border: 1px solid #e1e1e1 $imp;
    }
    .row-0 {
      padding: 0 $imp;
    }
    .col-0 {
      padding: 0 $imp;
    }

    .row-30 {
      margin: 30px $imp;
      @media(max-width: 767px) {
        margin: 0 $imp;
      }
    }

    .top-1point-em {
      top: 12em $imp;
    }

    .carousel-indicators {
      li {
        margin: 1px 3px $imp;
      }
    }

    .disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .6;
      box-shadow: none;
    }
    .slick-dots {
      display: contents;
    }

    /* MODAL */
    .modal {
      padding-top: 8em;
      @media(min-height: 720px) and (max-height: 800px) {
        padding-top: 6em;
      }
      @media(max-height: 719px) {
        padding-top: 3em;
      }
      @media(min-width: 768px) and (max-width: 991px) {
        padding-top: 16em;
      }
      @media(max-width: 767px) {
        padding-top: 0;
      }
    }
    .modal-content {
      border-radius: 10px 10px 0 0;
      border: 0px;
      @media(max-width: 767px) {
        margin: 15px;
      }
      .modal-header {
        background: linear-gradient(rgba(24,155,193,0.9),rgba(140,205,224,0.9)) $imp;
        background-position: center top;
        color: #fff $imp;
        border-radius: 10px 10px 0 0;
        .modal-wrapper {
          margin: 45px;
          @media(max-width: 767px) {
            margin: 15px;
          }
          h4 {
            position: relative;
            top: 5px;
            text-align: center $imp;
            margin: 25px 0 $imp;
            font-size: 40px $imp;
            font-family: "Open Sans Light", sans-serif;
            font-style: normal; 
            font-variant: normal; 
            font-weight: lighter;
          }

          p{
            position: relative;
            top: -7px;
            text-align: center $imp;
            line-height: 1.5 $imp;
            font-size: 14px $imp;
          }
        }

        .modal-wrapper-home {
          margin: 35px;
          @media(max-width: 767px) {
            margin: 15px;
          }
          h4 {
            position: relative;
            top: 5px;
            text-align: center $imp;
            margin: 25px 0 $imp;
            font-size: 40px $imp;
            font-family: "Open Sans Light", sans-serif;
            font-style: normal; 
            font-variant: normal; 
            font-weight: lighter;
          }

          p{
            position: relative;
            top: -7px;
            text-align: center $imp;
            line-height: 1.5 $imp;
            font-size: 14px $imp;
          }
        }
        .close {
          font-size: 28px;
          opacity: .5;
          &:hover {
            opacity: .9;
          }
          .fa-times-circle {
            color: #fff $imp;
          }
        }
      }

      .modal-body {
        border-radius: 0 0 10px 10px;
        padding: 30px $imp;
        @media(max-width: 767px) {
          padding: 25px $imp;
        }
        .ce-blog-email-input {
          height: 50px;
          border-radius: 5px 0 0 5px;
          width: 100%;
          border: 0px $imp;
          background-color: #e7e7e7;
          padding: 10px 20px;
        }
        .ce-blog-email-button {
          font-family: "Open Sans", sans-serif $imp;
          font-weight: bold;
          margin: 0 $imp;
          height: 50px;
          width: 180px;
          @media(max-width: 991px) {
            width: 100%;
          }
        }
        .ce-blog-email-hidden-text {
          text-align: center $imp;
          color: #3c763d;
          font-size: 20px $imp;
          font-weight: bold;
          padding: 20px 0 0 !important;
        }
      }
    }
    /* END */
    /* SOCIAL MEDIA SHARE BUTTON */
    .ce-blog-social-group {
      margin: 10px;
      display: contents;
      .btn-facebook {
        width: 100%; 
        background-color: #3B5998; 
        border: 0px; 
        color: #fff; 
        height: 50px;
        padding: 0 10px;
        i {
          font-size: 22px;
          margin-left: -3em;
          margin-right: 0.7em;
        }
      }
      .btn-twitter {
        width: 100%; 
        background-color: #1DA1F2; 
        border: 0px; 
        color: #fff; 
        height: 50px;
        padding: 0 10px;
        i {
          font-size: 22px;
          margin-left: -3em;
          margin-right: 0.7em;
        }
      }

      .btn-linkedin {
        width: 100%; 
        background-color: #0077B5; 
        border: 0px; 
        color: #fff; 
        height: 50px;
        padding: 0 10px;
        i {
          font-size: 22px;
          margin-left: 0em;
          margin-right: 0.7em;
        }
        span {
          margin-bottom: 5px;
        }
      }

      .btn-pinterest {
        width: 100%; 
        background-color: #BD081C; 
        border: 0px; 
        color: #fff; 
        height: 50px;
        padding: 0 10px;
        i {
          font-size: 22px;
          margin-left: -3em;
          margin-right: 0.7em;
        }
      }
    }
    .white-section-news {
    /* FOR BLOG HOMEPAGE SLIDER */
      .ce-slider-container {
        .ce-slider-content {
          .ce-slider-wrapper {
            margin-bottom: 30px;
            margin-left: 30px;
            margin-right: 30px; 
            border-radius: 5px; 
            background-color: #fff;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            height: 100%;
            color: #2d2d2d;
            position: relative;
            cursor: pointer;
            top:120px;
            @media(max-width: 991px) {
              margin-left: 10px;
              margin-right: 10px;
            }


            .ce-slider-selection {
              .ce-slider-selection-row {
                margin: auto 0; 
                padding: 0;
                img {
                  float: left;
                  border-top-left-radius: 5px; 
                  border-bottom-left-radius: 5px;
                  object-fit: cover;
                  width: 100%;
                  height: 404px !important;
                  @media(max-width: 991px) {
                    border-radius: 0px;
                    height: 100% $imp;
                  }

                }
                .ce-slider-block {
                  height: 300px;
                  @media(max-width: 991px) {
                    height: 70px;
                  }
                  .ce-slider-text {
                    margin: 30px 20px 0;
                    &:not(:first-child) {
                      display:none;
                    }
                    .ce-slider-url {
                      &:hover {
                        text-decoration: none $imp;
                      }
                      h2 {
                        margin-top: 20px;
                        margin-bottom: 0px;
                        font-size: 20px;
                        line-height: 26px;    
                        color: #2d2d2d;
                        text-align: left;
                        font-weight: bold;
                        &:hover {
                          color: #02aac6;
                        }
                        @media(max-width: 991px) {
                          margin-top: -10px;
                        }
                      }
                    }
                    .ce-slider-details {
                      .ce-slider-post-wrapper {
                        float: left;
                        @media(max-width: 767px) {
                          margin: 0 0 15px;
                        }
                        .ce-slider-post-info {
                          display: inline-block;
                          margin-right: 2px;
                          color: #2d2d2d;
                          font-size: 10px;
                          line-height: 18px;
                          letter-spacing: 1px; 
                          font-style: italic;
                        }
                      }
                    }

                    .ce-slider-paragraph {
                      .ce-slider-paragraph-summary {
                        display: inline;
                        font-size: 13px;
                        float: left;
                        margin: 20px 0;
                        text-align: left;
                        padding: 0;
                        @media(max-width: 767px) {
                          display: none;
                        }
                      }
                    }
                  }
                }
                .ce-slider-sliding-functions {
                    position: relative;
                    top: 0;
                  .ce-slider-pagination {
                    top: -15px;
                    position: absolute;
                    left: 40px;
                    font-size: 12px;
                    @media(max-width:991px) {
                      display: none;
                    }
                  }
                  .left {
                    background: transparent $imp;
                    left: 30px;
                    i {
                      position: relative;
                      color: #2d2d2d;
                      &:before {
                        z-index: 30;
                      }
                      @media(max-width:991px) {
                        display: none;
                      }
                    }
                    @media(max-width:991px) {
                      left: 0;
                      right: 20px;
                    }
                  }
                  .right {
                    background: transparent $imp;
                    right: 8.5em;
                    @media(min-width: 1200px) {
                      right: 11.5em;
                    }
                    i {
                      position: relative;
                      color: #2d2d2d;
                      &:before {
                        z-index: 30;
                      }
                      @media(max-width:991px) {
                        display: none;
                      }
                    }
                    @media(max-width:991px) {
                      right: 20px;
                    }
                  }
                } 
                .ce-slider-sliding-functions-mobile {
                    top: 0;
                  .left {
                    background: transparent $imp;
                    display: none;
                    i {
                      position: relative;
                      color: #fff;
                      display: none;
                      top: 46%;
                      font-size: 35px;
                      &:before {
                        z-index: 30;
                      }
                      @media(max-width:991px) {
                        display: block;
                        opacity: 1;
                      }
                    }
                    @media(max-width:991px) {
                      left: 0px;
                      display: block;
                    }
                  }
                  .right {
                    background: transparent $imp;
                    display: none;
                    i {
                      position: relative;
                      color: #fff;
                      display: none;
                      top: 46%;
                      font-size: 35px;
                      &:before {
                        z-index: 30;
                      }
                      @media(max-width:991px) {
                        display: block;
                        opacity: 1;
                      }
                    }
                    @media(max-width:991px) {
                      right: 0px;
                      display: block;
                    }
                  }
                } 
              }
            }
          }
        }
      }
      /* END */
      background-color: #fff;
      margin: -1px 0;
      .ce-section {
        &.text-center {
          text-align: center;
        }
        .padding-top-50 {
          padding-top: 50px $imp;
          z-index: 0;
        }

        .padding-bottom-50 {
          padding-bottom: 50px $imp;
        }

        .padding-top-100 {
          padding-top: 100px $imp;
          z-index: 0;
        }

        .padding-bottom-100 {
          padding-bottom: 100px $imp;
        }

        .padding-top-custom {
          padding-top: 120px $imp;
          z-index: 0;
        }
      }
    }
    .pagination {
      margin: 20px -50px;
      >li{
        >a{
          border: 0px $imp;
          color: #2d2d2d $imp;
          background-color: transparent $imp;
          font-size: 20px $imp;
          @media(max-width: 440px) {
            font-size: 16px $imp;
          }

        }
      }
      .active {
        >a {
          background-color: transparent $imp;
          font-weight: bold;
          font-size: 26px $imp;
          top: -5px;
          @media(max-width: 440px) {
            font-size: 22px $imp;
          }
        }
      }
    }
    &.news {
      .page-head {
        h1 {
          @media (max-width: 350px) {
            font-size: 29px;
          }
        }
      }
      .floater-article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin: 2em 0;
        .floater-article-container {
          margin: 10px 0;
          display: flex;
          justify-content: flex-start;
          span {
            font-size: 60px;
            @media(max-width: 480px) {
              font-size: 45px;
            }
          }
          p {
            font-size: 15px !important;
            text-align: center !important;            
            margin: 0 5px !important;
            @media(min-width: 1450px) {
              margin: 0 !important;
              font-size: 16px !important;
            }
            @media(max-width: 480px) {
              font-size: 14px !important;
              text-align: left !important;
              
            }
          }
        }
        
      }
    }
    .full-width {
      &.ce-blog-fixed-email-subscription {
        position: fixed;
        bottom: 0;
        z-index: 99999;
        width: 23em;
        border-radius: 10px 10px 0 0;
        left: 5%;
        display: none;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        @media(max-width: 480px) {
          width: 90vw;
          bottom: 2em;
        }
        .ce-blog-fixed-email-subscription-wrapper {
          z-index: 33;
          .ce-blog-fixed-email-header {
            text-align: left;
            padding: 2em;
            color: #fff;
            background-image: url("..//img/resources/Popup-Paperplane.png") !important;
            background-position: 75% 15% !important;
            background-size: cover !important;
            z-index: 1;
            h2 {
              font-family: "OpenSanSemiBold", sans-serif;
              margin: 10px 0px;
            }
            p {
              font-family: "OpenSanLight", sans-serif;
            }
            .btn-close {
              top: -20px;
              right: -20px;
              position: relative;
              background-color: #fff;
              opacity: .7;
              width: 25px;
              height: 25px;
              color: #02aac6;
              border-radius: 100%;
              display: block;
              &:hover {
                opacity: .5;
              }
            }
          }
          .ce-blog-fixed-email-footer {
            padding: 2em;
            background-color: #fff;
            .ce-blog-fixed-email-input {
              display: flex;
              margin-bottom: 10px;
              input[type="email"] {
                padding: 15px 10px;
                border-radius: 0;
                height: 100%;
                width: 80em;
                min-width: 50%;
                max-width: 70%;
                border-radius: 5px 0 0 5px;
                border: 1px solid #f8f8f8;
              }
              button {
                border-radius: 0;
                background: #fdb93b !important;
                min-width: 90px;
                margin: 0 !important;
                padding: 13.5px 20px;
                border-radius: 0 5px 5px 0;
                box-shadow: none !important;
                border: 0;
              }
            }
          }

        }
      }
      &.ce-blog-email-banner {
        &.padding-0 {
          padding: 0;
          .ce-blog-email-banner-wrapper {
            border-radius: 0;
          }
        }
        background-color: #fff;
        padding: 1em 0;
        display: block;
        @media(max-width: 480px) {
          display: none;
          margin-top: -3em;
          padding-bottom: 40px;
        }
        .ce-blog-email-banner-wrapper {
          background-color: #e7f8fc;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 2em 1em;
          text-align: left;
          border-radius: 5px;
          @media(min-width: 481px) and (max-width: 991px) {
            .textbox-space {
                padding: 5px;
              }
          }
          .ce-blog-img-monitor {
            position: relative;
            top: 15px;
            left: -2em;
            max-width: 18em;
            @media(min-width: 481px) and (max-width: 991px) {
              display: none;
            }
          }
          .ce-blog-img-monitor-career {
            position: relative;
            top: 0;
            left: -2em;
            max-width: 20em;
            @media(min-width: 481px) and (max-width: 991px) {
              display: none;
            }
          }
          .ce-blog-img-monitor-home {
            position: relative;
            top: 30px;
            left: 0;
            margin: 0 auto;
            display: block;
            max-width: 20em;
            @media(min-width: 1181px) {
              max-width: 25em;
              top: 1.5em;
            }
            @media(min-width: 481px) and (max-width: 991px) {
              display: none;
            }
          }
          .textbox-space {
            margin-top: 3vh;
          }
          .textbox-space-home {
            margin-left: -7.5em;
            margin-top: 2.5vh;
            @media(min-width: 1181px) {
              margin-left: -9.5em;
            }
            @media(max-width: 991px) {
              margin-left: 0;
            }
          }
          h2 {
            margin-top: 0;
            margin-bottom: 20px;
            font-family: "OpenSanSemiBold", sans-serif;
            &.ce-blog-email-banner-career-h2 {
              font-size: 40px;
            }
          }
          p {
            margin-bottom: 20px !important;
            font-size: 18px !important;
          }
          .ce-blog-email-banner-input {
            display: flex;
            margin-bottom: 10px;
            input[type="email"] {
              padding: 15px 20px;
              height: 100%;
              width: 80em;
              min-width: 50%;
              max-width: 80%;
              border-radius: 5px 0 0 5px;
              border: 0px;
              &.ce-career-input {
                max-width: 50%;
                @media(max-width: 991px) {
                  max-width: 100%;
                }
              }
            }
            button {
              border-radius: 0;
              background: #009dc2 !important;
              min-width: 90px;
              margin: 0 !important;
              padding: 13.5px 20px;
              border-radius: 0 5px 5px 0;
              box-shadow: none !important;
            }
            .ce-blog-email-banner-career-btn {
              border-radius: 0;
              background: #009dc2 !important;
              min-width: 135px;
              margin: 0 !important;
              padding: 13.5px 20px;
              border-radius: 0 5px 5px 0;
              box-shadow: none !important;
            }
          }
        }
      }
      &.ce-blog-email-banner-mobile {
        &.padding-0 {
          padding: 0;
          .ce-blog-email-banner-mobile-wrapper {
            border-radius: 0;
          }
        }
        background-color: #fff;
        padding: 1em;
        
        display: none;
        @media(max-width: 480px) {
          display: block;
          margin-top: 30px;
          padding-bottom: 40px;
          &.ce-tech-email-banner-mobile {
              margin-top: 0;
          }
        }
        .ce-blog-email-banner-mobile-wrapper {
          background-image: url('..//img/resources/Subscribe-Mobile.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          padding: 2em;
          text-align: left;
          border-radius: 5px;
          h2 {
            margin-top: 0;
            margin-bottom: 20px;
            font-family: "OpenSanSemiBold", sans-serif;
          }
          p {
            margin-bottom: 20px;
          }
          .ce-blog-email-banner-mobile-input {
            display: flex;
            margin-bottom: 10px;
            input[type="email"] {
              padding: 15px 10px;
              border-radius: 0;
              height: 100%;
              width: 80em;
              min-width: 50%;
              max-width: 70%;
              border-radius: 5px 0 0 5px;
              border: 0px;
            }
            button {
              border-radius: 0;
              background: #009dc2 !important;
              min-width: 90px;
              margin: 0 !important;
              padding: 14px 20px;
              border-radius: 0 5px 5px 0;
              box-shadow: none !important;
            }
          }
        }
      }
      .ce-unsure {
        &.subscribe {
          .form {
            padding-bottom: 40px;
            padding-top: 40px;

            p {
              padding: 0;
              margin: 0;
              margin-bottom: 10px;
            }

            input {
              &.form-control {
                display: inline-block;
                width: 350px;
                max-width: 75%;
                height: 40px;
                border-radius: 0;
                box-shadow: none;
                background: transparent;
                color: #fff;
                border: none;
                border-bottom: 2px solid #fff;
                margin-right: 10px;

                @include placeholderColor(#ffffff);

                &:focus {
                  outline: none;
                  border: none;
                  border-bottom: 2px solid #fff;
                }
              }
            }

            button {
              margin: 0;
              padding: 8px 10px;
              height: 40px;
              border-radius: 0;
              box-shadow: none;
              display: inline-block;
              margin-top: -3px;
              background: transparent;
              border: 2px solid #fff;

              @media (max-width: 485px) {
                margin-top: 10px;
              }

              &:focus {
                background: transparent;
                outline: none;
                border: none;
              }
            }
          }
        }
      }

      &.news-list {
        &.related-list {
          .news-item {
            .news-thumbnail {
              height: 200px;

              @media (max-width: 767px) {
                height: 300px;
              }
            }

            .news-item-details {
              min-height: 200px;
            }
          }
        }

        .white-section {
          padding-bottom: 60px;
        }

        hr {
          width: 100%;
          float: left;
          border: 0;
          margin: 0;
        }

        .news-item {
          cursor: pointer;
          text-decoration: none;
          margin-bottom: 15px;
          margin-top: 15px;
          padding-bottom: 40px;
          //background: url(../img/rectangle-blue.png) no-repeat 15px bottom;

          .news-thumbnail {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 200px;
            background-size: cover;
            background-position: top center;

            @media (min-width: 992px) {
              height: 175;
            }
            .hovered-logo-press {
              background-color: rgba(#fff,0.8);
              position: absolute;
              width: 100%;
              top: 0;
              bottom: 0;
              align-items: center;
              display: flex;
              opacity: 1;
              -webkit-transition-delay: 0s;
              -o-transition-delay: 0s;
              transition-delay: 0s;
              -webkit-transition: 0.35s ease;
              -o-transition: 0.35s ease;
              transition: 0.35s ease;
              &:hover  {
                opacity: 0;
                -webkit-transition-delay: 0s;
                -o-transition-delay: 0s;
                transition-delay: 0s;
                -webkit-transition: 0.35s ease;
                -o-transition: 0.35s ease;
                transition: 0.35s ease;
              }
              img {
                margin-right: auto;
                margin-left: auto;
              }
            }
          }

          .news-item-details {
            min-height: 180px;

            @media (max-width: 991px) and (min-width: 768px) {
              min-height: 200px;
            }
          }

          .press-logo {
            position: absolute;
            bottom: 10px;

            img {
              max-width: 100%;
              max-height: 35px;
              float: left;
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }

          .date-posted {
            background-color: $blue;
            color: #fff;
            text-align: center;
            padding: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 20px;
            z-index: 3;

            span {
              float: left;
              font-size: 10px;
              width: 100%;
            }
          }

          h2, p {
            margin: 0;
            text-align: left;
            line-height: 1.6;
          }

          h2 {
            font-size: $font-larger;
            margin-bottom: 20px;
            margin-top: 20px;
            line-height: 1.5;
          }

          p {
            padding: 0;
            font-size: 12px;
          }
        }
      }

      &.news-header {
        .featured-image {
          position: relative;
          padding: 0;
          margin-bottom: 40px;
          margin-top: 40px;

          img {
            margin: 0;
            width: 100%;
          }
          .hovered-logo-press {
            background-color: rgba(#fff,0.8);
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            align-items: center;
            display: flex;
            opacity: 1;
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transition: 0.35s ease;
            -o-transition: 0.35s ease;
            transition: 0.35s ease;
            &:hover  {
              opacity: 0;
              -webkit-transition-delay: 0s;
              -o-transition-delay: 0s;
              transition-delay: 0s;
              -webkit-transition: 0.35s ease;
              -o-transition: 0.35s ease;
              transition: 0.35s ease;
            }
            img {
              margin-right: auto;
              margin-left: auto;
              width: auto;
            }
          }
        }

        .date-posted {
          background-color: $blue;
          color: #fff;
          text-align: center;
          padding: 3px;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 20px;

          span {
            float: left;
            font-size: 10px;
            width: 100%;
          }
        }
      }
    }

    &.news {
      &.news-detailed {
        .full-width {
          &.article-blog {
            padding: 7em 0 2em;
            background-color: #fff;
            .article-blog-header {
              h1 {
                text-align: left;
                color: #000;
                font-size: 40px;
                text-shadow: none;
                font-family: "Open Sans", sans-serif;

                @media(max-width: 991px) {
                  font-size: 26px !important;
                  margin: 0;
                  text-align: center;
                }
              }
              .article-blog-post-info {
                display: flex;
                list-style-type: none;
                padding-left: 0;
                margin-top: 20px;
                @media(max-width: 991px) {
                  display: inline-block;
                }
                li {
                  display: inline-block;
                  margin-right: 15px;
                  vertical-align: middle;
                  font-family: "Open Sans", sans-serif;
                  font
                  &:nth-child(1), &:nth-child(3) {
                    font-style: italic;
                  }
                  a {
                    color: #2d2d2d;
                  }
                }
              }
            }
          }
        }
        .back-office-banner-mobile {
          top: 73px;

          @media(max-width:991px) {
            top: 87px;
          }
        }

        .full-beyond-offshoring {
          .white-section {
            height: auto;
            min-height: 100vh;
            padding: 20px 15px 60px 15px;

            > div {
              margin: 30px auto auto auto;
            }
          }
        }

        /* sticky nav start */
        header {
          z-index: 999990;

          .row {
            .ce-logo-white {
              display: none;
            }

            .ce-logo-blue {
              display: block;
            }

            nav {
              background-color: #fff;
              @include transition(all 0.2s ease);
              box-shadow: none;
              &.scroll {
                box-shadow: 0 0 0 1px rgba(0,0,0,0.1) !important;
              }

              .navbar-header {
                button {
                  background-color: #00bcf7;

                  span {
                    background-color: #fff;
                  }
                }

                a {
                  &.navbar-brand {
                    .ce-logo {
                      &.ce-logo-white {
                        opacity: 0;
                      }

                      &.ce-logo-blue {
                        opacity: 1;
                      }
                    }
                  }
                }
              }

              ul {
                > li {
                  > a {
                    @include transition(all 0.2s ease);

                    color: #02aac6;

                    span {
                      background-image: url(../img/down-arrow-blue.png);
                    }
                  }
                  &.nav-about {
                    > span {
                      &.arrow-down {
                        background: url(../img/down-arrow-blue.png) center center no-repeat;
                      }
                    }
                  }
                  &.open {
                    > a {
                      color: #02aac6;
                    }
                  }

                  &.nav-contact-us {
                    > a {
                      border-color: #02aac6;
                      &:hover {
                        border-color: #fff;
                        color: #fff;
                        background-color: #02aac6;
                      }
                      @media(max-width: 991px) {
                        border-color: #fff;
                        color: #fff;
                        background-color: #02aac6;
                        text-align: center;
                        &:hover {
                          border-color: #02aac6;
                          color: #02aac6; 
                          background-color: transparent; 
                        }
                      }
                    }

                    &.open {
                      background: #fff;

                      > a, > a:hover {
                        background-color: #02aac6;
                        color: #fff;
                        border-color: #fff;
                      }
                    }
                  }

                  ul {
                    margin: 0;
                  }
                }
              }
            }
          }
        }

        /* sticky nav end */
        .full-width {
          &.page-head {
            background-position: center;
            background-size: cover;

            .overlay {
              background: rgba(0, 0, 0, 0.4);
            }

            .no-overlay {
              background: #fff $imp;
            }

            .cloud-top {
              z-index: 1;
            }
          }

          h1 {
            font-weight: bold;
            line-height: 1.2;
            cursor: default;
            font-size: 44px;
          }
        }
      }

      &.big-thumbnails {
        .back-office-banner-mobile {
          top: 73px;

          @media(max-width:991px) {
            top: 87px;
          }
        }

        .full-width {
          &.article {
            .article-content-v2 {
              top: 7em;
            }
          }
        }

        .full-beyond-offshoring {
          .white-section {
            height: auto;
            min-height: 100vh;
            padding: 20px 15px 60px 15px;

            > div {
              margin: 30px auto auto auto;
            }
          }
        }

        /* sticky nav start */
        header {
          z-index: 999990;

          .row {
            .ce-logo-white {
              display: none;
            }

            .ce-logo-blue {
              display: block;
            }

            nav {
              background-color: #fff;

              @include transition(all 0.2s ease);
              box-shadow: none;
              &.scroll {
                box-shadow: 0 0 0 1px rgba(0,0,0,0.1) !important;
              }
              

              .navbar-header {
                button {
                  background-color: #00bcf7;

                  span {
                    background-color: #fff;
                  }
                }

                a {
                  &.navbar-brand {
                    .ce-logo {
                      &.ce-logo-white {
                        opacity: 0;
                      }

                      &.ce-logo-blue {
                        opacity: 1;
                      }
                    }
                  }
                }
              }

              ul {
                > li {
                  > a {
                    @include transition(all 0.2s ease);

                    color: #02aac6;

                    span {
                      background-image: url(../img/down-arrow-blue.png);
                    }
                  }
                  &.nav-about {
                    > span {
                      &.arrow-down {
                        background: url(../img/down-arrow-blue.png) center center no-repeat;
                      }
                    }
                  }
                  &.open {
                    > a {
                      color: #02aac6;
                    }
                  }

                  &.nav-contact-us {
                    > a {
                      border-color: #02aac6;
                      &:hover {
                        border-color: #fff;
                        color: #fff;
                        background-color: #02aac6;
                      }
                      @media(max-width: 991px) {
                        border-color: #fff;
                        color: #fff;
                        background-color: #02aac6;
                        text-align: center;
                        &:hover {
                          border-color: #02aac6;
                          color: #02aac6; 
                          background-color: transparent; 
                        }
                      }
                    }

                    &.open {
                      background: #fff;

                      > a, > a:hover {
                        background-color: #02aac6;
                        color: #fff;
                        border-color: #fff;
                      }
                    }
                  }

                  ul {
                    margin: 0;
                  }
                }
              }
            }
          }
        }

        /* sticky nav end */
        #at4-share {
          display: none;
        }
        .full-width {
          &.page-head {
            background-image: url(../img/bg.jpg);
          }

          .ce-section {
            padding: 0;
          }

          .footer-images-container {
            .ce-section {
              width: 100%;
            }
          }

          &.featured-news {
            .featured-container {
              padding: 60px 0 0 0;
              max-width: 100%;
            }
          }

          &.news-list {
            .white-section {
              padding-bottom: 0;

              .row {
                padding: 0;

                .news-item {
                  padding: 0;
                  margin: 0;
                  border: 1px solid #fff;

                  .overlay-title {
                    background-color: rgba(0, 0, 0, 0.4);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    color: #fff;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;

                    @include transition(background-color 0.1s ease-in-out);

                    &:hover {
                      background-color: rgba(0, 0, 0, 0);
                    }

                    span {
                      margin: auto;
                      font-size: $font-title;
                      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
                      font-weight: bold;

                      small {
                        width: 100%;
                        float: left;
                        font-size: $font-normal;
                        font-weight: normal;
                      }
                    }
                  }

                  .news-thumbnail {
                    height: 450px;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center center;

                    @include transition(background-image 0.2s ease-in-out);
                  }

                  &:before {
                    content: " ";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);

                    @include transition(background-color 2s ease-in-out);
                  }

                  &:hover {
                    &:before {
                      background-color: rgba(0, 0, 0, 0);
                    }
                  }

                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }

      .learn-more-button {
        margin: 0 auto;
      }

      // header {
      //   .header {
      //     nav {
      //       .navbar-brand {
      //         // .ce-logo {
      //         //   /* max-width: 250px; */
      //         // }
      //       }
      //     }
      //   }
      // }

      .full-width {
        .featured-container {
          cursor: pointer;
          max-width: 100%;
          float: left;
        }
        .ce-blog-header {
          text-align: left;
          .featured-container-v2 {
            cursor: pointer;
            max-width: 100%;
            float: left;
            top: 150px;
            position: relative;
            z-index: 99;
            text-align: left;
            @media(max-width: 991px) {
              top: 105px;
            }
            .featured-details {
              @media(max-width: 991px) {
                padding: 0;
              }
            }
            h1 {
              font-size: 40px $imp;
              margin: 0 0 0 -20px;
              color: #000 $imp;
              text-shadow: none $imp;
              font-family: "Open Sans", sans-serif;
              position: relative;
              @media(max-width: 991px) {
                font-size: 26px $imp;
                margin: 0;
              }
            }  
          }
          .post-info-v2 {
            float: left;
            padding: 20px 0 30px;
            top: 150px;
            position: relative;
            color: #000 $imp;
            margin: 0 0 0 10px;
            display: inline-block;
            @media(max-width: 991px) {
              top: 110px;
              margin: 0px;
              padding: 20px 15px 0;
              text-align: left;
            }
            
            .ce-blog-post-info {
              display: inline-block;
              margin-right: 8px;
              color: #2d2d2d;
              line-height: 18px;
              letter-spacing: 1px;
              font-size: 15px; 
              font-style: italic;
              #ce-social-btn {
                top: 13px;
                position: relative;
              }
              .ce-blog-category-tag {
                font-style: normal;
                color: #2d2d2d;
                &:hover {
                  color: #02aac6;
                  text-decoration: none;
                }
              }
            }
          }
          .ce-blog-image {
            top: 150px;
            position: relative;
            max-height: 644px;
            z-index: -1;
            .ce-blog-image-block {
              width: 100%;
              height: 500px $imp;
              display: block;
              margin: auto;
              object-fit: cover;
              @media(max-width: 991px) {
                height: auto $imp;
                width: 700px $imp;
              }
            }
          }
        }
        

        .post-info {
          float: left;
          padding: 20px 0;
        }


        &.featured-news {
          @media (min-width: 992px) {
            .featured-container {
              display: flex;
            } 
          }

          .featured-container {
            cursor: pointer;
            padding-top: 80px;

            &:hover {
              text-decoration: none;
            }
          }

          .featured-image, .featured-details {
            padding: 0;
            margin: 0;
          }

          .featured-image {
            img {
              width: 100%;
              margin: 0;
            }
          }

          .featured-details {
            text-align: left;

            .date-posted {
              background-color: $blue;
              color: #fff;
              text-align: center;
              padding: 3px;
              position: absolute;
              top: 0;
              left: 0;
              font-size: 20px;
              z-index: 3;

              span {
                float: left;
                font-size: 10px;
                width: 100%;
              }
            }

            .details {
              font-size: $font-title;
              padding: 60px 40px;
              color: #0c0c0c;
              background: url(../img/rectangle-blue.png) no-repeat 40px bottom;
            }
          }

          .news-filter {
            max-width: 100%;
            float: left;

            .col-md-6 {
              padding: 40px 0;
            }

            form {
              display: flex;

              .form-group {
                padding-right: 20px;
                width: 50%;
                margin-bottom: 0;

                @media (max-width: 991px) {
                  padding: 0 10px;
                }

                select {
                  border: none;
                  box-shadow: none;
                  color: #0c0c0c;
                  background-color: #f5f5f5;
                  border-radius: 0;
                  height: 50px;
                  font-size: $font-default;
                }
              }
            }
          }
        }

        &.article {
          .article-content {
            padding: 60px 15px;

            @media (max-width: 991px) {
              padding: 60px 15px;
            }

            h2, h3, h4, h5, h6 {
              text-align: left;
              font-size: $font-large;
              margin: 20px 0;
            }

            p {
              text-align: left;
              line-height: 2;
              margin: 0;
            }

            .addthis_inline_share_toolbox {
              float: left;
              margin: 20px 0;
            }
          }
          .padding-b20em {
            padding-bottom: 20em $imp;
          }
          .padding-b10em {
            padding-bottom: 10em $imp;
          }
          .article-content-v2 {
            padding: 20px 15px;
            z-index: 0;
            top: 7em;
            @media(max-width: 480px) {
              top: 11em;
            }
            &.article-blog-content-v2 {
              top: 12em;
              @media(max-width: 480px) {
                top: 11em;
              }
            }
            .ce-resources-breadcrumbs {
              padding-left: 0;
              padding-right: 0;
              margin-top: 20px;
              @media(max-width: 480px) {
                margin-top: -10px;
              }
            }
            
            .ce-blog-search-categories {
              display: block;
              @media(max-width: 991px) {
                display: none;
              }
            }

            .ce-blog-search-categories-mobile {
              display: none;
              @media(max-width: 991px) {
                display: block;
                padding: 0;
                .ce-blog-search {
                  padding: 0;
                }
              }
            }
            .ce-blog-search-categories, .ce-blog-search-categories-mobile {
              .ce-blog-search {
                .ce-blog-search-box {
                  .ce-blog-search-box-container {
                    width: 100%;
                    vertical-align: middle;
                    white-space: nowrap;
                    position: relative;
                    &:hover {
                      .icon{
                        background-color: #02aac6;
                        color: #f8f8f8;
                      }
                    }
                    #search {
                      width: 100%;
                      height: 50px;
                      background: #f8f8f8;
                      border: 1px solid #02aac6;
                      font-size: 10pt;
                      float: left;
                      color: #02aac6;
                      padding-left: 45px;
                      -webkit-border-radius: 5px;
                      -moz-border-radius: 5px;
                      border-radius: 5px;
                      margin-bottom: 20px;
                     
                      -webkit-transition: width .55s ease;
                      -moz-transition: width .55s ease;
                      -ms-transition: width .55s ease;
                      -o-transition: width .55s ease;
                      transition: width .55s ease;
                      &:focus, &:active {
                        outline:none;
                      }
                    }

                    .icon {
                      position: absolute;
                      border: 0;
                      border-radius: 5px 0 0 5px;
                      background: transparent;
                      padding: 14.5px;
                      z-index: 1;
                      color: #02aac6;
                    }
                  }
                }
              }
            }

            .ce-blog-newsletter {
              margin: 10px 0 30px;
              @media(max-width: 991px) {
                display: none;
              }
              .ce-blog-newsletter-wrapper {
                background-color: #02aac6;
                padding: 15px 20px;
                border-radius: 5px;
                color: #fff;
                h2 {
                  font-size: 17px;
                  font-family: "GothamBold", sans-serif;
                  text-transform: uppercase;
                  margin: 10px 0;
                }
                p {
                  font-size: 15px;
                  font-family: "OpenSanLight", sans-serif;
                  margin: 20px 0;
                }
                .ce-blog-newsletter-input {
                  display: flex;
                  margin-bottom: 10px;
                  input[type="email"] {
                    padding: 10px;
                    border-radius: 5px 0 0 5px;
                    height: 100%;
                    @media(max-width: 991px) {
                      width: 80em;
                      min-width: 50%;
                      max-width: 70%;
                    }
                  }
                  button {
                    border-radius: 0 5px 5px 0;
                    background-color: #fdb93b !important;
                    min-width: 80px;
                    margin: 0;
                    padding: 9px 10px;
                    box-shadow: none !important;
                    @media(max-width: 991px) {
                      margin: 0 !important;

                    }
                  }
                }
              }
            }

            /* @media (min-width: 790px) and (max-width: 991px) {
              padding: 20px 15px;
            } 

            @media (max-width: 789px) {
              padding: 20px 15px;
            } 

            ul, ol {
              text-align: left $imp;
              font-family: 'OpenSanLight', sans-serif;
            }

            h2, h3, h4, h5, h6 {
              text-align: left;
              font-size: $font-large;
              margin: 20px 0;
            }
            .asize {
              font-size: 16px;
              @media(max-width: 767px) {
                font-size: 15px;
              }
            }
            /* FOR BLOG HOMEPAGE SLIDER */
            .ce-slider-block {
              .ce-slider-text {
                margin: 30px 20px 0;
                &:not(:first-child) {
                  display:none;
                }
                .ce-slider-url {
                  &:hover {
                    text-decoration: none $imp;
                  }
                  h2 {
                    margin-top: 20px;
                    margin-bottom: 0px;
                    font-size: 20px;
                    line-height: 26px;    
                    color: #2d2d2d;
                    text-align: left;
                    font-weight: bold;
                    &:hover {
                      color: #02aac6;
                    }
                    @media(max-width: 991px) {
                      margin-top: -10px;
                    }
                  }
                }
                .ce-slider-details {
                  .ce-slider-post-wrapper {
                    float: left;
                    @media(max-width: 767px) {
                      margin: 0 0 15px;
                    }
                    .ce-slider-post-info {
                      display: inline-block;
                      margin-right: 2px;
                      color: #2d2d2d;
                      font-size: 10px;
                      line-height: 18px;
                      letter-spacing: 1px; 
                      font-style: italic;
                    }
                  }
                }

                .ce-slider-paragraph {
                  .ce-slider-paragraph-summary {
                    display: inline;
                    font-size: 13px;
                    // float: left;
                    margin: 0;
                    text-align: left;
                    padding: 0;
                    @media(max-width: 767px) {
                      margin: 0 -30px 20px;
                      display: inline-block;
                    }
                  }
                }
              }
            }
            .ce-slider-sliding-functions-article {
                top: 0;
              .left {
                background: transparent $imp;
                font-size: 5em;
                display: flex;
                justify-content: center;
                align-items: center;
                left: -1.3em;
                color: #000;
                opacity: 1;
                i {
                  position: relative;
                  color: #fff;
                  top: 46%;
                  font-size: 35px;
                  &:before {
                    z-index: 30;
                  }
                  @media(max-width:991px) {
                    opacity: 1;
                  }
                }
                @media(max-width:991px) {
                  left: 0px;
                }
              }
              .right {
                background: transparent $imp;
                font-size: 5em;
                display: flex;
                justify-content: center;
                align-items: center;
                right: -1.3em;
                color: #000;
                opacity: 1;
                i {
                  position: relative;
                  color: #fff;
                  top: 46%;
                  font-size: 35px;
                  &:before {
                    z-index: 30;
                  }
                  @media(max-width:991px) {
                    opacity: 1;
                  }
                }
                @media(max-width:991px) {
                  right: 0px;
                }
              }
            } 
            /* END */

            /* FOR BLOG HOMEPAGE */
            .article-wrapper {
              h1, p {
                color: #000;
              }

              .ce-blog-tags {
                margin: 1em 0;
                .ce-blog-tags-p {
                  margin-right: 10px;
                  display: inline-block;
                }
                .ce-blog-tags-inline {
                  display: inline-block;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  padding: .5em;
                  border: 1px solid #02aac6;
                  border-radius: 5px;
                  font-family: 'Open Sans', sans-serif;
                  font-weight: bold;
                  background-color: #f2f2f2;
                  &:hover {
                    background-color: #02aac6;
                  }
                  a {
                    &:hover {
                      color: #fff;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
            .ce-blog-container {
              @media(max-width: 991px) {
                height: 100%;
              }
              .ce-blog-pagination {
                text-align: center;
              }
              .ce-blog-content {
                .ce-blog-wrapper {
                  margin-bottom: 30px; 
                  border-radius: 5px; 
                  background-color: #fff;
                  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
                  height: 100%;
                  color: #2d2d2d $imp;
                  overflow: hidden;
                  max-height: 180px;
                  @media(max-width: 991px) {
                    margin-left: -20px;
                    margin-right: -20px;
                    margin-bottom: 15px;
                  }
                  @media(max-width: 767px) {
                    height: 90px;
                    margin-bottom: 15px; 
                  }
                  &:hover {
                    background-color: #e5f6f9;
                  }
                  
                  .ce-blog-selection {
                    .ce-blog-selection-row {
                      margin: auto 0; 
                      padding: 0;
                      a {
                        color: #2d2d2d $imp;
                        &:hover {
                          color: #000 $imp;
                        }
                      }
                      img {
                        margin-left: -30px; 
                        border-top-left-radius: 5px; 
                        border-bottom-left-radius: 5px;
                        min-height: 210px $imp;
                        height: 100% $imp;
                        object-fit: cover;
                        width: 100%;
                        top: -15px;
                        position: relative;
                       
                        @media(min-width: 768px) and (max-width: 991px) {
                          min-height: 225px $imp;
                        }
                        @media(max-width: 767px) {
                          width: 120px $imp;
                          min-height: 120px $imp;
                        }
                       
                      }
                      .ce-blog-article {
                        padding: 15px 0;
                        margin-left: -2em;
                        @media(max-width: 991px) {
                          padding: 5px 0;
                          margin-left: 0;
                        }
                        .ce-blog-url {
                            margin-top: 10px;
                            margin-bottom: 0;
                            font-size: 16px;
                            line-height: 25px;    
                            margin-left: 0;
                            text-align: left;
                            font-weight: bold;
                            @media(min-width: 390px) and (max-width: 767px) {
                              margin-top: 10px;
                              margin-bottom: 30px;
                              font-size: 15px;
                              margin-left: -50px;
                              line-height: 20px;
                            }
                            @media(max-width: 389px) {
                              margin-top: 10px;
                              margin-left: -40px;
                              font-size: 12px;
                              line-height: 20px;
                            }
                        }
                        .ce-blog-details {
                          .ce-blog-post-wrapper {
                            float: left;
                            margin-left: 0;
                            .ce-blog-post-info {
                              display: inline-block;
                              margin-right: 8px;
                              font-size: 10px;
                              line-height: 18px;
                              letter-spacing: 1px; 
                              font-style: italic;
                            }
                            @media(max-width: 767px) {
                              display: none;
                            }
                          }
                        }

                        .ce-blog-paragraph {
                          .ce-blog-paragraph-summary {
                            display: inline-block;
                            font-size: 14px;
                            font-family: "OpenSanLight", sans-serif;
                            line-height: 20px;
                            // float: left;
                            margin: 15px 0 10px;
                            z-index: 1;
                            @media(max-width: 767px) {
                              display: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            /* END */
            /* ACCORDION */
            .panel-group {
                margin-bottom: 3em;
              .panel-default {
                a {
                  &:hover, &:focus {
                    text-decoration: none;
                  }
                  >.panel-heading {
                    height: 3.5em;
                    position: relative;
                    .panel-title {
                      color: #000;
                      margin: 0;
                      text-transform: uppercase;
                      .ce-resources-panel-accordion-p {
                        position: relative;
                        bottom: 5px;
                        margin: 10px -3em;
                      }
                      .ce-resources-panel-accordion-icon {
                        float: right;
                        position: absolute;
                        right: 15px;
                        top: 18px;
                        font-size: 20px;
                      }
                    }
                  }
                }
                .panel-body {
                  .ce-resources-page-tech-sidebar {
                    .ce-resources-how-it-works-tech-section {
                      .ce-resources-how-it-works-tech-list {
                        .ce-resources-how-it-works-tech-post {
                          margin-bottom: 0;
                          .icon-70 {
                            font-size: 40px;
                            float: left;
                            margin-left: -.7em;
                            margin-top: 5px;
                          }
                          span {
                            &:before {
                              color: #b8b8b8;
                            }
                          }
                          p {
                            padding: 0;
                            font-size: 14px;
                            margin: 20px -20px 15px 25px;
                            line-height: 1.4;
                            text-align: left;
                            bottom: 5px;
                            position: relative; 
                          }
                        }
                      }
                    }
                  }
                  ul {
                    list-style: none;
                    padding-left: 0;
                    li {
                      text-align: left;
                      border-bottom: 1px solid #f2f2f2;
                      margin-bottom: 10px;
                      padding-bottom: 5px;
                      padding-left: 10px;
                      a {
                        margin-left: 0;
                        color: #2d2d2d;
                        font-family: 'OpenSanLight', sans-serif;
                        &:hover {
                          color: #02aac6;
                        }
                      }
                    }
                  }
                }
              }
            }
            /* END */
            .ce-blog-featured-article {
              @media(max-width: 991px) {
                display: none;
              }
            }
            
            .ce-blog-hire-developer {
              float: right;
            }
            .ce-blog-side-header {
              text-align: left;
              font-size: 27px;
              margin: 10px 0;
              padding: 0 0 10px;
              font-weight: bold;
              border-bottom: 1px solid #2d2d2d;
            }
            .ce-blog-uppercase {
              text-transform: uppercase;
              text-align: center;
              border-bottom: 0px $imp;
              font-family: 'OpenSanSemiBold', sans-serif;
              top: 0.5em;
              position: relative;
            }

            .ce-blog-side {
              margin: 40px 30px;
              a {
                &:hover {
                  text-decoration: none;
                }
              }
              h5 {
                margin: 10px 0;
                font-weight: bold;
                color: #2d2d2d;
                &:hover {
                  color: #02aac6;
                }
              }

              .ce-blog-post {
                float: left;
                .ce-blog-post-info {
                  display: inline-block;
                  margin: 0 1px 20px 0;
                  color: #2d2d2d;
                  font-size: 12px;
                  line-height: 18px;
                  letter-spacing: .5px; 
                  font-style: italic;
                }
              }
              
              .ce-blog-side-info-ul {
                float: left;
                display: inline-flex;
                list-style: none;
                text-align: left;
                font-size: 12px;
                font-style: italic;
                padding: 0 0 30px;
                
              }
              @media(max-width: 991px) {
                margin: 20px 0;
              }
            }

            .ce-blog-side-contact-info {
              border-radius: 10px;
              background-color: #e1e1e1;
              padding: 24px 24px 30px 26px;
              margin-bottom: 20px;
              margin-top: 10px;
              .contact-form {
                span {
                  color: #404040;
                  background-color: transparent;
                  display: block;
                  padding: 6px 2px;
                  font-size: 14px;
                  border-radius: 3px;
                  text-align: center;
                }
                .contact-side-button {
                  @media(max-width: 991px) {
                    button {
                      max-width: 100%;
                    }
                  }
                  
                }
              }
            }

            p {
              text-align: left;
              line-height: 1.5;
              margin: 0;
              padding: 0;
              font-family: "OpenSanLight", sans-serif;
              font-size: 18px;
              a {
                font-size: 18px; 
              }
              @media(max-width: 767px) {
                font-size: 16px;
              }
            }

            .ce-resources-breadcrumbs {
              p {
                font-size: 15px;
                color: #535353;
                line-height: 1.2;
                text-align: left;
                border-radius: 5px;
                background-color: #f7f7f7;
                padding: 9px 30px 7px;
                @media(max-width: 480px) {
                  padding: 9px 20px 7px;
                }
              }
              a {
                font-size: 15px;
              }
            }

            .long-Info {
              font-size: 12px $imp;
              text-align: left;
              color: #000 $imp;
            }

            .addthis_inline_share_toolbox {
              float: left;
              margin: 20px 0;
            }

            .ce-blog-social {
              padding-top: 10px;
              .ce-blog-social-btn {
                margin: 5px 0;
                position: relative;
                max-height: 50px;
                font-size: 15px;
                @media(max-width: 399px) {
                  font-size: 13px;
                }
                
                &:hover {
                   
                  transform: translateY(-5px);
                  transition-duration: .1s;
                  transition-timing-function: linear; 
                }
              }
            }
          }
        }
      }
    }
  }
}
