@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -100%;
  }
}

@-moz-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -100%;
  }
}

@-o-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -100%;
  }
}

@keyframes moveclouds {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -100%;
  }
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -moz-transform: $transform;
  -o-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin boxshadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin placeholderColor($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

  &:placeholder {
    color: $color;
  }
}

@keyframes Rotate {
  from {
    @include transform(rotateY(0deg));
  }

  to {
    @include transform(rotateY(360deg));
  }
}

@keyframes BackRotate {
  from {
    @include transform(rotateY(180deg));
  }

  to {
    @include transform(rotateY(540deg));
  }
}

.blue-scroll-bar, .blue-scroll-bar-0 {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
  }
}

.blue-scroll-bar-0 {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: #F5F5F5;
  }
}

@keyframes animatedBackground {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 100%;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.coldivflex {
  -webkit-box-flex: 0;
  -webkit-flex: none 1;
  -ms-flex: none 1;
  flex: none 1; 
  -webkit-box-ordinal-group: 101;
  -webkit-order: 100;
  -ms-flex-order: 100;
  order: 100;
}

.coldivflex-r {
  -webkit-box-flex: 0 !important;
  -webkit-box-ordinal-group: 101;
  -webkit-order: 100;
  -ms-flex-order: 100;
  order: 100;
}

.colflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.colflex-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @media (min-width: 320px) and (max-width: 991px) {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  }
}

.colflex-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  -webkit-flex: 1;

  @media (min-width: 320px) and (max-width: 991px) {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }
}

