$imp: !important;

html {
	body {
		&.cv-page {
			.full-width {
				&.ce-cv-format {
					padding: 7em 7em 2em;
					@media(max-width: 991px) {
						padding: 7em 2em 2em;
					}
					.ce-cv-format-container {
						.ce-cv-format-b {
							padding: 3em 2em 2em $imp;
						}
						.ce-cv-format-wrapper {
							border-radius: 10px 10px 0 0;
							background-color: #f8f8f8;
							padding: 2em 2em 0;
							border-bottom: .5px solid #f7f7f7 !important;
							@media(max-width: 991px) {
								padding: 1em $imp;
							}
							.ce-cv-format-image {
								padding: 2em;
								.ce-cv-format-image-wrapper {
									border-radius: 100%;
									border: 5px solid #179bc1;
									max-width: 200px;
									height: 200px;
									object-fit: cover;
									@media(max-width: 480px) {
										max-width: 100px;
										height: 100px;
									}
								}
							}
							.ce-cv-format-profile {
								text-align: left;
								padding: 0;
								@media(max-width: 991px) {
									text-align: center;
								}
								h2 {
									margin: 40px 0 10px;
									color: #0c5b71;
									font-family: "OpenSanSemiBold", sans-serif;
									@media(max-width: 991px) {
										margin: 30px 0 10px;
									}
									@media(max-width: 480px) {
										font-size: 30px;
									}
									@media(max-width: 400px) {
										font-size: 25px;
									}
								}
								.ce-cv-format-info-section {
									margin-bottom: 1em;
									.ce-cv-format-info {
										display: inline-block;
									    margin-right: 2px;
									    color: #2d2d2d;
									    font-size: 16px;
									    line-height: 18px;
									    @media(max-width: 480px) {
									    	font-size: 13px;
									    }
									    @media(max-width: 400px) {
									    	font-size: 11px;
									    }
									}
								} 

								.ce-cv-format-skill-list {
									width: 38em;
									margin-top: 28px;
									margin-bottom: 50px;
									@media(max-width: 991px) {
										width: 100%;
										margin-bottom: 0;
									}
									a {
										line-height: 25px;
										text-decoration: none;
									}
									span {
										background-color: #179bc1;
									}
								}

								.ce-cv-format-button {
									margin-top: 10px;
									position: absolute;
									top: 2.5em;
									right: 0;
									@media(max-width: 991px) {
										margin-top: 10px;
										position: relative;
										top: -9.5em;
									}
									button, a {
										margin: 0;
									}
									
									@media(max-width: 991px) {
										float: none;
										top: 0;
										button {
											max-width: 100%;
											margin-bottom: 35px $imp;
											margin-top: 30px $imp;
										}
									}
								}  
							}
							.ce-cv-format-profile-b {
								text-align: left;
								padding: 0;
								@media(max-width: 991px) {
									text-align: center;
								}
								img {
									float: left;
									margin-right: 40px;
									width: 100%;
									max-width: 100px;
									max-height: 100px;
									position: relative;
									top: -5px;
									@media(max-width: 480px) {
										float: none;
										margin: auto;
										margin-top: 20px;
										max-width: 100px;
										max-height: 100px;
										margin-right: 0;
									}
								}
								h2 {
									margin: 10px 0 10px;
									color: #0c5b71;
									font-family: "OpenSanSemiBold", sans-serif;
									@media(max-width: 991px) {
										margin: 30px 0 10px;
									}
									@media(max-width: 480px) {
										font-size: 30px;
									}
									@media(max-width: 400px) {
										font-size: 25px;
									}
									@media(max-width: 320px) {
								    	font-size: 20px;
								    }
								}
								.ce-cv-format-info-section {
									margin-bottom: 2em;
									.ce-cv-format-info {
										display: inline-block;
									    margin-right: 2px;
									    color: #2d2d2d;
									    font-size: 16px;
									    line-height: 18px;
									    @media(max-width: 480px) {
									    	font-size: 13px;
									    }
									    @media(max-width: 400px) {
									    	font-size: 11px;
									    }

									    @media(max-width: 320px) {
									    	font-size: 9.5px;
									    }
									}
									.ce-cv-format-extra-info {
										font-size: 16px;
										color: #2d2d2d;
										margin-top: 5px;
										@media(max-width: 480px) {
									    	font-size: 13px;
									    }
									    @media(max-width: 400px) {
									    	font-size: 11px;
									    }

									    @media(max-width: 320px) {
									    	font-size: 9.5px;
									    }
									}
								} 

								.ce-cv-format-skill-list {
									width: 38em;
									margin-top: 28px;
									margin-bottom: 50px;
									@media(max-width: 991px) {
										width: 100%;
										margin-bottom: 0;
									}
									a {
										line-height: 25px;
										text-decoration: none;
									}
									span {
										background-color: #179bc1;
									}
								}

								.ce-cv-format-button {
									margin-top: -10px;
									position: absolute;
									top: 0.5em;
									right: 0;
									@media(max-width: 991px) {
										margin-top: 0;
									}
									.ce-cv-format-button-p {
										text-align: center;
										font-size: 16px;
										label {
											text-transform: uppercase;
											margin-right: 5px;
											vertical-align: top;
											font-weight: bold;
										}
									}
									@media(max-width: 991px) {
										margin-top: 10px;
										position: relative;
										top: -9.5em;
									}
									button {
										margin: 0;
									}
									
									@media(max-width: 991px) {
										float: none;
										top: 0;
										button {
											max-width: 100%;
											margin-bottom: 10px $imp;
											margin-top: 0 $imp;
										}
									}
								}  
							}
						}
						.ce-cv-format-cta {
							background-color: #003855;
							color: #fff;
							padding: 1.5em;
							.ce-cv-format-cta-wrapper {
								display: inline-flex;
								vertical-align: middle;
								@media(max-width: 767px) {
									display: inline-grid;
								}
								h3 {
									margin: 13px 0 0;
									font-size: 20px;
									font-weight: bold;
									@media(max-width: 767px) {
										margin: 13px 0;
										font-size: 16px;
									}
								}
								a {
									color: #fff;
									border: 2px solid #fff;
									border-radius: 5px;
									padding: 10px 30px;
									margin: 0 20px;
									text-decoration: none;
									&:hover {
										background-color: #fff !important;
										color: #003855 !important;
									}
								}
							}
						}
						.ce-cv-format-desc {
							text-align: left;
							background-color: #fff;
							padding: 2em;
							border-radius: 0 0 10px 10px;
							@media(max-width: 991px) {
								padding: 1em;
							}
							.ce-cv-format-desc-wrapper-summary {
								hr {
									margin-bottom: 20px !important;
								}
								p {	
									font-family: "OpenSanLight", sans-serif;
									margin-bottom: 15px;
								}
								ul {
									li {
										margin-bottom: 10px;
										color: #000;
										@media(max-width: 480px) {
											font-size: 14px;
										}
									}
								}
							}
							.ce-cv-format-desc-wrapper-work-exp {
								p {
									
									margin: 10px 0 0;
								}
							}
							.ce-cv-format-desc-wrapper {
								margin-bottom: 2em;
								color: #000;
								h5 {
									text-transform: uppercase;
									color: #0c5b71;
									font-size: 16px;
									font-family: "OpenSanSemiBold", sans-serif;
								}
								.ce-cv-format-desc-wrapper-list {
									margin-top: 20px;
									margin-bottom: 15px;
									@media(max-width: 991px) {
										width: 100%;
										margin-bottom: 0;
									}
									a {
										line-height: 25px;
										text-decoration: none;
									}
									span {
										background-color: #ebf7fb;
						                color: #179bc1;
						                border: 1px solid #dae5e8;
									}
								}
								p {	
									font-family: "OpenSanLight", sans-serif;
									margin-bottom: 10px;
									font-size: 15px;
									@media(max-width: 480px) {
										font-size: 13px;
									}
								}
								ul {
									margin-top: 20px;
									margin-right: 3em;
									margin-left: 1em;
									padding: 0;
									li {
										color: #000;
										font-size: 15px;
									}
									@media(max-width: 480px) {
										margin-right: 0;
										li {
											font-size: 13px;
										}
									}
								}
								h6.ce-cv-format-work-exp-position, h6.ce-cv-format-college-degree {
									margin-top: 30px;
									font-size: 15px;
									font-family: "OpenSanSemiBold", sans-serif;
								}
								.ce-cv-format-year-exp, .ce-cv-format-school-year {
									font-size: 15px;
									font-family: "OpenSanSemiBold", sans-serif;
									float: right;
									position: relative;
									top: -1.9em;
									@media(max-width: 991px) {	
										top: -5px;
										float: none;
										font-size: 12px;
									}
								}
								.ce-cv-format-school {
									font-size: 12px;
									font-family: "OpenSanLight", sans-serif;
								}
							}
						}

						.left, .right {
							background: transparent;
							max-height: 150px;
    						top: 20em;
    						position: fixed;
							@media(max-width: 767px) {
								display: none;
							}
							.glyphicon-chevron-left, .glyphicon-chevron-right {
								font-size: 60px;
							}
							.glyphicon-chevron-right {
								margin-right: 0;
							}
							.glyphicon-chevron-left {
								margin-left: -25px;
							}
						}
					}		
				}
				&.ce-cv-format-view-more {
					padding: 0 7em 7em;
					@media(max-width: 991px) {
						padding: 0 2em 7em;
					}
					.ce-cv-format-view-more-wrapper {
					    border-radius: 10px;
					    padding: 5em 2em;
					    background-image: url(../img/cv/collage-photo2.jpg);
					    background-size: cover;
					    .ce-cv-format-view-more-btn {
					    	max-width: 30em;
						    text-transform: uppercase;
						    display: block;
						    margin: auto;
						    @media (max-width: 991px) {
						    	max-width: 100%;
						    }
						    @media (max-width: 767px) {
						    	display: none;
						    	margin: auto;
						    }
					    }
					    .ce-cv-format-view-more-btn-mobile {
					    	max-width: 100%;
						    text-transform: uppercase;
						    display: none;
						    margin: auto;
						    font-size: 14px;
						    @media (max-width: 767px) {
						    	display: block;
						    }
					    }
					}
				}
			}
		}
	}
}