html {
	body {
		&.tWRPContentBase2 {
			.full-width {
				
		        .resources-title-v2 {
		          top: 15px;
		          @media (max-width: 991px) and (min-width: 481px) {
		            top: 65px;
		          }
		          @media (max-width: 480px) {
		            top: 90px;
		          }
		          &.tech-page-title-v2 {
		            top: -1em;
		            @media (max-width: 991px) {
		              top: 45px;
		            }
		          }
		        }
		        .ce-resources-main-v2 {
		          margin: 0 10em 0;
		          @media (max-width: 991px) {
		            margin: 0;
		          }
		          .ce-tech-page-p {
		            &:first-child {
		              margin: 0 auto;
		            }
		          }
		          p {
		            &:first-child {
		              margin-top: 2.5em;
		              margin-bottom: 2em;
		            }
		            
		          }
		          img {
		            width: 75px;
		            margin-bottom: 10px;
		          }

		        }
		        .ce-resources-strong-v2 {
		          font-size: 15px;
		          @media(max-width: 767px) {
		            font-size: 13px;
		          }
		        }
		        .text-center {
		          font-family: "OpenSanLight", sans-serif;
		          margin-top: 0;
		          p {
		            color: #fff;
		            position: relative;
		            top: 1em;
		            font-style: italic;
		            font-size: 13px;
		            opacity: .9;
		            @media(max-width: 480px) {
		              top: 10px;
		            }
		          }
		          .home-buttons {
		            margin: 2.5rem auto;
		            @media(min-width: 341px) and (max-width: 480px) {
		              margin: 1rem auto;
		            }

		            @media(max-width: 340px) {
		              margin: 0 auto 1rem;
		            }
		            a {
		              max-width: 550px !important;
		              min-width: 250px;
		              width: 100% !important;
		              text-transform: uppercase;
		              padding: 15px 5em;
		              white-space: normal;
		              display: inline;
		              @media(max-width: 537px) {
		                padding: 15px;
		              }
		              i {
		                position: relative;
		                left: 3em;
		                @media(max-width: 499px) {
		                  display: none;
		                }
		              }
		              @media(max-width: 480px) {
		                display: block;
		                font-size: 14px;
		              }
		              @media(max-width: 340px) {
		                max-width: auto !important;
		                min-width: auto;
		              }
		            }
		          }
		        }
		        .top-margin {
		          position: sticky;
			      margin-top: 60px;
			      display: inline-block;
		        }
			}
		}
		&.tWRPTechnology, &.our-developer, &.faqs {
	      .full-width {
	      	&.article2, &.article {
	      		.article-content-v2 {
	      			padding: 0 15px 5em;
	      			.article-wrapper {
	      				.article-wrapper-margin {
	      					margin: 40px 0;
	      					h2 {
	      						margin: 0 0 40px;
	      					}
	      				}
	      				h2 {
	      					font-size: 26px;
						    font-family: 'OpenSanSemiBold', sans-serif;
						    text-align: center;
						    color: #179bc1;
						    line-height: 1.3;
	      				}
	      				p {
      					    font-size: 17px;
						    font-family: 'OpenSanLight', sans-serif;
						    color: #000;
						    padding: 0;
						    text-align: left;
						    margin: 0;
						    @media(max-width: 480px) {
						    	font-size: 15px;
						    }
						    strong {
						    	line-height: 2.5;
						    }
	      				}
	      				h3 {
	      					margin: 50px 0 30px;
	      				}
	      				.ce-devs-contact-form-h3 {
	      					margin: 30px 0;
	      				}
	      				.ce-remote-tech-ul {
	      					li {
	      						margin-bottom: 2.5em;
	      						display: flex;
	      						i {
      								position: relative;
									margin-right: 10px;
									height: 100%;
									color: #ff9725;
									font-size: 30px;
	      						}
	      						span {
	      							font-size: 16px;
	      							min-height: 50px;
	      						}
	      					}
	      				}
	      				ul {
	      					li {
	      						margin-bottom: .5em;
	      					}
	      				}
	      			}
	      		}
	      	}
	        &.ce-resources-contact-header {
	          z-index: 99;
	          padding: 4em;
	          @media(max-width: 991px) {
	            padding: 2em;
	          }
	          h1 {
	            font-family: GothamBold,sans-serif;
	            font-size: 38px;
	          }
	          p {
	            color: #fff;
	            margin-bottom: 2em;
	          }
	          .contact-form-notif {
	            color: #fff;
	            position: relative;
	            @media(max-width: 767px) {
	              font-size: 13px;
	            }
	          }
	        }
	        &.ce-resources-width-v2, &.ce-dedicated-width-v2 {
	          padding: 30px 0;
    		  background: linear-gradient(rgba(24,155,193,0.9), rgba(140,205,224,0.5)) !important;
    		  background-size: cover;
		      position: relative;
		      min-height: 75vh;
		      height: 42em;
		      @media(max-width: 480px) {
		      	min-height: 180vw;
		      }
	        }
	        &.ce-dedicated-width-v2 {
	        @media(max-width: 480px) {
		      	min-height: 200vw;
		      }
	        }

	        .ce-resources-v2 {
	          margin: 8vh 0 0;
	          min-height: 27em;
	          @media(max-width: 991px) {
	            margin: 1vh 0 0;
	          }
	        }
	        .ce-resources-uk-outsourcing-v2 {
	          margin: 5vw 0 0;
	          @media(min-width: 400px) and (max-width: 991px) and (min-height:800px) {
	            margin: 3vw 0 0;
	          }
	          @media(min-width: 400px) and (max-width: 991px) and (max-height:799px) {
	            margin: 5vw 0 0;
	          }
	          .ce-resources-main-v2 {
		          margin: 0 10em 0;
		          @media (max-width: 991px) {
		            margin: 0;
		          }
		          .ce-tech-page-p {
		            &:first-child {
		              margin: 0 auto;
		            }
		          }
		          h1 {
		          	color: #fff;
				    text-align: center;
				    margin: 0 -120px;
				    font-size: 38px;
				    line-height: 1.2;
				    margin-bottom: 20px;
				    font-family: "GothamBold", sans-serif;
				    @media(max-width: 991px) {
				    	margin: 0;
				    }
		          	@media(max-height: 700px) {
		              	font-size: 5vh;
		            }
		            @media(max-width: 480px) {
		              	font-size: 7vw;
		          	}
		          }
		          p {
		          	font-size: 16px;
		          	@media(max-width: 480px) {
		            	font-size: 3.8vw;
		            }
		            @media(min-width:992px) and (max-height: 700px) {
		            	font-size: 16px;
		            }
		            
		            &:first-child {
		              margin-top: 3vh;
		              margin-bottom: 2em;
		            }
		            
		          }
		          img {
		            width: 75px;
		            margin-bottom: 10px;
		          }

		        }
	        }
	        .resources-title-v2 {
	          top: 15px;
	          @media (max-width: 991px) and (min-width: 481px) {
	            top: 65px;
	          }
	          @media (max-width: 480px) {
	            top: 25vw;
	          }
	          &.tech-page-title-v2 {
	            top: 1vh;
	            @media (max-width: 991px) {
	              top: 45px;
	            }
	          }
	        }
	        .ce-tech-page-main-v2 {
	          margin-bottom: 30px;
	          margin-top: 25px;
	          img {
	            margin-top: 10px;
	          }
	        }
	        .ce-resources-main-v2, .ce-dedicated-main-v2 {
	          margin: 0 10em 0;
	          @media (max-width: 991px) {
	            margin: 0;
	          }
	          .ce-tech-page-p {
	            &:first-child {
	              margin: 0 auto;
	            }
	          }
	          h1 {
	          	color: #fff;
			    text-align: center;
			    margin: 0 -120px;
			    font-size: 38px;
			    line-height: 1.2;
			    margin-bottom: 20px;
			    font-family: "GothamBold", sans-serif;
			    @media(max-width: 991px) {
			    	margin: 0;
			    }
	          	@media(max-height: 700px) {
	              	font-size: 5vh;
	            }
	            @media(max-width: 480px) {
	              	font-size: 7vw;
	          	}
	          }
	          p {
	          	font-size: 16px;
	          	font-family: "OpenSanLight", sans-serif;
	          	@media(max-width: 480px) {
	            	font-size: 3.8vw;
	            }
	            @media(min-width:992px) and (max-height: 700px) {
	            	font-size: 16px;
	            }
	            
	            &:first-child {
	              margin-top: 3vh;
	              margin-bottom: 2em;
	            }
	            
	          }
	          img {
	            width: 75px;
	            margin-bottom: 10px;
	          }

	        }

	        /*.ce-dedicated-main-v2 {
	          margin: 0 7em 0;
	          @media (max-width: 991px) {
	            margin: 0;
	          }
	          .ce-tech-page-p {
	            &:first-child {
	              margin: 0 auto;
	            }
	          }
	          h1 {
	          	color: #fff;
			    text-align: center;
			    margin: 0 -120px;
			    font-size: 38px;
			    line-height: 1.2;
			    margin-bottom: 20px;
			    font-family: "GothamBold", sans-serif;
			    @media(max-width: 991px) {
			    	margin: 0;
			    }
			    @media(max-height: 700px) {
	              	font-size: 5vh;
	            }
	            @media(max-width: 480px) {
	              	font-size: 7vw;
	          	}
	          }
	          p {
	            font-family: 'OpenSanLight', sans-serif;
	            @media(max-width: 480px) {
	            	font-size: 3.8vw;
	            }
	            @media(min-width:992px) and (max-height: 700px) {
	            	font-size: 16px;
	            }
	            
	            &:first-child {
	              margin-top: 3vh;
	              margin-bottom: 2em;
	            }
	            
	          }
	          img {
	            width: 75px;
	            margin-bottom: 10px;
	          }

	        }*/
	        .ce-resources-strong-v2 {
	          font-size: 15px;
	          @media(max-width: 767px) {
	            font-size: 13px;
	          }
	        }
	        .ce-dedicated-strong-v2 {
	          margin: 20px 0 10px;
	          font-size: 15px;
	          color: #fff;
	          @media(max-width: 767px) {
	            font-size: 13px;
	          }
	          p {
	            &:last-child {
	              margin-bottom: 0;
	            }
	          }
	        }
	        .text-center-dedicated {
	          font-family: "OpenSanLight", sans-serif;
	          margin-top: 0;
	          p {
	            color: #fff;
	            position: relative;
	            top: 3em;
	            font-style: italic;
	            font-size: 13px;
	            opacity: .9;
	            @media(max-width: 480px) {
	              top: 10px;
	            }
	          }
	          .home-buttons {
	            margin: 2.5rem auto;
	            @media(min-width: 341px) and (max-width: 480px) {
	              margin: 1rem auto;
	            }

	            @media(max-width: 340px) {
	              margin: 0 auto 1rem;
	            }
	            a {
	              max-width: 550px !important;
	              min-width: 250px;
	              width: 100% !important;
	              text-transform: uppercase;
	              padding: 15px 5em;
	              white-space: normal;
	              display: inline;
	              @media(max-width: 537px) {
	                padding: 15px;
	              }
	              @media(max-width: 480px) {
	              	padding: 15px 1rem;
	              }
	              i {
	                position: relative;
	                left: 3em;
	                @media(max-width: 499px) {
	                  display: none;
	                }
	              }
	              @media(max-width: 480px) {
	                display: block;
	                
	              }
	              @media(max-width: 340px) {
	                max-width: auto !important;
	                min-width: auto;
	              }
	            }
	          }
	        }
	        .text-center {
	          font-family: "OpenSanLight", sans-serif;
	          margin-top: 0;
	          p {
	            color: #fff;
	            position: relative;
	            top: 3em;
	            font-style: italic;
	            font-size: 13px;
	            opacity: .9;
	            @media(max-width: 480px) {
	              top: 10px;
	            }
	          }
	          .home-buttons {
	            margin: 2.5rem auto;
	            @media(min-width: 341px) and (max-width: 480px) {
	              margin: 1rem auto;
	            }

	            @media(max-width: 340px) {
	              margin: 0 auto 1rem;
	            }

	            a {
	              max-width: 550px !important;
	              min-width: 250px;
	              width: 100% !important;
	              text-transform: uppercase;
	              padding: 15px 5em;
	              white-space: normal;
	              display: inline;
	              @media(max-width: 537px) {
	                font-size: 2.2vw;
	              }
	              @media(max-width: 480px) {
	              	padding: 15px;
	              }
	              i {
	                position: relative;
	                left: 3em;
	                @media(max-width: 499px) {
	                  display: none;
	                }
	              }
	              @media(max-width: 480px) {
	                display: block;
	                font-size: 3.8vw;
	              }
	              @media(max-width: 340px) {
	                max-width: auto !important;
	                min-width: auto;
	              }
	            }
	          }
	        }
	        .top-margin {
	          position: sticky;
		      margin-top: 60px;
		      display: inline-block;
	        }

	        .ce-devs-list {
	          margin-bottom: 30px;
	          .ce-devs-list-wrapper {
	            border: .5px solid #dae5e8;
	            border-radius: 5px;
	            padding: 2em;
	            min-height: 20em;
	            @media(max-width: 991px) {
	              margin: 2em auto;
	            }
	            h2 {
	              font-family: 'OpenSanSemiBold', sans-serif;
	              margin: 0 auto 5px;
	              color: #0c5b71;
	              font-size: 25px;
	            }
	            .ce-devs-list-info-section {
	              margin-bottom: 1em;
	              .ce-devs-list-info {
	                display: inline-block;
	                margin-right: 2px;
	                color: #2d2d2d;
	                font-size: 11.5px;
	                line-height: 18px;
	              }
	            }
	            .ce-devs-list-btn {
	              float: right;
	              position: relative;
	              top: -1em;
	              margin: 10px 0 0;
	              text-transform: uppercase;
	              font-size: 13px;
	              min-width: 165px;
	              @media(max-width: 991px) {
	                display: none;
	                margin: 10px 0;
	              }
	            }
	            .ce-devs-list-btn-mobile {
	              position: relative;
	              margin: 20px 0 !important;
	              text-transform: uppercase;
	              font-size: 13px;
	              max-width: 100%;
	              display: none;
	              @media(max-width: 991px) {
	                display: block;
	                top: 15px;
	              }
	            }
	            .ce-devs-list-h2 {
	            	text-align: left $imp;
	            }
	            .ce-devs-list-hr {
	              border: .5px solid #dae5e8 !important;
	            }

	            .ce-devs-list-desc {
	              margin: 15px 0 $imp;
	              padding: 0;
	              font-size: 13.5px $imp;
	              font-family: "OpenSanLight", sans-serif;
	            }

	            .ce-devs-ul-list {
	              width: 38em;
	              margin-top: 25px;
	              @media(max-width: 991px) {
	                width: 100%;
	              }
	              a {
	                line-height: 25px;
	                text-decoration: none;
	                @media(max-width: 991px) {
	                  line-height: 28px;
	                }
	              }
	              span {
	                background-color: #ebf7fb;
	                color: #179bc1;
	                border: 1px solid #dae5e8;
	              }
	            }
	            .ce-devs-ul-list-remote {
	              margin-top: 25px;
	              @media(max-width: 991px) {
	                width: 100%;
	              }
	              a {
	                line-height: 25px;
	                text-decoration: none;
	                @media(max-width: 991px) {
	                  line-height: 28px;
	                }
	              }
	              span {
	                background-color: #ebf7fb;
	                color: #179bc1;
	                border: 1px solid #dae5e8;
	              }
	            }
	          }
	        }
	        .ce-devs-list-view-more {
	          margin-bottom: 4em;
	          .ce-devs-list-view-more-wrapper {
	            border: .5px solid #dae5e8;
	            border-radius: 5px;
	            padding: 5em 2em;
	            background-image: url(../img/cv/collage-photo.jpg);
	            background-size: cover;
	            @media(max-width: 991px) {
	              margin: 2em auto;
	            }
	            .ce-devs-list-view-more-btn {
	              max-width: 30em;
	              text-transform: uppercase;
	              display: block;
	              margin: auto;
	              @media(max-width: 991px) {
	                max-width: 100%;
	              }
	              @media(max-width: 767px) {
	                display: none;
	              }
	            }
	            .ce-devs-list-view-more-btn-mobile {
	              max-width: 100%;
	              text-transform: uppercase;
	              display: none;
	              margin: auto;
	              font-size: 14px;
	              @media(max-width: 767px) {
	                display: block;
	              }
	              @media(max-width: 480px) {
	                font-size: 12px;
	              }
	            }
	          }
	        }
	        &.ce-devs-list-recommended {
	          padding: 2em;
	          background-color: #f8f8f8 !important;
	          .ce-devs-list-recommended-wrapper {
	            text-align: left;
	            h5 {
	              font-size: 17px;
	            }
	            .ce-devs-list-recommended-quotes {
	              margin-top: 30px;
	              > div {
	                padding: 0;
	                > div {
	                  padding: 0;
	                  padding-right: 30px;
	                  @media(max-width: 991px) {
	                    padding-right: 0;
	                  }
	                }
	              }
	              p {
	                margin-top: 10px;
	                font-style: italic;
	                font-size: 13px;
	              }
	              i {
	                color: #179bc1;
	              }
	              blockquote {
	                border-left: 0px;
	                padding: 0;
	                font-size: 12px;
	                text-align: right;
	                opacity: .6;
	              }
	            }
	          }
	        }
	        &.ce-hiw-slider-part {
	          .ce-hiw-slider-part-h2 {
	            margin-top: 2em;
	          }
	        }
	        &.ce-tech-page-remote-horizontal-video {
	          padding: 1.5em;
	          background-color: #179bc1;
	          h5 {
	            text-align: left;
	            text-transform: uppercase;
	            color: #fff;
	            letter-spacing: 2px;
	            margin: 10px 3.2em;
	            @media(max-width: 991px) {
	              text-align: center;
	              margin: 10px auto;
	            }
	            @media(min-width: 768px) and (max-width: 991px) {
	              font-size: 16px;
	            }
	          }
	          ul {
	            list-style: none;
	            padding-left: 0;
	            margin-top: 30px;
	            
	            li {
	              display: inline-block;
	              max-width: 15em;
	              width: 100%;
	              @media(max-width: 991px) {
	                max-width: 100%;
	              }
	              iframe {
	                max-height: 120px;
	                @media(min-width: 768px) and (max-width: 991px) {
	                  max-height: 100%;
	                }
	                @media(min-width: 481px) and (max-width: 767px) {
	                  max-height: 300px;
	                }
	                @media(max-width: 480px) {
	                  max-height: 225px;
	                }
	                @media(max-width: 360px) {
	                  max-height: 200px;
	                }
	              }
	              a {
	                color: #fff;
	                p {
	                  margin-top: 10px;
	                  font-size: 13px;
	                  @media(max-width: 480px) {
	                    margin-top: 0;
	                  }
	                  @media(max-width: 400px) {
	                    margin-top: -10px;
	                  }
	                  @media(min-width: 768px) and (max-width: 991px) {
	                    font-size: 15px;
	                  }
	                }
	              }
	            }
	          }
	        }
	      }
	    }
	}
}