$font-green-color: #22cd86;
$font-blue-color: #20c4f7;
$font-orange-color: #F62;
$font-white-color: #ffffff;
$font-family-new: "GothamLight", sans-serif !important;
$font-family-open: "OpenSanSemiBold", sans-serif !important;

@mixin animationease {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
}

@mixin buttontrasnse {
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-green {
  border-radius: 5px !important;
  background-color: $font-green-color !important;
  font-size: 12.8px !important;
  line-height: 1.24 !important;
  text-align: center !important;
  color: #ffffff !important;

  //font-family: "GothamBold" , sans-serif !important
  padding: 10px 45px 12px !important;
  width: 100% !important;
  font-weight: bold;
}

.btn-blue {
  border-radius: 5px !important;
  background-color: $font-blue-color !important;
  //font-size: 12.8px !important;
  line-height: 1.24 !important;
  text-align: left !important;
  color: #ffffff !important;

  //font-family: "GothamBold" , sans-serif !important
  //padding: 10px 45px 12px !important;
  width: auto !important;
  border: none;
  //font-weight: bold;
}

.btn-orange {
	border-radius: 5px !important;
	background-color: $font-orange-color !important;
	//font-size: 12.8px;
	line-height: 1.24 !important;
	text-align: center !important;
	color: #ffffff !important;


	//font-family: "GothamBold" , sans-serif !important
	padding: 15px 20px;
	width: auto !important;
	border: none;
	//font-weight: bold;	
  
	&:hover {
		background-color: #fc7830 !important;
		color: #fff !important;
	}
}

.btn-white {
	border-radius: 5px !important;
	background-color: $font-white-color !important;
	line-height: 1.24 !important;
	text-align: center !important;
	color: #00bcf7 !important;
	
	//font-family: "GothamBold" , sans-serif !important
	padding: 15px 20px;
	width: auto !important;
	border: none;
	//font-weight: bold;
	
	&:hover {
		background-color: #f8f8f8 !important;
		color: #479fd7 !important;
	}
}
/* FOR SPLIT TEST */
.btn-transition {
  transition: all 0.5s;
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -10px;
      transition: 0.5s;
    }
  }
  &:hover {
    padding-right: 35px;
    span {
      &:after {
        opacity: 1;
        right: -15px;
      }
    }
  }
}
.btn-orange-split {
  display: inline-block;
  position: relative;
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: linear-gradient(rgb(255,186,38), rgb(255,151,37)) !important;
  max-width: 400px;
  min-width: 200px;
  color: #fff;
  box-shadow: 3px 4px 8px rgba(68, 68, 68, 0.2) !important;
  @media (max-width:991px) {
    width: 100%;
    margin: 10px 0px !important;
  }
  &:hover {
    background: linear-gradient(rgb(255,157,0), rgb(255,121,1)) !important;
    color: #fff;
  }
}

.btn-orange-split-contact {
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: linear-gradient(rgb(255,186,38), rgb(255,151,37)) !important;
  max-width: 400px;
  min-width: 200px;
  float: right;
  color: #fff;
  box-shadow: 3px 4px 8px rgba(68, 68, 68, 0.2) !important;
  @media (max-width:991px) {
    margin: 10px 0px !important;
  }
  &:hover {
    background: linear-gradient(rgb(255,157,0), rgb(255,121,1)) !important;
    color: #fff;
  }
}

.btn-orange-split-thank-you {
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: linear-gradient(rgb(255,186,38), rgb(255,151,37)) !important;
  width: 100%;
  color: #fff;
  box-shadow: 3px 4px 8px rgba(68, 68, 68, 0.2) !important;
  @media (max-width:991px) {
    margin: 10px 0px !important;
  }
  &:hover {
    background: linear-gradient(rgb(255,157,0), rgb(255,121,1)) !important;
    color: #fff;
  }
}

.btn-transparent-split {
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #f8f8f8;
  color: #fff;
  max-width: 400px;
  min-width: 200px;
  @media (max-width:991px) {
    width: 100%;
    margin: 10px 0px !important;
  }
  &:hover {
    background-color: #fff;
    color: #189bc1;
  }
}

.btn-transparent-light-split {
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #189bc1;
  color: #189bc1 !important;
  max-width: 400px;
  min-width: 200px;
  @media (max-width:991px) {
    width: 100%;
    margin: 10px 0px !important;
  }
  &:hover {
    background-color: #189bc1;
    color: #fff !important;
  }
}

.btn-blue-split {
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: linear-gradient(rgb(140,229,255), rgb(24,203,255)) !important;
  color: #fff;
  max-width: 400px;
  min-width: 200px;
  box-shadow: 3px 4px 8px rgba(68, 68, 68, 0.2) !important;
  @media (max-width:991px) {
    width: 100%;
    margin: 10px 0px !important;
  }
  &:hover {
    background: linear-gradient(rgb(67,213,255), rgb(29,177,219)) !important;
    color: #fff;
  }
}

.btn-blue-split-contact {
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: linear-gradient(rgb(140,229,255), rgb(24,203,255)) !important;
  max-width: 250px;
  min-width: 200px;
  float: right;
  color: #fff;
  box-shadow: 3px 4px 8px rgba(68, 68, 68, 0.2) !important;
  @media (max-width:991px) {
    max-width: 100% !important;
    margin: 10px 0px !important;
  }
  &:hover {
    background: linear-gradient(rgb(67,213,255), rgb(29,177,219)) !important;
    color: #fff;
  }
}

.btn-blue-split-side-contact {
  font-family: $font-family-open;
  font-weight: 100;
  border-radius: 5px;
  background: linear-gradient(rgb(140,229,255), rgb(24,203,255)) !important;
  max-width: 100%;
  color: #fff;
  box-shadow: 3px 4px 8px rgba(68, 68, 68, 0.2) !important;
  @media (max-width:991px) {
    margin: 10px 0px !important;
  }
  &:hover {
    background: linear-gradient(rgb(67,213,255), rgb(29,177,219)) !important;
    color: #fff;
  }
}
.ce-watch-vid {
  @media(max-width: 767px) {
    display: none;
  }
}

.contact-us-button, .client-button {
	text-align: center;
}

.btn-orange-ghst-file {
  border-radius: 10px !important;
  background-color: transparent !important;
  font-size: 23.7px !important;
  line-height: 1 !important;
  text-align: left !important;
  color: #f62 !important;
  padding: 17px 30px 37px 84px !important;
  width: auto !important;
  border: 4px solid !important;
  border-color: #f62 !important;
  font-weight: bold;
  letter-spacing: 0.5px;

  @include buttontrasnse;

  @media (min-width: 768px) {
    padding: 25px 49px 53px 130px !important;
    font-size: 35.7px !important;
  }

  span {
    font-size: 11px;
    position: absolute;
    left: 86px;
    top: 49px;
    letter-spacing: 0px;

    @media (min-width: 768px) {
      left: 132px;
      top: 70px;
      font-size: 17px;
    }
  }

  i {
    position: absolute;
    margin-right: 0 !important;
    font-size: 45px;
    left: 20px;
    top: 16px;

    @media (min-width: 768px) {
      left: 30px;
      top: 22px;
      font-size: 70px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: #fff !important;
    border-color: #1690b9 !important;
    background-color: #1690b9 !important;
    box-shadow: none;

    @include buttontrasnse;
  }
}

.btn-white-ghst {
  border-radius: 5px !important;
  background-color: transparent !important;
  font-size: 12.8px !important;
  line-height: 1.24 !important;
  text-align: left !important;
  color: #ffffff !important;

  //font-family: "GothamBold" , sans-serif !important
  padding: 10px 45px 12px !important;
  width: auto !important;
  border: solid 2px;
  border-color: #fff;
  font-weight: bold;
  box-shahow: none;
}

.btn {
  i {
    margin-right: 15px;
  }
}

.banner-title, .banner-title2 {
  font-size: 45.5px !important;
  line-height: 1.2;
  text-shadow: 0px 5px 5px rgba(0, 1, 1, 0.28) !important;
  margin-bottom: 28px !important;
  font-family: "GothamBold", sans-serif;

  @media(max-width: 480px) {
    font-size: 25px !important;
  }
}

.pages-titles-contents {
  line-height: 1.2;

  //text-shadow: 0px 5px 5px rgba(0, 1, 1, 0.28) !important
  font-family: "GothamBold", sans-serif !important;
}

.pages-titles-contents-rw {
  font-family: "Raleway", sans-serif !important;
}

.banner-content {
  font-size: 19.5px;

  //line-height: 1.2
  margin-bottom: 26px;

  //font-family: "GothamBook" , sans-serif
  color: #fff;
  max-width: 760px;
  margin-right: auto;
  margin-left: auto;

  @media(max-width: 480px) {
    font-size: 10px !important;
  }
}

.banner-anchor,
.banner-anchor:hover,
.banner-anchor:active {
  //font-size: 16px
  //line-height: 1.2
  //color: white
  //border-bottom: 1px solid #fff
  //text-decoration: none
  //padding-bottom: 3px
  //font-family: "GothamBook" , sans-serif

  border: none;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  margin: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  outline: none !important;

  i {
    width: 100%;
  }
}

.site-banner-section {
  width: 100%;
  height: auto;
  min-height: 320px;
  color: white;
  background: linear-gradient(#02aac6 65%, #fff 100%);
  display: flex;

  @media (min-width: 768px) {
    height: 100vh;
  }

  @media (min-width: 992px) {
    height: 100vh;
  }

  @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
    height: auto !important;
  }

  .banner-content-section {
    margin: 100px auto;
    text-align: center;

    @media (min-width: 992px) {
      margin: auto auto;
    }

    @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
      margin: 100px auto;
    }

    //@media (max-height: 740px )
    //	margin: 130px auto
 
  }

  .v--align {
    height: auto;

    @media (min-width: 992px) {
      height: 100vh;
    }

    @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
      height: auto;
    }

    > div {
      margin: 100px auto;

      @media (min-width: 992px) {
        margin: auto auto;
      }

      @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
        margin: 100px auto;
      }
    }
  }

  &.fade-on-load {
    height: auto !important;

    @media (min-width: 992px) {
      height: 100vh !important;
    }

    @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
      height: auto !important;
    }
  }
}

.cloud-top {
  background: url(../img/ce-cloud.png) repeat-x;
  background-position: center -150px;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-section {
  background: white;
}

.breadcrumb-section {
  margin-bottom: 39px;

  p {
    font-size: 15px;

    //font-family: "GothamBook" , sans-serif
    color: #535353;
    line-height: 1.2;
    text-align: left;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 9px 30px 7px;

    a{
      color: #535353;
      text-decoration: none;
      &:hover {
        color: #02aac6;
        text-decoration: underline;
      }
    }
  }
}

.tech-page-section{
  .full-width {
    .white-section {
      > .container {
        padding: 0;
      }
    }
  }
}

.page-tech-content-section {
  ul {
    //font-family: "GothamBook" , sans-serif !important
    padding-left: 15px;

    //font-size: 19px
    line-height: 1.74;
    text-align: left;
    color: #1e1e1e;
    margin-bottom: 30px;

    span {
      //font-family: "GothamLight" , sans-serif !important
      font-weight: bold;
    }
  }
}

.page-tech-content {
  padding-right: 22px;

  .page-tech-content-about {
    text-indent: 25px;
    margin-bottom: 60px;
  }

  p {
    //font-family: "GothamBook" , sans-serif !important
    //font-size: 19px !important
    line-height: 1.6;
    text-align: left;
    color: #1e1e1e !important;
    margin-bottom: 39px;

    span {
      //font-family: GothamLight , sans-serif !important
   
    }
  }

  .page-tech-content-info {
    ul {
      margin: 52px 0;
    }
  }
}

.page-content-title {
  //font-family: "GothamBold" , sans-serif !important
  font-size: 35px !important;
  text-align: center;
  color: #02aac6 !important;
  margin-bottom: 39px;
  font-weight: bold;
}

.page-content-subtitle {
  text-align: center;
}

.page-tech-sidebar {
  @media (min-width: 768px) {
    padding-left: 28px;
    margin-top: -39px;
  }

  .page-footer {
    padding-top: 40px;

    p {
      text-align: left;

      a {
        font-size: 14px;
      }

      @media (max-width: 768px) {
        &.pull-right {
          float: none !important;
        }
      }
    }
  }
}

.how-it-works-tech-section {
  //padding-bottom: 30px

  @media (max-width: 768px) {
    .page-content-title {
      text-align: left;
    }
  }

  h2 {
    text-align: center !important;
  }

  .how-it-works-tech-list,
  .page-content-title {
    padding: 0;
    margin: 40px 0 0;
    text-align: center;
  }

  .how-it-works-tech-list {
    margin-top: 30px;

    .how-it-works-tech-post {
      width: 100%;
      padding: 0 12px;

      @media (min-width: 768px) {
        width: 46%;
      }

      img {
        margin-bottom: 12px;
      }

      p {
        font-size: 14.3px;

        //font-family: "GothamBold" , sans-serif !important
        text-align: center;
        color: #2a2a2a;
        margin-bottom: 39px;
        font-weight: bold;
      }
    }
  }
}

.page-tech-faq {
  margin-bottom: 68px;

  @media (max-width: 768px) {
    .page-content-title {
      text-align: left;
    }
  }

  h2 {
    margin-bottom: 30px !important;
    text-align: center !important;
  }

  > a.tech-link {
    font-size: 14px;
    margin: 15px 0 10px;
    display: inline-block;
  }
}

a.tech-link {
  //font-family: "GothamBook" , sans-serif !important
  font-size: 19px;
  line-height: 2;
  color: #02aac6;
  padding-bottom: 2px;
  border-bottom: solid 1px #02aac6;
  text-decoration: none !important;
}

.contact-us-side {
  border-radius: 10px;
  background-color: #e1e1e1;
  padding: 24px 24px 30px 26px;
  margin-bottom: 20px;
  

  h2 {
    margin-bottom: 42px !important;
  }

  p {
    //font-family: "GothamBold" , sans-serif !important
    font-size: 14.6px !important;
    line-height: 2;
    text-align: center;
    color: #6c6c6c !important;
    margin-bottom: 0px;
    font-weight: bold;

    a {
      //font-family: "GothamBook" , sans-serif !important
      color: #949494 !important;
    }
  }

  .contact-form {
    text-align: right;

    input {
      border-radius: 5px;
      background-color: #f7f7f7;
      height: 38px;
      padding: 15px 11px 12px;
      margin-bottom: 9px;
    }
  }
}

.contact-us-side-v2 {
  border-radius: 10px;
  background-color: #e1e1e1;
  padding: 24px 24px 30px 26px;
  margin-bottom: 20px;
  
  @media (min-width: 320px) and (max-width: 767px) {
  margin-left: -50px;
  margin-right: -50px;
  }

  h2 {
    margin-bottom: 42px !important;
  }

  p {
    //font-family: "GothamBold" , sans-serif !important
    font-size: 14.6px !important;
    line-height: 2;
    text-align: center;
    color: #6c6c6c !important;
    margin-bottom: 0px;
    font-weight: bold;

    a {
      //font-family: "GothamBook" , sans-serif !important
      color: #949494 !important;
    }
  }

  .contact-form {
    text-align: right;

    input {
      border-radius: 5px;
      background-color: #f7f7f7;
      height: 38px;
      padding: 15px 11px 12px;
      margin-bottom: 9px;
    }
  }
}

.contact-us-side2 {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 24px 24px 30px 26px;
  margin-bottom: 20px;

  h2 {
    margin-bottom: 42px !important;
  }

  p {
    //font-family: "GothamBold" , sans-serif !important
    font-size: 14.6px !important;
    line-height: 2;
    text-align: center;
    color: #6c6c6c !important;
    margin-bottom: 0px;
    font-weight: bold;

    a {
      //font-family: "GothamBook" , sans-serif !important
      color: #949494 !important;
    }
  }

  .contact-form {
    text-align: right;

    input {
      border-radius: 5px;
      background-color: #eaeaea;
      height: 38px;
      padding: 15px 11px 12px;
      margin-bottom: 9px;
    }
	
	textarea {
	  background-color: #eaeaea !important;
	}
  }
}

.page-tect-adev {
  .page-content-title {
    text-align: left;
  }

  h2 {
    text-align: center !important;
  }

  ul {
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: inline-block;

    li {
      a {
        text-decoration: none !important;

        //font-family: "GothamBook",sans-serif !important
        padding-left: 15px;
        font-size: 19px;
        line-height: 1.74;
        text-align: left;
        color: #1e1e1e;
        margin-bottom: 30px;
      }

      a.tech-link {
        font-weight: bold;
      }

      .dev-labels {
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        color: #0c0c0c;
      }
    }
  }
}

.testimonial-tech-link {
  margin-top: 30px;
  margin-bottom: 20px;
}

.learn-more-exp-tech-section {
  .learn-more-exp-tech-tech-link {
    margin-bottom: 80px;
  }
}

.learn-more-exp-tech-list {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  .learn-more-exp-tech-post {
    padding: 0 2.5%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      padding: 0 2.5%;
    }

    .learn-more-exp-tech-img {
      max-width: 90%;
      min-height: 100px;
      margin-bottom: 42px;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      position: relative;
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
      position: relative;
      display: inline-block;
    }

    p {
      //font-family: "GothamBook" , sans-serif
      font-size: 16px !important;
      text-align: left;
      color: #292929;
      text-align: center;
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 0px;
    }

    a {
      text-decoration: none !important;
    }
  }

  .learn-more-exp-tech-post-v2 {
    padding: 0 2.5%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      padding: 0 2.5%;
    }

    .learn-more-exp-tech-img {
      /* width: 90%; */
      max-width: 120px;
      min-height: 100px;
      margin-bottom: 42px;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      position: relative;
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
      position: relative;
      display: inline-block;
    }

    p {
      //font-family: "GothamBook" , sans-serif
      font-size: 15px !important;
      text-align: left;
      color: #292929;
      text-align: center;
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 2px;
      &:hover {
        color: #189bc1;
      }
    }

    a {
      text-decoration: none !important;
    }
  }
}

.learn-more-exp-tech-section {
  margin: 25px 0 -20px;
  .learn-more-exp-tech-list {
    width: 100%;
    padding: 30px 0 0;
  }
}

.footer-sticky-section {
  background-color: #e4e4e4;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 2000;
  display: none;
  -webkit-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;

  @media (min-width: 768px) {
    display: block;
  }

  &.bluestcsction {
    background-color: #02aac6;

    img.imagefloatlng {
      position: absolute;
      bottom: 0;
      left: 0;

      @media (max-width: 991px) {
        display: none;
        left: 10px;
      }

      @media only screen and (min-height: 500px) and (max-width: 812px) and (orientation: landscape) {
        display: none;
      }

      @media (min-width: 768px) {
        left: -85px;
      }

      @media only screen and (min-height: 500px) and (max-height: 767px) and (orientation: landscape) {
        left: -85px;
        display: block;
      }

      @media (min-width: 1200px) {
        left: -120px;
      }
    }

    .footer-sticky-content {
      p {
        color: #fff;

        &.longtextmobile {
          @media (max-width: 1199px) {
            overflow: hidden;
            position: relative;
            height: 63px;
          }

          @media only screen and (min-height: 500px) and (max-height: 767px) and (orientation: landscape) {
            overflow: hidden;
            position: relative;
            height: 63px;
          }
        }

        p {
          // @media (max-width: 1199px )
          // position: absolute
          // width: 900px
          // height: 100%
          // margin: 0
          // padding: 0
          // line-height: 60px
          // text-align: center
          // -moz-transform:translateX(100%)
          // -webkit-transform:translateX(100%)
          // transform:translateX(100%)
          // -moz-animation: scroll-left 10s linear infinite
          // -webkit-animation: scroll-left 10s linear infinite
          // animation: scroll-left 10s linear infinite

          //@media only screen and (min-height: 500px) and (max-height: 767px) and (orientation: landscape) {
          //  position: absolute;
          //  width: 900px;
          //  height: 100%;
          //  margin: 0;
          //  padding: 0;
          //  line-height: 60px;
          //  text-align: center;
          //  -moz-transform:translateX(100%);
          //  -webkit-transform:translateX(100%);
          //  transform:translateX(100%);
          //  -moz-animation: scroll-left 10s linear infinite;
          //  -webkit-animation: scroll-left 10s linear infinite;
          //  animation: scroll-left 10s linear infinite;
          //}
        }
      }
    }
  }

  &.affix-top {
    position: fixed;
    bottom: -205px;
    -webkit-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease;
  }

  &.affix-bottom {
    position: fixed;
    bottom: -205px;
    -webkit-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease;
    top: auto !important;
  }

  .footer-sticky-content {
    margin-right: 105px;
    margin-left: 15px;

    @media (min-width: 991px) {
      margin-left: 105px;
    }

    @media only screen and (min-height: 500px) and (max-height: 767px) and (orientation: landscape) {
      margin-left: 105px;
    }

    @media (min-width: 1200px) {
      margin-right: 0;
      margin-left: 0;
    }

    p {
      padding: 19px 0 18px;

      //font-family: "GothamBook" , sans-serif
      font-size: 12px;
      line-height: 1.86;
      text-align: left;
      color: #3a3a3a;
      margin: 0;
      position: relative;

      @media (min-width: 992px) {
        padding: 26px 0 23px;
        font-size: 14px;
        text-align: center;
      }

      @media (min-width: 1200px) {
        padding: 26px 0 23px;
        font-size: 16px;
        text-align: left;
      }
    }

    a {
      text-decoration: none;
      margin-left: 10px;
      color: #fff;
      padding: 5px 12px !important;
    }

    a.btn-blue {
      position: relative;
      width: 160px !important;
      display: inline-block;
      margin-left: 5px;
    }

    br {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .footer-sticky-mail {
    position: absolute;
    right: 0;
    top: -13px;

    button {
      width: 93px;
      height: 67px;
      border-radius: 10px;
      background-color: #20c4f7;
      box-shadow: 2.5px 4.3px 5px 0 rgba(1, 1, 1, 0.23);
      border: none;

      svg {
        width: 60px;
        height: 37px;
      }
    }
  }
}

.tech-expertise {
  .container {
    pointer-events: all !important;
  }
  .page-content-title {
    text-align: center !important;
    font-size: 30px !important;
  }
  .ce-text-left {
    text-align: left !important;
  }
  .page-content-title-left {
    text-align: left !important;
    font-size: 50px !important;
    color: #02aac6!important;
    font-weight: 700;
    @media(max-width: 480px) {
      font-size: 30px !important;
    }
  }
}

.our-available-dev-section {
  ul {
    padding: 0;
    list-style-type: none;

    a {
      font-family: "Open Sans",sans-serif !important;
      font-size: 27.3px !important;
      text-align: center;
      color: #01b4ea !important;
      text-decoration: none !important;
      font-weight: bold;
    }

    .ce-tech-link {
      font-size: 20px !important;
      margin-bottom: 20px;
      color: #02aac6 !important;
    }

    .ce-tech-a {
      font-size: 16px !important;
      color: #fff !important;
      padding: 15px;
      float: right;
      right: 8px;
      position: relative;
    }

    h2 {
      text-align: left;
      margin-bottom: 15px !important;
      margin-top: 10px !important;
      @media(max-width: 991px) {
        margin-top: 5px !important;
      }
    }

    .dev-labels {
      margin-bottom: 20px;
    }

    .ce-devs-list {
      margin-top: 20px;
      label {
        margin-bottom: 20px;
      }
      .label-dev {
        background-color: #bcbcbc;
        line-height: 2.5;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}

.banner-content-hiredev {
  background-color: #f62;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 19px !important;

  strong {
    font-family: "GothamBold", sans-serif;
    font-size: 21px;
  }

  i {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.banner-listednumber {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 25px;

  li {
    position: relative;
    min-height: 40px;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      margin-right: 15px;
      text-align: left;
      display: inline-block;
      margin-bottom: 0px;
    }

    &:last-child {
      @media (min-width: 992px) {
        margin-right: 0;
      }
    }

    div {
      display: flex;
      align-items: center;
    }

    span {
      position: absolute;
      left: 0;
      border: solid;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      padding: 5px;
      text-align: center;
      border-color: #fff;
    }

    p {
      padding-left: 47px;
      margin-bottom: 0;
    }
  }
}

.banner-listednumber2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  margin: auto;
  @media (min-width: 768px) and (max-width: 991px) {
	 padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  li {
    position: relative;
    min-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      margin-right: 15px;
      text-align: left;
      display: block;
      margin-bottom: 0px;
    }

    &:last-child {
      @media (min-width: 992px) {
        margin-right: 0;
      }
    }

    div {
      display: flex;
      align-items: center;
  	  margin: 0 -60px;
  	  @media (max-width: 991px) {
  		  margin: 0;
  	  }
    }

    span {
      position: absolute;
      left: 0;
      border: solid;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      padding: 5px;
      text-align: center;
      border-color: #fff;
	    color: #fff !important;
      font-family: "OpenSanBold", sans-serif;
    }

    p {
      padding-left: 47px !important;
      margin-bottom: 0;
	    color: #fff !important;
  	  @media (max-width: 991px) {
  		  text-align: left; 
  	  }
    }
  }
}

.banner-listednumber3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  margin: auto;
  @media (min-width: 768px) and (max-width: 991px) {
   padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  li {
    position: relative;
    min-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      margin-right: 15px;
      text-align: left;
      display: block;
      margin-bottom: 25px;
    }

    &:last-child {
      @media (min-width: 992px) {
        margin-right: 0;
      }
    }

    div {
      display: flex;
      align-items: center;
      margin: 0 -60px;
      @media (max-width: 991px) {
        margin: 0;
      }
    }

    span {
      position: absolute;
      left: 0;
      border: solid;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      padding: 5px;
      text-align: center;
      border-color: #f62;
      color: #f62 !important;
      font-family: "OpenSanBold", sans-serif;
    }

    .gold-round {
      position: absolute;
      left: 0;
      border: solid;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      padding: 5px;
      text-align: center;
      border-color: #ff9725;
      color: #ff9725 !important;
    }

    p {
      padding-left: 47px !important;
      margin-bottom: 0;
      color: #000 !important;
      @media (max-width: 991px) {
        text-align: left; 
      }
    }
  }
}

.banner-listednumber3b {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  margin: auto;
  @media (min-width: 768px) and (max-width: 991px) {
   padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  li {
    position: relative;
    min-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      margin-right: 15px;
      text-align: left;
      display: block;
      margin-bottom: 25px;
    }

    &:last-child {
      @media (min-width: 992px) {
        margin-right: 0;
      }
    }

    div {
      display: flex;
      align-items: center;
      margin: 0 -60px;
      @media (max-width: 991px) {
        margin: 0;
      }
    }

    span {
      position: absolute;
      left: 0;
      border: solid;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      padding: 5px;
      text-align: center;
      border-color: #fff;
      color: #fff !important;
    }


    p {
      padding-left: 47px !important;
      margin-bottom: 0;
      color: #fff !important;
      @media (max-width: 991px) {
        text-align: left; 
      }
    }
  }
}
.dev-promotional {
  background: linear-gradient(#02aac6 65%, #fff 100%);
}

html body .full-width.fade-on-load {
  &.contact-formbanner-res {
    height: auto;

    @media (min-width: 768px) {
      height: 100vh;
    }

    @media (min-width: 992px) {
      height: 100vh;
    }

    @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
      height: auto;
    }

    .banner-content-section {
      margin: 100px auto;
      text-align: center;

      @media (min-width: 992px) {
        margin: auto auto;
      }

      @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
        margin: 100px auto;
      }
    }
  }

  &.dev-promotional {
    height: auto;

    //@media screen and (min-height: 500px) and (max-height: 569px )
    //	height: 150vh !important
    //@media screen and (min-height: 570px) and (max-height: 629px )
    //	height: 140vh !important
    //@media screen and (min-height: 630px) and (max-height: 689px )
    //	height: 130vh !important
    //@media screen and (min-height: 690px) and (max-height: 740px )
    //	height: 120vh !important

	@media (max-width: 991px) and (min-height: 1001px) and (max-height: 1600px) {
    height: 780px !important;
  }
	
  @media (max-width: 991px) and (min-height: 768px) and (max-height: 1000px) {
    height: 750px !important;
  }
	
	@media (max-width: 991px) and (min-height: 300px) and (max-height: 767px) {
    height: 745px !important;
  }
	
	@media (min-width: 992px) and (min-height: 1001px) and (max-height: 1600px) {
	  height: 930px !important;
	}
	
	@media (min-width: 992px) and (min-height: 768px) and (max-height: 1000px) {
	  height: 910px !important;
	}
	
	@media (min-width: 992px) and (min-height: 300px) and (max-height: 767px) {
	  height: 900px !important;
	}

    .banner-content-section {
      margin: 100px auto;
      text-align: center;

      @media (min-width: 992px) {
        margin: auto auto;
      }

      @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
        margin: 100px auto;
      }
    }
  }

  &.dev-promotional-v2 {
    height: auto;

    .dev-promotional-form-desktop-v2 {
      padding-top: 30px;

      @media(min-width: 300px) and (max-width: 991px) {
        display: none;
      }
    }
    

    //@media screen and (min-height: 500px) and (max-height: 569px )
    //  height: 150vh !important
    //@media screen and (min-height: 570px) and (max-height: 629px )
    //  height: 140vh !important
    //@media screen and (min-height: 630px) and (max-height: 689px )
    //  height: 130vh !important
    //@media screen and (min-height: 690px) and (max-height: 740px )
    //  height: 120vh !important

    @media (max-width: 991px) and (min-height: 1001px) and (max-height: 1600px) {
      height: 780px !important;
    }
    
    @media (max-width: 991px) and (min-height: 768px) and (max-height: 1000px) {
      height: 750px !important;
    }
    
    @media (max-width: 991px) and (min-height: 300px) and (max-height: 767px) {
      height: 745px !important;
    }
    
    @media (min-width: 992px) and (min-height: 1001px) and (max-height: 1600px) {
      height: 1120px !important;
    }
    
    @media (min-width: 992px) and (min-height: 768px) and (max-height: 1000px) {
      height: 1100px !important;
    }
    
    @media (min-width: 992px) and (min-height: 300px) and (max-height: 767px) {
      height: 1090px !important;
    }

    .banner-content-section {
      margin: 100px auto;
      text-align: center;

      @media (min-width: 992px) {
        margin: auto auto;
      }
      .banner-title2 {
        @media(max-width: 480px) {
           font-size: 30px !important;
           text-align: center;
           margin-top: 50px;
        }
      }

      @media only screen and (min-height: 300px) and (max-height: 767px) and (orientation: landscape) {
        margin: 100px auto;
      }
    }
  }
}

.dev-promotional-title-section {
  @media (min-width: 992px) {
    width: 100% !important;
  }

  > div {
    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.banner-content-section {
  .colflex {
    .colflex {
      align-items: center;

      @media (min-width: 768px) {
        padding-right: 0;
        padding-left: 0;
        -webkit-flex-wrap: unset !important;
        -ms-flex-wrap: unset !important;
        flex-wrap: unset !important;
      }
    }
  }
}

.landing-page-contact {
  position: relative;
  min-width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 375px) {
    min-width: 320px;
  }

  img {
    position: relative;
    top: 10px;
    left: 10px;
    width: 220px;

    @media (min-width: 375px) {
      left: 20px;
      width: auto;
    }
  }

  form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: -23px;
    width: 100%;

    @media (min-width: 375px) {
      margin-top: -31px;
    }

    .btn {
      width: 100% !important;
      text-align: center !important;
    }

    h3 {
      color: #0c0c0c;
      font-size: 16px;
      font-family: "GothamBold", sans-serif !important;
    }

    textarea {
      resize: none;
      height: 85px;
    }

    span {
      color: #0c0c0c;
    }
  }
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.tech-clients-story-section {
  padding: 0 0 100px;

  .page-clients-story-content {
    h2 {
      margin-top: 20px;
    }

    iframe {
      width: 100%;
    }

    .embed-responsive {
      margin-bottom: 30px;
    }

    p {
      text-align: left;
      margin-bottom: 20px;
      line-height: 1.6;
    }

    img {
      width: 100%;
    }
  }

  .page-clients-story-sidebar {
    text-align: left;

    @media (min-width: 768px) {
      padding-left: 50px;
    }

    .cntct-frm-sdCstry {
      background-color: #eee;
      padding: 15px 20px 20px;
      margin-top: 30px;

      form {
        text-align: right;
      }

      p {
        text-align: left;
      }

      input,
      textarea[name=message] {
        background-color: #fff;
      }
    }

    img {
      width: 160px;
      margin-bottom: 10px;
    }
  }
}

.pricing-downloadpsec {
  font-size: 20px;
  margin-bottom: 65px;

  a {
    font-size: 10px !important;
    padding: 8px 12px !important;
    margin: 12px 0 0 !important;

    @media (min-width: 768px) {
      font-size: 16px !important;
      padding: 10px 45px 12px !important;
    }
  }
}

.pridic-downlload {
  .close {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    opacity: 1;
    padding: 0 11px 4px;
    background-color: rgba(#010101, 0.6);
    position: absolute;
    z-index: 1;
    right: -14px;
    top: -19px;

    span {
      color: #fff;
    }
  }

  .modal-body {
    padding: 0;
    border-radius: 10px;
    overflow: hidden;

    .left-part-modal {
      background-color: #1690b9;
      text-align: center;
      padding: 23px 21px 13px;

      img {
        border-radius: 3px;
      }

      h4 {
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        text-shadow: 2.5px 4.3px 5px rgba(0, 1, 1, 0.28);
      }
    }

    .right-part-modal {
      padding: 32px 24px;
      align-items: center;

      .contact-form {
        width: 100%;
      }

      span {
        color: #404040;
        background-color: transparent;
        display: block;
        padding: 6px 2px;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #f62;
        border-radius: 3px;
        text-align: center;
        margin-top: 17px;
      }

      .social-icons {
        margin-top: 20px;

        button {
          float: right;
          margin-top: -4px;
        }

        a {
          margin-right: 8px;

          i {
            font-size: 32px;
            color: #00bcf7;
          }
        }
      }
    }
  }
}

.new-officegalery {
  background-color: #fff !important;

  .container-fluid {
    max-width: 1200px;

    .row {
      > .colflex {
        > .coldivflex {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          min-height: 275px;

          &.colflex {
            align-items: center;

            &:hover {
              .filtersgalr,
              > .coldivflex {
                opacity: 1;
                -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
                -o-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
                transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
              }
            }
          }

          .filtersgalr {
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: rgba(#ff6629, 0.7);
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -o-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
          }

          > .coldivflex {
            width: 100%;
            z-index: 20;
            opacity: 0;
            -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
            -o-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
          }

          h3 {
            color: #fff;
            font-size: 66.7px;
            margin: 0;
            line-height: 1;
          }

          p {
            color: #fff;
            font-size: 25px;
          }
        }
      }
    }
  }
}

.article-content {
  h2.parag-title {
    font-weight: bold !important;
    font-size: 26px !important;
  }

  p.parag-content-big,
  p.parag-content-big span,
  strong.parag-content-big,
  strong.parag-content-big span {
    font-size: 16px !important;
  }
}

.article-content-v2 {
  h2.parag-title {
    font-weight: bold !important;
    font-size: 26px !important;
  }

  p.parag-content-big,
  p.parag-content-big span,
  strong.parag-content-big,
  strong.parag-content-big span {
    font-size: 16px !important;
  }
}

.fullscrn-contactformpdf {
  padding: 50px 0;

  > .container {
    padding: 0;
    max-width: 890px;

    > .row {
      > .colflex {
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .left-part-contactformpdf {
    background: linear-gradient(to right, rgba(22, 144, 185, 0) 80%, rgba(0, 0, 0, 0.6)), linear-gradient(to left, rgba(255, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6));
    padding: 0;
    align-items: center;

    img {
      width: 100%;
    }

    > .coldivflex {
      width: 100%;
      padding: 0 20px;
      text-align: center;

      h2,
      h3 {
        color: #fff;
      }

      h2 {
        font-family: "GothamBold", sans-serif !important;
      }
    }
  }

  .right-part-contactformpdf {
    background-color: #fff;
    padding: 0;
    align-items: center;
    position: relative;

    .contact-form {
      padding: 30px 15px;
      text-align: center;

      @media (min-width: 768px) {
        padding: 30px 40px;
      }

      h4 {
        font-size: 28px;
        margin-bottom: 52px;
        color: #1690b9;
      }

      input {
        font-family: "GothamBold", sans-serif !important;
        background-color: #eaeaea;
        color: #949494;
        font-size: 15.5px;
        height: 45px;
      }

      .social-icons {
        margin-top: 20px;
        text-align: left;

        a {
          margin-right: 8px;

          i {
            font-size: 32px;
            color: #00bcf7;
          }
        }

        button {
          float: right;
          margin-top: -4px;
        }

        .chck-subcrib {
          height: 19px;
          position: absolute;
          left: 0;
          top: -3px;
        }

        label {
          padding-left: 18px;
          position: relative;
          top: 4px;
        }
      }

      span {
        color: #404040;
        background-color: transparent;
        display: block;
        padding: 6px 2px;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #f62;
        border-radius: 3px;
        text-align: center;
        margin-top: 17px;
      }
    }
  }
}

.case-study-section {
  background-color: #fff;
  padding: 40px 0;

  .container {
    padding: 0;

    .row {
      padding: 0;
    }
  }

  .case-study-listsection {
    > .coldivflex {
      text-align: center;
      align-items: center;
    }

    .case-study-listsectionpost {
      min-height: 304px;

      &.cslistb {
        background-color: #1690b9;

        h3,
        p,
        a {
          color: #fff;
        }

        &:hover {
          background-color: rgba(#1690b9, 0.8);

          h3,
          a,
          p {
            //color: #1690b9
         
          }
        }
      }

      &.cslistw {
        background-color: #f2f2f2;

        h3,
        a,
        p {
          color: #1690b9;
        }

        &:hover {
          background-color: rgba(#1690b9, 0.8);

          h3,
          p,
          a {
            color: #fff;
          }
        }
      }

      &.cslistb,
      &.cslistw,
      &.cslistb:hover,
      &.cslistw:hover {
        @include animationease;

        h3,
        a,
        p {
          @include animationease;
        }
      }

      .coldivflex {
        width: 95%;
        margin: 75px auto;

        @media (min-width: 768px) {
          width: 63%;
        }
      }

      h3 {
        font-size: 30px;
        font-family: "GothamBold", sans-serif;
      }

      p {
        font-size: 20px;
        font-family: "GothamMedium", sans-serif;
      }

      a {
        font-size: 20px;
        font-family: "GothamBold", sans-serif;
        position: absolute;
        right: 35px;
        bottom: 45px;

        i {
          font-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }
}

html body .full-width:not(.fade-on-load) .v--align {
  &.beyond-value-container {
    @media (max-width: 767px) {
      height: auto !important;
    }
  }
}

.pricng-btnlarg {
  margin-bottom: 40px;

  .btn {
    margin: 0;

    &:first-child {
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }

    &:last-child {
      @media (min-width: 768px) {
        margin-left: 20px;
      }
    }
  }
}

.youtubeiframe {
  @media (min-width: 768px) {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

.article-content {
  .blog-slide-slider {
    .slick-list {
      .slick-slide {
        img {
          margin-bottom: 90px;
        }
      }
    }

    .slick-next {
      top: 250px;
      right: 15px;

      &:before {
        font: normal normal normal 14px / 1 FontAwesome;
        content: "\f061";
        font-size: 35px;
      }
    }

    .slick-prev {
      top: 250px;
      left: 5px;
      z-index: 1;

      &:before {
        font: normal normal normal 14px / 1 FontAwesome;
        content: "\f060";
        font-size: 35px;
      }
    }

    ul.slick-dots {
      margin-top: 0;
      text-align: center;
      top: 445px;
    }
  }
}
