html {
  body {
    &.unsubscibed {
      .full-width {
        &.ce-thank-you {
          background-color: #e3f6fc;
          height: 20em;
          @media(max-width: 991px) {
            background-color: transparent;
            height: 100%;
          }
          .ce-thank-you-container {
            @media(max-width: 991px) {
              width: 100%;
              padding: 0;
            }
            .ce-thank-you-wrapper {
              position: relative;
              top: -11em;
              background-color: #fff;
              padding: 3em;
              box-shadow: 2.5px 4.3px 8px 0 rgba(0, 0, 0, 0.1);
              @media(max-width: 991px) {
                top: 0;
              }
              @media(max-width: 767px) {
                padding: 3em 0;
              }
              a {
                &:hover {
                  text-decoration: none;
                  cursor: pointer;
                }
              }
              .ce-thank-you-column {
                @media(max-width: 767px) {
                  padding: 0;
                }
              }
              .ce-thank-you-section {
                border: 2px solid #ddd;
                border-radius: 10px;
                max-height: 185px;
                padding: 2em;
                margin: 1em;
                box-shadow: 2.5px 4.3px 8px 0 rgba(0, 0, 0, 0.1);
                transform: scale(0.9);
                @media(max-width: 991px) {
                  margin: 0;
                }
                @media(max-width: 767px) {
                  padding: 2em 10px;
                }
                &:hover {
                  transform: scale(1);
                  transition-timing-function: ease-out;
                  transition-duration: .5s;
                }
                i {
                  font-size: 60px;
                  color: #ff9724;
                  @media(max-width: 480px) {
                    font-size: 45px;
                  }
                }
                p {
                  color: #000;
                  margin: 1.5em auto;
                  @media(max-width: 480px) {
                    font-size: 14px;
                  }
                }
              }
              .ce-thank-you-footer {
                text-transform: uppercase;
                text-align: justify;
                @media(max-width: 767px) {
                  text-align: center;
                  margin: 2em;
                }
                h5 {
                  font-family: 'OpenSanSemiBold', sans-serif;
                  word-spacing: 2px;
                  letter-spacing: 2px;
                  @media(max-width: 767px) {
                    text-align: center;
                  }
                }
                a {
                  text-transform: lowercase;
                  @media(max-width: 767px) {
                    text-align: center;
                    margin-left: 15px;
                  }
                  &:hover {
                    text-decoration: none;
                  }
                  i {
                    font-size: 28px;
                    color: #acacac;
                    margin-right: 20px;
                    @media(max-width: 767px) {
                      font-size: 34px;
                    }
                    &:hover {
                      color: #179bc1;
                    }
                  }
                }
              }
            }
            hr {
              margin: 3em 4em !important;
              border: 1px solid #ddd !important;
              @media(max-width: 767px) {
                display: none;
              }
            }
          }
        }
        &.page-head {
          h1 {
            line-height: 1.2;

            small {
              font-size: 1.7rem;
            }
          }
        }

        .u-links {
          @media (min-width: 768px) {
            display: flex;
          }

          .item {
            @media (max-width: 767px) {
              padding: 15px 15px;
            }

            img {
              height: 100px;
              margin: 0 auto;
              max-width: 100%;
            }

            a {
              margin: 10px 0;
              padding: 10px 10px;
            }
          }
        }

        .social {
          margin: 40px 0;

          .social-icons {
            a {
              img {
                max-width: 40px;
              }
            }
          }
        }
      }

      #sales-deck-modal {
        a {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

.contact-panel {
  padding: 25px;
  border-radius: 8px;
}

.wrapergyer-section {
  background-color: #f2f2f2;
  padding: 0 0 150px;
  .unsubscribed-section {
    margin-top: 20px;
    text-align: center;
     padding: 20px 30px;
    box-shadow: 3px 5.2px 5.8px 0.2px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    min-height: 580px;
    align-items: center;
    @media ( min-width: 768px) {
      padding: 110px 120px;
      margin-top: -100px;
    }
    .unstnthankyou {
      margin-right: auto;
      margin-left: auto;
      h2 {
        font-family: "GothamBold" , sans-serif !important;
        color: #676767;
        font-size: 58.5px;
        margin-top: 0;
      }
      p {
        font-size: 22px;
        color: #676767;
        letter-spacing: 0.5px;
      }
    }
  }
  .contact-unscrub {
    text-align: right;
    h3 {
      font-size: 25px;
      color: #1690b9;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      margin-bottom: 38px;
      text-align: left;
      padding: 0;
    }
    .checkbox {
      margin-bottom: 15px;
      text-align: left;
      padding-left: 30px;
      label {
        line-height: 2;
        font-size: 15px;
      }
      input {
        margin-top: 8px;
      }
    }
    .form-group {
      text-align: left;
      input {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 17px 28px;
        height: 47px;
        border: none;
        box-shadow: none;
      }
    }
    button {
      text-align: right;
      margin: 0;
    }
  }
}
