html {
	body {
		&.glossary {
			.full-width {
				.ce-resources-breadcrumbs {
					margin-bottom: 15px;
					@media(min-width: 481px) and (max-width: 767px) {
						padding-left: 0;
						padding-right: 0;
					}
				}
				&.ce-glossary-container {
					padding: 2em;
					background-color: #fff;
					@media(max-width: 480px) {
						padding: 1em 2em 2em;
					}
					.ce-glossary-wrapper {
						padding: 0 30px;
						@media(max-width: 991px) {
							padding: 0;
						}
						> div {
							padding: 0;
							.ce-glossary-wrapper-index {
								border: 1px solid #02aac6;
								border-radius: 5px;
								display: inline-block;
								padding: 0;
								margin-bottom: 20px;
								overflow: auto;
								@media(max-width: 767px) {
									padding: 0 1em;		
								}
								ul {
									list-style-type: none;
									padding-left: 0;
									margin-top: 10px;
									padding: 0em 1em;
    								width: 850px;
									li {
										display: inline-block;
										text-align: center;
										padding-left: 1.2em;
										&:first-child {
											padding-left: 0;
										}
										a {
											text-decoration: none;
											cursor: pointer;
											font-size: 17px;
											&:hover {
												display: block;
												font-weight: bold;
												border-bottom: 2px solid #02aac6;
											}
										}
									}
								}
							}
							.ce-glossary-wrapper-search {
								padding-right: 0;
								@media(max-width: 991px) {
									padding-left: 0;
									padding-right: 0;
								}
								.ce-glossary-wrapper-search-box {
									.ce-glossary-wrapper-search-box-container {
										width: 100%;
					                    vertical-align: middle;
					                    white-space: nowrap;
					                    position: relative;
					                    &:hover {
					                      .icon{
					                        background-color: #02aac6;
					                        color: #f8f8f8;
					                      }
					                    }
					                    #search {
					                      width: 100%;
					                      height: 45px;
					                      background: #f8f8f8;
					                      border: 1px solid #02aac6;
					                      font-size: 10pt;
					                      float: left;
					                      color: #02aac6;
					                      padding-left: 45px;
					                      -webkit-border-radius: 5px;
					                      -moz-border-radius: 5px;
					                      border-radius: 5px;
					                     
					                      -webkit-transition: width .55s ease;
					                      -moz-transition: width .55s ease;
					                      -ms-transition: width .55s ease;
					                      -o-transition: width .55s ease;
					                      transition: width .55s ease;
					                      &:focus, &:active {
					                        outline:none;
					                      }
					                    }

					                    .icon {
					                      position: absolute;
					                      border: 0;
					                      border-radius: 5px 0 0 5px;
					                      background: transparent;
					                      padding: 12px;
					                      z-index: 1;
					                      color: #02aac6;
					                      left: 0;
					                    }
									}
								}
							}
						}
					}
					.ce-glossary-list-wrapper {
						#list-alphabets {
							@media(max-width: 480px) {
								padding: 0;
							}
						}
						.section-list {
							position: relative;
						    min-height: 94px;
						    margin-bottom: 5px;
						    padding-left: 136px;
						    padding-top: 30px;
						    border-bottom: 2px solid #f8f8f8;
						    @media(max-width: 767px) {
						    	padding-left: 102px;
    							padding-top: 35px;
						    }
						    @media(max-width: 480px) {
						    	padding-left: 60px;
						    }
						 
						    .section-list-letter {
					    	    width: 66px;
							    height: 66px;
							    border-radius: 50%;
							    letter-spacing: 0;
							    line-height: 66px;
							    text-align: center;
							    margin-top: 15px;
							    font-family: "OpenSanSemiBold", sans-serif;
								color: #02aac6;
								font-size: 50px;
								position: absolute;
							    top: 0;
							    left: 4px;
							    @media(max-width: 767px) {
							    	width: 78px;
								    height: 78px;
								    font-size: 2.5em;
								    line-height: 78px;
							    }
							    @media(max-width: 480px) {
							    	width: 25px;
							    	height: 60px;
							    }
								&:before {
									position: absolute;
								    top: -4px;
								    left: -4px;
								    width: 74px;
								    height: 74px;
								    border-radius: 50%;
								    content: '';
								}
						    }
						    .ce-glossary-sort-list {
								list-style-type: none;
	    						padding-bottom: 0;
	    						display: flow-root;
								li {
									width: 25%;
								    padding-left: 0;
								    padding-bottom: 12px;
								    margin-left: 0;
								    float: left;
								    text-align: left;
								    @media(max-width: 767px) {
								    	width: 100%;
								    	float: none;
								    }
								   
								    &:after {
								    	visibility: hidden;
									    display: block;
									    font-size: 0;
									    content: " ";
									    clear: both;
									    height: 0;
								    }
									a {
										font-size: 17px;
										padding: 0;
									    line-height: 29.82px;
									    color: #2d2d2d;
									    @media(max-width: 480px) {
									    	font-size: 18px;
									    }
									    &:hover {
									    	color: #02aac6;
									    }
									}
								}
							}
						}
						
					}
				}
			}
		}
	}
}