$imp: !important;
html {
  width: 100%;
  overflow-x: hidden;
  body {
    &.careers {
      .height-20 {
        height: 20em;
        @media(max-width: 991px) {
          height: auto;
        }
      }
      .is-floating-label{
        position: relative;
        margin-bottom: 15px;
        

        input, textarea {
          border: 0;
          padding: 1em;
          box-shadow: none; 
          outline: 0;
        }

        input {
          left: 0;
          background-color: transparent;
          border-bottom: 2px solid #EEE;
          &.height-adjust {
            @media(max-width: 480px) {
              height: 15vw;
            }
          }
        }

        label {
          opacity: 1;
          pointer-events: none;
          position: absolute;
          transform: translate3d(0, 0, 0) scale(1);
          transform-origin: left top;
          transition: 100ms;
          color: #9b9b9b !important;
          top: 10px;
          left: 5px;
          text-align: left;
          font-family: "GothamBook", sans-serif !important;
          font-size: 14px !important;
          font-weight: normal !important;
          margin: 0 10px;
        }
        
        &.is-focused {
          label {
            transform: translateY(-25px) scale(.8);
            color: #fff !important;
            @media (max-width: 991px) {
              left: 0;
              margin: 0;
            }
          }
          textarea, input {
            border: 3px solid #d3d3d3;
            @media (max-width: 991px) {
              margin-top: 20px;
            }
          }
        }
        
      }
      .disabled {
         pointer-events: none;
         cursor: default;
         color: #000;
         opacity: 1;
      }
      .full-width {
        &.ce-resources-width-v2 {
          .ce-resources-title-v2 {
            h1 {
              @media(max-width: 991px) {
                font-size: 45px;
                margin-top: 4vw;
              }
              @media(max-width: 480px) {
                font-size: 35px;
                margin-top: 10vw;
              }
            }
          }
        }
        &.ce-careers-container {
          background-color: #fff;
          padding: 2em;
          @media(max-width: 991px) {
            padding: 2em 1em;
          }
          .ce-careers-video-part {
            .row {
              height: 28em;
              @media(max-width: 1200px) {
                height: 32em;
              }
              @media(max-width: 991px) {
                padding: 0;
                height: 100%;
              }
              .ce-careers-btn {
                @media(max-width: 480px) {
                  margin: 0 1.5em;
                }
              }
            }
            h2 {
              font-family: 'OpenSanBold', sans-serif;
              font-size: 35px;
              color: #02aac6;
              margin: 20px 0 2.5em;
              letter-spacing: 0;
              @media(max-width: 1200px) {
                margin: 20px 0 1em;
              }
              @media(max-width: 991px) {
                margin: 0 0 1.5em;
              }
              @media(max-width: 480px) {
                font-size: 30px;
              }
            }
            iframe {
              top: -3.5em;
              position: relative;
              @media(max-width: 991px) {
                top: 0;
              }
              @media(min-width: 768px) and (max-width: 991px) {
                height: 500px;
              }
              @media(min-width: 600px) and (max-width: 767px) {
                height: 400px;
              }
              @media(min-width: 481px) and (max-width: 599px) {
                height: 300px;
              }
              @media(max-width: 480px) {
                height: 200px;
              }
            }
            p {
              margin: 20px 0;
              font-family: 'OpenSanLight', sans-serif;
              font-size: 16px;
              vertical-align: middle;
              text-align: left;
              @media(max-width: 480px) {
                font-size: 14px;
              }
            }
          }
          .ce-careers-open-positions {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 1.5em;
            margin-top: 3em;
            margin-bottom: 3em;
            h2 {
              font-family: 'OpenSanSemiBold', sans-serif;
              font-size: 24px;
              color: #02aac6;
              text-transform: uppercase;
              margin: 20px;
              letter-spacing: 3px;
            }
            .ce-careers-line-sky-blue {
              border:3px solid #02aac6 $imp;
              width: 70px;
              margin: auto $imp;
              margin-bottom: 50px $imp;
              @media(max-width: 991px) {
                margin-bottom: 30px $imp;
              }
            }
            .ce-careers-open-positions-list {
              margin: 2em;
              @media(max-width: 991px) {
                margin-top: 2em;
                margin: 0;
              }

              /* CAREER PAGE B */
              .ce-careers-open-positions-list-wrapper {
                text-align: left;
                ul {
                  -webkit-column-count: 3;
                  -moz-column-count: 3;
                  column-count: 3;
                  -webkit-column-gap: 5em;
                  -moz-column-gap: 5em;
                  column-gap: 5em;
                  @media(max-width: 650px) {
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                  }
                  @media(max-width: 480px) {
                    -webkit-column-count: 1;
                    -moz-column-count: 1;
                    column-count: 1;
                    
                  }
                  li {
                    border: 0px;
                    font-size: 16px;
                    padding-bottom: 15px;
                    -webkit-column-break-inside: avoid;
                    -moz-column-break-inside: avoid;
                    column-break-inside: avoid;
                    list-style: none;
                    margin: 0;
                    @media(max-width: 991px) {
                      padding: 10px 0;
                    }
                    @media(max-width: 480px) {
                      font-size: 14px;
                    }
                    a {
                      color: #424141;
                      &:hover {
                        color: #02aac6;
                        text-decoration: none;
                      }
                    }
                  }
                }
                @media(max-width: 991px) {
                  margin-top: 30px;
                  margin-left: 0;
                }
                > div {
                  margin-bottom: 10px;
                  a {
                    font-size: 15.5px;
                    color: #000;
                    font-family: "OpenSanLight", sans-serif;
                    &:hover {
                      color: #02aac6;
                      text-decoration: none;
                    }
                  }
                }
              }
              /* END */
              ul {
                list-style-type: none;
                padding-left: 0;
                li {
                  margin: 1em;
                  text-align: left;
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 20px;
                  font-size: 20px;
                  font-family: 'Open Sans', sans-serif;
                  color: #2d2d2d;
                  @media(max-width: 991px) {
                    margin: 0;
                    padding-top: 20px;
                    a {
                      color: #000;
                      &:hover {
                        color: #02aac6;
                        text-decoration: none;
                      }
                    }
                  }
                  &:last-child {
                    border-bottom: 0px;
                    padding-bottom: 0;
                  }
                  a {
                    color: #7d7d7d;
                  }
                  .ce-apply-now {
                    float: right;
                    padding: 8px 20px;
                    font-size: 16px;
                    font-family: 'Open Sans', sans-serif $imp;
                    top: -6px;
                    position: relative;
                    cursor: pointer;
                    &:hover {
                      text-decoration: none;
                    }
                    @media(max-width: 991px) {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
        &.ce-careers-booklet {
          background-color: #02aac6;
          padding: 3.5em;
          @media(max-width: 991px) {
            padding: 2em;
          }
          h2 {
            color: #fff;
            margin: 10px 0 $imp;
            font-size: 16px;
            position: relative;
            float: left;
            top: -1.5em $imp;
            left: 3em;
            @media(max-width: 991px) {
              float: none;
              left: 0;
              top: 0 $imp;
            }
          }
          button {
            position: absolute;
            right: 3em;
            top: -2.5em $imp;
            @media(max-width: 991px) {
              max-width: 100%;
              position: relative;
              top: 0 $imp;
              right: 0;
            }
          }
        }
        &.ce-careers-job-desc-container {
          background-color: #fff;
          padding: 2em;
          .ce-careers-job-desc-wrapper {
            position: relative;
            h2 {
              color: #02aac6;
              &.ce-careers-job-desc-wrapper-title {
                font-size: 35px;
                font-family: 'OpenSanBold', sans-serif;
                margin: 15px 0 5px;
                @media(max-width: 480px) {
                  font-size: 30px;
                }
              }
              &.ce-careers-job-desc-wrapper-subtitle {
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
                margin: 0 0 25px;
                @media(max-width: 480px) {
                  font-size: 18px;
                }
              }
            }
            span {
              color: #02aac6;
              font-size: 16px;
              margin-top: 10px;
              @media(max-width: 480px) {
                font-size: 14px;
              }
            }
            .extra-info {
              font-size: 20px;
              font-family: 'OpenSanSemiBold', sans-serif;
              margin: 0 0 5px;
              text-align: center;
              color: #02aac6;
              @media(max-width: 480px) {
                font-size: 18px;
                font-family: 'OpenSanBold', sans-serif;
              }
            }

            p {
              font-family: 'OpenSanLight', sans-serif;
              margin-top: 2em;
              text-align: left;
              font-size: 16px;
              @media(max-width: 480px) {
                font-size: 14px;
              }
            }
            .ce-careers-images {
              img {
                width: 100%;
                height: 100%;
                margin-left: 0;
                @media(min-width: 992px) {
                  width: 50%;
                  height: 335px;
                  object-fit: cover;
                  margin-left: -5px;
                }
              }
            }
            .ce-careers-job-desc {
              h2 {
                color: #02aac6;
                font-size: 24px;
                text-align: left;

              }
              .ce-careers-job-desc-subtitle {
                margin-top: 1em;
                font-weight: bold;
                font-size: 18px;
                color: #000;
                text-align: left;
                @media(max-width: 480px) {
                  font-size: 16px;
                }
              }
              img {
                @media(max-width: 991px) {
                  width: 100% !important;
                  height: auto !important;
                  object-fit: cover;
                } 
              }
            }
          }
          .ce-careers-download-section {
            .ce-careers-download-section-wrapper {
              padding: 3em;
              border: 1px solid #efebeb;
              border-radius: 5px;
              background-color: #f8f8f8;
              margin: 3em 0 2em;
              .ce-careers-download-section-desc {
                margin: 0 3em;
                p {
                  font-size: 16px;
                  @media(max-width: 480px) {
                    font-size: 14px;
                  }
                }
                @media(max-width: 991px) {
                  margin: 1em 0;
                }
                .ce-careers-download-section-btn {
                  p {
                    text-transform: uppercase;
                    margin-top: 20px;
                    letter-spacing: .5em;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
        &.ce-careers-job-desc-contact-form {
          background-color: #02aac6;
          padding: 3.5em;
          @media(max-width: 991px) {
            padding: 2.5em;
          }
          .ce-careers-job-desc-contact-form-wrapper {
            position: relative;
            .display-flex-wrapper {
              display: flex;
              align-items: center;
              @media(max-width: 991px) {
                margin: 10px 0;
              }
            }
            h2 {
              color: #fff;
              font-size: 22px;
              font-family: 'OpenSanBold', sans-serif;
              margin: 15px 0 1.5em;
              @media(max-width: 480px) {
                font-size: 18px;
              }
            }
            form {
              .input-fields {
                > div {
                  @media(max-width: 991px) {
                    padding: 0;
                  }
                }
              }
              input {
                border: none;
                border-radius: 5px;
                color: #0c0c0c;
                background-color: #f7f7f7;
                box-shadow: none;
                padding-bottom: 20px;
                padding-top: 20px;
                font-family: "GothamBook", sans-serif;
                &[type="radio"] {
                  margin-bottom: 0;
                  width: auto;
                  height: auto;
                  -webkit-appearance: radio;
                  -moz-appearance:    radio;
                  appearance:         radio;
                }
                @media(max-width: 991px) {
                  margin-bottom: 20px;
                  &.f-margin-bot {
                    margin-bottom: 5px;
                  }
                }
              }
              label {
                font-size: 13px;
                display: inline;
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                &.radio-label {
                  margin: 0 20px 0 0;
                }
                &.upload-text {
                  display: none;
                  font-size: 15px;
                  font-family: 'OpenSanSemiBold', sans-serif;
                  @media(max-width: 480px) {
                    display: block;
                  }
                }
              }
              .ce-max {
                font-style: italic;
                color: #d3d3d3;
                position: relative;
                top: 1em;
                @media(min-width: 400px) and (max-width: 991px) {
                  top: 32px;
                }
                @media(max-width: 399px) {
                  text-align: center;
                  top: -1em;
                }
              }
              #cv-filename-display {
                width: 75%;
                padding-top: 1em;
                border: 1px solid #fff;
                overflow: hidden;
                visibility: visible;
                border-radius: 5px;
                @media(max-width: 991px) {
                  padding-bottom: 14px;
                  bottom: -5.5em;
                  left: 0px;
                  float: left;
                  width: 100%;
                }
              }
              #cv-upload {
                @media(max-width: 991px) {
                  width: 100%;
                  padding-bottom: 14px;
                  bottom: -2.5em;
                  left: 0px;
                  float: left;
                }
              }
              #cv-notif {
                position: relative;
                top: 0;
                left: 0;
                float: left;
                @media(max-width: 991px) {
                  margin: 0 1em;
                  top: 2em;
                  float: none;
                }
                @media(max-width: 767px) {
                  position: relative;
                  top: -5px;
                  left: 0;
                }
              }
              #careers-sales-form-submit, #careers-form-submit {
                max-width: 230px;
                width: 100%;
                top: -20px;
                right: -2px;
                float: right;
                margin-right: 0;
                position: relative;
                @media(min-width: 992px) {
                  top: 0;
                }
                @media(max-width: 991px) {
                  max-width: 100%;
                  width: 100%;
                  left: 0;
                  right: 0;
                }
              }
              #cv-upload-btn {
                left: 12px;
                box-shadow: none;
                min-width: 230px;

                @media(min-width: 400px) and (max-width: 991px) {
                  float: right;
                  left: 0;
                  margin: 25px 0!important;
                }
                @media(max-width: 399px) {
                  float: none;
                  left: 0;
                }
              }
              button {
                margin: 0 10px;
                &.btn-upload-file {
                  max-width: 46em;
                  width: 100%;
                  left: 0 !important;
                  margin: 0;
                  overflow: hidden;
                }
                &#careers-sales-form-submit {
                  @media(min-width: 992px) {
                    top: 0;
                  }
                  @media(max-width: 399px) {
                    top: 0;
                  }
                }
              }

            }
          }
        }
        &.careers-container {
          p {
            font-size: 12px;
          }

          .doaccordion {
            h3 {
              border-bottom: 3px solid $blue;
              padding: 15px 0;
              margin: 0 15px;
              cursor: pointer;
              font-size: $font-larger;

              &:focus {
                outline: none;
              }

              > i {
                float: right;

                @include transition(all 0.2s ease-in-out);
              }

              &.ui-state-active {
                > i {
                  @include transform(rotate(-180deg));
                }
              }
            }

            p {
              padding: 0 15px;
              font-size: 12px;
              margin: 0;
            }
          }

          .careers-form {
            margin-top: 60px;

            h2 {
              font-size: 19.2px;
            }

            h4 {
              margin: 0;
              padding: 0 0 60px 0;
            }

            form {
              @media (min-width: 992px) {
                .input-fields {
                  display: flex;
                }
              }

              input, textarea, label {
                font-size: 12px;
              }

              input, textarea {
                border: none;
                border-radius: 0;
                color: #0c0c0c;
                background-color: #f7f7f7;
                box-shadow: none;
                padding-bottom: 20px;
                padding-top: 20px;
              }

              textarea {
                min-height: 200px;
                height: 100%;
              }

              .file-upload {
                label {
                  white-space: nowrap;
                  padding: 10px 10px 10px 0;
                }

                input {
                  &[type=text] {
                    margin: 0 5px;
                  }
                }

                button {
                  background-color: #00bcf7;
                  border: none;
                  margin: 0 5px;
                  font-size: 12px;
                  border-radius: 3px;
                  color: #fff;

                  &:hover {
                    background-color: #44d2ff;
                    color: #fff;
                  }
                }
              }

              button {
                &[type=submit] {
                  background-color: #00bcf7;
                  border: none;
                  margin: 15px;
                  font-size: 12px;
                  border-radius: 3px;
                  color: white;
                  float: right;
                  padding: 15px 20px;

                  &:hover {
                    background-color: #44d2ff;
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        &.masonry {
          .box {
            width: auto;
            max-width: 200px;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

.wrapper-gray-section {
  background-color: #f8f8f8;
  padding: 50px 0;
  background-size:cover;
  background-repeat:no-repeat;

  .white-boxmv-list {
    .white-boxmv-list-post {
      text-align: center;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 2.5px 4.3px 8px 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 25px 5% 52px;
      width: 90%;
      padding: 75px 30px 100px;
      min-height: 327px;
      position: relative;
      @media ( min-width: 768px ) {
        width: 40%;
      }
      h3 {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.04;
        color: #1690b9;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        text-align: center;
        margin-bottom: 40px;
      }
      a {
        position: absolute;
        left: -105px;
        width: 210px !important;
        text-align: center !important;
        margin: 0 0 0 50%;
        bottom: 45px;
      }
    }
  }
}

.our-team-career-content {
  text-align: center;
  h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1690b9;
    margin-bottom: 22px
  }
  h6 {
    font-size: 15px;
    color: #1690b9;
    margin-bottom: 61px;
  }
  p {
    color: #000000;
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 25px;
    text-align: left;
  }
  h4 {
    text-align: left;
    font-size: 25px;
    line-height: 0.96;
    color: #1690b9;
    margin-bottom: 15px;
  }
  ul {
    text-align: left;
    margin-bottom: 30px;
    li {
      line-height: 1.6;
      font-size: 16px;
      font-family: 'OpenSanLight', sans-serif;
      padding-left: 17px;
      color: #000;
      @media(max-width: 480px) {
        font-size: 14px;
      }
    }
  }
  .imgges-box {
    margin: 30px 0;
    .imgges-box-list {
      height: 335px;
      background-position: center;
      background-size: cover;
      width: 100%;
      @media(max-width: 767px) {
        height: 100%;
      }
      &.haftblock {
        @media (min-width: 768px) {
          width: 50%;
          object-fit: cover;
        }
      }
    }
  }
}