$font-normal: 14px;
html {
  body {
    &.contactus {
      .ce-resources-contact-header {
        z-index: 99;
        .contact-form-notif {
          color: #fff;
          position: relative;
          @media(max-width: 767px) {
            font-size: 13px;
          }
        }
      }
      .full-width {
        &.ce-contact-width-v2 {
          padding: 5em 0;
            background: linear-gradient(to bottom right, #02aac6, #96d4e2) !important;
            background-size: cover !important;
            position: relative;
            height: 100% !important;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .map-container {
          margin: 40px 0;
          border: 5px solid #ffffff;

          .contact-form-container {
            width: 50%;
            position: absolute;
            top: 0;
            right: 0;
            background: #fff;
            height: 100%;
            padding: 20px 40px;
            text-align: left;

            @media (max-width: 991px) {
              width: 100%;
            }

            .contact-form {
              .office-name {
                font-size: $font-normal;
                text-align: left;
              }

              p {
                font-size: $font-normal;
                text-align: left;
                padding: 0;
                margin: 0;
              }

              .office-tel {
                color: #00bcf7;
                text-align: left;
              }
            }
          }

          #map {
            width: 100%;
            height: 500px;
          }
        }
      }
    }
  }
}

.ce-contact-container {
  padding: 3em;
  @media(max-width: 991px) {
    padding: 0;
  }
}
.ce-contact-video {
  background-color: #e3f6fb !important;
  h2 {
    color: #02aac6;
    font-family: 'OpenSanBold', sans-serif !important;
    margin: 0 0 40px !important;
    font-size: 35px;
    @media(max-width: 480px) {
      font-size: 30px;
    }
  }
  iframe {
    @media(max-width: 991px) {
      padding: 0 15px;
    }
    @media(min-width: 768px) and (max-width: 991px) {
      height: 500px;
    }
    @media(min-width: 600px) and (max-width: 767px) {
      height: 400px;
    }
    @media(min-width: 481px) and (max-width: 599px) {
      height: 300px;
    }
    @media(max-width: 480px) {
      height: 200px;
    }
  }
}

.wrapper-whitegcntctus-whtbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  -webkit-padding-begin: 0; 

  .white-boxmv-list {
    background-color: #fff;
    box-shadow: 3px 5.2px 7.4px 0.6px rgba(0, 0, 0, 0.2);
    padding: 30px 25px;
  	border-radius: 5px;
  	@media (max-width: 991px) {
  		margin-left: -50px;
  		margin-right: -50px;
  	}
    
    form {
      width: 100%;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 27.3px !important;
        text-align: center;
        color: #02aac6 !important;
      }
    }
  }
  
  .white-boxmv-listV2 {
    background-color: #e1e1e1;
    box-shadow: 3px 5.2px 7.4px 0.6px rgba(0, 0, 0, 0.2);
    padding: 30px 25px;
	border-radius: 5px;
  @media (max-width: 991px) {
    margin-left: -50px;
    margin-right: -50px;
  }
    
    form {
      width: 100%;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 27.3px !important;
        text-align: center;
        color: #02aac6 !important;
      }
    }
  }
}

.wrapper-graygcntctus-whtbg-v2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  -webkit-padding-begin: 0; 
  .whtbg {
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;
    > div {
      padding-left: 0;
      padding-right: 0;
    }
    .gray-boxmv-list-tech {
      margin: 0 !important;
      @media (max-width: 991px) {
        padding: 30px 5px;
      }
      p {
        margin: 5px 15px !important;
      }
    }
  }
  
  .gray-boxmv-listV2 {
    background-color: #e1e1e1;
    padding: 30px 25px;
    margin: 0 35px;
    border-radius: 5px;
    p {
        margin: 5px 15px !important;
      }
    @media (max-width: 480px) {
      margin-left: -10px;
      margin-right: -10px;
    }
    
    form {
      width: 100%;
      h3 {
        font-family: "OpenSanSemiBold", sans-serif;
        font-size: 25px !important;
        text-align: center;
        color: #2d2d2d !important;
        text-transform: uppercase;
        margin: 0 0 30px;
      }

      input, textarea[name=message]  {
        background-color: #fff;
      }
      .ce-tech-page-contact-directory {
        width: 50%;
        float: left;
        position: relative;
        white-space: nowrap;
        margin-top: 0 !important;
        p {
          margin: 5px 0 !important;
          @media(max-width: 480px) {
            font-size: 12px !important;
          }
        }
        @media(max-width: 991px) {
          top: 5px;
        }
      }
      .ce-devs-contact-directory {
        margin-top: 35px;
        @media(max-width: 991px) {
          margin-top: 20px;
        }
        p {
          padding: 0;
          text-align: left;
          font-size: 13.5px;
          line-height: 1.5;
          a {
            font-family: 'OpenSanLight', sans-serif;
            color: #000;
          }
        }
      }
      .ce-tech-page-contact-alert {
        border: 2px solid #f62;
        float: left;
        width: 260px;
        margin-left: -2px !important;
        padding: 0 1em !important;
        @media(max-width: 991px) {
          width: 100%;
          margin-left: 0;
        }
      }
      .ce-tech-page-contact-btn {
        max-width: 200px;
      }
    }
  }
}
.wrapper-graygcntctus-whtbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0;
  -webkit-padding-begin: 0; 

  .gray-boxmv-list {
    background-color: #e1e1e1;
    box-shadow: 3px 5.2px 7.4px 0.6px rgba(0, 0, 0, 0.2);
    padding: 30px 25px;
    margin: 0 60px;
    border-radius: 5px;
    @media (max-width: 991px) {
      margin: 0;
    }
    @media (max-width: 480px) {
      margin-left: -10px;
      margin-right: -10px;
    }
    
    form {
      width: 100%;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 35px !important;
        text-align: center;
        color: #02aac6 !important;
        margin-bottom: 20px;
        @media(max-width: 480px) {
          font-size: 30px !important;
        }
      }
    }
  }
  
  .white-boxmv-listV2 {
    background-color: #e1e1e1;
    box-shadow: 3px 5.2px 7.4px 0.6px rgba(0, 0, 0, 0.2);
    padding: 30px 25px;
  border-radius: 5px;
  @media (max-width: 991px) {
    margin-left: -50px;
    margin-right: -50px;
  }
    
    form {
      width: 100%;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 27.3px !important;
        text-align: center;
        color: #02aac6 !important;
      }
    }
  }
}

.wrapper-lightgraygcntctus-whtbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  -webkit-padding-begin: 0; 

  .lightgray-boxmv-list {
    background-color: #f8f8f8;
    border: 1px solid #efebeb;
    padding: 30px 25px;
    margin: 0 35px;
    border-radius: 5px;
  @media (max-width: 480px) {
    margin-left: -10px;
    margin-right: -10px;
  }
    
    form {
      width: 100%;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 27.3px !important;
        text-align: center;
        color: #02aac6 !important;
      }

      input, textarea[name=message]  {
        background-color: #fff;
      }

      .ce-devs-contact-directory {
        margin-top: 20px;
        p {
          padding: 0;
          text-align: left;
          font-size: 13.5px;
          line-height: 1.5;
          a {
            font-family: 'OpenSanLight', sans-serif;
            color: #000;
          }
        }
      }
    }
  }
  
  .white-boxmv-listV2 {
    background-color: #e1e1e1;
    box-shadow: 3px 5.2px 7.4px 0.6px rgba(0, 0, 0, 0.2);
    padding: 30px 25px;
  border-radius: 5px;
  @media (max-width: 991px) {
    margin-left: -50px;
    margin-right: -50px;
  }
    
    form {
      width: 100%;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 27.3px !important;
        text-align: center;
        color: #02aac6 !important;
      }
    }
  }
}

.wrapper-bluegcntctus-blubg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 25px 40px;
  background-color: #1690b9;

  .white-boxmv-list {
    background-color: #fff;
    box-shadow: 3px 5.2px 7.4px 0.6px rgba(0, 0, 0, 0.2);
    padding: 30px 25px;
	border-radius: 5px;
    
    form {
      width: 100%;
      h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 27.3px !important;
        text-align: center;
        color: #02aac6 !important;
      }
    }
  }
}

.white-office-list {
  background-color: #fff !important;
  .white-office-left-section {
    padding: 60px 0 20px;
    text-align: left;
    .woffice-l-p {
      margin-bottom: 48px;
    }
    h3 {
      font-size: 20px;
      text-align: left;
      color: #02aac6;
      margin-bottom: 32px;
      margin-top: 0;
      
    }
    .ce-contact-h3 {
      text-transform: uppercase;
      font-size: 35px;
      font-family: "OpenSanBold", sans-serif;
      @media(max-width: 480px) {
        font-size: 30px;
      }
    }
    p {
      text-align: left;
      font-size: 13px;
      color: #000000;
      margin-bottom: 0;
    }
    h6 {
      text-align: left;
      font-size: 13px;
      color: #000000;
      margin-bottom: 7px;
      font-size: 15px;
    }
    .ce-contact-h6 {
      font-family: 'OpenSanSemiBold', sans-serif;
    }
  }
	.cloudmap {
		background-image: url(/assets/img/map-2.png); 
		background-size: 45em !important;
    border-radius: 5px;
    border: .5px solid #e1e1e1;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    @media(min-width: 992px) and (max-width: 1199px) {
      background-size: 48em !important;
    }
    @media(max-width: 991px) {
      background-size: 60em !important;
    }
	}
	
  .white-office-right-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 393px; */
	
	@media only screen and (min-width: 320px) and (max-width: 359px) {
		height: 300px;
		margin: auto;
		display: block;
    margin: 0 auto 50px;
	}
	
	@media only screen and (min-width: 360px) and (max-width: 450px) {
		padding-bottom: 100px;
		margin: auto;
		display: block;
    width: 100%;
    margin: 0 auto 50px;
	}
	@media only screen and (min-width: 451px) and (max-width: 991px) {
		width: 800px; 
		height: 400px;
    margin: 0 auto 50px;
	}
    .w-o-r-s-box {
      /*  padding: 66px 32.5% 0 60px 40px 2px 0; */
	  padding: 55px 10% 20px 1%;
    position: relative;
    top: .5em;
    @media(min-width: 992px) and (max-width: 1199px) {
      top: -1.5em;
    }
    @media(max-width: 991px) {
      top: 0;
      padding: 70px 10% 20px 1%;
    }
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			padding: 100px 10% 20px 1%;
		}
      > div {
        position: relative;
        width: 220px;
        padding: 30px 33px;
        margin: auto;
        background:  #02aac6;
        border-radius: 15px;
        @media(max-width: 991px) {
          top: -4em;
        }
        &:after {
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -12px;
          content: " ";
          pointer-events: none;
          border: solid transparent;
          border-width: 12px;
          border-color: rgba(218,77,60,0);
          border-top-color: #02aac6;
        }
        
        h5 {
          margin-bottom: 28px;
          font-size: 15px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          position: relative;
          padding-left: 26px;
          span {
            font-weight: normal;
          }
          i {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 34px;
          }
        }
        a {
          border-radius: 5px;
          background-color: transparent;
          /* border: solid 1px #ffffff; */
          margin: 0;
          padding: 10px 8px 8px 21px;
          max-width: 100%;
          min-width: 100%;
        }
      }
    }
  }
}
