.howitworks {
  .banner-content-section {
    padding: 0;
  }
  .video-js {
    height: 200px;
    margin-bottom: 60px;

    @media (min-width: 768px) {
      height: 500px;
    }
  }
  .full-width {
    .how-steps-container {
      line-height: 2;
      align-items: center;
      display: flex;
      padding: 50px 0;

      @media (min-width: 768px ){
     //   height: 100vh;
      }

      h2 {
        margin: 0 0 40px 0;
      }

      .how-steps {
        li,
        p {
          color: #FFF;
          padding: 10px 0;
          line-height: 1.6;
          font-size: 16px;
        }
      }

      hr {
        width: 100%;
        margin: 0;
        border: 0;
        float: left;
      }
    }
    .wrapper-whitegcntctus-whtbg {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 50px 0;

      .white-boxmv-listV2 {
        background-color: #e1e1e1;
        box-shadow: 3px 5.2px 7.4px 0.6px rgba(0, 0, 0, 0.2);
        padding: 30px 25px;
        
        form {
          width: 100%;
          h3 {
            font-family: "Raleway", sans-serif;
            font-size: 27.3px !important;
            text-align: center;
            color: #0090bb !important;
          }
        }
      }
    }
  }
}
