$imp: !important;
html {
  body {
    &.press {
      .full-width {
        &.ce-press-blog {
          position: absolute;
          top: 20em;
          background-color: transparent;
          z-index: 9;
          .ce-press-blog-slider-container {
            .ce-press-blog-slider-content {
              .ce-press-blog-slider-wrapper {
                margin-bottom: 30px;
                margin-left: 15px;
                margin-right: 15px; 
                border-radius: 5px; 
                background-color: #fff;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
                height: 100%;
                color: #2d2d2d;
                position: relative;
                cursor: pointer;
                top:120px;
                @media(min-width: 768px) and (max-width: 991px) {
                  margin-left: 30px;
                  margin-right: 30px;
                  top: -40px;
                }
                @media(min-width: 481px) and (max-width: 767px) {
                  margin-left: 30px;
                  margin-right: 30px;
                  top: -25px;
                }
                @media(max-width: 480px) {
                  top: 20px;
                }

                .ce-press-blog-slider-selection {
                  .ce-press-blog-slider-selection-row {
                    margin: auto 0; 
                    padding: 0;
                    img {
                      float: left;
                      border-top-left-radius: 5px; 
                      border-bottom-left-radius: 5px;
                      object-fit: cover;
                      width: 100%;
                      height: 404px !important;
                      @media(min-width: 481px) and (max-width: 991px) {
                        border-radius: 0px;
                        height: 300px $imp;
                      }
                      @media(max-width: 480px) {
                        border-radius: 0px;
                        height: 200px $imp;
                      }

                    }
                    .ce-press-blog-slider-block {
                      height: 300px;
                      @media(max-width: 991px) {
                        height: 70px;
                      }
                      .ce-press-blog-slider-text {
                        margin: 30px 20px 0;
                        &:not(:first-child) {
                          display:none;
                        }
                        img {
                          width: 100%;
                          height: 100% !important;
                          margin-bottom: 20px;
                          display: inline-block;
                          margin: auto;
                          max-width: 330px;
                          @media(max-width: 991px) {
                            display: none;
                          }
                        }
                        .ce-press-blog-slider-url {
                          &:hover {
                            text-decoration: none $imp;
                          }
                          h2 {
                            margin-top: 20px;
                            margin-bottom: 0px;
                            font-size: 17px;
                            line-height: 26px;    
                            color: #2d2d2d;
                            text-align: left;
                            font-weight: bold;
                            &:hover {
                              color: #179bc1;
                            }
                            @media(max-width: 340px) {
                              font-size: 15px;
                            }
                            @media(max-width: 991px) {
                              margin-top: -10px;
                            }
                          }
                        }
                        .ce-press-blog-slider-details {
                          .ce-press-blog-slider-post-wrapper {
                            float: left;
                            @media(max-width: 767px) {
                              margin: 0 0 15px;
                            }
                            .ce-press-blog-slider-post-info {
                              display: inline-block;
                              margin-right: 2px;
                              color: #2d2d2d;
                              font-size: 10px;
                              line-height: 18px;
                              letter-spacing: 1px; 
                              font-style: italic;
                            }
                          }
                        }

                        .ce-press-blog-slider-paragraph {
                          .ce-press-blog-slider-paragraph-summary {
                            display: inline;
                            font-size: 13px;
                            float: left;
                            margin: 20px 0;
                            text-align: left;
                            padding: 0;
                            @media(max-width: 767px) {
                              display: none;
                            }
                          }
                        }
                      }
                    }
                    .ce-press-blog-slider-sliding-functions {
                        position: relative;
                        top: 0;
                      .ce-press-blog-slider-pagination {
                        top: -15px;
                        position: absolute;
                        left: 15px;
                        font-size: 12px;
                        @media(max-width:991px) {
                          display: none;
                        }
                      }
                      .left {
                        background: transparent $imp;
                        left: 0;
                        i {
                          position: relative;
                          color: #2d2d2d;
                          &:before {
                            z-index: 30;
                          }
                          @media(max-width:991px) {
                            display: none;
                          }
                        }
                        @media(max-width:991px) {
                          left: 0;
                          right: 20px;
                        }
                      }
                      .right {
                        background: transparent $imp;
                        right: 13.5em;
                        @media(max-width: 1199px) {
                          right: 11.5em;
                        }
                        i {
                          position: relative;
                          color: #2d2d2d;
                          &:before {
                            z-index: 30;
                          }
                          @media(max-width:991px) {
                            display: none;
                          }
                        }
                        @media(max-width:991px) {
                          right: 20px;
                        }
                      }
                    } 
                    .ce-press-blog-slider-sliding-functions-mobile {
                        top: 0;
                      .left {
                        background: transparent $imp;
                        display: none;
                        i {
                          position: relative;
                          color: #fff;
                          display: none;
                          top: 46%;
                          font-size: 35px;
                          &:before {
                            z-index: 30;
                          }
                          @media(max-width:991px) {
                            display: block;
                            opacity: 1;
                          }
                        }
                        @media(max-width:991px) {
                          left: 0px;
                          display: block;
                        }
                      }
                      .right {
                        background: transparent $imp;
                        display: none;
                        i {
                          position: relative;
                          color: #fff;
                          display: none;
                          top: 46%;
                          font-size: 35px;
                          &:before {
                            z-index: 30;
                          }
                          @media(max-width:991px) {
                            display: block;
                            opacity: 1;
                          }
                        }
                        @media(max-width:991px) {
                          right: 0px;
                          display: block;
                        }
                      }
                    } 
                  }
                }
              }
            }
          }
        }
        &.featured-news {
          @media (min-width: 992px) {
            .featured-container {
              display: flex;
            }
          }

          .featured-container {
            cursor: pointer;

            &:hover {
              text-decoration: none;
            }
          }

          .featured-image, .featured-details {
            padding: 0;
            margin: 0;
          }

          .featured-image {
            img {
              width: 100%;
              margin: 0;
            }
          }

          .featured-details {
            text-align: left;

            .date-posted {
              background-color: $blue;
              color: #fff;
              text-align: center;
              padding: 3px;
              position: absolute;
              top: 0;
              left: 0;
              font-size: 20px;

              span {
                float: left;
                font-size: 10px;
                width: 100%;
              }
            }

            .details {
              font-size: 32px;
              padding: 60px 40px 20px;
              background: url(../img/rectangle-blue.png) no-repeat 40px bottom;
              color: #0c0c0c;

              .press-tags {
                padding: 15px 40px;
                position: absolute;
                top: 0;
                font-size: 12px;
                margin-left: 20px;
                color: $blue;
                background-color: none;
              }

              .press-logo {
                margin-top: 20px;

                img {
                  margin: 0;
                }
              }
            }
          }

          .news-filter {
            .col-md-6 {
              padding: 40px 0;
            }

            form {
              display: flex;

              .form-group {
                padding-right: 20px;
                width: 50%;
                margin-bottom: 0;

                @media (max-width: 991px) {
                  padding: 0 10px;
                }

                select {
                  border: none;
                  box-shadow: none;
                  color: #0c0c0c;
                  background-color: #f5f5f5;
                  border-radius: 0;
                  height: 50px;
                }
              }
            }
          }
        }
        &.ce-press-news-list {
          .white-section {
            padding: 3em 3em 15em;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            @media(max-width: 991px) {
              padding: 1em 1em 15em;
            }
          }
          .ce-press-box-content {
            position: relative;
            top: 12em;
            @media(min-width: 768px) and (max-width: 991px) {
              top: 14em;
            }
            @media(min-width: 600px) and (max-width: 699px) {
              top: 17em;
            }
            @media(min-width: 500px) and (max-width: 599px) {
              top: 14em;
            }
            .ce-press-news-item {
              padding-bottom: 0;
              @media(max-width: 767px) {
                padding-left: 0;
                padding-right: 0;
              }
              .ce-press-box-wrapper {
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
                background-color: #fff;
                margin-top: .5em;
                height: 32em;
                &:hover {
                  background-color: #e5f6f9;
                  .ce-press-news-item-details {
                    h2, p {
                      color: #000;
                    }
                  }
                }
                .ce-press-news-item-details {
                  padding: 2em 2em 3em;
                  h2 {
                    font-family: 'OpenSanSemiBold', sans-serif;
                    font-size: 18px;
                    margin-top: 0;
                    @media(max-width: 480px) {
                      font-size: 16px;
                    }
                  }
                  p {
                    font-family: 'OpenSanLight', sans-serif;
                    font-size: 15px;
                    color: #000;
                    @media(max-width: 480px) {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
