html {
	body {
		.background-yellow {
			background-color: #ffcc42;
		}
		.background-red {
			background-color: #ff5b5b;
		}
		.background-blue {
			background-color: #40cae5;
		}
		.background-green {
			background-color: #94d142;
		}
		&.tWRPContentBase, &.ourstory, &.client-reviews, &.meettheteam, &.howitworks, &.faqs, &.pricing-comparison, &.our-expertise, &.case-study, &.our-developer {
			.full-width {
				&.ce-hero-section {
					padding: 11rem 0 1em;
				    background: linear-gradient(to bottom right, rgb(2,170,198), rgb(150,212,226)) !important;
				    background-size: cover;
				    position: relative;
				    min-height: 40em;
				    height: 100%;
				    @media(max-width: 991px) {
				    	min-height: 100%;
				    }
				    @media(max-width: 480px) {
				    	padding: 8rem 0 0;
				    }
					.ce-hero-section-wrapper {
						min-height: 20em;
						margin-top: 7vw;
						&#price-comparison {
							@media(min-width: 768px) {
								position: relative;
								top: 5vw;
							}	
						}
						@media(max-width: 767px) {
							min-height: 100%;
							margin-top: 15vw;
						}
						.ce-hero-section-wrapper-title {
							margin: 2em;
							h1 {
								color: #fff;
							    text-align: center;
							    line-height: 1.2;
							    margin-bottom: 20px;
							    font-family: "GothamBold", sans-serif;
							    @media(max-width: 991px) {
							    	font-size: 40px;
							    }
							    @media(max-width: 480px) {
							    	font-size: 25px;
							    }
							}
							img {
								float: left;
							    width: 70px;
							    margin-right: 20px;
							    @media(max-width: 480px) {
							    	float: none;
								    width: 80px;
								    margin-bottom: 30px;
								    margin-right: 0;
							    }
							}
							
						}
						.ce-hero-section-wrapper-subtitle {
							font-size: 15px;
							margin: 2em 10em;
							@media(max-width: 767px) {
								margin: 2em;
							}
							p {
								color: #fff;
								margin: 2em;
								color: #fff;
							    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
							    font-family: "OpenSanLight", sans-serif;
							    font-weight: 100;
							    @media(max-width: 480px) {
							    	font-size: 13px;
							    }
								&:first-child {
									margin-top: 3vh;
    								margin-bottom: 2em;
								}
								&.our-story-p {
									margin: 2em;
								}

							}
						}
						.ce-hero-section-wrapper-btn {
							margin: 2em;
							p {
								color: #fff;
							    position: relative;
							    top: 1em;
							    font-style: italic;
							    font-size: 13px;
							    opacity: .9;
							}
							a {
								max-width: 250px !important;
							    min-width: 150px;
							    width: 100% !important;
							    padding: 15px 5em;
							    white-space: normal;
							    margin: 0;
							    @media(max-width: 480px) {
							    	margin: 1em;
							    }
							    i {
							    	position: relative;
    								left: 3em;
    								@media(max-width: 480px) {
    									display: none;
    								}
							    }
							    @media(max-width: 480px) {
							    	font-size: 2.8vw;
							    }
							}
						}
						
					}
					.top-margin {
						margin: 2em 0;
						position: relative;
						left: 0;
						transform: translate(0%, 0%);
						padding-top: 0;
					}
				}
			}
		}
		&.tWRPTechnology {
			.full-width {
				&.ce-hero-section {
					padding: 9rem 0 0;
				    background: linear-gradient(rgba(24,155,193,0.9), rgba(140,205,224,0.5)) !important;
				    background-size: cover;
				    position: relative;
				    @media(max-width: 480px) {
				    	padding: 8rem 0 0;
				    }
					.ce-hero-section-wrapper {
						margin-top: 4vw;
						.ce-hero-section-wrapper-title {
							margin: 2em;
							h1 {
								color: #fff;
							    text-align: center;
							    font-size: 38px;
							    line-height: 1.2;
							    margin-bottom: 20px;
							    font-family: "GothamBold", sans-serif;
							    @media(min-width: 768px) and (max-width: 991px) {
							    	font-size: 35px;
							    }
							    @media(max-width: 480px) {
							    	font-size: 25px;
							    }
							}
							img {
								width: 75px;
    							margin-bottom: 10px;
							}
						}
						.ce-hero-section-wrapper-subtitle {
							font-size: 15px;
							margin: 2em;
							p {
								color: #fff;
								margin: 2em;
								color: #fff;
							    margin: 0;
							    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
							    font-family: "OpenSanLight", sans-serif;
							    font-weight: 100;
							    @media(max-width: 480px) {
							    	font-size: 13px;
							    }
								&:first-child {
									margin-top: 3vh;
    								margin-bottom: 2em;
								}
							}
						}
						.ce-hero-section-wrapper-btn {
							margin: 2em;
							p {
								color: #fff;
							    position: relative;
							    top: 1em;
							    font-style: italic;
							    font-size: 13px;
							    opacity: .9;
							}
							a {
								max-width: 550px !important;
							    min-width: 250px;
							    width: 100% !important;
							    text-transform: uppercase;
							    padding: 15px 5em;
							    white-space: normal;
							    margin: 1em;
							    i {
							    	position: relative;
    								left: 3em;
    								@media(max-width: 480px) {
    									display: none;
    								}
							    }
							    @media(max-width: 480px) {
							    	font-size: 2.8vw;
							    }
							}
						}
					}
					.top-margin {
						margin: -2em 0 2em;
						position: relative;
						left: 0;
						transform: translate(0%, 0%);
					}
				}
			}
		}
		&.careers {
			.full-width {
				&.ce-hero-section {
					padding: 13rem 0 0;
				    background: linear-gradient(rgba(24,155,193,0.9), rgba(140,205,224,0.5)) !important;
				    background-size: cover;
				    position: relative;
				    @media(max-width: 480px) {
				    	padding: 10rem 0 0;
				    }
					.ce-hero-section-wrapper {
						
						.ce-hero-section-wrapper-title {
							margin: 2em;
							h1 {
								color: #fff;
							    text-align: center;
							    font-size: 60px;
							    line-height: 1.2;
							    margin-bottom: 20px;
							    font-family: "GothamBold", sans-serif;
							    @media(max-width: 991px) {
							    	font-size: 45px;
							    }
							    @media(max-width: 480px) {
							    	font-size: 30px;
							    }
							    @media(max-width: 340px) {
							    	font-size: 28px;
							    }
							}
							
						}
						.ce-hero-section-wrapper-subtitle {
							font-size: 15px;
							margin: 2em;
							p {
								color: #fff;
								margin: 2em;
								color: #fff;
							    margin: 0;
							    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
							    font-family: "OpenSanLight", sans-serif;
							    font-weight: 100;
							    @media(max-width: 480px) {
							    	font-size: 13px;
							    }
								&:first-child {
									margin-top: 3vh;
    								margin-bottom: 2em;
								}
							}
						}
						.ce-hero-section-wrapper-btn {
							margin: 2em;
							p {
								color: #fff;
							    position: relative;
							    top: 1em;
							    font-style: italic;
							    font-size: 13px;
							    opacity: .9;
							}
							a {
								max-width: 550px !important;
							    min-width: 250px;
							    width: 100% !important;
							    text-transform: uppercase;
							    padding: 15px 5em;
							    white-space: normal;
							    margin: 1em;
							    i {
							    	position: relative;
    								left: 3em;
    								@media(max-width: 480px) {
    									display: none;
    								}
							    }
							    @media(max-width: 480px) {
							    	font-size: 2.8vw;
							    }
							}
						}
						.top-margin {
							margin: -2em 0 2em;
							position: relative;
							left: 0;
							transform: translate(0%, 0%);
						}
					}
				}
			}
		}
		&.press, &.life-beyond-offshoring {
			.full-width {
				&.ce-hero-section {
					padding: 13rem 0 30rem;
				    background: linear-gradient(rgba(24,155,193,0.9), rgba(140,205,224,0.5)) !important;
				    background-size: cover;
				    position: relative;
				    @media(min-width: 768px) and (max-width: 991px) {
				    	padding: 8rem 0 26rem;
				    }
				    @media(min-width: 481px) and (max-width: 767px) {
				    	padding: 6rem 0 22rem;
				    }
				    @media(max-width: 480px) {
				    	padding: 10rem 0 17rem;
				    }
					.ce-hero-section-wrapper {
						
						.ce-hero-section-wrapper-title {
							margin: 2em;
							h1 {
								color: #fff;
							    text-align: center;
							    font-size: 60px;
							    line-height: 1.2;
							    margin-bottom: 20px;
							    font-family: "GothamBold", sans-serif;
							    @media(max-width: 991px) {
							    	font-size: 45px;
							    }
							    @media(max-width: 480px) {
							    	font-size: 30px;
							    }
							    @media(max-width: 340px) {
							    	font-size: 28px;
							    }
							}
							
						}
						.ce-hero-section-wrapper-subtitle {
							font-size: 15px;
							margin: 2em;
							p {
								color: #fff;
								margin: 2em;
								color: #fff;
							    margin: 0;
							    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
							    font-family: "OpenSanLight", sans-serif;
							    font-weight: 100;
							    @media(max-width: 480px) {
							    	font-size: 13px;
							    }
								&:first-child {
									margin-top: 3vh;
    								margin-bottom: 2em;
								}
							}
						}
						.ce-hero-section-wrapper-btn {
							margin: 2em;
							p {
								color: #fff;
							    position: relative;
							    top: 1em;
							    font-style: italic;
							    font-size: 13px;
							    opacity: .9;
							}
							a {
								max-width: 550px !important;
							    min-width: 250px;
							    width: 100% !important;
							    text-transform: uppercase;
							    padding: 15px 5em;
							    white-space: normal;
							    margin: 1em;
							    i {
							    	position: relative;
    								left: 3em;
    								@media(max-width: 480px) {
    									display: none;
    								}
							    }
							    @media(max-width: 480px) {
							    	font-size: 2.8vw;
							    }
							}
						}
						.top-margin {
							margin: -2em 0 2em;
							position: relative;
							left: 0;
							transform: translate(0%, 0%);
						}
					}
				}
			}
		}
	}
}