html {
  body {
    &.pricing-comparison {
      .full-width {
        .short-intro {
          h3, p {
            font-size: $font-normal;
            line-height: 2.5;
          }

          h3 {
            font-family: "Raleway", sans-serif;
          }

          p {
            font-family: "Raleway", sans-serif;
          }
        }

        .per-hour-rates {
          margin-bottom: 25px;
          margin-top: 40px;

          .per-hour-rates-table {
            border-radius: 10px;
            border: 5px solid #fff;

            @extend .blue-scroll-bar;

            overflow-x: auto;
            max-width: 100%;

            table {
              margin: 0;

              tr {
                //&:first-child
                //	text-transform: uppercase

                th, td {
                  padding: 15px;
                  text-align: center;
                  border: none;

                  &:first-child {
                    background-color: #f0f0f0;
                    text-align: right;
                  }

                  &:nth-child(2),
                  &:nth-child(4) {
                    //color: #e2e2e2
                 
                  }

                  &:nth-child(3) {
                    color: #0c0c0c;
                  }
                }

                th {
                  &:nth-child(2) {
                    background-color: #00bcf7;
                  }

                  &:nth-child(3) {
                    background-color: #f0f0f0;
                  }

                  &:nth-child(4) {
                    background-color: #53e2cc;
                  }
                }

                &:nth-child(odd) {
                  td {
                    &:first-child {
                      background-color: #f8f8f8;
                    }

                    &:nth-child(2) {
                      background-color: #00b6ef;
                    }

                    &:nth-child(3) {
                      background-color: #f8f8f8;
                    }

                    &:nth-child(4) {
                      background-color: #50dbc6;
                    }
                  }
                }

                &:nth-child(even) {
                  td {
                    &:nth-child(2) {
                      background-color: #00bcf7;
                    }

                    &:nth-child(3) {
                      background-color: #f0f0f0;
                    }

                    &:nth-child(4) {
                      background-color: #53e2cc;
                    }
                  }
                }
              }
            }
          }
        }

        &.balloon-graph {
          .custom-1742:last-child {
            padding-bottom: 50px;
          }

          .comparison-countries {
            padding: 0 0 40px 0;

            span {
              padding: 0 25px;
              display: block;

              @media (min-width: 768px) {
                display: inline-block;
              }

              i {
                position: relative;
                padding: 0 14px;
              }

              i {
                &:before {
                  content: " ";
                  height: 20px;
                  width: 20px;
                  left: 0;
                  position: absolute;
                  border-radius: 10px;
                }
              }

              &:first-child {
                i {
                  &:before {
                    border: 2px solid #67e5d2;
                  }
                }
              }

              &:nth-child(2) {
                i {
                  padding-left: 0;
                }
              }

              &:nth-child(3) {
                i {
                  &:before {
                    border: 2px solid #00bcf7;
                  }
                }
              }
            }
          }

          .balloon-items {
            .balloon-item {
              padding-bottom: 20px;
              padding-top: 20px;

              .balloon-item-con {
                width: 230px;
                margin: 0 auto;

                .rate-compare {
                  background-color: #fff;
                  font-size: 17.6px;

                  &.ph-rate {
                    color: #67e5d2;
                    border: #67e5d2 solid 3px;
                    width: 100px;
                    padding: 35px 0;
                    border-radius: 100%;
                    height: 100px;
                    z-index: 1;
                    position: absolute;
                    margin-top: 25px;
                  }

                  &.blue-rate {
                    color: #00bcf7;
                    border: #00bcf7 solid 3px;
                    height: 150px;
                    width: 150px;
                    border-radius: 80px;
                    z-index: 0;
                    padding: 60px 0px;
                    margin-left: 80px;
                  }
                }
              }

              span {
                font-family: "Raleway", sans-serif;
                font-size: 14.4px;
                color: #0c0c0c;
                margin-top: 15px;
                float: left;
                width: 100%;
                text-transform: capitalize;
              }
            }
          }

          .comparison-label {
            color: #00bcf7;
            width: 100%;
            float: left;
            font-family: "Raleway", sans-serif;
            font-size: 14.4px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
        }

        &.overall-comparison {
          .overall-comparison-table {
            max-width: 100%;
            margin: 40px 0;

            .table-head {
              color: #0c0c0c;
              background-color: #f8f8f8;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
            }

            .perma-dev-cost-per-annum {
              max-width: 100%;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              overflow: hidden;

              .anual-cost-table {
                background-color: #fff;

                .scrollable-table-container {
                  width: 50%;
                  overflow-x: auto;
                  overflow-y: visible;
                  padding: 0;
                  margin-left: 50%;

                  @extend .blue-scroll-bar;

                  @media (min-width: 768px) {
                    margin-left: 25%;
                    width: 75%;
                  }

                  table {
                    &.wrap-table {
                      &.scrollable-table {
                        tr {
                          td, th {
                            white-space: normal;
                          }
                        }

                        .headcol {
                          white-space: pre-wrap;
                        }
                      }
                    }

                    &.scrollable-table {
                      border-collapse: separatee;
                      border-spacing: 0;
                      margin: 0;

                      tr {
                        td, th {
                          text-align: left;
                          border: none;
                          margin: 0;
                          white-space: nowrap;
                          padding: 15px;
                          font-family: "Raleway", sans-serif;
                          font-size: 12.5px;
                          color: #00b4ea;
                        }

                        &.ce-table-head {
                          text-transform: uppercase;

                          td, th {
                            color: #0c0c0c;
                          }
                        }
                      }

                      .headcol {
                        position: absolute;
                        width: 50%;
                        left: 0;
                        top: auto;
                        color: #00b4ea;
                        font-size: 19.2px;
                        font-family: "Raleway", sans-serif;
                        text-align: center;
                        white-space: pre-wrap;
                        border-right: 1px solid #f8f8f8;

                        @media (min-width: 768px) {
                          width: 25%;
                        }

                        &.footcol {
                          color: #0c0c0c;
                          font-size: 12px;
                          padding: 0 30px;
                          margin: 0;
                          text-align: center;
                        }
                      }

                      tfoot {
                        tr {
                          &:last-child {
                            background-color: #50dbc6;

                            td {
                              color: #fff;
                              font-weight: bold;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.freelancers-vs-cloudemployee {
          h2 {
            font-size: 44px;
          }

          .fr-ce-tbl-container {
            @extend .blue-scroll-bar;

            overflow-x: auto;
            margin-bottom: 60px;
            margin-top: 60px;

            table {
              thead {
                tr {
                  th {
                    text-align: center;
                    padding-bottom: 40px;
                    padding-top: 40px;
                    font-size: 20px;
                    font-family: "Raleway", sans-serif;
                    border: none;

                    &:fisrt-child {
                      color: #0c0c0c;
                      background-color: #fff;
                    }

                    &:last-child {
                      color: #fff;
                      background-color: #00bcf7;
                      border-top-left-radius: 10px;
                      border-top-right-radius: 10px;
                    }
                  }
                }
              }

              tbody {
                tr {
                  td {
                    text-align: left;
                    font-size: $font-normal;
                    padding: 15px 30px;
                    line-height: 2;
                    border: none;
                    font-family: "Raleway", sans-serif;

                    &:first-child {
                      color: #0c0c0c;
                    }

                    &:last-child {
                      color: #fff;
                    }
                  }

                  &:first-child {
                    td {
                      &:first-child {
                        border-top-left-radius: 10px;
                      }
                    }
                  }

                  &:last-child {
                    td {
                      &:first-child {
                        border-bottom-left-radius: 10px;
                      }

                      &:last-child {
                        border-bottom-right-radius: 10px;
                      }
                    }
                  }

                  &:nth-child(odd) {
                    td {
                      &:first-child {
                        background-color: #f5f5f5;
                      }

                      &:last-child {
                        background-color: #1ac3f8;
                      }
                    }
                  }

                  &:nth-child(even) {
                    td {
                      &:first-child {
                        background-color: #fafafa;
                      }

                      &:last-child {
                        background-color: #00bcf7;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
