html {
  body {
    font-size: $font-normal;

    &.meettheteam {
      .modal-backdrop {
        display: none !important;
      }

      .modal {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 100px 0 0 0 !important;
        z-index: 9999999999;
        z-index: 99999999;

        .modal-content {
          width: 1000px;
          border-radius: 0;
          border: none;
          max-width: 100%;
          background-color: #ffffff;

          @media (max-width: 1000px) {
            width: 100%;
          }

          .modal-body {
            padding: 0 !important;
            border-radius: 0px;
            width: 100%;
            @media (max-width: 767px) {
              width: 92%;
              top: -1em;
            }

            @media (min-width: 768px ){
              display: flex;
            }

            .close {
              z-index: 1;
            }

            .thumbnail {
              width: 100%;
              border: none;
              padding: 0;
              margin: 0;
              background: #02aac6;
              color: #fff;
              border-radius: 0;
              @media (min-width: 361px) and (max-width: 767px) {
                height: 233px;
                img {
                  width: 200px;
                  float: left;
                }
              }
              @media (max-width: 360px) {
                height: 175px;
                img {
                  width: 150px;
                  float: left;
                }
              }

              @media ( min-width: 768px) {
                width: 25%;
              }

              .name {
                font-size: $font-normal;
                padding: 20px 15px 0 15px;
                text-align: left;
                @media (min-width: 361px) and (max-width: 767px) {
                  top: 4.5em;
                  position: relative;
                  padding: 0;
                  text-align: center;
                  margin-bottom: .5em;
                }
                @media (max-width: 360px) {
                  top: 3.5em;
                  position: relative;
                  padding: 0;
                  text-align: center;
                  margin-bottom: 0;
                }
              }

              .position {
                padding: 0 15px 15px 15px;
                text-align: left;
                width: 100%;
                float: left;
                font-size: $font-normal;
                @media (min-width: 361px) and (max-width: 767px) {
                  float: none;
                  text-align: center;
                  top: 5.5em;
                  position: relative;
                  padding: 0;
                }
                @media (max-width: 360px) {
                  top: 4.5em;
                  float: none;
                  position: relative;
                  padding: 0;
                  text-align: center;
                }
              }

              .years-xp {
                font-size: 11.2px;
                font-family: "Raleway", sans-serifItalic;
                width: 100%;
                text-align: left;
                padding: 5px 15px 15px 15px;
                float: left;
                font-size: $font-normal;
              }
            }

            .details {
              padding: 0 20px;
              width: 100%;
              overflow-y: auto;
              max-height: 400px;
              margin: 40px 0;
              text-align: left;

              @media (min-width: 768px ) {
                width: 75%;
              }

              @extend .blue-scroll-bar;

              font-size: $font-normal;

              ul, ol {
                padding-left: 0 40px;
              }

              ul, ol, li {
                text-align: left;
                font-family: "Open Sans", sans-serif;
                font-size: $font-default;
              }

              @media (max-width: 767px) {
                padding: 0 25px;
                margin: 25px 0;
              }

              span {
                color: #0c0c0c;
              }

              span {
                &:not(.close) {
                  width: 100%;
                  float: left;
                }

                text-align: left;

                &.short-info {
                  color: #02aac6;
                  font-family: "Open Sans", sans-serif;
                  font-size: $font-large;
                }

                &.long-info {
                  font-family: "Open Sans", sans-serif;
                  font-size: $font-default;
                  color: #0c0c0c;
                }
              }
            }
          }
        }
      }

      hr {
        margin: 0;
        border: none;
        width: 100%;
        float: left;
      }

      .full-width {
        &.ce-staffs {
          .ce-item {
            padding: 40px 0 0;
            margin: 0;
            &:hover {
              background-color: rgba(0,188,247,.8);
              .name, .position {
                color: #fff;
              }
            }

            .staff-thumb {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: top center;

              .staff-info {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 188, 247, 0.8);

                @include transition(opacity 0.2s ease-in-out);


                > p {
                  padding: 0 15px;
                  margin: 2px 0;
                  font-style: normal;
                }

                &:hover {
                  opacity: 1;

                  > .name {
                    opacity: 1;
                    margin-left: 0;
                  }

                  > .position {
                    opacity: 1;
                    margin-top: 20px;
                  }
                }

                > .name {
                  width: 100%;
                  margin-bottom: 0px;
                  font-weight: bold;
                  opacity: 0;
                  margin-left: 30px;
                  font-size: $font-title;

                  @include transition(all 0.3s ease-in-out);
                }

                > .position {
                  @include transition(all 0.3s ease-in-out);

                  opacity: 0;
                  margin-top: 40px;
                  padding: 0 15px;
                }
              }
            }
          }
        }
      }
    }

    #staff-thumb {
      border-radius: 100%;
    }
    .name {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 19.12px !important;
      @media(max-width: 340px) {
        font-size: 16px !important;
      }
    }

    .position {
      font-size: 11.2px;
      font-family: "Open Sans", sans-serif;
      width: 100%;
      text-align: center;
    }

    h2 {
      &.ce-blue {
        color: #02aac6;
      }

      &.ce-white {
        color: #fff;
      }
    }

    .ce-blue {
      color: #02aac6;
    }

    .ce-white {
      color: #fff !important;
    }

    .ce-white-strong {
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 21px;
      text-shadow: -2px 5px 5px rgba(0, 1, 1, 0.28) !important;
    }

    .ce-white-strong-v2 {
      color: #fff;
      letter-spacing: 0;
      font-size: 15px;
      margin: 8px 0;
      font-family: "Open Sans", sans-serif;
      font-weight: 100;
      text-align: left;
      @media(max-width: 991px) {
        margin: -18px 0 7px;
        font-size: 13px !important;
        text-align: center;
      }
    }

    .ce-white-subtitle-v2 {
      color: #fff;
      font-size: 13px;
      font-style: italic;
      position: relative;
      top: -1.5em;
    }

    .ce-hiw-strong-v2, .ce-resources-strong-v2 {
      color: #fff;
      font-size: 16px;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
      font-family: "OpenSanLight", sans-serif;
      font-weight: 100;
      &.font-13-thank-you, &.font-13-life-at-ce {
        @media(max-width: 480px) {
          font-size: 13px !important;
        }
      }
      @media(min-width: 768px) and (max-width: 991px) {
        margin: 20px 3em 10px;
        font-size: 15px;
      }

      @media(min-width: 390px) and (max-width: 767px) {
        margin: 20px 1em 10px;
        font-size: 15px;
      }

      @media(max-width: 389px) {
        margin: 20px 0 10px;
        font-size: 15px;
      }
    }
    .ce-subscribe-strong-v2 {
      @media(max-width: 480px) {
        font-size: 13px;
      }
    }
    .ce-orange {
      color: #fc7d44 !important;
    }

    .text-white {
      color: #fff;
    }

    .vertical-alignment-helper {
      display: table;
      height: 100%;
      width: 100%;
      pointer-events: none;
    }

    .vertical-align-center {
      display: table-cell;
      vertical-align: middle;
      pointer-events: none;
    }

    .modal-content {
      width: inherit;
      height: inherit;
      margin: 0 auto;
      pointer-events: all;
      border-radius: 0;
    }

    &.modal-open {
      padding-right: 0 !important;
    }

    .video-js {
      width: 100%;
      height: 500px;
      @media(min-width: 410px) and (max-width: 480px) {
        height: 250px;
      }
      @media(max-width: 409px) {
        height: 200px;
      }

      .vjs-big-play-button {
        background: url(../img/play-video.png) center center no-repeat;
        height: 100%;
        width: 100%;
        /* background-color: rgba(0, 0, 0, 0.8); */
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;

        &:focus {
          outline: none;
        }

        &:hover {
          /* background-color: rgba(0, 0, 0, 0.8); */
        }

        &:before {
          content: "";
        }
      }

      &.vjs-paused {
        .vjs-big-play-button {
          display: block;
        }
      }
    }

    .full-width {
      &.about-us-tabs {
        margin-top: 100px;
      }

      &.ceo-nick-hargreaves {
        .white-section {
          .container {
            border-bottom: 5px solid #02aac6;
          }
        }

        .about-ceo {
          padding-bottom: 60px;
          padding-top: 60px;
        }

        .photo {
          img {
            max-width: 100%;
          }
        }

        p {
          text-align: left;

          &.name {
            font-family: "Open Sans", sans-serif;
            font-size: 3rem;
            line-height: 1;

            .position {
              font-size: $font-default;
              font-family: "Open Sans", sans-serif;
            }
          }

          &.short-info {
            font-family: "Open Sans", sans-serif;
            font-size: $font-large;
            color: #02aac6;
          }

          &.description {
            font-size: $font-default;
            font-family: "Open Sans", sans-serif;
            line-height: 2;
          }
        }
      }

      &.ce-staffs {
        z-index: 9;

        img {
          width: 100%;
        }

        > .white-section {
          &:first-child {
            padding-bottom: 60px;
            /* padding-top: 60px; */
            padding-top: 0px;

            h2 {
              margin: auto 15px 60px auto;
            }
          }
        }

        .ce-item {
          margin-bottom: 15px;
          margin-top: 15px;

          @media (max-width: 550px) {
            width: 50%;
          }

          .staff-info {
            height: 80px;

            &.staff-info-2 {
              height: 125px;
            }
          }

          .staff-thumb {
            width: 200px;
            height: 200px;
            display: block;
            margin: auto;
            background-size: cover;
            background-position: top center;
            &:hover {
              transition-timing-function: ease-in-out;
              transition-duration: 1s;
              background-size: 220px;
              @media(max-width: 550px) {
                background-size: cover;
              }
            }

            @media (max-width: 550px) {
              height: 150px;
              width: 150px;
            }

            @media (max-width: 340px) {
              height: 100px;
              width: 100%;
              max-width: 100px;
            }
          }

          hr {
            margin: 0;
            border: none;
            width: 100%;
          }

          &:not(.no-info) {
            cursor: pointer;
          }

          > a, > div {
            &:not(.modal) {
              color: #fff;
              text-align: left;
              padding-bottom: 30px;
              z-index: 0;

              .name {
                font-size: $font-normal;
                padding: 20px 15px 0 15px;
                color: #02aac6;
              }

              .position {
                display: block;
                font-size: 12px;
                padding: 1px 15px 0 15px;
                color: #02aac6;
              }

              .years-xp {
                font-size: $font-normal;
                font-family: "Raleway", sans-serifItalic;
                width: 100%;
                text-align: left;
                padding: 5px 15px 15px 15px;
                float: left;
                font-style: italic;
              }
            }
          }
        }

        .blue-section {
          padding-bottom: 60px;
          padding-top: 60px;

          .ce-item {
            > a, > div {
              &:not(.modal) {
                background: #fff;
                color: #0c0c0c;
              }
            }
          }

          .text-white {
            margin: 40px auto;

            p {
              font-family: "Open Sans", sans-serif;
              font-size: $font-normal;
            }
          }
        }
      }

      .col-20-percent {
        width: 20%;
        padding: 15px;
      }

      .container {
        &.custom-1472 {
          width: 1472px;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .row {
        &.custom-960 {
          width: 960px;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
		  
		  .main-text-section {
			margin-top: 10px;
			@media (max-width: 991px) {
				margin-top: 0;
			}
			
			@media (max-height: 889px) {
				margin-top: 0;
			}
		  }
		  
		  .main-text-section-au {
		    margin-top: 0;
		  }
		  
		  .main-sidetext-section {
			margin-top: 250px;
			@media (max-width: 991px) {
				margin-top: 50px;
			}
		  }

          @media (max-width: 767px) {
            width: 750px;
          }
        }
      }

      &.about-us-video {
        background-color: #fff;

        .container {
          position: relative;
          padding: 0;
        }

        img {
          width: 100%;
        }

        .overlay {
          cursor: pointer;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url(../img/play-video.png) center center no-repeat;
          background-color: rgba(47, 60, 70, 0.8);
        }
      }

      &.our-offices {
        z-index: 3;

        .container {
          padding: 0;
        }

        .clearfix {
          display: none;

          @media (min-width: 992px) {
            display: block;
          }
        }

        .office-item {
          position: relative;
          margin: 0;
          padding: 0;
          height: 400px;
          background: #02aac6;
          overflow: hidden;

          @media (max-width: 991px) {
            overflow: visible;
          }

          > .close {
            display: none;
            color: #ffffff;
            opacity: 0.9;
            font-size: 40px;
            top: 0;
            right: 15px;
            position: absolute;
          }

          > .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            left: 0;
            top: 0;
            z-index: 3;

            @include transition(background-color 0.3s ease-in-out);

            &:hover, &.active, &:focus {
              background-color: rgba(0, 188, 247, 0.9);
            }

            &.active, &:focus {
              @media (max-width: 992px) {
                .office-details {
                  display: block;
                }
              }
            }

            > span {
              color: white;
              font-family: "Open Sans", sans-serif;
              position: absolute;
              top: calc(50% - 2rem);
              font-size: 4rem;
              width: 100%;
              left: 0;
            }
          }

          .primary-image {
            height: 100%;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            overflow: hidden;

            > img {
              min-width: 100%;
              min-height: 100%;
            }
          }

          @media (min-width: 992px) {
            &:hover {
              .office-details {
                top: 0;
              }
            }
          }

          .office-details {
            top: 100%;
            width: 100%;
            background: #fff;
            position: absolute;
            z-index: 3;
            height: 100%;
            overflow: auto;
            padding-bottom: 40px;

            @include transition(top 0.2s ease-in-out);

            @media (max-width: 991px) {
              display: none;
              z-index: 4;
            }

            @extend .blue-scroll-bar;

            @media (max-width: 991px) {
              position: fixed;
              height: calc(100% - 85px);
              width: 100%;
              left: 0 !important;
              top: 85px !important;
            }

            > .close {
              color: #000;
              font-size: 5rem;
              position: absolute;
              top: 10px;
              right: 10px;
              z-index: 4;

              @media (min-width: 992px) {
                display: none;
              }
            }

            > .row {
              > .details {
                @media (min-width: 768px) {
                  padding: 40px 0 0 20px;
                }

                > p {
                  color: #0c0c0c;
                  font-size: $font-normal;
                  font-family: "Open Sans", sans-serif;
                  text-align: left;

                  &.office {
                    font-size: $font-title;
                    font-family: "Open Sans", sans-serif;
                  }

                  a {
                    color: #0c0c0c;
                  }
                }

                img {
                  max-width: 100%;
                }
              }
            }

            > .office-images {
              padding: 0;
              margin: 40px 0;

              > .image-item {
                margin: 0;
                padding: 0;

                > img {
                  margin: 0;
                  max-width: 100%;
                }
              }
            }

            > .management {
              > div {
                margin: 10px 0;
              }

              img {
                max-width: 100%;
              }

              .photo {
                height: 250px;
                background-position: top center;
                background-size: cover;
              }

              .name {
                margin: 20px 0;
                color: #02aac6;
                text-align: left;
                font-family: "Open Sans", sans-serif;
                font-size: $font-normal;

                .position {
                  color: #0c0c0c;
                  float: left;
                  width: 100%;
                  font-family: "Open Sans", sans-serif;
                  font-size: $font-normal;
                }
              }
            }
          }

          &.active {
            .office-details {
              @media (max-width: 991px) {
                top: 0;
                display: block;
              }
            }

            > .overlay {
              background-color: rgba(0, 188, 247, 0.9);
            }

            > .close {
              display: block;
            }
          }

          &:nth-child(odd) {
            .office-details {
              left: 0;
              box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
            }
          }

          &:nth-child(even) {
            .office-details {
              right: 0;
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }

    h1 {
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: $font-title;
    }

    .horizontal-tabs {
      margin-top: 4rem;
      margin-bottom: 4rem;

      .tab-item {
        float: left;

        a {
          font-size: 16px;
          padding: 20px 0;
          border-bottom: 3px solid rgba(0, 0, 0, 0);
          font-family: "Open Sans", sans-serif;

          &:hover, &.active, &:focus {
            color: #fff;
            text-decoration: none;
            border-bottom: 3px solid #fff;
          }
        }
      }
    }

    .founders {
      .white-section {
        padding-top: 44px;

        .container {
          //border-bottom: 3px solid #02aac6;
        }
      }

      .story-thumbnail {
        text-align: left;
        padding: 20px;

        img {
          margin: 0;
          max-width: 100%;
          @media(max-width: 991px) {
            display: block;
            margin: 0 auto;
          }
        }

        .name {
          margin: 20px 0;
          color: #02aac6;
          text-align: left;
          font-family: "Open Sans", sans-serif;
          font-size: 12.8px;
          @media(min-width: 601px) and (max-width: 991px) {
            text-align: center;
          }

          .position {
            color: #0c0c0c;
            float: left;
            width: 100%;
            font-family: "Open Sans", sans-serif;
            font-size: 11.2px;
            text-align: left;
            @media(min-width: 601px) and (max-width: 991px) {
              text-align: center;
            }
          }
        }
      }

      .story-details {
        p {
          text-align: left;
          color: #02aac6;
          font-family: "Open Sans", sans-serif;
          font-size: 2rem;
          padding: 10% 5%;
          margin: 20px 10px;
          line-height: 1.6;
          @media(max-width: 991px) {
            padding: 10% 0% 0%;
            margin: 0 10px;
          }
          @media(max-width: 480px) {
            padding: 20% 0% 0%;
            margin-top: 10px;
          }

          &:before, &:after {
            font-size: 19rem;
            position: absolute;
            opacity: 0.1;
            z-index: -1;
          }

          &:before {
            content: "\201c";
            font-size: 30rem;
            font-family: "GothamBold", san-serif;
            position: absolute;
            opacity: 0.1;
            top: -.4em;
            left: -15px;
            @media(max-width: 767px) {
              font-size: 15rem;
              top: -.38em;
              left: -20px;
            }
          }

          //&:after {
            //content: "\201d";
            //bottom: -12rem;
            //right: 0;
            //@media(max-width: 991px) {
            //  font-size: 8em;
            //}
            //@media(max-width: 767px) {
            //  font-size: 6em;
            //  bottom: -9rem;
            //}
          //}
        }
      }
    }

    .some-text {
      padding: 15px 0;

      p {
        text-align: left;
        font-family: "OpenSanLight", sans-serif;
        font-size: 16px;
        color: #000;
        line-height: 1.6;
        margin: 20px 0;
      }
    }
  }
}

.wrapper-white-section {
  background-color: #fff;
  padding: 50px 0;
}

.wrapper-bluegbop-whtbg,
.wrapper-whitegbop-whtbg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}

.wrapper-bluegbop-whtbg {
  .row {
    text-align: center;
    color: #fff;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 48px;
  }
  p {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 100px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      font-family: "GothamBold", sans-serif;
      font-size: 45px;
      display: inline-block;
      line-height: 1.35;
      width: 100%;
      padding: 0 0 100px;
      @media ( min-width: 768px) {
        width: 32%;
      }
      span {
        font-family: "Open Sans", sans-serif;
        display: block;
        font-size: 20px;
      }
    }
  }
}

.ce-our-story-whoweare {
  background-image: url('..//img/ourstory/WhoWeAre3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  .row {
    text-align: center;
    color: #fff;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-family: "OpenSanBold", sans-serif;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 25px;
  }
  p {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 55px;
    @media(max-width: 991px) {
      margin: 0 0 35px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      font-family: "GothamBold", sans-serif;
      font-size: 45px;
      display: inline-block;
      line-height: 1.35;
      padding: 0 0 55px;
      margin: 10px;
      @media(max-width: 991px) {
        padding: 0 0 35px;
        margin: 0;
      }
      span {
        font-family: "Open Sans", sans-serif;
        display: block;
        font-size: 20px;
      }
    }
  }
}

.ce-our-story-mandv {
  background-image: url('..//img/ourstory/MissionVision.jpg');
}

.ce-our-story-video {
  background: linear-gradient(#02aac6, #96d4e2);
  padding: 4em 0;
  @media(max-width: 991px) {
    padding: 4em 2em;
  }
  iframe {
    @media(max-width: 480px) {
      height: 200px;
    }
  }
  .video-js {
    @media(min-width: 410px) and (max-width: 480px) {
      height: 250px;
    }
    @media(max-width: 409px) {
      height: 200px;
    }
  }
}

.wrapper-whitegbop-whtbg {
  padding: 50px 0;
  .white-boxmv-list {
    .white-boxmv-list-post {
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 2.5px 4.3px 8px 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 25px 5%;
      width: 90%;
      padding: 75px 30px;
      min-height: 327px;
      @media ( min-width: 768px ) {
        width: 40%;
      }
      h3 {
        font-size: 30px;
        font-weight: bold;
        line-height: 0.81;
        color: #02aac6;
        margin: 0 0 25px;
        @media(max-width: 480px) {
          font-size: 22px;
        }
      }
      p {
        color: #000000;
        line-height: 1.6;
        font-size: 18px;
        text-align: left;
        font-family: "OpenSanLight", sans-serif;
        @media(max-width: 480px) {
          font-size: 16px;
        }
      }
    }
  }
}

.wrapper-values-list {
  padding: 50px 0;
  text-align: center;
  h2 {
    color: #02aac6;
    font-size: 35px;
    font-family: "OpenSanBold", sans-serif;
    margin: 40px 0 50px;
  }
  .core-values-list {
    color: #000000;
    .core-values-list-post {
      text-align: center;
      margin: 0 0 40px;
      padding: 0 33px;
      @media(max-width: 480px) {
        padding: 0 15px;
      }
      i {
        color: #02aac6;
        font-size: 65px;
        margin-bottom: 26px;
      }
      h4 {
        font-size: 20px;
        font-weight: bold;
        margin: 15px 15px 25px;
        @media(max-width: 480px) {
          font-size: 15px;
          margin: 0 0 25px;
          text-align: left;
        }
      }
      p {
        text-align: left;
        font-size: 16px;
        font-family: "OpenSanLight", sans-serif;
        @media(max-width: 480px) {
          font-size: 14px;
        }
      }
    }
  }
}