html {
  body {
  	&.devs-full {
  		.article-content-v2 {
  			display: flex;
  			flex-wrap: wrap;
  			margin-bottom: 40px;
  			.article-wrapper {
  				padding: 0 10px !important;
  				.ce-devs-list {
		  			overflow: hidden;
		  			min-height: 50em;
				  	.ce-devs-list-wrapper {
				  		padding: 0 !important;
				  		margin: 0 !important;
				  		.ce-devs-list-center {
				  			img {
				  				float: none !important;
				  				max-width: 100% !important;
				  				max-height: 100% !important;
				  				margin-right: 0 !important;
			  				}
				  			.ce-devs-list-center-wrapper {
				  				padding: 1.5em !important;
				  				position: relative;
				  				.ce-devs-center-set-height {
				  					height: 380px;
				  					@media(max-width: 1199px) {
				  						height: 280px;
				  					}
				  					@media(min-width: 1250px) {
				  						height: 340px;
				  					}
				  					@media(max-width: 767px) {
				  						height: 100%;
				  					}
				  				}
				  				.ce-devs-list-center-wrapper-flex {
				  					display: flex;
				  					justify-content: space-between;
				  					flex-direction: column;
				  				}
					  			h2 {
					  				text-align: left !important;
					  				margin: 0 !important;
					  			}
					  			.ce-devs-rate {
					  				float: right;
					  				p {
					  					font-size: 14px !important;
					  					label {
					  						text-transform: uppercase;
					  					}
					  				}
					  			}
					  			.ce-devs-list-info-section {
					  				text-align: left !important;
					  				margin: 10px 0 !important;
					  				/* height: 70px;
					  				@media(max-width: 991px) {
					  					height: auto;
					  				}*/
					  				.ce-devs-list-info {
					  					line-height: 1.8;
					  					font-size: 14px !important;
					  					margin-bottom: 0 !important;
					  					&::after {
					  						content: "";
					  						//@media(max-width: 1199px) {
					  							//content: "|";
					  						//}
					  						
					  					}
					  					&:last-child {
					  						&::after {
					  							content: "";
					  						}		
					  					}
					  				}
					  			}
					  			.ce-devs-ul-list {
					  				text-align: left !important;
					  				margin-top: 20px !important;
					  				span {
					  					font-size: 12px !important;
					  				}
					  				@media(max-width: 480px) {
					  					height: 100%;
					  				}
					  			}
					  			.ce-devs-list-desc {
					  				margin: 20px 0 !important;
					  			}
					  			.ce-devs-list-btn-wrapper {
					  				display: block;
					  				position: relative;
					  				height: 100px;
					  				text-align: initial;
					  				button, a {
						  				margin: 0 auto 20px;
						  				text-transform: uppercase;
						  				font-size: 13px;
						  				min-width: 100%;
						  				position: absolute;
					  					bottom: 0;
						  			}
					  			}
					  			
				  			}
				  		}
				  	}
			  	}
			  	.ce-devs-list-view-more {
			  		margin-bottom: 0 !important;
			  		.ce-devs-list-view-more-wrapper {
				  		@media(max-width: 991px) {
				  			margin: 0 auto !important;
				  		}
				  	}
			  	}
			  	.wrapper-graygcntctus-whtbg-v2 {
			  		margin-bottom: 2em;
			  		.whtbg {
			  			margin-top: 35px;
			  		}
			  	} 	
  			}
  		}
  		
  	}
  	&.devs, &.devs-full {
  		.full-width {
  			&.ce-resources-width-v2 {
  				.ce-resources-v2 {
  					.ce-resources-main-v2 {
  						margin: 3vw 10em 0 !important;
  						@media(max-width: 1024px) {
  							margin: 0 !important;
  						}
  						h1 {
  							font-size: 60px !important;
  							@media(max-width: 991px) {
  								font-size: 50px !important;
  							}
  							@media(max-width: 480px) {
  								font-size: 30px !important;
  							}
  						}
  						.ce-resources-strong-v2 {
  							line-height: 2;
  							p, span {
	  							font-size: 18px !important;
	  							@media(max-width: 991px) {
	  								font-size: 16px !important;
	  							}
	  							@media(max-width: 480px) {
	  								font-size: 15px !important;
	  							}
	  						}
	  						p {
	  							&:first-child {
	  								margin-top: 0 !important;
	  								margin-bottom: 0 !important;
	  							}
	  						}
	  						span {
	  							font-family: "OpenSanSemiBold", sans-serif;
	  						}
  						}
  						
  					}
  				}
  				.top-margin {
  					margin-top: 0;
  					top: 0;
  				}
  			}
  			&.article {
  				.article-content-v2 {
  					margin-top: 50px;
  					.ce-devs-list {
  						.ce-devs-list-wrapper {
  							.ce-devs-list-info-section {
  								.ce-devs-list-info {
  									font-size: 13px;
  									font-family: "OpenSanSemiBold", sans-serif;
  									margin-bottom: 20px;
  									@media(max-width: 991px) {
  										margin-bottom: 0;
  									}
  								}
  							}
  							.show-desktop {
  								display: block;
  								@media(max-width: 480px) {
  									display: none;
  								}
  							}
  							.show-mobile {
  								display: none;
  								@media(max-width: 480px) {
  									display: block;
  								}
  							}
  							.ce-devs-list-right {
  								float: right;
  								@media(max-width: 480px) {
  									float: none;
  								}
  								label {
  									text-transform: uppercase;
  									margin-bottom: 5px;
  								}
  								p {
  									font-size: 14px;
  									text-align: center;
  									margin-bottom: 5px;
  								}
  							}
  							.ce-devs-list-left {
  								margin-top: 1vw;
  								label {
  									text-transform: uppercase;
  								}
  								p {
  									font-size: 14px;
  									text-align: center;
  								}
  							}
  						}
  					}
  				}
  			}
  		}
  	}
  	&.available-developer {
  		.ce-devs-main-v2 {
  			h1 {
  				@media(max-width: 480px) {
	  				margin: 0;
	  			}
  			}
  		}
  		.full-width {
  			&.ce-resources-slider-part {
			  background-color: #e3f6fb !important;
			  z-index: 0 !important;
			  
			  .ce-resources-slider-part-h2 {
			    margin-top: 2em;
			    font-family: 'OpenSanSemiBold', sans-serif;
			    @media(max-width: 991px) {
			      margin-top: 1.5em;
			    }
			  }

			  .ce-resources-slider-carousel {
			    .carousel {
			      position: relative;
			      top: -8em;
			      left: -7.5%;
			      @media(min-width: 500px) and (max-width: 991px) and (orientation: portrait) {
			        left: -23.5%;
			      }
			      @media(min-width: 801px) and (max-width: 991px) and (orientation: landscape) {
			        left: -22.5%;
			      }
			      @media(min-width: 701px) and (max-width: 800px) and (orientation: landscape) {
			        left: -22.5%;
			      }
			      @media(min-width: 600px) and (max-width: 700px) and (orientation: landscape) {
			        left: -25.5%;
			      }
			      @media(min-width: 411px) and (max-width: 599px) and (orientation: landscape) {
			        left: -30.5%;
			      }
			      @media(min-width: 411px) and (max-width: 499px) and (orientation: portrait) {
			        left: -45%;
			      }
			      @media(min-width: 361px) and (max-width: 410px) and (orientation: portrait) {
			        left: -51%;
			      }
			      @media(min-width: 321px) and (max-width: 360px) and (orientation: portrait) {
			        left: -54%;
			      }
			      @media(max-width: 320px) and (orientation: portrait) {
			        left: -64%;
			      }
			      li {
			        &:not(.active) {
			          opacity: 0.8;
			          transform: scale(0.8);
			          @media(max-width: 767px) {
			            opacity: 0;
			          }
			        }
			      }
			      .ce-resources-last-child {
			        text-align: left;
			        p {
			          top: -13em;
			          @media(max-width: 480px) { 
			            top: -14.5em;
			          }
			        }
			      }
			      .active {
			        opacity: 1;
			        @media(max-width: 767px) {
			          margin-left: 45% !important;
			        }
			      }
			    }
			    .wrapper-height {
			      height: 350px !important;
			    }
			    .ce-resources-wrapper {
			      background-color: #f8f8f8;
			      border-radius: 10px;
			      height: 300px;
			      max-height: 100%;
			      width: 270px;
			      max-width: 100%;
			      position: relative;
			      display: block;
			      margin: 25px auto;
			      box-shadow: 3px 4px 8px 4px rgba(68, 68, 68, 0.2) !important;
			      overflow: hidden;
			      .ce-resources-round-number {
			        right: 40%;
			        top: 1.1em;
			        width: 50px;
			        height: 50px;
			        border-radius: 100%;
			        padding: 7px;
			        text-align: center;
			        color: #fff !important;
			        background-color: #179bc1;
			        position: absolute;
			        font-size: 24px;
			      }
			      h3 {
			        margin: 0;
			        color: #179bc1;
			        top: 4em;
			        position: absolute;
			        width: 11.3em;
			        font-family: 'Open Sans', sans-serif;
			        @media(max-width: 480px) {
			          width: 100%;
			        }
			      }

			      .ce-resources-p {
			        top: -10em;
			        text-align: center;
			        font-size: 14px;
			        overflow-y: hidden;
			        height: 200px;
			        @media(max-width: 480px) {
			          top: -12em;
			          font-size: 13px;
			        }
			      }
			      p {
			        margin: 0 -20px;
			        padding: 0 5px;
			        color: #000;
			        font-size: 15px;
			        position: absolute;
			        top: -8em;
			        line-height: 1.3;
			        overflow-y: auto;
			        text-shadow: none;
			        height: 145px;
			        text-align: left;
			        &::-webkit-scrollbar-track
			        {
			          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			          background-color: #F5F5F5;
			        }

			        &::-webkit-scrollbar
			        {
			          width: 10px;
			          background-color: #F5F5F5;
			        }

			        &::-webkit-scrollbar-thumb
			        {
			          background-color: #0ae;
			          background-image: -webkit-gradient(linear, 0 0, 0 100%,
			                       color-stop(.5, rgba(255, 255, 255, .2)),
			               color-stop(.5, transparent), to(transparent));
			        }
			        @media(max-width: 480px) {
			          top: -130px;
			          font-size: 14px;
			          padding: 10px;
			        }
			      }
			      .ce-resources-wrapper-p {
			      #style-scroll::-webkit-scrollbar-track
			      {
			        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			        background-color: #F5F5F5;
			      }

			      #style-scroll::-webkit-scrollbar
			      {
			        width: 10px;
			        background-color: #F5F5F5;
			      }

			      #style-scroll::-webkit-scrollbar-thumb
			      {
			        background-color: #0ae;
			        background-image: -webkit-gradient(linear, 0 0, 0 100%,
			                     color-stop(.5, rgba(255, 255, 255, .2)),
			             color-stop(.5, transparent), to(transparent));
			      }
			        ul {
			          margin: -6em -2em -4em;
			          padding-left: 15px;
			          li {
			            text-align: left;
			            margin: -3px 0em 0 -1em;
			            color: #000;
			            text-shadow: none;
			            opacity: 1;
			            font-size: 16px;
			          }
			          @media(max-width: 480px) {
			            margin: -6em 1em -2em;
			          }
			          &:last-child {
			            overflow-y: scroll;
			            height: 125px;
			            width: 230px;
			            margin-left: -1.5em;
			            padding-top: 0;
			            margin-top: -8em;

			            @media(max-width: 480px) {
			              width: 200px;
			              margin-left: -1em;
			            }
			          }
			        }
			      }
			      @media(max-width: 480px) {
			        width: 240px !important;
			      }
			    }

			    .controls {
			      position: relative;
			      top: 9em;
			    }

			    .previous {
			      position: relative;
			      background: transparent !important;
			      z-index: 17;
			      left: -26em;
			      i {
			        position: relative;
			        top: 60%;
			        font-size: 32px;
			        color: #179bc1;
			        
			      }
			      @media(min-width: 768px) and (max-width: 991px) {
			        left: -23em;
			      }
			      @media(min-width: 340px) and (max-width: 767px) {
			        left: -45%;
			      }
			      @media(max-width: 339px) {
			        left: -48%;
			      }
			    }

			    .next {
			      position: relative;
			      background: transparent !important;
			      z-index: 17;
			      right: -26em;
			      i {
			        position: relative;
			        top: 60%;
			        font-size: 32px;
			        color: #179bc1;

			      }
			      @media(min-width: 768px) and (max-width: 991px) {
			        right: -23em;
			      }
			      @media(min-width: 340px) and (max-width: 767px) {
			        right: -45%;
			      }
			      @media(max-width: 339px) {
			        right: -48%;
			      }
			    }
			  }
			}
  		}
  	}
  	&.our-developer {
  		.full-width {
  			&.ce-our-developer-width-v2 {
  				@media(max-width: 991px) {
  					height: 35em !important;
  				}
  			}
  			.ce-resources-v2 {
  				margin: 2em 0 0;
  			}
  			&.ce-our-developer-filter {
  				background-color: #fff;
  				padding: 3em;
  				@media(max-width: 991px) {
  					padding: 2em 1em;
  				}
  				.ce-our-developer-breadcrumb {
  					margin-top: 2em;
  					@media(max-width: 991px) {
  						margin-top: 5em;
  					}
  				}
  				.ce-our-developer-filter-search {
  					border-radius: 5px;
  					background-color: #f8f8f8;
  					padding: 1.3em;
  					.row {				
						padding-right: 0;
						padding-left: 0;
  						> div {
  							padding-right: 0;
  							&:nth-child(3) {
  								padding-right: 0;
  								@media(max-width: 991px) {
  									padding-right: 0;
  									margin-bottom: 0px;
  								}
  							}
  							@media(max-width: 991px) {
  								padding-right: 0;
  								padding-left: 0;
  								margin-bottom: 20px;
  							}
  						}
  						label {
	  						float: left;
	  						color: #179bc1;
	  						font-size: 10px;
	  						text-transform: uppercase;
	  					}
	  					.ce-our-developer-filter-search-btn {
	  						margin-top: 20px;
	  						padding: 5px 40px;
	  						max-width: 100%;
	  						min-width: 100%;
	  						@media(max-width: 991px) { 
	  							margin: 20px 0 !important;
	  							max-width: 100%;
	  							padding: 15px 40px;
	  							font-size: 15px;
	  						}
	  					}
  					}
  				}
  				.ce-our-developer-filter-devs-list {
    				.ce-our-developer-filter-devs-list-flex {
    					display: -webkit-box;
						display: -moz-box;
						display: -ms-flexbox;
						display: -webkit-flex;
    					display: flex;
    					flex-flow: row wrap;
    					justify-content: center;
    					align-content: center;
    					align-items: stretch;
    					.ce-our-developer-filter-devs-list-flex-wrapper {
    						display: flex;
    						flex-wrap: wrap;
    						-moz-box-flex: 1;
						    -webkit-flex: 1;
						    -moz-flex: 1;
						    -ms-flex: 1;
						    flex: 1;
    						margin: 0 10px; 
    						justify-content: center;
    					}
    				}
  					> div {
  						padding: 0;
  						ul {
  							right: 50px; 
  							position: relative;
  						}
  						@media(max-width: 991px) {
  							padding: 0;
  						}
  						> div {
  							&.left-dev-list {
  								padding-left: 0;
  							}
  							&.right-dev-list {
  								padding-right: 0;
  							}
  							@media(max-width: 991px) {
	  							padding: 0;

	  						}
  						}
  					}
  					.ce-our-developer-filter-devs-list-wrapper {
			            border: .5px solid #dae5e8;
			            border-radius: 5px;
			            padding: 2em;
			            margin: 10px 0;
			            min-height: 20em;
			            flex-grow: 2;
			            @media(max-width: 991px) {
			              margin: 1em auto;
			            }
			            h2 {
			              font-family: 'OpenSanSemiBold', sans-serif;
			              margin: 0 auto 5px;
			              color: #0c5b71;
			              font-size: 25px;
			              text-align: left;
			            }
			            .ce-our-developer-filter-devs-list-info-section {
			              margin-bottom: 1em;
			              text-align: left;
			              .ce-our-developer-filter-devs-list-info {
			                display: inline-block;
			                margin-right: 2px;
			                color: #2d2d2d;
			                font-size: 11.5px;
			                line-height: 18px;
			              }
			            }
			            
			            .ce-our-developer-filter-devs-list-btn-wrapper {
			            	position: relative;
			            	margin-left: 15em;
			            	margin-top: 20px;
			            	float: right;
			            	@media(max-width: 1149px) {
			            		margin-left: 18vw;
			            	}
			            	@media(max-width: 991px) {
			            		margin-left: 0;
			            	}
			            	@media(max-width: 480px) {
			            		float: none;
			            	}
			            	.ce-our-developer-filter-devs-list-btn {
				              margin: 5px 0 !important;
				              text-transform: uppercase;
				              font-size: 13px;
				              max-width: 100%;
				            }
			            }
			            
			            .ce-our-developer-filter-devs-list-hr {
			              border: .5px solid #dae5e8 !important;
			            }

			            .ce-our-developer-filter-devs-list-desc {
			              margin: 15px 0;
			              padding: 0;
			              font-size: 13.5px;
			              font-family: "OpenSanLight", sans-serif;
			              text-align: left;
			            }

			            .ce-our-developer-filter-devs-ul-list {
			              margin-top: 25px;
			              text-align: left;
			              a {
			                line-height: 28px;
		
			                text-decoration: none;
			              }
			              span {
			                background-color: #ebf7fb;
			                color: #179bc1;
			                border: 1px solid #dae5e8;
			              }
			            }
			        }
  				}
  			}
  		}
  	}
  }
}