html {
  body {
    .full-width {
      .hidden-xs-down {
        @media (min-width: 544px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (max-width: 543px) {
          display: none;
        }
      }

      .hidden-sm-down {
        @media (min-width: 768px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      .hidden-md-down {
        @media (min-width: 992px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (max-width: 991px) {
          display: none !important;
        }
      }

      .hidden-lg-down {
        @media (min-width: 1200px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (max-width: 1119px) {
          display: none;
        }
      }

      .hidden-lg-down {
        @media (min-width: 1200px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (max-width: 1119px) {
          display: none;
        }
      }

      .hidden-xl-down, .hidden-xs-up {
        display: none;
      }

      .hidden-sm-up {
        @media (max-width: 543px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (min-width: 544px) {
          display: none;
        }
      }

      .hidden-md-up {
        @media (max-width: 767px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (min-width: 768px) {
          display: none;
        }
      }

      .hidden-lg-up {
        @media (max-width: 991px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (min-width: 992px) {
          display: none;
        }
      }

      .hidden-xl-up {
        @media (max-width: 1119px) {
          display: block;

          &.v--align {
            display: inline-flex;
          }
        }

        @media (min-width: 1200px) {
          display: none;
        }
      }

      .display-flex {
        display: flex;
      }
    }
  }
}
