html
	body
		&.contactus
			.full-width


				.map-container
					margin: 40px 0
					border: 5px solid #ffffff
					.contact-form-container
						width: 50%
						position: absolute
						top: 0
						right: 0
						background: #fff
						height: 100%
						padding: 20px 40px
						text-align: left


						@media (max-width: 991px)
							width: 100%


						.contact-form

							.office-name
								font-size: $font-normal
								text-align: left

							p
								font-size: $font-normal
								text-align: left
								padding: 0
								margin: 0
							.office-tel
								color: #00bcf7
								text-align: left

					#map
						width: 100%
						height: 500px