.btn-green
	border-radius: 5px !important
	background-color: #22cd86 !important
	font-size: 12.8px !important
	line-height: 1.24 !important
	text-align: center !important
	color: #ffffff !important
	//font-family: "GothamBold" , sans-serif !important
	padding: 10px 45px 12px !important
	width: 100% !important
	font-weight: bold

.btn-blue
	border-radius: 5px !important
	background-color: #20c4f7 !important
	font-size: 12.8px !important
	line-height: 1.24 !important
	text-align: left !important
	color: #ffffff !important
	//font-family: "GothamBold" , sans-serif !important
	padding: 10px 45px 12px !important
	width: auto !important
	border: none
	font-weight: bold

.btn-orange
	border-radius: 5px !important
	background-color: #f62 !important
	font-size: 12.8px !important
	line-height: 1.24 !important
	text-align: left !important
	color: #ffffff !important
	//font-family: "GothamBold" , sans-serif !important
	padding: 10px 45px 12px !important
	width: auto !important
	border: none
	font-weight: bold

.banner-title
	font-size: 45.5px !important
	line-height: 1.2
	text-shadow: 0px 5px 5px rgba(0, 1, 1, 0.28) !important
	margin-bottom: 28px !important
	font-family: "GothamBold" , sans-serif
	@media(max-width: 480px)
		font-size: 25px !important

.pages-titles-contents
	line-height: 1.2
	//text-shadow: 0px 5px 5px rgba(0, 1, 1, 0.28) !important
	font-family: "GothamBold" , sans-serif !important

.pages-titles-contents-rw
	font-family: 'Raleway', sans-serif !important

.banner-content
	font-size: 19.5px
	//line-height: 1.2
	margin-bottom: 26px
	//font-family: "GothamBook" , sans-serif
	color: #fff
	max-width: 760px
	margin-right: auto
	margin-left: auto
	@media(max-width: 480px)
		font-size: 10px !important

.banner-anchor,
.banner-anchor:hover,
.banner-anchor:active
	//font-size: 16px
	//line-height: 1.2
	//color: white
	//border-bottom: 1px solid #fff
	//text-decoration: none
	//padding-bottom: 3px
	//font-family: "GothamBook" , sans-serif

	border: none
	background-color: transparent
	color: #fff
	text-transform: uppercase
	font-size: 15px
	margin: 1rem
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4)
	outline: none !important

	i
		width: 100%

.site-banner-section
	width: 100%
	height: 100vh
	min-height: 320px
	color: white
	background: linear-gradient(#0090bb 65%, #fff 100%)
	display: flex

	.banner-content-section
		margin: auto auto
		text-align: center

		//@media (max-height: 740px )
		//	margin: 130px auto

.cloud-top
	background: url(../img/ce-cloud.png) repeat-x
	background-position: center -150px
	height: 200px
	width: 100%
	position: absolute
	bottom: 0
	left: 0

.page-section
	background: white

.breadcrumb-section
	margin-bottom: 39px

	p
		font-size: 15px
		//font-family: "GothamBook" , sans-serif
		color: #535353
		line-height: 1.2
		text-align: left
		border-radius: 5px
		background-color: #f7f7f7
		padding: 9px 37px 7px 10px

		a,
		a:hover
			color: #535353
			text-decoration: none

.page-tech-content-section
	ul
		//font-family: "GothamBook" , sans-serif !important
		padding-left: 15px
		//font-size: 19px
		line-height: 1.74
		text-align: left
		color: #1e1e1e
		margin-bottom: 30px

		span
			//font-family: "GothamLight" , sans-serif !important
			font-weight: bold


.page-tech-content
	padding-right: 22px
	
	.page-tech-content-about
		text-indent: 25px
		margin-bottom: 60px

	p
		//font-family: "GothamBook" , sans-serif !important
		//font-size: 19px !important
		line-height: 1.74
		text-align: left
		color: #1e1e1e !important
		margin-bottom: 39px

		span
			//font-family: GothamLight , sans-serif !important

	.page-tech-content-info
		ul
			margin: 52px 0


.page-content-title
	//font-family: "GothamBold" , sans-serif !important
	font-size: 27.3px !important
	text-align: center
	color: #0090bb !important
	margin-bottom: 39px
	font-weight: bold

.page-tech-sidebar
	margin-top: -39px

	@media (max-width: 768px)
		padding-left: 28px

	.page-footer
		padding-top: 40px
		p
			text-align: left
			a
				font-size: 14px
			@media (max-width: 768px)
				&.pull-right
					float: none!important

.how-it-works-tech-section
	//padding-bottom: 30px

	@media (max-width: 768px)
		.page-content-title
			text-align: left

	h2
		text-align: center !important


	.how-it-works-tech-list,
	.page-content-title
	
		padding: 0
		margin: 40px 0 0
		text-align: center

	.how-it-works-tech-list
		margin-top: 30px

		.how-it-works-tech-post
			width: 100%
			padding: 0 12px

			@media (min-width: 768px)

				width: 46%
			img
				margin-bottom: 12px

			p
				font-size: 14.3px
				//font-family: "GothamBold" , sans-serif !important
				text-align: center
				color: #2a2a2a
				margin-bottom: 39px
				font-weight: bold
				

.page-tech-faq
	margin-bottom: 68px
	@media (max-width: 768px)
		.page-content-title
			text-align: left
	h2
		margin-bottom: 30px !important
		text-align: center !important

	>a.tech-link
		font-size: 14px
		margin: 15px 0 10px
		display: inline-block
		
a.tech-link
	//font-family: "GothamBook" , sans-serif !important
	font-size: 19px
	line-height: 2
	color: #0090bb
	padding-bottom: 2px
	border-bottom: solid 1px #0090bb
	text-decoration: none !important

.contact-us-side
	border-radius: 10px
	background-color: #e1e1e1
	padding: 24px 24px 30px 26px
	margin-bottom: 20px

	h2
		margin-bottom: 42px !important

	p
		//font-family: "GothamBold" , sans-serif !important
		font-size: 14.6px !important
		line-height: 2
		text-align: center
		color: #6c6c6c !important
		margin-bottom: 0px
		font-weight: bold
		a
			//font-family: "GothamBook" , sans-serif !important
			color: #949494 !important

	.contact-form
		text-align: right

		input
			border-radius: 5px
			background-color: #f7f7f7
			height: 38px
			padding: 15px 11px 12px
			margin-bottom: 9px

.page-tect-adev
	.page-content-title
		text-align: left

	h2
		text-align: center !important
	ul
		margin: 0 auto
		padding: 0
		position: relative
		display: inline-block

		li

			a
				text-decoration: none !important
				//font-family: "GothamBook",sans-serif !important
				padding-left: 15px
				font-size: 19px
				line-height: 1.74
				text-align: left
				color: #1e1e1e
				margin-bottom: 30px

			a.tech-link
				font-weight: bold

			.dev-labels
				margin: 10px 0

			p
				font-size: 14px
				color: #0c0c0c

.testimonial-tech-link
	margin-top: 30px
	margin-bottom: 20px

.learn-more-exp-tech-section
	.learn-more-exp-tech-tech-link
		margin-bottom: 80px


.learn-more-exp-tech-list
	position: relative
	margin-right: auto
	margin-left: auto
	width: 100%

	.learn-more-exp-tech-post
		padding: 0 2.5%
		margin-bottom: 20px
		margin-left: auto
		margin-right: auto

		@media (min-width: 768px)
			padding: 0 2.5%

		.learn-more-exp-tech-img
			width: 90%
			min-height: 100px
			margin-bottom: 42px
			margin-left: auto
			margin-right: auto
			display: inline-block
			position: relative

		img
			max-width: 100%
			width: auto
			height: auto
			position: relative
			display: inline-block

		p
			//font-family: "GothamBook" , sans-serif
			font-size: 16px !important
			text-align: left
			color: #292929
			text-align: center
			display: inline-block
			position: absolute
			left: 0
			right: 0
			bottom: 0
			margin-bottom: 0px

		a
			text-decoration: none !important

.learn-more-exp-tech-section
	.learn-more-exp-tech-list
		width: 100%

.footer-sticky-section
	background-color: #e4e4e4
	bottom: 0px
	left: 0
	right: 0
	z-index: 100
	-webkit-transition: 0.35s ease
	-o-transition: 0.35s ease
	transition: 0.35s ease

	&.bluestcsction
		background-color: #0090bb

		.footer-sticky-content

			p
				color: #fff

	&.affix-top
		position: fixed
		bottom: -205px
		-webkit-transition: 0.35s ease
		-o-transition: 0.35s ease
		transition: 0.35s ease

	&.affix-bottom
		position: fixed
		bottom: -205px
		-webkit-transition: 0.35s ease
		-o-transition: 0.35s ease
		transition: 0.35s ease
		top: auto !important


	.footer-sticky-content
		padding-right: 105px

		@media (min-width: 1200px)
			padding-right: 0

		p
			padding: 26px 15px 23px
			//font-family: "GothamBook" , sans-serif
			font-size: 16.7px
			line-height: 1.86
			text-align: left
			color: #3a3a3a
			margin: 0
			position: relative

		img
			position: absolute
			bottom: 0
			left: -120px

		a
			text-decoration: none
			margin-left: 27px

		a.btn-blue
			position: relative
			width: 160px !important
			display: inline-block
			margin-left: 5px

		br
			@media (min-width: 768px)
				display: none

	.footer-sticky-mail
		position: absolute
		right: 0
		top: -13px

		button
			width: 93px
			height: 67px
			border-radius: 10px
			background-color: #20c4f7
			box-shadow: 2.5px 4.3px 5px 0 rgba(1, 1, 1, 0.23)
			border: none

			svg
				width: 60px
				height: 37px

.tech-expertise
	.container
		pointer-events: all !important

.our-available-dev-section
	ul
		padding: 0
		list-style-type: none

		a
			//font-family: "GothamBold",sans-serif !important
			font-size: 27.3px !important
			text-align: center
			color: #01b4ea !important
			text-decoration: none !important
			font-weight: bold

		h2
			text-align: left
			margin-bottom: 15px !important

		.dev-labels
			margin-bottom: 20px

.banner-content-hiredev
	background-color: #f62
	border-radius: 5px
	padding: 5px 10px
	font-size: 19px !important

	strong
		font-family: "GothamBold",sans-serif
		font-size: 21px

	i
		position: absolute
		bottom: 0
		left: 0
		right: 0

.banner-listednumber
	list-style-type: none
	margin: 0
	padding: 0
	text-align: center

	li
		position: relative
		min-height: 40px
		max-width: 250px
		text-align: center
		margin: 0 auto
		margin-bottom: 10px

		@media (min-width: 992px )
			margin-right: 15px
			text-align: left
			display: inline-block
			margin-bottom: 0px

		&:last-child
			@media (min-width: 992px )
				margin-right: 0
				
		div
			display: flex
			align-items: center

		span
			position: absolute
			left: 0
			border: solid
			width: 40px
			height: 40px
			border-radius: 100%
			padding: 5px
			text-align: center
			border-color: #fff

		p
			padding-left: 47px
			margin-bottom: 0

.dev-promotional
	background: linear-gradient(#0090bb 65%, #fff 100%)

html body .full-width.fade-on-load.dev-promotional
	@media screen and (min-height: 500px) and (max-height: 569px )
		height: 150vh !important
	@media screen and (min-height: 570px) and (max-height: 629px )
		height: 140vh !important
	@media screen and (min-height: 630px) and (max-height: 689px )
		height: 130vh !important
	@media screen and (min-height: 690px) and (max-height: 740px )
		height: 120vh !important

	@media (min-width: 768px )
		height: 65vh

	@media (min-width: 992px )
		height: 100vh

.dev-promotional-title-section
	@media (min-width: 992px )
		width: 100% !important

	> div 
		> a 
			&:hover
				text-decoration: none

.banner-content-section
	.colflex
		.colflex
			align-items: center

.landing-page-contact
	position: relative
	min-width: 320px
	margin-left: auto
	margin-right: auto

	img
		position: absolute
		top: -27px
		left: 40px

	form
		background-color: #fff
		border-radius: 5px
		padding: 20px 20px
		margin-top: 130px
		width: 100%

		.btn
			width: 100% !important
			text-align: center !important

		h3
			color: #0c0c0c
			font-size: 16px
			font-family: "GothamBold" , sans-serif !important

		textarea
			resize: none
			height: 85px

		span
			color: #0c0c0c