@import 'jva.fonts'
html
	body
		&.page-404
			background-color: #00bcf7

			.cloud-top,.cloud-bottom
				img
					width: 100%

			.cloud-top
				margin-bottom: -2px

			.white-section
				background-color: #fff
				text-align: center

			.ce-blue
				color: #00bcf7

			h1
				font-size: 20rem

			.home-link
				width: 100%
				padding: 25px
				margin: 40px 0 60px

				a
					border: 3px solid #fff
					color: #fff
					padding: 20px 40px
					border-radius: 30px

					&:hover
						text-decoration: none
						background-color: #00bcf7
						color: #fff